fieldset.sectionwrap{ /*fieldset that wraps around each form "page" */
border-width:0;
padding:5px;
width:550px;
}

legend{ /*title shown at top of each form page */
color: #666;
font: bold 14px/32px arial;
}

div.stepsguide{ /*div that contains all the "steps" text located at top of form */ 
width: 700px; /*width of "steps" container*/
overflow:hidden;
margin-bottom:15px;
cursor:pointer;
}

div.stepsguide .step{ /*div that wraps around each "steps" text */
width:220px; /*width of each "steps" text*/
font: bold 24px Arial;
float:left;
}

div.stepsguide .disabledstep{ /*div that wraps around each "steps" text */
color:#C4C4C4;
}

div.stepsguide .step .smalltext{ /*small footer text inside "steps" text */
font-size: 13px;
font-weight: normal;
}

div.formpaginate{ /* CSS for pagination DIV container */
width: 350px;
overflow:hidden;
font-weight:bold;
text-align:center;
margin-top:1em;
}

div.formpaginate .prev, div.formpaginate .next{ /*CSS for "prev" and "next" SPAN elements within paginate container */
background: #e67408;
cursor: pointer;
font-family: 'MyriadProRegular' Arial, Helvetica, sans-serif;
font-size: 13px;
border-radius: 2px;
color: #FFFFFF;

padding: 4px 6px;
font-size: 1.1em;
padding: 5px 25px;
}