@import url('fonts.css');
/* Reset
***************************************************************/
* {
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
html, body, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, span, strike, strong, sub, sup, tt, var, b, u, i, center, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, fieldset, {
margin:0px auto;
padding:0px;
border:0;
outline:0;
font-size:100%;
}
a, img a {
	text-decoration: none;
	border: 0;
	outline: 0;
}
:focus {
	outline: 0px;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
}
ol, ul, li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
/* Clearing Floats
***************************************************************/
.clear {
	clear: both;
}
.clearfix:after {
	clear: both;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
/* HTML 5 element
***************************************************************/

aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
	margin: 0;
	padding: 0;
}
body1 {
	font-family: Verdana, Geneva, sans-serif;
	background: #fff;
	font-size: 14px;
}
body {
	font: normal 12px/15px arial;
	color: #333;
	text-overflow: ellipsis;
}
/* Form element
***************************************************************/		
			
input, select, textarea {
	color: #000;
	font-size: 12px;
	padding: 4px;
}
/* General
***************************************************************/
header {
	width: 1140px;
	padding1: 16px 5px 0;
	margin: 0 auto;
}
.branding {
	float: left;
	padding: 3px 11px 0 30px;
}
.mobile-verified {
	background: url(../images/mobile.png) left top no-repeat;
	color: #333;
	padding: 1px 20px;
	margin-top: 78px;
	font-size: 12px;
	float: left;
}
.help-all-Countries {
	float: right;
	font-size: 13px;
	position: relative;
}
.help-24x {
	border-right: 1px solid #CCCCCC;
    color: #333333;
    float: left;
    height: 58px;
    margin-top: 4px;
    padding-left: 42px;
    padding-right: 15px;
    text-transform: uppercase;
}
.help-24x span {
	color: #000;
	font-weight: bold;
}
.home-link {
	float: left;
	padding-right: 12px;
}
.all-countries {
	float: right;
	margin-top: 4px;
	padding: 0 14px 0 11px;
	1background: url(../images/dwn_arrow.png) right 7px no-repeat;
	color: #175eaf;
	cursor: pointer;
}
.all-countries:hover {
	color: #000;
}
.counties {
	width: 150px;
	display: none;
	position: absolute;
	top: 30px;
	right: 0;
	background: #e67408;
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	z-index: 999999;
}
.counties li {
	display: block;
	float: left;
	width: 100%;
}
.counties li a {
	display: block;
	padding: 5px;
	color: #fff;
}
.counties li a:hover {
	background: #ff940a;
}
.live-help {
	float: left;
	padding-top: 20px;
	margin-right: 5px;
}
.social-ico {
	padding-left: 106px;
	padding-top: 35px;
	float: left;
}
.liv-rtpad {
	padding-right: 20px;
}
nav {
	background: url(../images/navi_bg.jpg) repeat-x;
	min-width: 1140px;
}
nav ul {
	width: 1140px;
	margin: 0 auto;
	padding: 0 5px;
}
nav ul li {
	display: block;
	border: 1px solid transparent;
	float: left;
	padding: 0 20px;
	position: relative;
}
nav ul li a {
	font: bold 15px arial;
	display: block;
	color: #fff;
	line-height: 39px;
	height: 38px;
}
/*nav ul li a.normal-nav{padding:11px 54px 12px;}*/
nav ul li:hover {
	background: #fff url(../images/nav_shadow.png) repeat-x;
	border-top: 1px solid #f7941c;
	border-right: 1px solid #f7941c;
	border-left: 1px solid #f7941c;
	height: 38px;
}
nav ul li:hover a {
	color: #e16a0b;
}
nav ul li.member-login {
	font-size: 16px;
	background: #fff url(../images/nav_shadow.png) repeat-x;
	border-top: 1px solid #f7941c;
	border-right: 1px solid #f7941c;
	border-left: 1px solid #f7941c;
	height: 38px;
}
nav ul li.member-login a {
	color: #e16a0b;
}
nav ul li ul {
	width: 200px;
	background: #fff;
	border-bottom: 1px solid #f7941c;
	border-right: 1px solid #f7941c;
	border-left: 1px solid #f7941c;
	position: absolute;
	top: 38px;
	left: -1px;
	z-index: 9999;
	display: none;
	padding: 5px;
}
nav ul li ul li {
	display: block;
	padding: 0;
	float: left;
	width: 100%;
	border: none;
}
nav ul li ul li a {
	display: block;
	font-weight: normal;
	padding-left: 19px;
	font-size: 12px;
	line-height: 25px;
	height: 25px;
	color: #e16a0b !important;
}
nav ul li ul li a:hover {
	background-color: #FFF7E9;
}
nav ul li ul li:hover {
	line-height: 25px;
	height: 25px;
	background: none;
	border: none;
}
nav ul li ul li:hover {
	background: #ff940a;
}
nav ul li:hover ul {
	display: block;
}
.search-main {
	width: 1140px;
	margin: 0 auto;
	padding: 0 5px;
}

.why-us h1 {
	background: #878d92;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 10px;
	color: #fff;
}
.why-us ul {
	padding-left: 9px;
}
.why-us li {
	display: block;
	background: url(../images/left_arrow.png) left 9px no-repeat;
	float: left;
	padding: 5px 12px;
	font-size: 12px;
	color: #333;
}
.search-main-box {
	width: 691px;
	float: left;
}
.search-head {
	width: 15%;
	background: url(../images/search_find.png) left top no-repeat;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.skill {
	width: 21%;
	float: left;
	color: #333;
	margin-right: 9px;
}
.skill input[type="text"] {
	background: url(../images/inp_bg.jpg) left top repeat-x;
	border-radius: 2px;
	margin-top: 7px;
	padding: 5px;
	color: #666666;
	font-size: 12px;
	width: 93%;
	border: 1px solid #d7d7d7;
}
.candidate-location {
	width: 19%;
	float: left;
	margin-right: 9px;
}
.select {
	background: url(../images/inp_bg.jpg) left top repeat-x;
	border-radius: 2px;
	margin-top: 7px;
	padding: 4px 5px;
	color: #666666;
	font-size: 12px;
	width: 99%;
	border: 1px solid #d7d7d7;
}
.exp {
	width: 10%;
	float: left;
	margin-right: 9px;
}
.catagory {
	width: 19%;
	float: left;
	margin-right: 9px;
}
.search-nav {
	background: #e67408;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border-radius: 2px;
	color: #FFFFFF;
	float: left;
	margin-top: 23px;
	padding: 4px 10px;
}
.search-nav:hover {
	background: #ff940a;
}
.search-job-mrtop {
	margin-top: 10px;
}
.job-location {
	width: 30%;
	float: left;
	margin-right: 9px;
}
.job-location input[type="text"] {
	background: url(../images/inp_bg.jpg) left top repeat-x;
	border-radius: 2px;
	margin-top: 7px;
	padding: 5px;
	color: #666666;
	font-size: 12px;
	width: 93%;
	border: 1px solid #d7d7d7;
}
.past-ad {
	width: 210px;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
}
.past-ad button {
	background: url(../images/add_bg.png) no-repeat;
	padding: 7px 43px 7px 25px;
	margin: 23px 0;
	cursor: pointer;
	text-transform: uppercase;
	color: #f2f6f9;
	font-size: 15px;
	font-weight: bold;
}
.past-ad button span {
	color: #beffc1;
	font-size: 14px;
	text-transform: none;
}
.past-ad button:hover {
	background: url(../images/add_bgover.png) no-repeat;
	;
}
section {
	width: 1140px;
	margin: 0 auto;
	padding: 0 5px;
}
.middle-panel {
	padding: 30px 0;
}
.latest-job-post {
	float: left;
	margin-right: 13px;
	width: 226px;
}
.latest-job-post h1 {
	background: url(../images/refine-searchbh.jpg) left top repeat-x;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
padding: 8px 10px;
color: #fff;
margin-bottom: 20px;
}
.latest-candidates h2{
	background: url(../images/refine-searchbh.jpg) left top repeat-x;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
padding: 8px 10px;
color: #fff;
margin-bottom: 20px;
margin-right: 18px;
height:21px;
}
.quick-links h2
{
background: url(../images/refine-searchbh.jpg) left top repeat-x;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
padding: 8px 10px;
color: #fff;
margin-bottom: 20px;
}

.latest-job-post1212 h1 {
	font: bold 16px/36px arial;
	color: #fff;
	border: 1px solid #7db70e;
	padding-left: 15px;
	background: #99d12e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5ZDEyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4N2IxMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #99d12e 0%, #87b135 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #99d12e), color-stop(100%, #87b135)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #99d12e 0%, #87b135 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #99d12e 0%, #87b135 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #99d12e 0%, #87b135 100%); /* IE10+ */
	background: linear-gradient(to bottom, #99d12e 0%, #87b135 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99d12e', endColorstr='#87b135', GradientType=0 ); /* IE6-8 */
	margin-bottom: 20px;
}



.boxorg {
	background: url(../images/con_detailbg.jpg) repeat-x scroll left top !important;
	border: 1px solid #ccc;
}
.latest-job-box h2 {
	font: bold 16px/36px arial;
	color: #333;
	margin-bottom: 0px;
}
.latest-job-box .rowes {
	padding: 2px 0;
	width: 100%;
	float: left;
}
.latest-job-box .rowes span {
	width: 90px;
	display: inline-block;
}
.latest-candidates {
	width: 59%;
	float: left;
}
.latest-candidates22 h2 {
	font: bold 16px/36px arial;
	border: 1px solid #7db70e;
	background: #99d12e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5ZDEyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4N2IxMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #99d12e 0%, #87b135 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #99d12e), color-stop(100%, #87b135)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #99d12e 0%, #87b135 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #99d12e 0%, #87b135 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #99d12e 0%, #87b135 100%); /* IE10+ */
	background: linear-gradient(to bottom, #99d12e 0%, #87b135 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99d12e', endColorstr='#87b135', GradientType=0 ); /* IE6-8 */
	color: #fff;
	width: 95%;
	padding-left: 15px;
	margin-bottom: 20px;
	float: left;
}
.video-section {
}
.video-section li {
	float: left;
	position: relative;
	display: block;
	width: 120px;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
	color: #175dae;
	margin-right: 13px;
	margin-bottom: 13px;
}
.video-section li:nth-child(5n+0) {
	
}
.video-section li .video-play {
	width: 29px;
	height: 23px;
	position: absolute;
	right: 5px;
	bottom: 47px;
	background: url(../images/play.png) no-repeat;
}
.video-section li:hover .video-play {
	background: url(../images/play_over.png) no-repeat;
}
.video-section span {
	display: block;
	padding-top: 7px;
}
.follow-us {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #666;
	padding: 27px 10px 0 15px;
}
.follow-us .facebook {
	width: 24px;
	height: 24px;
	background: url(../images/social.png) no-repeat;
	display: inline-block;
	margin: 0 6px;
}
.follow-us .twitter {
	background-position: -37px 0;
}
.quick-links {
	width: 20%;
	float: left;
}
.quick-links img {
	width: 100%;
	height: auto;
	margin-top: 15px;
	display: block;
}
.quick-links22 h2 {
	font: bold 16px/36px arial;
	color: #fff;
	padding-left: 15px;
	background: #99d12e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5ZDEyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4N2IxMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #99d12e 0%, #87b135 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #99d12e), color-stop(100%, #87b135)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #99d12e 0%, #87b135 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #99d12e 0%, #87b135 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #99d12e 0%, #87b135 100%); /* IE10+ */
	background: linear-gradient(to bottom, #99d12e 0%, #87b135 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99d12e', endColorstr='#87b135', GradientType=0 ); /* IE6-8 */
	border: 1px solid #7db70e;
	margin-bottom: 20px;
}
.quick-links ul li {
	display: block;
	float: left;
	width: 100%;
}
.quick-links ul li a {
	color: #000;
	background: url(../images/left_arrow.png) left 10px no-repeat;
	padding: 4px 16px;
	display: block;
}
.quick-links ul li a:hover {
	
	color: #175eaf;
}
footer {
	background: url(../images/form_bg.jpg) left top repeat-x;
	border-top: 1px solid #F7941C;
	padding: 30px 0 0 0;
	min-width: 1140px;
}
.footer-wrap {
	width: 1140px;
	margin: 0 auto;
	padding: 0 5px;
}
.footer-nav {
}
.footer-nav h1 {
	font-size: 12px;
	color: #333;
	font-weight: bold;
	display: inline-block;
}
.footer-nav li {
	display: inline-block;
	font-size: 12px;
}
.footer-nav li a {
	color: #000;
	border-right: 1px solid #aaaaaa;
	padding: 0 12px;
}
.footer-nav li a.bd-none {
	border-right: 0;
}
.footer-nav li a.pd-none {
	padding-left: 0;
}
.footer-nav li a:hover {
	
	color: #175eaf;
}
.information {
	margin-top: 15px;
}
.copyright {
	border: 1px solid #cad8e3;
	font-size: 11px;
	color: #666666;
	margin-top: 30px;
	padding: 16px 0;
	text-align: center;
}
/* Condidates Registration
***************************************************************/

.add-shortlist:hover {
	background: #7f7f7f;
}
.more-details {
	background: #e67408;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border-radius: 2px;
	color: #FFFFFF;
	margin-top: 8px;
	padding: 4px 6px;
}
.more-details:hover {
	background: #ff940a;
}
.apply-nav {
	background: #86B035;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border-radius: 2px;
	color: #FFFFFF;
	margin-top: 7px;
	padding: 4px 6px;
}
.apply-nav:hover {
	background: #689626;
}
.condidate-form {
	width: 98%;
	border: 1px solid #e4c2a3;
	margin-bottom: 20px;
	float: left;
	background: url(../images/form_bg.jpg) left top repeat-x;
}
.form-row {
	border-bottom: 1px solid #e4c2a3;
	padding: 15px;
}
.form-row h1 {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	padding-bottom: 20px;
}
.form-inside-row {
	padding-bottom: 20px;
	width: 100%;
	float: left;
	font-size: 13px;
}
.form-inside-row label {
	width: 25%;
	float: left;
	padding-top: 3px;
}
.form-inside-row label sap {
	color: #e67408;
}
.form-inside-row input[type="text"], input[type="password"], input[type="email"] {
	background1: url(../images/inp_bg.jpg) left top repeat-x;
	border-radius: 2px;
	padding: 5px;
	color: #333;
	font-size: 12px;
	width: 40%;
	border: 1px solid #d7d7d7;
	float: left;
}
.form-inside-row .select-area {
	width: 60%;
	float: left;
}
.form-inside-row .select-area select {
	width: 69%;
	color: #333;
}
.form-inside-row .select-area input {
	width: 67%;
	float: left;
}
.form-inside-row .select-area p {
	display: block;
	font-size: 12px;
	float: left;
	width: 100%;
	color: #666;
	padding-top: 5px;
}
.form-inside-row .select-area p a {
	color: #e67408;
	font-weight: bold;
	text-decoration: underline;
}
.margin-topZ {
	margin-top: 0;
}
.phone-main {
	width: 45%;
	float: left;
}
.phone-main .code {
	width: 14% !important;
	float: left;
}
.phone-main .code1 {
	width: 20% !important;
	float: left;
}
.phone-main span {
	float: left;
	padding: 5px;
}
.phone-box {
	display: none;
}
.gender {
	width: 45%;
	float: left;
}
.gender span {
	padding: 0 6px;
}
.year {
	width: 34% !important;
}
.have-resume {
	font-size: 14px;
	color: #e67408;
	font-weight: bold;
}
.form-inside-row .select-area input[type="file"] {
	border: 1px solid #CCC;
	color: #333;
	padding: 5px;
}
.textare-main {
	padding-top: 20px;
	float: left;
}
.textare-main span {
	font-weight: bold;
	color: #222;
}
.textare-main a {
	color: #e67408;
	font-weight: bold;
	text-decoration: underline;
}
.textare-main p {
	color: #e67408 !important;
	font-weight: bold;
}
.select-area textarea {
	width: 100%;
	border: 1px solid #999;
	height: 110px;
	float: left;
	margin-top: 15px;
	resize: none;
	display: none;
	padding: 5px;
	color: #333;
}
.email-bold {
	font-weight: bold;
}
.offer-main {
	padding-top: 15px;
}
.submit-taexA {
	width: 60%;
	float: left;
}
.submit-taexA a {
	color: #e67408;
	text-decoration: underline;
}
.submit-nav {
	background: #e67408;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border-radius: 2px;
	color: #FFFFFF;
	margin-top: 23px;
	padding: 4px 6px;
}
.submit-nav:hover {
	background: #ff940a;
}
.bd-none {
	border: 0;
}
/* Condidates Details
***************************************************************/
.condidate-details {
}
.condidate-video {
	border: 5px solid #EBEBEB;
	width: 97%;
	background: #000;
	float: left;
	height: 320px;
}
.condidate-Dmain {
	margin-top: 15px;
	border: 1px solid #CCC;
	padding: 15px;
	width: 120%;
}
.fileContainer {
	overflow: hidden;
	position: relative;
	background: #fff url(../images/upload_photo.jpg) center center no-repeat;
	border: 1px solid #CCC;
	padding: 8px;
	width: 98px;
	height: 128px;
	float: left;
}
.fileContainer [type=file] {
	cursor: inherit;
	display: block;
	font-size: 999px;
	filter: alpha(opacity=0);
	min-height: 100%;
	min-width: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}
.personal-details-main {
	float: right;
	width: 80%;
}
.personal-rowins {
	width: 48%;
	float: left;
}
.second-rowD {
	float: right;
}
.personal-row {
	width: 100%;
	float: left;
	font-size: 12px;
	padding: 0 0 8px;
}
.personal-row .heading {
	color: #666;
	float: left;
	width: 45%;
	padding-right: 10px;
}
.personal-row .detailsm {
	color: #333;
	float: right;
	width: 50%;
}
.manage-profile {
	float: left;
	width: 95%;
	margin-top: 15px;
	border: 1px solid #ccc;
	padding: 15px;
}
.manage-profile h2 {
	padding-bottom: 10px;
}
.manage-list {
	float: left;
	width: 30%;
}
.manage-list li {
	font-size: 12px;
	color: #333;
	background: url(../images/dott.png) left 5px no-repeat;
	padding: 0 0 5px 12px;
	float: left;
}
.manage-list li a {
	color: #175EAF;
}
.manage-list li a:hover {
	color: #000;
}
.profilesview {
	color: #175eaf;
	float: right;
	background: url(../images/left_arrow.png) left 18px no-repeat;
	padding: 11px 16px 0;
	display: block;
}
.profilesview:hover {
	color: #000;
}
ul.resp-tabs-list {
	margin: 20px 0 15px 0;
	padding: 0px;
	border-top: 3px solid #E67408;
}
.resp-tabs-list li {
	background: #656565 url(../images/wht_arrow.png) 93% 17px no-repeat;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	float: left;
	font-size: 13px;
	font-weight: 600;
	list-style: none outside none;
	margin: 2px 3px 0 0;
	padding: 10px 29px 10px 13px;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-active {
	background-color: #E67408 !important;
	background-image: none !important;
	margin: -2px 3px 0 0 !important;
	padding: 12px 15px !important;
}
.resp-tab-content {
	display: none;
	padding: 15px 0;
}
.all-point-head {
	width: 80%;
	float: left;
	color: #6fb343;
	font-size: 15px;
	font-weight: bold;
	text-transform: capitalize;
}
.edit {
	background: url("../images/wht_arrowr.png") no-repeat scroll 80% 12px #656565;
	color: #FFFFFF;
	display: block;
	float: right;
	padding: 6px 26px 6px 15px;
}
.edit:hover {
	opacity: .8;
}
.profile-content {
	padding: 15px;
	font-size: 12px;
	color: #333;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background: #F4F4F4;
	margin-bottom: 15px;
}
.basics-profile {
	background: none;
	border-bottom: 0;
}
.my-hiring {
	border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	-webkit-border-radius: 1px;
	width: 99%;
	float: left;
}
.my-hiring h1 {
	background: #86B035;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 10px;
	color: #fff;
}
.my-hiring ul {
	background: #F2F6F8;
	font-size: 12px;
	padding: 10px;
	border-bottom: 1px solid #D5E0E9;
	border-left: 1px solid #D5E0E9;
	border-right: 1px solid #D5E0E9;
}
.my-hiring ul li {
	display: block;
	float: left;
	width: 100%;
}
.my-hiring ul li a {
	color: #175eaf;
	background: url(../images/left_arrow.png) left 10px no-repeat;
	padding: 4px 16px;
	display: block;
}
.my-hiring ul li a:hover {
	color: #000;
}
.quick-linkin {
	margin-top: 15px !important;
}
/* 19-10-2013 */
.add-jobs {
	width: 659px;
	margin-bottom: 20px;
	float: left;
}
.field-main-box {
	text-align: left;
}
#msform {
	width: 659px;
	margin: 0;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border: 1px solid #f7941c;
	padding: 20px 20px;
	-moz-box-sizing: border-box;
	width: 658px;
	/*stacking fieldsets above each other*/
	position: absolute;
	background: url(../images/form_bg.jpg) left top repeat-x;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 5px 10px;
	border: 1px solid #ccc;
	width: 69%;
	-moz-box-sizing: border-box;
	color: #2C3E50;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border-radius: 2px;
	background: url(../images/inp_bg.jpg) left top repeat-x;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #86B035;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #86B035;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
	text-align: left;
	padding-bottom: 0 !important;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
	text-align: right;
}
/* 21-10-2013  */
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	width: 215px;
	background: url(../images/glob_bg.png) right top no-repeat;
	float: left;
	display: block;
	height: 109px;
	margin-right: 4px;
	position: relative;
}
#progressbar li .arrow-box {
	color: #333;
	text-align: left;
	float: left;
	padding-top: 34px;
	background: url(../images/long_arrow.png) 105% 47px no-repeat;
	width: 106px;
}
#progressbar li .enter-box {
	padding-top: 35px !important;
}
#progressbar li .sms-box {
	padding-top: 32px !important;
}
#progressbar li .sms-inside {
	padding-bottom: 6px !important;
}
#progressbar li .arrow-box span {
	display: block;
	padding: 2px 0;
	text-transform: none;
}
#progressbar li .glob-content {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	display: block;
	width: 109px;
	padding-top: 46px;
}
#progressbar li.active {
	background: url(../images/hilight_glob.png) right top no-repeat;
}
#progressbar li.active .arrow-box {
	background: url(../images/hilight_arrow.png) 105% 47px no-repeat;
	color: #53b457;
}
#progressbar li .center-text {
	padding-top: 38px !important;
}
.form-inside-row label span {
	color: #F00;
}
.from-to {
	padding-left: 2px;
}
/* 21-10-2013 end */

/* 17-10-2013 */
.candidate-display {
	width: 614px;
	background: url(../images/con_detailbg.jpg) repeat-x left top;
	margin-bottom: 20px;
	position: relative;
	float: left;
	border: 1px solid #D5E0E9;
	padding: 20px 20px;
}
.candidate-display-video {
	border: 5px solid #EBEBEB;
	width: 271px;
	background: #000;
	float: left;
	height: 196px;
}
.display-personal-rowins {
	width: 310px;
	float: right;
	font-weight: bold;
}
.personal-rows {
	width: 100%;
	float: left;
	font-size: 12px;
	padding: 0 0 12px;
}
.personal-rows .heading {
	color: #666;
	float: left;
	width: 110px;
	padding-right: 10px;
}
.personal-rows .detailsm {
	color: #333;
	float: right;
	width: 185px;
}
.profile-posted {
	color: #9C9C9C;
	font-weight: bold;
	float: right;
	margin-top: 11px;
	width: 187px;
}
.profile-posted span {
	color: #86B035;
	padding-left: 5px;
}
.profile-posted .date {
	color: #4F4F4F;
	float: right;
	padding-top: 2px;
	width: 81px;
}
.all-button {
	float: left;
	margin-top: 14px;
	width: 418px;
}
.cand-dis-button {
	width: 127px;
	background: #86B035;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 2px;
	cursor: pointer;
	padding: 7px 5px;
	margin: 0 5px;
	font-family: Arial, Helvetica, sans-serif;
}
.cand-dis-button:hover {
	background: #689626;
}
.teacher-requird {
	width: 480px;
	float: left;
}
.teacher-requird a {
	color: #003a88;
	text-decoration: underline;
	float: left;
	font: bold 14px arial;
	padding-bottom: 12px;
}
.teacher-rowins {
	border-right: 1px solid #CCCCCC;
	float: left;
	font-weight: bold;
	width: 270px;
	margin-top: 10px;
}
.heading2 {
	width: 70px !important;
}
.sms-message {
	float: right;
	margin-top: 7px;
	width: 198px;
	font-size: 11px;
}
.sms-message span {
	font-weight: bold;
	color: #8C8C8C;
	font-size: 13px;
}
.express-interrest {
	background: #E67408;
}
.express-interrest:hover {
	background: #FF940A;
}
.royal-crown {
	width: 72px;
	height: 52px;
	position: absolute;
	right: -1px;
	top: -1px;
}
.sms-main-box {
	border-left: 1px solid #CCCCCC;
	float: right;
	padding-left: 10px;
	width: 110px;
}
.phone-sms {
	padding-bottom: 5px;
}
.phone-sms img {
	vertical-align: middle;
}
.verticle-button {
	width: 115px;
	float: left;
	padding-top: 10px;
}
.teacher-button {
	width: 115px;
	background: #86B035;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 2px;
	cursor: pointer;
	padding: 5px 5px;
	margin: 0 0 5px;
	font-family: Arial, Helvetica, sans-serif;
}
.teacher-button:hover {
	background: #689626;
}
.teacher-detail {
	background: #E67408;
}
.teacher-detail:hover {
	background: #FF940A;
}
/* 18 - 10 - 2013 */
.refine-search {
	border: 1px solid #d5e0e9;
	margin-bottom: 1px;
	font-size: 12px;
	color: #333;
}
.refine-search h3 {
	background: url(../images/refine-searchbh.jpg) left top repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 10px;
	color: #fff;
}
.refine-search ul {
	padding: 0;
	margin: 0;
}
.refine-search ul li {
	float: left;
	display: block;
	background: url(../images/fillter_bg.jpg) left top repeat-x;
	float: left;
	width: 100%;
	cursor: pointer;
}
.refine-search ul li span {
	background: url(../images/plus_b.png) no-repeat 97% 8px;
	border-bottom: 1px solid #D9D9D9;
	display: block;
	padding: 8px 10px;
}
.refine-search ul li span.active {
	background: url(../images/minus_b.png) no-repeat 97% 8px;
	font-weight: bold;
}
.refine-search ul li span.bd-none {
	border: 0;
}
.filter-content {
	clear: both;
	display: none;
	border-bottom: 1px solid #d5e0e9;
	margin-bottom: 1px;
	padding: 10px;
	font-size: 12px;
	color: #333;
}
.fl-bdnone {
	border-bottom: 0;
	border-top: 1px solid #d5e0e9;
}
.filter-box {
	padding: 5px 0;
	float: left;
	width: 100%;
}
.filter-box input {
	float: left;
	margin-right: 8px;
}
.filter-box .item {
	float: left;
	padding-right: 5px;
}
.filter-box .item-value {
	float: left;
	color: #acacac;
}
.search-jobsm {
	border: 1px solid #d5e0e9;
	font-size: 13px;
	background: #fff;
	padding: 13px;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	-webkit-border-radius: 1px;
	color: #333;
}
.jos-smlh {
	color: #646464;
	float: left;
	font-size: 15px;
	font-weight: bold;
	width: 90px;
	padding: 5px 0;
}
.search-jobsm input[type="text"] {
	background: url(../images/inp_bg.jpg) left top repeat-x;
	border-radius: 2px;
	padding: 5px;
	color: #666666;
	font-size: 12px;
	width: 312px;
	border: 1px solid #d7d7d7;
	float: left;
}
.radio-search {
	float: left;
	padding: 5px 22px 5px 10px;
}
.search-navsm {
	background: #e67408;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border-radius: 2px;
	color: #FFFFFF;
	float: left;
	padding: 0px 12px;
}
.search-navsm:hover {
	background: #ff940a;
}
.search-box-sm {
	background-position: 0 -100px;
}
.inside-postbox {
	width: 442px;
}
.inside-postbox button {
	margin: 9px 0 !important;
}
/* ///////////////////////    Apply And Shortlist    //////////////////////////  */
.apply-shortlist-main {
	width: 900px;
	margin-right: 10px;
	float: left;
}
.apply-shortlist-box {
	border: 1px solid #ccc;
	margin-top: 26px;
}
.apply-head {
	background: #F3F3F3;
	border-bottom: 1px solid #CCCCCC;
	padding: 5px 0;
}
.apply-button {
	width: 127px;
	background: #E67408;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 2px;
	cursor: pointer;
	padding: 7px 5px;
	margin: 0 5px;
	font-family: Arial, Helvetica, sans-serif;
}
.apply-button:hover {
	background: #FF940A;
}
.shortlist-button {
	width: 127px;
	background: #86B035;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 2px;
	cursor: pointer;
	padding: 7px 5px;
	margin: 0 5px;
	font-family: Arial, Helvetica, sans-serif;
}
.shortlist-button:hover {
	background: #689626;
}
.job-id-display {
	float: right;
	font-weight: bold;
	
}
.apply-content-main {
	overflow: hidden;
	float: left;
}
.apply-left-panel {
	width: 200px;
	float: left;
	border-right: 1px solid #ccc;
	background: #fafff4;
	padding: 10px;
	padding-bottom: 5000px;
	margin-bottom: -5000px;
}
.job-title-head {
	font-weight: bold;
	padding-bottom: 6px;
}
.job-title-discription {
	padding-bottom: 18px;
}
.job-logo {
	border: 4px solid #ccc;
	padding: 10px;
	text-align: center;
	background: #fff;
}
.apply-right-panel {
	width: 677px;
	float: left;
	padding-bottom: 5000px;
	margin-bottom: -5000px;
}
.right-all-discription {
	padding-bottom: 10px;
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
	padding-top: 6px;
}
.right-all-discription span {
	font-weight: bold;
}
.apply-detail-rowleft {
	float: left;
	margin-top: 20px;
	width: 330px;
}
.apply-detail-rowleft .personal-rows .detailsm {
	width: 100% !important;
}
input[type="text"]:hover, select:hover {
	border: 1px solid #666;
}
input[type="text"]:focus, select:focus {
	border: 1px solid #86B035;
}
/* Package Details */
.package-details {
	width: 900px;
	float: right;
	padding-top: 11px;
}
.package-details h3 {
	font-size: 16px;
	font-weight: bold;
	color: #666;
	padding-bottom: 40px;
}
.feature-main {
	width: 470px;
	float: left;
}
.feature-main h3 {
	font-size: 16px;
	background: #878D92;
	font-weight: bold;
	color: #fff;
	padding: 8px 12px;
}
.feature-inside {
	padding: 15px 0 5px;
}
.feature-inside img {
	float: left;
	margin-right: 10px;
	display: block;
}
.feature-inside p {
	float: right;
	width: 385px;
	padding-top: 15px;
	color: #6f6f6f;
}
.feature-inside p span {
	display: block;
	color: #333;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 14px;
}
.quick-packages {
	float: right;
	width: 418px;
}
.quick-packages h3 {
	font-size: 16px;
	background: #878D92;
	font-weight: bold;
	color: #fff;
	padding: 8px 12px;
}
.quick-packages ul {
	background: none repeat scroll 0 0 #FEFEDB;
	border: 1px solid #BFBFBF;
	border-radius: 10px;
	margin: 15px 0;
	padding: 15px;
}
.quick-packages ul h4 {
	color: #333333;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 12px;
	text-align: center;
}
.quick-packages ul li {
	background: url(../images/left_arrow.png) left 10px no-repeat;
	padding: 4px 16px;
	display: block;
	float: left;
	width: 90%;
}
.quick-packages p {
	color: #8C8C8C;
	float: left;
	font-size: 30px;
	font-weight: bold;
	padding-top: 20px;
}
.buy-now {
	background: #e67408;
	cursor: pointer;
	font-family: 'MyriadProRegular' Arial, Helvetica, sans-serif;
	font-size: 13px;
	border-radius: 2px;
	color: #FFFFFF;
	margin-top: 16px;
	padding: 4px 6px;
	float: right;
}
.buy-now:hover {
	background: #ff940a;
}
.price-list {
	margin-top: 30px;
}
.price-list table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin-top: 20px;
	font-size: 12px;
	float: left;
	margin-right: 10px;
}
.tab-mar-none {
	margin-right: 0px !important;
}
.price-list table td {
	border: 1px solid #ccc;
	padding: 4px 10px;
	text-align: center;
	font-size: 12px;
}
.thead {
	background: #E67408;
	font-size: 14px !important;
	color: #fff;
	font-weight: bold;
}
.thead-green {
	background: #53b457;
	font-size: 14px !important;
	color: #fff;
	font-weight: bold;
}
.thead-gray {
	background: #878d92;
	font-size: 14px !important;
	color: #fff;
	font-weight: bold;
}
.trow {
	background: #ffeddb;
}
.trow1 {
	background: #fff6ee;
}
.trow-green {
	background: #c7fdca;
}
.trow1-green {
	background: #e8ffe9;
}
.trow-gray {
	background: #dedede;
}
.trow1-gray {
	background: #f3f3f3;
}
.make-yr-wonpck {
	margin-top: 30px;
}
.make-yr-wonpck table {
	border: 1px solid #ccc;
	margin-top: 20px;
	font-size: 12px;
	border-collapse: collapse;
	float: left;
	margin-right: 10px;
}
.make-yr-wonpck table td {
	border: 1px solid #ccc;
	padding: 5px 10px;
}
.thead {
	background: #E67408;
	color: #fff;
	font-weight: bold;
}
.trow2 {
	background: #ffeddb;
}
.trow3 {
	font-weight: bold;
	background: #ffeddb;
}
.trow4 {
	background: #fff6ee;
	font-weight: bold;
}
.buy-total {
	margin-top: 10px !important;
}
.thead-segreen {
	background: #53B457;
	color: #fff;
	font-weight: bold;
}
.select-tab td {
	border: 0 !important;
	padding-bottom: 1px !important;
}
.price-tab {
	margin-right: 0 !important;
}
.total-price {
	background: none repeat scroll 0 0 #53B457;
	color: #FFFFFF;
	float: right !important;
	font-weight: bold;
	margin-right: 0 !important;
	margin-top: 10px !important;
}
.org-mar {
	margin-right: 0;
}

.details-content {
	float: right;
	width: 112px;
}
.form-inside-row select {
	background: url(../images/inp_bg.jpg) left top repeat-x;
	border-radius: 2px;
	margin-top: -2px;
	padding: 4px 5px;
	color: #666666;
	font-size: 12px;
	border: 1px solid #d7d7d7;
}
.form-inside-row select:hover {
	border: 1px solid #666;
}
.form-inside-row select:focus {
	border: 1px solid #86B035;
}
/* 22-11-2013 */
.latest-job-box {
	border: 1px solid #86B035;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWVmYTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #daefa7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #daefa7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #daefa7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #daefa7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #daefa7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #daefa7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#daefa7', GradientType=0 ); /* IE6-8 */
	border-radius: 8px;
	margin-bottom: 1px;
	padding: 9px;
	font-size: 12px;
	color: #333;
	position: relative;
}
.royal-crown {
	width: 58px;
	height: 42px;
	position: absolute;
	right: -1px;
	top: -1px;
}
.search-wrap {
	background: #fffdfc; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmRmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYzZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #fffdfc 0%, #fff3e7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffdfc), color-stop(100%,#fff3e7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fffdfc 0%,#fff3e7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fffdfc 0%,#fff3e7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fffdfc 0%,#fff3e7 100%); /* IE10+ */
background: linear-gradient(to bottom, #fffdfc 0%,#fff3e7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdfc', endColorstr='#fff3e7',GradientType=0 ); /* IE6-8 */
	clear: both;
	padding: 19px 0 22px 0;
	min-width: 1140px;
}
.search-job {
	border: 1px solid #F7941C;
	font-size: 13px;
	padding: 13px;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	-webkit-border-radius: 1px;
	color: #333;
}
.search-head p {
	padding-left: 27px;
	font-weight: bold;
	color: #666;
	font-size: 16px;
	padding-top: 3px;
}
.search-head span {
	font: bold 16px/36px arial;
	color: #666;
	display: block;
	text-align: center;
}
.quick-links ul {
	background: #fff3e7; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjNlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkyJSIgc3RvcC1jb2xvcj0iI2ZmZmRmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top, #fff3e7 0%, #fffdfc 92%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff3e7), color-stop(92%,#fffdfc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fff3e7 0%,#fffdfc 92%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fff3e7 0%,#fffdfc 92%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fff3e7 0%,#fffdfc 92%); /* IE10+ */
background: linear-gradient(to bottom, #fff3e7 0%,#fffdfc 92%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff3e7', endColorstr='#fffdfc',GradientType=0 ); /* IE6-8 */
	border: 1px solid #F7941C;
	padding: 10px;
	font-size: 12px;
	clear: both;
}
.butt-width {
	width: 66px;
}
.home-nav {
	height: 33px !important;
	padding: 5px 0 0 !important;
}
.home-navli:hover {
	background: none;
	border: 1px solid rgba(0, 0, 0, 0);
}
.why-us {
	border: 1px solid #d5e0e9;
	margin-right: 13px;
	background: #fff;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	-webkit-border-radius: 1px;
	width: 210px;
	float: left;
	height:173px;
}
.add-shortlist {
	background: #656565;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border-radius: 2px;
	color: #FFFFFF;
	margin-top: 7px;
	padding: 4px 6px;
	margin-left:1px;
}


.mid_box_header {
width:600px;
background: url(../images/refine-searchbh.jpg) left top repeat-x !important;
font-family: Arial, Helvetica, sans-serif !important;
font-size: 14px !important;
font-weight: bold !important;
padding: 8px 10px !important;
color: #fff !important;
margin-bottom: 0px !important;
}

.inbox_widget ul li{

color: #333 !important;
}



/* Membership */

.packages-box {
	float: left;
	width: 580px;
	display: table;
}
.packages-box-row {
	display: table-row;
	border-collapse: collapse;
}
.packages-box-cell {
	display: table-cell;
	border-right: 1px solid #fff;
	vertical-align: top;
}
.pack-head {
	border-radius: 6px 6px 0 0;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding: 9px 0;
	text-align: center;
}
.features {
	background: #8d929c; /* Old browsers */
	background: -moz-linear-gradient(top, #8d929c 0%, #6b7078 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8d929c), color-stop(100%, #6b7078)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8d929c 0%, #6b7078 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8d929c 0%, #6b7078 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8d929c 0%, #6b7078 100%); /* IE10+ */
	background: linear-gradient(to bottom, #8d929c 0%, #6b7078 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d929c', endColorstr='#6b7078', GradientType=0 ); /* IE6-9 */
	width: 213px;
}
.quick-post {
	background: #556d4d; /* Old browsers */
	background: -moz-linear-gradient(top, #556d4d 0%, #344330 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #556d4d), color-stop(100%, #344330)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #556d4d 0%, #344330 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #556d4d 0%, #344330 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #556d4d 0%, #344330 100%); /* IE10+ */
	background: linear-gradient(to bottom, #556d4d 0%, #344330 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#556d4d', endColorstr='#344330', GradientType=0 ); /* IE6-9 */
	width: 121px;
}
.quick-interest {
	background: #3f5f38; /* Old browsers */
	background: -moz-linear-gradient(top, #3f5f38 0%, #24391d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f5f38), color-stop(100%, #24391d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3f5f38 0%, #24391d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3f5f38 0%, #24391d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3f5f38 0%, #24391d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3f5f38 0%, #24391d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f5f38', endColorstr='#24391d', GradientType=0 ); /* IE6-9 */
	width: 121px;
}
.custom {
	background: #4d656f; /* Old browsers */
	background: -moz-linear-gradient(top, #4d656f 0%, #2b383e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d656f), color-stop(100%, #2b383e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4d656f 0%, #2b383e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4d656f 0%, #2b383e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4d656f 0%, #2b383e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4d656f 0%, #2b383e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d656f', endColorstr='#2b383e', GradientType=0 ); /* IE6-9 */
	width: 121px;
}
.features-detail {
	background: #d0d4db;
	padding: 12px;
}
.l-green {
	background: #ecf4df;
}
.cube-img {
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 24px;
	padding: 12px 0 40px;
	text-align: center;
}
.quick-post-detail span {
	background: url(../images/aed-300.png) no-repeat;
}
.quick-interest-detail span {
	background: url(../images/aed-200.png) no-repeat;
}
.custom-detail span {
	background: url(../images/aed-total.png) no-repeat;
}
.total-cube {
	padding: 10px 0 51px;
}
.l-green1 {
	background: #cbe1ab;
}
.l-green2 {
	background: #b1d7a7;
}
.l-blue {
	background: #a9cdd9;
}
.l-gray {
	background: #eef0f4;
}
.nor-center-text {
	text-align: center;
	font-weight: bold;
	padding: 12px 0;
	font-size: 16px;
}
.quick-post-checkbox {
	padding: 7px 6px;
}
.buy-now-gradient {
	background: #ffa603; /* Old browsers */
	background: -moz-linear-gradient(top, #ffa603 0%, #e77608 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa603), color-stop(100%, #e77608)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffa603 0%, #e77608 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffa603 0%, #e77608 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffa603 0%, #e77608 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffa603 0%, #e77608 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa603', endColorstr='#e77608', GradientType=0 ); /* IE6-9 */
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px 17px;
	border-radius: 5px;
	cursor: pointer;
}
.buy-naw-last {
	padding: 0 !important;
	text-align: center;
	vertical-align: middle !important;
}
.validity {
	color: #8F8F8F;
	padding: 15px 0;
}
.job-post td {
	border: 1px solid #CCCCCC;
	font-size: 12px;
	padding: 4px 10px;
	text-align: center;
}
.why-us-big {
	float: right;
	width: 278px;
	border: 1px solid #d5e0e9;
	margin: 35px 0 0;
}
.looping span {
	background: url(../images/express-headbig.png) left top repeat-x;
	padding: 15px 20px 45px;
	color: #fff;
	display: block;
	font-weight: bold;
	font-size: 24px;
}
.looping img {
	float: left;
}
.looping p {
	float: right;
	width: 154px;
	font-size: 14px;
	line-height: 20px;
	padding: 10px;
}
