@media(min-width:800px) and (max-width:1280px) {
body{padding:0 5px;}	
.skill {width: 19%;}
.candidate-location {width: 20%;}
.video-section li:nth-child(6n+0){margin-right:15px;}	
}


@media(min-width:1024px) and (max-width:1200px){
.branding{margin-right: 13%;}
nav ul li{padding:0 2%}
.search-nav {float: right;margin-right: 14px;}
.video-section li:nth-child(6n+0){margin-right:21px;}
.search-head { width: 18%;}
.skill {width: 17%;}
.candidate-location { width: 28%;}
.job-location {width: 40%;}
.search-main-box {float: left;width: 59%;}
.personal-details-main {margin-top: 15px; width:100% !important;}
.manage-profile {width: 94% !important;}
}


@media(max-width:1024px){
body{padding:0 5px;}
.mobile-verified { float: right; padding: 3px 0 3px 20px;}
.condidate-Dmain {width: 92.4%;}
.personal-details-main {margin-top: 15px; width: 100%;}
.manage-profile {width: 94%;}
.my-hiring{margin-top:0;}
}

@media(min-width:768px) and (max-width:1023px) {
body{padding:0 5px;}
header{width:97%;}
.mobile-verified { float: right; padding: 3px 0 3px 20px;}
nav ul{width:100%;}
nav ul li a.member-login {font-size: 13px;}
nav ul li{font-size: 13px !important; padding:0 1%;}
.search-main{width:97%;}
.why-us {margin-right: 0; width: 99%;}
.why-us li {width: 97%;}
.search-main-box {float: left; margin-top: 11px; width: 99.2%;}
.search-nav {float: right;margin-right: 14px;}
.skill {width: 20%;}
.catagory {width: 15%;}
.past-ad {float: left;width: 99%;}
.past-ad button {width: 49%;}
.latest-job-post {width: 97%;}
.latest-candidates {float: left;margin-top: 30px; width: 99%;}
.video-section li {margin-bottom: 15px;margin-right: 15px;}
.video-section li:nth-child(6n+0){margin-right:15px;}
.quick-links {float: left; width: 97%;}
.personal-details-main {width: 80%;}
.manage-profile {width: 94%;}
.my-hiring{margin-top:0;}
}
@media(min-width:481px) and (max-width:767px) {
body{padding:0 5px;}
header{width:745px;}
.mobile-verified { float: right; padding: 3px 0 3px 20px;}
nav {width:745px;}
nav ul{width:745px;}
nav ul li a.member-login {font-size: 13px;}
nav ul li{font-size: 13px !important; padding:0 1%;}
.search-main{width:745px;}
.why-us {margin-right: 0; width:745px;}
.why-us li {width:745px;}
.search-main-box {float: left; margin-top: 11px; width:745px;}
.search-nav {float: right;margin-right: 14px;}
.skill {width: 20%;}
.catagory {width: 15%;}
.past-ad {float: left;width: 99%;}
.past-ad button {width: 49%;}
.latest-job-post {width:745px;}
.latest-candidates {float: left;margin-top: 30px; width:745px;}
.video-section li {margin-bottom: 15px;margin-right: 15px;}
.video-section li:nth-child(6n+0){margin-right:15px;}
.quick-links {float: left; width:745px;}
.personal-details-main {width: 80%;}
.manage-profile {width: 94%;}	
.my-hiring{margin-top:0;}
}
@media(min-width:320px) and (max-width:480px) {
body{padding:0 5px;}
header{width:745px;}
.mobile-verified { float: right; padding: 3px 0 3px 20px;}
nav {width:745px;}
nav ul{width:745px;}
nav ul li a.member-login {font-size: 13px;}
nav ul li{font-size: 13px !important; padding:0 1%;}
.search-main{width:745px;}
.why-us {margin-right: 0; width:745px;}
.why-us li {width:745px;}
.search-main-box {float: left; margin-top: 11px; width:745px;}
.search-nav {float: right;margin-right: 14px;}
.skill {width: 20%;}
.catagory {width: 15%;}
.past-ad {float: left;width: 99%;}
.past-ad button {width: 49%;}
.latest-job-post {width:745px;}
.latest-candidates {float: left;margin-top: 30px; width:745px;}
.video-section li {margin-bottom: 15px;margin-right: 15px;}
.video-section li:nth-child(6n+0){margin-right:15px;}
.quick-links {float: left; width:745px;}
.personal-details-main {width: 80%;}
.manage-profile {width: 94%;}
.my-hiring{margin-top:0;}
}