@font-face {
	font-family: "AvantGarde LT Book";
	src: url('../fonts/917297364-ITC-Avant-Garde-Gothic-LT-Book.eot');
	src: url('../fonts/917297364-ITC-Avant-Garde-Gothic-LT-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/917297364-ITC-Avant-Garde-Gothic-LT-Book.svg#AvantGarde LT Book') format('svg'), url('../fonts/917297364-ITC-Avant-Garde-Gothic-LT-Book.woff') format('woff'), url('../fonts/917297364-ITC-Avant-Garde-Gothic-LT-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadProRegular';
	src: url('../fonts/myriadpro-regular.eot');
	src: url('../fonts/myriadpro-regular.eot') format('embedded-opentype'),  url('../fonts/myriadpro-regular.woff') format('woff'),  url('../fonts/myriadpro-regular.ttf') format('truetype'),  url('../fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
}
