@import url('fonts.css');
/* Reset
***************************************************************/
*{border: 0 none; 	outline: 0;	padding: 0;	margin: 0; }
html, body, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, span, strike, strong, sub, sup, tt, var, b, u, i, center, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, fieldset,
{margin:0px auto; padding:0px; border:0; outline:0; font-size:100%;  }
a, img a 	{text-decoration:none; border:0; outline:0;}
:focus		{outline:0px;}
table		{border-collapse:collapse; border-spacing:0px;  }
ol,ul, li	{ list-style-type:none; margin:0px; padding:0px;}

/* Clearing Floats
***************************************************************/
.clear		{clear:both;}
.clearfix:after { clear: both; } .clearfix:before, .clearfix:after { content: " "; display: table; }
/* HTML 5 element
***************************************************************/

aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block; margin:0; padding:0;}
body1{font-family:Verdana, Geneva, sans-serif; background:#fff; font-size:14px;}	
body{font:normal 12px/15px arial;color:#333;text-overflow:ellipsis;	}
/* Form element
***************************************************************/		
			
input, select, textarea{color:#000; font-size:12px;padding:4px; } 

/* General
***************************************************************/
header{width:1140px; padding:16px 5px; margin:0 auto;} 
.branding{float:left; padding:3px 0; margin-right:16%;}
.mobile-verified{background:url(../images/mobile.png) left top no-repeat; color:#333; padding:1px 20px; font-size:12px; float:left;}
.help-all-Countries{float:right; font-size:13px; position:relative;}
.help-24x{padding-right:12px; border-right:1px solid #ccc; float:left; text-transform:uppercase; color:#333;}
.help-24x span{color:#000; font-weight:bold;}
.all-countries{float:right; padding:0 14px 0 11px; background:url(../images/dwn_arrow.png) right 7px no-repeat; color:#175eaf; cursor:pointer;}
.all-countries:hover{color:#000;}
.counties{width:150px; display:none; position:absolute; top:30px; right:0; background:#e67408; border-radius:0 0 3px 3px; -moz-border-radius:0 0 3px 3px; -ms-border-radius:0 0 3px 3px; -o-border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px; z-index:999999; }
.counties li{display:block; float:left; width:100%;}
.counties li a{display:block; padding:5px; color:#fff;}
.counties li a:hover{background:#ff940a;}
.live-help{float:right; padding-top:20px;}
.liv-rtpad{padding-right:20px;}
nav{background:#e67408; min-width:1140px;}
nav ul{width:1140px; margin:0 auto; padding:0 5px;}
nav ul li{display:block; float:left; padding:0 39px; position:relative;}
nav ul li a{font:bold 13px arial;display:block; color:#fff; line-height:41px; height:41px; }
/*nav ul li a.normal-nav{padding:11px 54px 12px;}*/
nav ul li:hover, li:active{background:#ff940a;}
nav ul li.member-login{font-size:16px; background:#ff940a;}
nav ul li ul{width:100%; background:#e67408; position:absolute; top:41px; left:0; z-index:9999; display:none; padding:0 !important;}
nav ul li ul li{display:block; padding:0; text-align:center; float:left; width:100%;}
nav ul li ul li a{display:block;  line-height:30px; height:30px; color:#fff;}
nav ul li ul li:hover, li:active{background:#ff940a;}
nav ul li:hover ul{display:block;}
.search-wrap{background:#f2f6f9; clear:both;padding:19px 0 22px 0; min-width:1140px;}
.search-main{width:1140px; margin:0 auto; padding:0 5px;}
.why-us{border:1px solid #d5e0e9; margin-right:13px; background:#fff; border-radius:1px; -moz-border-radius:1px; -ms-border-radius:1px; -o-border-radius:1px; -webkit-border-radius:1px; width:210px; float:left;} 
.why-us h1{background:#878d92; font-family: 'MyriadProRegular' Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; padding:5px 10px; color:#fff;}
.why-us ul{padding-left:9px;}
.why-us li{display:block; background:url(../images/left_arrow.png) left 9px no-repeat; float:left; padding:5px 12px; font-size:12px; color:#333;}
.search-main-box{width:691px; float:left;}
.search-job{border:1px solid #d5e0e9; font-size:13px; background:#fff; padding:13px; border-radius:1px; -moz-border-radius:1px; -ms-border-radius:1px; -o-border-radius:1px; -webkit-border-radius:1px; color:#333;}
.search-head{width:15%; float:left; font-family: 'MyriadProRegular' Arial, Helvetica, sans-serif; font-size:15px;}
.search-head span{font:bold 16px/36px arial; color:#666;padding-top:3px; display:block;}
.skill{width:21%; float:left; color:#333; margin-right:9px;}
.skill input[type="text"]{background:url(../images/inp_bg.jpg) left top repeat-x; border-radius:2px; margin-top:7px; padding:5px; color:#666666; font-size:11px; width:93%; border:1px solid #d7d7d7;}
.candidate-location{width:19%; float:left; margin-right:9px;}
.select{background:url(../images/inp_bg.jpg) left top repeat-x; border-radius:2px; margin-top:7px; padding:4px 5px; color:#666666; font-size:11px; width:99%; border:1px solid #d7d7d7;}
.exp{width:10%; float:left; margin-right:9px;}
.catagory{width:19%; float:left; margin-right:9px;}
.search-nav{background:#e67408; cursor:pointer; font-family: 'MyriadProRegular' Arial, Helvetica, sans-serif; font-size:13px; border-radius: 2px;color:#FFFFFF;float:left; margin-top:23px; padding:4px 10px;}
.search-nav:hover{background:#ff940a;}
.search-job-mrtop{margin-top:10px;}
.job-location{width:30%; float:left; margin-right:9px;}
.job-location input[type="text"]{background:url(../images/inp_bg.jpg) left top repeat-x; border-radius:2px; margin-top:7px; padding:5px; color:#666666; font-size:11px; width:93%; border:1px solid #d7d7d7;}
.past-ad{width:210px; float:right; font-family: 'MyriadProRegular' Arial, Helvetica, sans-serif;}
.past-ad button{background:#53b457; border-radius:2px; padding:7px 10px; margin:23px 0; cursor:pointer; text-transform:uppercase; color:#f2f6f9; font-size:15px; font-weight:bold;}
.past-ad button span{color:#beffc1; font-size:14px; text-transform:none;}
.past-ad button:hover{background:#62c766;}
section{width:1140px; margin:0 auto; padding:0 5px;}
.middle-panel{padding:30px 0;}
.latest-job-post {float: left;margin-right: 13px; width: 226px;}
.latest-job-post h1{font:bold 16px/36px arial; color:#666; padding-bottom:30px;}
.latest-job-box{border:1px solid #d5e0e9; margin-bottom:1px; padding:10px; font-size:12px; color:#333;}
.latest-job-box h2{font:bold 16px/36px arial; color:#666; margin-bottom:5px;}
.latest-job-box .rowes{padding:2px 0;}
.latest-job-box .rowes span{width:90px; display:inline-block;}
.latest-candidates{width:59%; float:left;}
.latest-candidates h2{font:bold 16px/36px arial; color:#666; padding-bottom:30px; width:50%; float:left;}
.video-section{}
.video-section li{float:left; position:relative; display:block; width:120px; text-align:center; cursor:pointer;  font-size:12px; color:#175dae; margin-right:13px; margin-bottom:13px;}
.video-section li:nth-child(5n+0){margin-right:0;}
.video-section li .video-play{width:29px; height:23px; position:absolute; right:5px; bottom:47px; background:url(../images/play.png) no-repeat;}
.video-section li:hover .video-play{background:url(../images/play_over.png) no-repeat;}
.video-section span{display:block; padding-top:7px;}
.follow-us{float:right; font-family: 'MyriadProRegular' Arial, Helvetica, sans-serif; font-size:16px; color:#666; padding-right:30px;}
.follow-us .facebook{width:24px; height:24px; background:url(../images/social.png) no-repeat; display:inline-block; margin:0 6px;}
.follow-us .twitter{background-position:-37px 0;}
.quick-links{width:20%; float:left;}
.quick-links img{width:100%; height:auto; margin-top:15px; display:block;}
.quick-links h2{font:bold 16px/36px arial; color:#666; padding-bottom:30px; float:left;}
.quick-links ul{border:1px solid #d5e0e9; background:#f2f6f9; padding:10px; font-size:12px; clear:both;}
.quick-links ul li{display:block; float:left; width:100%;}
.quick-links ul li a{color:#175eaf; background:url(../images/left_arrow.png) left 10px no-repeat; padding:4px 16px; display:block;}
.quick-links ul li a:hover{color:#000;}
footer{background:#eaf0f5; padding:30px 0 0 0; min-width:1140px;}
.footer-wrap{width:1140px; margin:0 auto; padding:0 5px;}
.footer-nav{}
.footer-nav h1{font-size:12px; color:#333; font-weight:bold; display:inline-block; }
.footer-nav li{display:inline-block; font-size:12px;}
.footer-nav li a{color:#175eaf; border-right:1px solid #aaaaaa; padding:0 12px;}
.footer-nav li a.bd-none{border-right:0;}
.footer-nav li a.pd-none{padding-left:0;}
.footer-nav li a:hover{color:#000;}
.information{margin-top:15px;}
.copyright{border:1px solid #cad8e3; font-size:11px; color:#666666; margin-top:30px; padding:16px 0; text-align:center;}
/* Condidates Registration
***************************************************************/
.add-shortlist{background:#656565; cursor:pointer; font-family: 'MyriadProRegular' Arial, Helvetica, sans-serif; font-size:13px; border-radius: 2px;color:#FFFFFF; margin-top:23px; padding:4px 6px;}
.add-shortlist:hover{background:#7f7f7f;}
.more-details{background:#e67408; cursor:pointer; font-family: 'MyriadProRegular' Arial, Helvetica, sans-serif; font-size:13px; border-radius: 2px;color:#FFFFFF; margin-top:23px; padding:4px 6px;}
.more-details:hover{background:#ff940a;}
.condidate-form{width:98%; border:1px solid #e4c2a3; margin-bottom:20px; float:left; background:url(../images/form_bg.jpg) left top repeat-x;}
.form-row{border-bottom:1px solid #e4c2a3; padding:15px; }
.form-row h1{font-size:14px; font-family: 'MyriadProRegular' Arial, Helvetica, sans-serif; color:#333; padding-bottom:20px;}
.form-inside-row{padding-bottom:20px; width:100%; float:left; font-size:12px;}
.form-inside-row label {width:25%; float:left; padding-top:3px;}
.form-inside-row label sap{color:#e67408;}
.form-inside-row input[type="text"], input[type="password"], input[type="email"]{background:url(../images/inp_bg.jpg) left top repeat-x; border-radius:2px; padding:5px; color:#333; font-size:11px; width:40%; border:1px solid #d7d7d7; float:left;}
.form-inside-row .select-area{width:60%; float:left;}
.form-inside-row .select-area select{width:69%; color:#333;}
.form-inside-row .select-area input{width:67%; float:left;}
.form-inside-row .select-area p{display:block; font-size:11px; float:left; width:100%; color:#666; padding-top:5px;}
.form-inside-row .select-area p a{color:#e67408; font-weight:bold; text-decoration:underline;}
.margin-topZ{margin-top:0;}
.phone-main{width:45%; float:left;}
.phone-main .code{width:14% !important; float:left;}
.phone-main .code1{width:20% !important; float:left;}
.phone-main span{float:left; padding:5px;}
.phone-box{display:none;}
.gender{width:45%; float:left;}
.gender span{padding:0 6px;}
.year{width:34% !important;}
.have-resume{font-size:14px; color:#e67408; font-weight:bold;}
.form-inside-row .select-area input[type="file"]{border:1px solid #CCC; color:#333; padding:5px;}
.textare-main{padding-top:20px; float:left;}
.textare-main span{font-weight:bold; color:#222;}
.textare-main a{color:#e67408; font-weight:bold; text-decoration:underline;}
.textare-main p{color:#e67408 !important; font-weight:bold;}
.select-area textarea{width:100%; border:1px solid #999; height:110px; float:left; margin-top:15px; resize:none; display:none; padding:5px; color:#333;}
.email-bold{font-weight:bold;}
.offer-main{padding-top:15px;}
.submit-taexA{width:60%; float:left;}
.submit-taexA a{color:#e67408; text-decoration:underline;}
.submit-nav{background:#e67408; cursor:pointer; font-family: 'MyriadProRegular' Arial, Helvetica, sans-serif; font-size:13px; border-radius: 2px;color:#FFFFFF; margin-top:23px; padding:4px 6px;}
.submit-nav:hover{background:#ff940a;}
.bd-none{border:0;}
/* Condidates Details
***************************************************************/
.condidate-details{}
.condidate-video{border:5px solid #EBEBEB; width:97%; background:#000; float:left; height:320px;}
.condidate-Dmain{margin-top:15px; border:1px solid #CCC; padding:15px; width:120%;}
.fileContainer {
    overflow: hidden;
    position: relative;
	background:#fff url(../images/upload_photo.jpg) center center no-repeat;
	border:1px solid #CCC; 
	padding:8px;
	width:98px; 
	height:128px;
	float:left;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.personal-details-main{float:right; width:80%;}
.personal-rowins{width:48%; float:left;}
.second-rowD{float:right;}
.personal-row{width:100%; float:left; font-size:12px; padding:0 0 8px;}
.personal-row .heading{color:#666; float:left; width:45%; padding-right:10px;}
.personal-row .detailsm{color:#333; float:right; width:50%;}
.manage-profile{float:left; width:95%; margin-top:15px; border:1px solid #ccc; padding:15px;}
.manage-profile h2{padding-bottom:10px;}
.manage-list{float:left; width:30%;}
.manage-list li{font-size:12px; color:#333; background:url(../images/dott.png) left 5px no-repeat; padding:0 0 5px 12px; float:left;}
.manage-list li a{color:#175EAF;}
.manage-list li a:hover{color:#000;}
.profilesview{color:#175eaf; float:right; background:url(../images/left_arrow.png) left 18px no-repeat; padding:11px 16px 0; display:block;}
.profilesview:hover{color:#000;}
ul.resp-tabs-list {margin:20px 0 15px 0;padding: 0px;border-top:3px solid #E67408;}
.resp-tabs-list li {background:#656565 url(../images/wht_arrow.png) 93% 17px no-repeat;color: #FFFFFF;cursor: pointer;display: inline-block; float: left;font-size: 13px;font-weight: 600; 
list-style: none outside none; margin: 2px 3px 0 0;padding:10px 29px 10px 13px;}
.resp-tabs-container {padding: 0px;background-color: #fff;clear: left;}
h2.resp-accordion {cursor: pointer; padding: 5px;display: none;}
.resp-tab-active {background-color:#E67408 !important;background-image:none !important;margin: -2px 3px 0 0 !important;padding: 12px 15px !important;}
.resp-tab-content {	display: none; padding: 15px 0;}
.all-point-head{width:80%; float:left; color:#6fb343; font-size:15px; font-weight:bold; text-transform:capitalize;}
.edit{ background: url("../images/wht_arrowr.png") no-repeat scroll 80% 12px #656565;color: #FFFFFF;display: block; float: right;padding:6px 26px 6px 15px;}
.edit:hover{opacity:.8;}
.profile-content{padding:15px; font-size:12px; color:#333; border-bottom:1px solid #ccc; border-top:1px solid #ccc; background:#F4F4F4; margin-bottom:15px;}
.basics-profile{background:none; border-bottom:0;}
.my-hiring{border-radius:1px; -moz-border-radius:1px; -ms-border-radius:1px; -o-border-radius:1px; -webkit-border-radius:1px; width:99%; float:left;} 
.my-hiring h1{background:#53B457; font-family: 'MyriadProRegular' Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; padding:5px 10px; color:#fff;}
.my-hiring ul{ background:#F2F6F8; font-size:12px; padding:10px; border-bottom: 1px solid #D5E0E9;border-left: 1px solid #D5E0E9; border-right: 1px solid #D5E0E9;}
.my-hiring ul li{display:block; float:left; width:100%;}
.my-hiring ul li a{color:#175eaf; background:url(../images/left_arrow.png) left 10px no-repeat; padding:4px 16px; display:block;}
.my-hiring ul li a:hover{color:#000;}
.quick-linkin{margin-top:15px !important;}











/* 16-10-2013 */
.add-jobs{width:659px; margin-bottom:20px; float:left;}
.field-main-box{text-align:left;}
#msform {
	width:659px;
	margin:0;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border:1px solid #D5E0E9;
	padding: 20px 20px;	
	-moz-box-sizing: border-box;
	width:658px;	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding:5px 10px;
	border: 1px solid #ccc;
	width:69%;
	-moz-box-sizing: border-box;
	color: #2C3E50;
	font-family: 'MyriadProRegular' Arial, Helvetica, sans-serif;
	font-size: 13px;
	border-radius:2px;
	background:url(../images/inp_bg.jpg) left top repeat-x;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background:#53B457;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #53B457;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
	text-align:left;
	 padding-bottom: 0 !important;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
	text-align:right;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color:#656565;
	text-transform: uppercase;
	font-size:12px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:hover{background:none;}
#progressbar li:before {
    background: none repeat scroll 0 0 #656565;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    content: counter(step, decimal);
    counter-increment: step;
    display: block;
    font-size: 24px;
    line-height: 45px;
    margin: 0 auto 8px;
    width: 55px;
	font-weight:bold;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top:22px;
	z-index: -1;
	background:#656565; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #E67408;
	color: white;
}
.form-inside-row label span{color:#F00;}
.from-to{padding-left:2px;}


/* 17-10-2013 */
.candidate-display{width:614px; background:url(../images/con_detailbg.jpg) repeat-x left top; margin-bottom:20px; position:relative; float:left; border:1px solid #D5E0E9;padding: 20px 20px;}
.candidate-display-video{border:5px solid #EBEBEB; width:271px; background:#000; float:left; height:196px;}
.display-personal-rowins{width:310px; float:right; font-weight:bold;}
.personal-rows{width:100%; float:left; font-size:12px; padding:0 0 12px;}
.personal-rows .heading{color:#666; float:left; width:110px; padding-right:10px;}
.personal-rows .detailsm{color:#333; float:right; width:185px;}
.profile-posted {color: #9C9C9C; font-weight:bold; float: right; margin-top: 11px; width: 187px;}
.profile-posted span {color: #53B457; padding-left: 5px;}
.profile-posted .date {color: #4F4F4F; float: right; padding-top: 2px; width: 81px;}
.all-button {float: left; margin-top: 14px; width: 418px;}
.cand-dis-button {width: 127px;background:#53B457;font-weight: bold;color: white;border: 0 none;border-radius: 2px;	cursor: pointer;padding: 7px 5px;margin: 0 5px;font-family:Arial, Helvetica, sans-serif;}
.cand-dis-button:hover{background:#64C568;}
.teacher-requird{width:480px; float:left;}
.teacher-requird a{color: #003a88; text-decoration:underline; float: left; font: bold 14px arial;  padding-bottom:12px;}
.teacher-rowins {border-right: 1px solid #CCCCCC;  float: left;  font-weight: bold; width:270px;margin-top: 10px;}
.heading2{width:70px !important;}
.sms-message {float: right;margin-top: 7px; width: 198px; font-size:11px;}
.sms-message span{font-weight:bold; color:#8C8C8C; font-size:13px;}
.express-interrest{background:#E67408;}
.express-interrest:hover{background:#FF940A;}
.royal-crown{width:72px; height:52px; position:absolute; right:0; top:0;}
.sms-main-box{border-left: 1px solid #CCCCCC; float: right; padding-left: 10px; width: 110px;}
.phone-sms{padding-bottom:5px;}
.phone-sms img{vertical-align:middle;}
.verticle-button{width:115px; float:left; padding-top:10px;}
.teacher-button {width: 115px;background:#53B457;font-weight: bold;color: white;border: 0 none;border-radius: 2px;	cursor: pointer;padding: 5px 5px;margin: 0 0 5px;font-family:Arial, Helvetica, sans-serif;}
.teacher-button:hover{background:#64C568;}
.teacher-detail{background:#E67408;}
.teacher-detail:hover{background:#FF940A;}


/* 18 - 10 - 2013 */
.refine-search{border:1px solid #d5e0e9; margin-bottom:1px; font-size:12px; color:#333;}
.refine-search h3{background:url(../images/refine-searchbh.jpg) left top repeat-x; font-family: 'MyriadProRegular' Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; padding:8px 10px; color:#fff;}
.refine-search ul{padding:0; margin:0;}
.refine-search ul li{float:left; display:block; background:url(../images/fillter_bg.jpg) left top repeat-x; float:left; width:100%; cursor:pointer;}
.refine-search ul li span {background: url(../images/plus_b.png) no-repeat 97% 8px; border-bottom: 1px solid #D9D9D9;display: block; padding: 8px 10px;}
.refine-search ul li span.active {background: url(../images/minus_b.png) no-repeat 97% 8px; font-weight:bold;}
.refine-search ul li span.bd-none{border:0;}
.filter-content{clear:both; display:none; border-bottom:1px solid #d5e0e9; margin-bottom:1px; padding:10px; font-size:12px; color:#333;}
.fl-bdnone{border-bottom:0; border-top:1px solid #d5e0e9;}
.filter-box{padding:5px 0; float:left; width:100%;}
.filter-box input{float:left; margin-right:8px;}
.filter-box .item{float:left; padding-right:5px;}
.filter-box .item-value{float:left; color:#acacac;}
.search-jobsm{border:1px solid #d5e0e9; font-size:13px; background:#fff; padding:13px; border-radius:1px; -moz-border-radius:1px; -ms-border-radius:1px; -o-border-radius:1px; -webkit-border-radius:1px; color:#333;}

.jos-smlh {
    color: #646464;
    float: left;
    font-size: 15px;
    font-weight: bold;
    width:90px;
	padding:5px 0;
}
.search-jobsm input[type="text"]{background:url(../images/inp_bg.jpg) left top repeat-x; border-radius:2px; padding:5px; color:#666666; font-size:11px; width:312px; border:1px solid #d7d7d7; float:left;}
.radio-search{float:left;padding:5px 22px 5px 10px;}
.search-navsm{background:#e67408; cursor:pointer; font-family: 'MyriadProRegular' Arial, Helvetica, sans-serif; font-size:13px; border-radius: 2px;color:#FFFFFF;float:left; padding:4px 10px;}
.search-navsm:hover{background:#ff940a;}
.search-box-sm{background-position:0 -100px;}
.inside-postbox{width:442px;}
.inside-postbox button{margin:9px 0 !important;}