<style>

.note-bar{
	display:none;
	overflow: hidden;
	background: #64C568;
	height: 38px;
	border-bottom: 4px solid #fff;
}

.note-bar p {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	line-height: 36px;
	margin: 0 0 0 10px;
	padding: 0;
	text-shadow: none;
}

.close{
	margin: 8px 10px 0 0;
	float: right;
}

.open-button {
	padding-top: 7px;
	width: 30px;
	background: rgba(255, 88, 61, 0.4);
	border: 4px solid #fff;
	border-top: 0px;
	position: fixed;
	top: 0;
	right: 20px;
	display: none;	
}
</style>
<script>
		$(document).ready(function(){			 
	
			$(".note-bar").slideDown(300);	
			
			$("#showbar").click(function(){				
				$(".open-button").slideUp(300, function(){
					$(".note-bar").slideDown(300);
				});

				return false;
			});
		
			$("#hidebar").click(function(){
			
				$(".note-bar").slideUp(300, function(){
					$(".open-button").slideDown(300);
				});
			
				return false;
			});		
		});

	</script>
	
	
	



<style type="text/css">

    /* ================================================================ 
    This copyright notice must be untouched at all times.
    
    The original version of this stylesheet and the associated (x)html
    is available at http://www.cssplay.co.uk/menu/cssplay-tabbed-pages.html
    Copyright (coffee) Stu Nicholls. All rights reserved.
    This stylesheet and the associated (x)html may be modified in any 
    way to fit your requirements.
    =================================================================== */

    table {
        border-collapse: seprate;
        border-spacing: 3px;
        padding:1px;
		font:normal 12px/30px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif;

    }
    .hiddenTarget {display:none; position:fixed;}
    .tabbedPages {position:relative; margin:50px 0;}
    ul.tabs {padding:0; margin:0; list-style:none; float:left; position:relative; z-index:100;font-size:12px;}
    ul.tabs li {float:left; margin-right:2px;font-size:12px;}
    ul.tabs li a {display:block; font:normal 12px/30px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif; border:1px solid #aaa; border-radius:5px 5px 0 0; background:#87a93e; padding:0 20px; 

                  text-decoration:none; color:#fff;
                 background:url(../images/refine-searchbh.jpg) left top repeat-x;
    }

    .tabcontent {float:left; width:847px; padding:20px; border:1px solid #aaa; border-radius:0 5px 5px 5px; background:#fff; position:relative; z-index:10; 

                 display:none; clear:left; top:-1px;
                 box-shadow:0 15px 10px -15px rgba(0,0,0,0.4);
    }
    .tabcontent p {padding:0 0 5px 0; margin:0; font:normal 12px/20px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif; color:#333;}
    .tabcontent h4 {padding:0 0 10px 0; margin:0; font:bold 12px/25px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif; color:#000;}
    .tabcontent img {border:1px solid #444; display:block; float:left; margin:0 20px 0 0; box-shadow:0 15px 10px -15px rgba(0,0,0,0.4);}

    /* change the tab to selected style */
    ul.tabs li a.default,
    #tab1:target ~ .tabbedPages .tabs li a.default,
    #tab2:target ~ .tabbedPages .tabs li a.tab2,
    #tab3:target ~ .tabbedPages .tabs li a.tab3,
    #tab4:target ~ .tabbedPages .tabs li a.tab4,
    #tab5:target ~ .tabbedPages .tabs li a.tab5,
    #tab6:target ~ .tabbedPages .tabs li a.tab6 {background:#fff;background-color:#fff; border-bottom:1px solid #fff; color:#000;}

    /* show the tab content */
    div.default,
    #tab1:target ~ .tabbedPages div.default,
    #tab2:target ~ .tabbedPages div#view2,
    #tab3:target ~ .tabbedPages div#view3,
    #tab4:target ~ .tabbedPages div#view4,
    #tab5:target ~ .tabbedPages div#view5,
    #tab6:target ~ .tabbedPages div#view6 {display:block;}

    /* reset the unclicked tabs to default */
    #tab2:target ~ .tabbedPages .tabs li a.default,
    #tab3:target ~ .tabbedPages .tabs li a.default,
    #tab4:target ~ .tabbedPages .tabs li a.default,
    #tab5:target ~ .tabbedPages .tabs li a.default,
    #tab6:target ~ .tabbedPages .tabs li a.default {background:url(../images/refine-searchbh.jpg) left top repeat-x; border:1px solid #888; color:#fff;}

    /* hide the default tab when selecting other tabs*/
    #tab2:target ~ .tabbedPages div.default,
    #tab3:target ~ .tabbedPages div.default,
    #tab4:target ~ .tabbedPages div.default,
    #tab5:target ~ .tabbedPages div.default,
    #tab6:target ~ .tabbedPages div.default {display:none;}

    .clear {clear:left;}

    input, select {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #888888;
        border-radius: 7px 7px 7px 7px;
        color: #222222;
        margin: 0 5px 0 0;
        padding: 3px 4px;
    }
</style>



   <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">    
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
    <link href="<?=WEBSITE?>css/bootstrap-tokenfield.css" type="text/css" rel="stylesheet">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>


<aside class="middle-panel clearfix" style="padding-left:20%;">
    <!-- Latest Candidates -->
    <div class="latest-candidates" style="width:auto;">
	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'sent')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>Thanks. Your message has been successfully posted.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>
        
        


        <b id="tab1" class="hiddenTarget"></b>
        <b id="tab2" class="hiddenTarget"></b>
        <b id="tab3" class="hiddenTarget"></b>
        <b id="tab4" class="hiddenTarget"></b>
        <b id="tab5" class="hiddenTarget"></b>
        <b id="tab6" class="hiddenTarget"></b>
        <div class="tabbedPages">
            <ul class="tabs">
                <li><a href="#tab1" class="default tab1 tabpages">Contact Us</a></li>
                <li><a href="#tab2" class="tab2 tabpages">Report Abuse</a></li>
                <li><a href="#tab3" class="tab3 tabpages">Feedback</a></li>
                <li><a href="#tab4" class="tab4 tabpages">Advertise With Us</a></li>
                
            </ul>
            <div id="view1" class="tabcontent default">
                
                    <table align="center"  width="100%" style=" border-collapse: separate; border-spacing: 4px;">

                        <tr><td width="30%" valign=top style="line-height:24px !important;">
<b>FALAK INFORMATION SERVICES</b><br>
312E-IBN Battuta Gate Offices<br>
Dubai,UAE, P.O Box 126547<br>
<img src="images/icon_email.png" width="24" height="24" style="border:0px;"><a href="mailto:info@fastesthiring.com">info@fastesthiring.com</a><br> 
<img src="images/phone_icon.png" width="24" height="24" style="border:0px;">+971-44487668<br> 
<img src="images/mobile_icon.png" width="24" height="24" style="border:0px;">+971-529464293<br>
Office Timing:<br>
Sat-Thu: GST 9.00 A.M to 6.00 P.M
						</td><td width="80%" align=right > 
						
				<head>

 <iframe src="http://wikimapia.org/#lat=25.043906&lon=55.118001&z=16&l=&ifr=1&m=b" width="500" height="416" frameborder="0"></iframe>
</head>
<body>

<div id ="mapid-bd0a2952-9e86-41a5-9a36-bf63ad447104"></div>

</body>
		
    </td></tr>
                    </table>
                

            </div>
            <div id="view2" class="tabcontent">
                <form method="post" action=""  name="form2" onsubmit="return abusenow();" style='font:normal 12px/30px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif;line-height:20px !important;'>
					We need your support and co-operation to stop violation. You can alert us by sending an e-mail to <a href="mailto:support@fastesthiring.com">support@fastesthiring.com</a> and we will take necessary action. Also, while reporting such complaints, please provide all evidence including any e-mail (Full header of the e-mail) you may have received.

Note: We will not disclose your identity to the miscreant

Some examples of violation:

If a member sends you obscene or inappropriate e-mails.

If you suspect a member's profile to be obscene or fraudulent.

If a member is sending you harassing e-mails.

If you suspect a member's photograph is not real.

If you notice any other business / individual trying to solicit you with ads or other material.	<br><br>

				<table align="center"  width="100%" 	style='font:normal 12px/30px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif;'>

                      <tr>                
                         <td width="30%"><b>*Category :</b></td><td>    

                           <select name=category class=inputcss >
							<option value="Member's profile is obscene/fraud">Member's profile is obscene/fraud</option>
							<option value="Member Details are inappropriate">Member Details are inappropriate</option>
							<option value="Member has duplicate profile">Member has duplicate profile</option>
							<option value="Member's photo is not real">Member's photo is not real</option>
							<option value="Wrong photo number/ Not reachable">Wrong photo number/ Not reachable</option>
							<option value="Other reasons">Other reasons</option>
							</select>
                           </td></tr>

					  <tr><td width="30%"><b>*Subject :</b></td><td>
						<input type=text name=subject id=subject class=inputcss >
						</td></tr>
                        <tr><td width="30%"><b>*Complaint Details :</b></td><td>
						<textarea type=text name=details id=details  class=inputcss style="width:373px;height:100px"></textarea>
						</td></tr>
                        <tr><td width="30%"><b>Paste Evidence(if any) :</b></td><td>
						<textarea type=text name=evidence id=evidence  class=inputcss  style="width:373px;height:100px"></textarea></td></tr>
                        <tr><td width="30%"><b>*Your E-mail ID :</b></td><td>
						<input type=text name=email id=email style="width:219px;" class=inputcss ></td></tr>
						  <tr>
                      <td width="30%"><b>*Enter the displayed characters :</b></td><td>    
					  
					  <img src="captcha.php" id="captcha1" /><br/>

					<!-- CHANGE TEXT LINK -->
					<a href="#tab2" onclick="
						document.getElementById('captcha1').src='captcha.php?'+Math.random();
						document.getElementById('captcha1-form').focus();"
						id="change-image"><b>Not readable? Change text.</b></a><br/>


					<input type="text" name="captcha1" id="captcha1-form" autocomplete="off" class=inputcss /><br/>

					</td></tr>
                         <tr><td style="height:50px;">&nbsp;</td><td><input type="submit" class="search-navsm" name="submit2" value="Submit" id="abuse"></td></tr>
                    </table>
                </form>

            </div>
            <div id="view3" class="tabcontent">
                <form method="post" name="form3" onsubmit="return feedbacknow();" style='	line-height: 20px;;font:normal 12px/30px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif;'>
				Please feel free to post your questions, comments and suggestions. We are eager to assist you and serve you better.
                    <table align="center"  width="100%" style=" border-collapse: separate; border-spacing: 4px;">
                        <tr><td width="30%"><b>*Name :</b></td><td>    

                           <input type="text" id="name" name="name" value="" placeholder="" class=inputcss  style="width:219px;"/> 
                            </td></tr>
							<tr>
                      <td width="30%"><b>*Email :</b></td><td>    

                           <input type="text" id="emailid" name="emailid" value="" placeholder=""  class=inputcss  style="width:219px;"/> 
                            </td></tr>
							<tr>
                      <td width="30%"><b>*Phone Number :</b></td><td>    

                           <input type="text" id="phone" name="phone" value="" placeholder=""  style="width:219px;" class=inputcss /> 
                            </td></tr>
							<tr>
                      <td width="30%"><b>Category :</b></td><td>    

                           <select name=category class=inputcss >
							<option value="Problems Related to Website">Problems Related to Website</option>
							<option value="Problems Related to Profiles">Problems Related to Profiles</option>
							<option value="Compliments and Suggestions">Compliments and Suggestions</option>
							<option value="Problem Related to Payments">Problem Related to Payments</option>
							<option value="Others">Others</option>
						   </select>
                            </td></tr>
                      <tr>
                      <td width="30%"><b>Priority :</b></td><td>    

                           <select name=priority  class=inputcss  style="width:219px;">
							<option value="Low">Low</option>
							<option value="Medium">Medium</option>							
							<option value="High">High</option>
						   </select>
                            </td></tr>
                      
					  <tr><td width="30%"><b>*Suggestions/Feedback :</b></td><td>
						<textarea type=text name=suggestions class=inputcss  id=suggestions  style="width:373px;height:100px"></textarea></td></tr>
                        
                      <tr>
                      <td width="30%"><b>*Enter the displayed characters :</b></td><td>    
					  
					  <img src="captcha.php" id="captcha" /><br/>

					<!-- CHANGE TEXT LINK -->
					<a href="#tab3" onclick="
						document.getElementById('captcha').src='captcha.php?'+Math.random();
						document.getElementById('captcha-form').focus();"
						id="change-image"><b>Not readable? Change text.</b></a><br/>


					<input type="text" name="captcha" class=inputcss  id="captcha-form" autocomplete="off" /><br/>

					</td></tr>



					  
                        <tr><td style="height:50px;">&nbsp;</td><td>
						
						<input  type="submit" class="search-navsm" name="submit3" value="Submit" id="feedback"></td></tr>


                    </table>
            </div>
            <div id="view4" class="tabcontent" style='	line-height: 20px !important;font:normal 12px/30px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif;'>
                Please feel free to talk to us for advertisements on our portal. Contact us on <a href="mailto:advertisement@fastesthiring.com">advertisement@fastesthiring.com</a>
				<br>We have different places to put your ads - 
				<br>
				- Home Page<br>
				- Search Pages <br>
				- Profile Pages <br>
				- Payment Pages <br>
				- Header/Footer <br>
				
            </div>
            
        </div>
        <br class="clear">

    </div>
    <!-- Latest Candidates End -->

</aside>
   


<script>


function isValidEmailAddress(emailAddress) {
    var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
    return pattern.test(emailAddress);
};

$("#email").on('blur',function(){

	alert('hi');
	if($('#email').val() !='' && isValidEmailAddress($('#email').val())){
		url = '<?=WEBSITE?>checkajaxregister?email='+$('#email').val();
	$("#email").after('<span id="emailloading">&nbsp;&nbsp;Please wait...</span>');
    $.ajax({
        type: 'GET',
        url: url,
        cache: false,		
        success: function(data){
			$("#emailloading").remove();
			$("#emailtick").remove();
            if(data==1)	{		
				$("#email").after('<span class="ValidationErrors"  id="emailloading">Email "<b>'+$("#email").val()+'</b>" already exists.</span>');
				$("#email").val('');
				$("#email").addClass("ErrorField");
            }
			else
				$("#email").after('<span id="emailtick">&nbsp;&nbsp;<img src="images/tick.png" width=20 height=20></span>');
        }
    });	
	}
});	

function feedbacknow()
{
	
	if($('#name').val() == ''){
		alert('Name can not be empty.');$('#name').focus();return false;		
	}
	if($('#emailid').val() == ''){
		alert('Email Id can not be empty.');$('#emailid').focus();return false;		
	}
		
	if($('#phone').val() == ''){
		alert('Phone can not be empty.');$('#phone').focus();return false;		
	}
	if($('#suggestions').val() == ''){
		alert('Suggestions can not be empty.');$('#suggestions').focus();return false;		
	}
	if($('#captcha-form').val() == ''){
		alert('Captcha can not be empty.');$('#captcha-form').focus();return false;		
	}
	
}

function abusenow()
{
	
	if($('#subject').val() == ''){
		alert('Subject can not be empty.');$('#subject').focus();return false;		
	}
	if($('#details').val() == ''){
		alert('Complaint can not be empty.');$('#details').focus();return false;		
	}
	if($('#email').val() == ''){
		alert('Email can not be empty.');$('#email').focus();return false;		
	}
	if($('#captcha1-form').val() == ''){
		alert('Captcha can not be empty.');$('#captcha1-form').focus();return false;		
	}
	
}



</script>
<style>
.inputcss{
width:219px;height:26px;border:1px solid grey;border-radius: 0px 0px 0px 0px;margin-bottom:5px;line-height:24px;
}
</style>