





<!-- Latest Candidates -->
<div class="latest-candidates">
<h2>Forgot Your Password</h2>

<div class="clear"></div>
<div class="condidate-form">
<div class="form-row">

<?if($this->st == 1){?>

Your password has been messaged you on your registered mobile number.
<?}else{?>
Please enter your Username - 
<br><br>
<form method="post">
	<div class="form-inside-row"><label>*Username:</label> <div class="select-area"><input type=text name=username></div></div>
	<button class="submit-nav" type="submit">Submit</button>
</form>
<?}?>



<div class="clear"></div>
</div>
</div>
</div>
<!-- Latest Candidates End -->




















