  <link rel="stylesheet" href="css/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <?
  
  $str='';
  foreach($this->skills as $v){
	$str.='"'.$v["name"].'",';
  }
  ?>
  <?
  
  $str1='';
  foreach($this->locations as $c){
	$str1.='"'.$c["city"].'",';
  }
  ?>
  <script>
  $(function() {
    var availableTags = [
      <?=$str?>
    ];
	 var locations = [
      <?=$str1?>
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
	 $( "#tags1" ).autocomplete({
      source: availableTags
    });
	 $( "#location" ).autocomplete({
      source: locations
    });
  });
  </script>
</head>
<body>
 
<script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>
<script>
$(document).ready(function(){
	
	$('#fade').cycle();
	});
	
	</script>
	
<div class="search-wrap">
    <div class="search-main">
     <!-- Why Us -->
<div class="why-us">
<img src="images/why_us.jpg">
<div id="fade">
<img src="images/bulk_sms.jpg">
<img src="images/express_interrest.jpg">
<img src="images/video_int.jpg">
<img src="images/feature_job.jpg">
</div>
</div>

<!-- Why Us End -->
        <!-- Search Box -->
        <div class="search-main-box">
            <form action="candidatesearch" method="get">    
	                    <div class="search-job clearfix">
<div class="search-head"><p>Search</p> <span>Candidates</span></div>
	                        <div class="skill">Skills <input type="text" id=tags name="skills" value="Type Skills, Designation" onfocus="(this.value == 'Type Skills, Designation') &amp;&amp; (this.value = '')" onblur="(this.value == '') &amp;&amp; (this.value = 'Type Skills, Designation')"></div>
	                       
						   <div class="candidate-location">Nationality
	                            <select class="select" name="location">
	                                <option selected="selected" value="">Doesn't Matter</option>
	                                <?foreach($this->nationality as $location) { ?>
	                                <option value="<?=$location['name']?>"><?=$location['name']?></option>
	                                <? }?>
	                                </select>
	                        </div>
	                      
	                        <div class="catagory">Category 
	                            <select class="select" name="category">
	                                 <option selected="selected" value="">Doesn't Matter</option>
	                                <?foreach($this->category as $key=>$category) { 
	                              
	                                    ?>
	                                <option value="<?=$category['category']?>"><?=$category['category']?></option>
	                                <? }?>
	                            
	                            
	                            </select></div>
	    <!--                    <button type="button" class="search-nav">Search</button>-->
	                        <input type="hidden" class="search-nav" value="candidate" name="search">
	                        <input type="submit" class="search-nav" value="Search" name="submit">
	                    </div>
            </form>

            <div class="search-job clearfix search-job-mrtop">
                 <form action="jobsearch" method="get">    
		                <div class="search-head"><p>Search</p> <span>Job</span></div>

		                <div class="skill">Skills<input type="text" id=tags1 name="skills" value="Type Skills, Designation" onfocus="(this.value == 'Type Skills, Designation') &amp;&amp; (this.value = '')" onblur="(this.value == '') &amp;&amp; (this.value = 'Type Skills, Designation')"></div>
		                <div class="job-location" style="width:19%">Job Location <input type="text" name="location" id="location" value="Type City name" onfocus="(this.value == 'Type City name') &amp;&amp; (this.value = '')" onblur="(this.value == '') &amp;&amp; (this.value = 'Type City name')"></div>
		                <div class="catagory">Category 
		                    <select class="select" name="category">
		                           <option selected="selected" value="">Doesn't Matter</option>
		                             <?foreach($this->category as $key=>$category) { 
		                          
		                                ?>
		                            <option value="<?=$category['category']?>"><?=$category['category']?></option>
		                            <? }?>
		                    
		                    
		                    </select>
		                
		                
		                </div>
		                                    <input type="hidden" class="search-nav" value="job" name="search">
		                    <input type="submit" class="search-nav" value="Search" name="submit">
                </form>
            </div>
        </div>
        <!-- Search Box End -->
        <div class="past-ad">
			
			
			<?
			if($this->loggedIn == 0){?>
            <a href="<?=WEBSITE?>login?returnurl=<?=WEBSITE?>addjob"><button type="button">Post a Job Ad </button></a>
			<a href="<?=WEBSITE?>candidateregistration"><button type="button">Post Your CV<span></span></button></a>
			<?}else?>
			<?if($this->usertype == 3){?>
			<a href="<?=WEBSITE?>addcandidate"><button type="button">Post Your CV<span></span></button></a>
			<a href="<?=WEBSITE?>addjob"><button type="button">Post a Job Ad </button></a>
			<?}else?>
			<?if($this->usertype == 2){?>
			
			<a href="<?=WEBSITE?>addjob"><button type="button">Post a Job Ad </button></a>
			<?}?>
        </div>
    </div>
	<div class="clear"></div>
</div>




<style>

.note-bar{
	display:none;
	overflow: hidden;
	background: #64C568;
	height: 38px;
	border-bottom: 4px solid #fff;
}

.note-bar p {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	line-height: 36px;
	margin: 0 0 0 10px;
	padding: 0;
	text-shadow: none;
}

.close{
	margin: 8px 10px 0 0;
	float: right;
}

.open-button {
	padding-top: 7px;
	width: 30px;
	background: rgba(255, 88, 61, 0.4);
	border: 4px solid #fff;
	border-top: 0px;
	position: fixed;
	top: 0;
	right: 20px;
	display: none;	
}
</style>
<script>
		$(document).ready(function(){			 
	
			$(".note-bar").slideDown(300);	
			
			$("#showbar").click(function(){				
				$(".open-button").slideUp(300, function(){
					$(".note-bar").slideDown(300);
				});

				return false;
			});
		
			$("#hidebar").click(function(){
			
				$(".note-bar").slideUp(300, function(){
					$(".open-button").slideDown(300);
				});
			
				return false;
			});		
		});

	</script>
	
	


<div class="clear"></div>




<section>
    <aside class="middle-panel clearfix">
    <?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'shortlisted')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>Thanks. You have shortlisted a job.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>
	
	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'shortlistederr')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>Thanks. You have already shortlisted this job.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>

	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'deleted')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>You have successfully deteled the job(s).</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>
	
	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'applied')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>You have successfully applied for a job.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>
    <!-- Latest Job Post -->
        <div class="latest-job-post">
            <h1>Latest Job Post</h1>
            <?foreach($this->jobs as $jobs){?>
			
			<?if($jobs['is_featured'] == 1){?>
			<div class="latest-job-box">
			<div class="royal-crown"><img src="images/crown_roy.png"></div>
			<?}else{?>
			<div class="latest-job-box boxorg">
			<?}?>
			
        <h2><?=$jobs['category_name']?></h2>                
                <div class="rowes"><?=$jobs['title']?></div>
                <div class="rowes"><span>Experience:</span> <?=$jobs['experience']?></div>
				<div class="rowes"><span>Job Type:</span> <?=$jobs['job_type']?></div>
                <div class="rowes"><span>Published:</span> <?$strArr = explode(" ",$jobs['posted_date']); echo $strArr[0];?></div>
                
 <?
		 if($this->usertype == 0)
		 if(isset($this->arrApplied) && (!in_array($jobs['id'],$this->arrApplied))){?>
			 <?if(isset($this->arrShortlisted) && (!in_array($jobs['id'],$this->arrShortlisted))){?>
			 <a href="<?=WEBSITE?>jobshortlist?jobid=<?=$jobs['id']?>"><button class="add-shortlist butt-width" type="button">Shortlist</button></a><?}?>
		  
		  <a href="<?=WEBSITE?>jobapply?jobid=<?=$jobs['id']?>"><button type="button" class="apply-nav butt-width org-mar">Apply</button></a>
		  <?}else{?>
		  &nbsp;
		  <?}?>
		  
		  
<a href="<?=WEBSITE?>jobdetail?id=<?=$jobs['id']?>"><button type="button" class="more-details butt-width">Details</button></a>

                
        <!-- profile End -->
        
        </div>
        
        
        
        
        
	  
	  
	  
	  
			<?}?>
			
           
        </div>
        <!-- Latest Job Post End -->

        <!-- Latest Candidates -->
        <div class="latest-candidates">
            <h2>Latest Candidates Video Profiles</h2>
            
            <div class="clear"></div>
            <ul class="video-section">
                <?foreach($this->candidates as $c){
					$v=explode(",",$c['role_id']);
					$str="";
					foreach($v as $r)
					{
						$v1=explode("-",$r);
						$str = $v1[0].",";
					}
				?>				
					<li>
					<a href="<?=WEBSITE?>viewprofile?id=<?=$c['user_id'];?>">
					<?if($c['profile_image'] == NULL){?>
						<img src="images/img.jpg" width=120 height=120px>
					<?}else{?>					
						<img src="<?=WEBSITE?>thumb.php?src=<?=WEBSITE?>uploads/<?=$c['profile_image']?>&amp;h=116&amp;w=120">
					<?}?>
					</a>
					<div class="video-play"></div><span style="height:34px;"><a href="<?=WEBSITE?>viewprofile?id=<?=$c['user_id'];?>"><?=floor((time() - strtotime($c['dob']))/31556926)?> years<br>
					<?=trim($str,",")?></a></span></li>
				<?}?>
            </ul>
        </div>
        <!-- Latest Candidates End -->
        <!-- Quick Links to Candidates -->
        <div class="quick-links">
            <h2>Quick Links to Candidates</h2>
            <ul class="clearfix">
				<?foreach($this->categories as $c){?>
					<li><a href="<?=WEBSITE?>candidatesearch?category=<?=$c['category']?>"><?=$c['category']?></a></li>
			   <?}?>
                
            </ul>
            <img src="images/add.jpg">
        </div>
        <!-- Quick Links to Candidates -->
    </aside>
</section>





