 <?$auth = Zend_Auth::getInstance();?><style>

.note-bar{
	display:none;
	overflow: hidden;
	background: #64C568;
	height: 38px;
	border-bottom: 4px solid #fff;
}

.note-bar p {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	line-height: 36px;
	margin: 0 0 0 10px;
	padding: 0;
	text-shadow: none;
}

.close{
	margin: 8px 10px 0 0;
	float: right;
}

.open-button {
	padding-top: 7px;
	width: 30px;
	background: rgba(255, 88, 61, 0.4);
	border: 4px solid #fff;
	border-top: 0px;
	position: fixed;
	top: 0;
	right: 20px;
	display: none;	
}
.apply-detail-rowleft
{
width:500px;
}
</style><script>
		$(document).ready(function(){			 
	
			$(".note-bar").slideDown(300);	
			
			$("#showbar").click(function(){				
				$(".open-button").slideUp(300, function(){
					$(".note-bar").slideDown(300);
				});

				return false;
			});
		
			$("#hidebar").click(function(){
			
				$(".note-bar").slideUp(300, function(){
					$(".open-button").slideDown(300);
				});
			
				return false;
			});		
		});

	</script>	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'apply')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>You have successfully applied for a job.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>
    
    <!-- Apply And Shortlist -->
    <div class="apply-shortlist-main">
      
      <div class="apply-shortlist-box" style="margin-top:0px;">
        <div class="apply-head-new">
         
	<?  
	
		
	if($this->verify == 1){
	
	
	
	?>
		  <a href="/approvejob?id=<?=$this->jobs['job_id']?>"><button type="button" class="apply-button" name=""  style="padding:4px 5px;margin-top:-5px;">Approve & Submit</button></a>
		    <a href="/editjob?jobid=<?=$this->jobs['job_id']?>"><button type="button" class="apply-button" name="" style="padding:4px 5px;margin-top:-5px;">Edit</button></a>
 		 <?}else{?> 
		 
		 <?
		 if($this->usertype == 0 && $auth->getIdentity()->status == 1)
		 if(isset($this->arrApplied) && (!in_array($this->jobs['job_id'],$this->arrApplied))){?>
			 <?if(isset($this->arrShortlisted) && (!in_array($this->jobs['job_id'],$this->arrShortlisted))){?>
			 &nbsp;<a href="jobshortlist?jobid=<?=$this->jobs['job_id']?>"><button class="teacher-button" style="padding:4px 5px;margin-top:-5px;">Shortlist</button></a><?}?>
		  
		  &nbsp;<a href="jobapply?jobid=<?=$this->jobs['job_id']?>"><button style="padding:4px 5px;margin-top:-5px;" class="teacher-button teacher-detail">Apply</button></a>
		  <?}else{?>
		 
		 <?if(isset($this->loggedIn) && ($this->loggedIn ==0)){?>
		 		  &nbsp;<a href="login"><button class="teacher-button teacher-detail" style="padding:4px 5px;margin-top:-5px;">Login to Apply</button></a>
		 		  <?}else{?>
		 		  &nbsp;<button class="teacher-button teacher-detail" style="cursor:not-allowed;margin-top:-5px;padding:4px 5px;">Already Applied</button>
		  <?}?>
		 
		 
		 
		  <?}?>
		  
		   <?if($this->usertype == 3 && $auth->getIdentity()->status == 1){?>
			 
			 <a class='ajax' href="<?=WEBSITE?>getmycandidates?jobid=<?=$this->jobs['job_id']?>&act=shortlist"><button class="teacher-button" style="margin-top:-5px;">Shortlist</button></a>		  
			 <a class='ajax' href="<?=WEBSITE?>getmycandidates?jobid=<?=$this->jobs['job_id']?>&act=apply"><button class="teacher-button teacher-detail" style="margin-top:-5px;">Apply</button></a>
			<?}?>
			
		  <?}?>
          <div class="job-id-display">Job ID:<?=$this->jobs['job_id']?></div>
          <div class="clear"></div>
        </div>
        <div class="apply-content-main">
        <div class="apply-left-panel" style="width:225px;">
          <div class="job-title-head">Job Title</div>
          <div class="job-title-discription"><?=$this->jobs['title']?></div>
          <div class="job-title-head">Company/Agent Name</div>
          <div class="job-title-discription"><?=$this->jobs['company_name']?>&nbsp;<?=$this->jobs['agency_name']?></div>
          <div class="job-title-head">Locations</div>
          <div class="job-title-discription"><?=str_replace(',',', ',trim($this->jobs['job_location_city'],","));?></div>
          <div class="job-title-head">Country</div>
          <div class="job-title-discription"><?=str_replace(',',', ',trim($this->jobs['job_location_country'],","));?></div>
         <!-- <div class="job-title-head">Experience</div>
          <div class="job-title-discription"><?=trim($this->jobs['experience'],",")?></div>-->
          <div class="job-title-head">Keywords / Skills</div>
          <div class="job-title-discription"><?=str_replace(',',', ',trim($this->jobs['sub_category_name'],","));?></div>
          <div class="job-title-head">Job Category</div>
          <div class="job-title-discription"><?=str_replace(',',', ',trim($this->jobs['category_name'],","));?></div>
          <div class="job-title-head">Industry</div>
          <div class="job-title-discription"><?=$this->jobs['industry_name']?></div>
          <div class="job-title-head">Salary</div>
          <div class="job-title-discription"><?=$this->jobs['salary']?></div>
          <div class="job-title-head">Benefits</div>
          <div class="job-title-discription"><?=$this->jobs['benefits']?></div>
          
          <div class="job-logo1">
					<?if($this->jobs['profile_image']!=NULL){?>
			<img src="thumb.php?src=<?=WEBSITE?>uploads/<?=$this->jobs['profile_image']?>&w=200" >
			<?}?>
		  </div>
        </div>
        <!-- Left Panel End -->
        <div class="apply-right-panel" style="width:650px;">
<div class="right-all-discription"><span  class=all-point-head-new>Message :</span>	<?=$this->jobs['message']?></div>
<div class="right-all-discription"><span  class=all-point-head-new>Job Description :</span>	<?=$this->jobs['job_description']?></div>
<div class="clear"></div>




<div class="right-all-discription"  style="border:0px;">
<span  class=all-point-head-new style="border:0px;">Candidate Preference :</span>	
<div class="clear"></div>

<div class="profile-content basics-profile">
<div class="personal-rowins">
<div class="personal-row"><div class="heading">Age :</div> <div class="detailsm"> <?
	    if($this->jobs['age_from'] !=0  && $this->jobs['age_to'] !=0)
	        echo $this->jobs['age_from']."-".$this->jobs['age_to'];
	    else
	        echo "Doesn't Matter";
?></div></div>
<div class="personal-row"><div class="heading">Nationality :</div> <div class="detailsm">
<?if($this->jobs['nationality'] == "Any,")$this->jobs['nationality']="Doesn't Matter";?>
			<?=trim($this->jobs['nationality'],",")?>
</div></div>
<div class="personal-row"><div class="heading">Can Speak : :</div> <div class="detailsm"><?if($this->jobs['language'] == "Any,")$this->jobs['language']="Doesn't Matter";?>
			<?=trim($this->jobs['language'],",")?></div></div>

</div>
    <div class="personal-rowins second-rowD">
<div class="personal-row"><div class="heading">Religion :</div> <div class="detailsm"><?if($this->jobs['religion'] == "Any,")$this->jobs['religion']="Doesn't Matter";?>
			<?=str_replace(',',', ',trim($this->jobs['religion'],","));?></div></div>
<div class="personal-row"><div class="heading">Location :</div> <div class="detailsm"><?if($this->jobs['present_location'] == "Any,")$this->jobs['present_location']="Doesn't Matter";?>
			<?=str_replace(',',', ',trim($this->jobs['present_location'],","));?></div></div>
<div class="personal-row"><div class="heading">Experience :</div> <div class="detailsm"><?$experience = $this->jobs['experience'];
			if($experience == 'Any,')
						$experience = "Doesn't Matter";	
			?>
			<?=trim($experience,",")?></div></div>
</div>
</div>



    
			</div>
        <div class="clear"></div>

        
		<div class="right-all-discription" style="border-top:1px solid #ccc;"><span  class=all-point-head-new>Candidate Skills :</span>	<?=$this->jobs['desired_profile']?></div>
		
        
        <?php if($this->jobs['company_name'] != ''){?>
        <div class="right-all-discription" style="border-bottom:0px;">
<span class=all-point-head-new style="padding-bottom:10px;">About Employer :</span>	
<div class="clear"></div>

<div class="right-all-discription" style="border:0px"><span>Name :</span>	<?=$this->jobs['fname']?>&nbsp;<?=$this->jobs['lname']?></div>
<div class="right-all-discription" style="border:0px"><span>Number of employees :</span>	<?=$this->jobs['no_of_employees']?></div>
<div class="right-all-discription" style="border:0px"><span>Industry Type :</span>	<?=$this->jobs['industry_type']?></div>

<div class="right-all-discription" style="border:0px"><span>Company Profile :</span>	<?=$this->jobs['company_profile']?></div>
        <div class="clear"></div>
</div>

<? } ?>
        
        
        </div>
        
        </div>
        
        
        
        
        
        <div class="clear"></div>
      </div>
      
      <!-- 17-10-2013 End --> 
      
    </div>
	
	<script>
	




$(document).ready(function(){
$(".ajax").colorbox({width:'700px',height:'500px'});

});

</script>
<style>
.all-point-head-new {

float: left;
color: #6fb343;
font-size: 15px;
font-weight: bold;
text-transform: capitalize;
}
.profile-content {

border-top: 0px solid #ccc;


}

.apply-head-new{
background: url(../images/refine-searchbh.jpg) left top repeat-x;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
padding: 8px 10px;
color: #fff;
margin-bottom: 20px;
}

</style>