            <div class="clear"></div>
        <div class="latest-candidates" style="width:auto;padding:40px 40px 40px 40px;padding-left:20%;padding-right:20%;">
            <h2><?=$this->content['title']?></h2>
            
            <div class="clear"></div>
            <div><?=$this->content['content']?></div>
        </div>
            <div class="clear"></div>