<link rel="stylesheet" href="<?= WEBSITE ?>css/magicsuggest-1.3.1-min.css">
<link rel="stylesheet" href="<?= WEBSITE ?>js/jquery.js">

<script type="text/javascript" src="<?= WEBSITE ?>js/magicsuggest-1.3.1-min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<?php
$locations = $this->locations;

$strLocation = '';
foreach ($locations as $l) {
    $strLocation.="'" . addslashes($l['nicename']) . "',";
}
$strLocation = trim($strLocation, ',');

$nationality = $this->nationality;

$strNationality = '';
foreach ($nationality as $l) {
    $strNationality.="'" . addslashes($l['nicename']) . "',";
}
$strNationality = trim($strNationality, ',');



$category = $this->category;

$strCategory = '';
foreach ($category as $l) {
    $strCategory.="'" . addslashes($l['category']) . "',";
}
$strCategory = trim($strCategory, ',');

$jobroles = $this->jobroles;

$strjobroles = '';
foreach ($jobroles as $l) {
    $strjobroles.="'" . addslashes($l['category']) . "',";
}
$strjobroles = trim($strjobroles, ',');


$agents = $this->agents;

$stragents = '';
foreach ($agents as $l) {
    $stragents.="'" . addslashes($l['agency_name']) . "',";
}
$stragents = trim($stragents, ',');



?>

<style type="text/css">

    /* ================================================================ 
    This copyright notice must be untouched at all times.
    
    The original version of this stylesheet and the associated (x)html
    is available at http://www.cssplay.co.uk/menu/cssplay-tabbed-pages.html
    Copyright (coffee) Stu Nicholls. All rights reserved.
    This stylesheet and the associated (x)html may be modified in any 
    way to fit your requirements.
    =================================================================== */
	a:hover{
	text-decoration:none;
	}
    table {
        border-collapse: seprate;
        border-spacing: 3px;
        padding:1px;
		font:normal 12px/30px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif;
text-decoration:none;
    }
    .hiddenTarget {display:none; position:fixed;text-decoration:none;}
    .tabbedPages {position:relative; margin:50px 0;}
    ul.tabs {padding:0; margin:0; list-style:none; float:left; position:relative; z-index:100;font-size:12px;}
    ul.tabs li {float:left; margin-right:2px;font-size:12px;}
    ul.tabs li a {display:block; font:normal 12px/30px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif; border:1px solid #aaa; border-radius:5px 5px 0 0; background:#87a93e; padding:0 20px; 

                  text-decoration:none; color:#fff;
                 background:url(../images/refine-searchbh.jpg) left top repeat-x;
    }

    .tabcontent {float:left; width:847px; padding:20px; border:1px solid #aaa; border-radius:0 5px 5px 5px; background:#fff; position:relative; z-index:10; 

                 display:none; clear:left; top:-1px;
                 box-shadow:0 15px 10px -15px rgba(0,0,0,0.4);
    }
    .tabcontent p {padding:0 0 5px 0; margin:0; font:normal 12px/20px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif; color:#333;}
    .tabcontent h4 {padding:0 0 10px 0; margin:0; font:bold 12px/25px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif; color:#000;}
    .tabcontent img {border:1px solid #444; display:block; float:left; margin:0 20px 0 0; box-shadow:0 15px 10px -15px rgba(0,0,0,0.4);}

    /* change the tab to selected style */
    ul.tabs li a.default,
    #tab1:target ~ .tabbedPages .tabs li a.default,
    #tab2:target ~ .tabbedPages .tabs li a.tab2,
    #tab3:target ~ .tabbedPages .tabs li a.tab3,
    #tab4:target ~ .tabbedPages .tabs li a.tab4,
    #tab5:target ~ .tabbedPages .tabs li a.tab5,
    #tab6:target ~ .tabbedPages .tabs li a.tab6 {background:#fff;background-color:#fff; border-bottom:1px solid #fff; color:#000;text-decoration:none;}

    /* show the tab content */
    div.default,
    #tab1:target ~ .tabbedPages div.default,
    #tab2:target ~ .tabbedPages div#view2,
    #tab3:target ~ .tabbedPages div#view3,
    #tab4:target ~ .tabbedPages div#view4,
    #tab5:target ~ .tabbedPages div#view5,
    #tab6:target ~ .tabbedPages div#view6 {display:block;}

    /* reset the unclicked tabs to default */
    #tab2:target ~ .tabbedPages .tabs li a.default,
    #tab3:target ~ .tabbedPages .tabs li a.default,
    #tab4:target ~ .tabbedPages .tabs li a.default,
    #tab5:target ~ .tabbedPages .tabs li a.default,
    #tab6:target ~ .tabbedPages .tabs li a.default {background:url(../images/refine-searchbh.jpg) left top repeat-x; border:1px solid #888; color:#fff;}

    /* hide the default tab when selecting other tabs*/
    #tab2:target ~ .tabbedPages div.default,
    #tab3:target ~ .tabbedPages div.default,
    #tab4:target ~ .tabbedPages div.default,
    #tab5:target ~ .tabbedPages div.default,
    #tab6:target ~ .tabbedPages div.default {display:none;}

    .clear {clear:left;}

    input, select {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #888888;
        border-radius: 7px 7px 7px 7px;
        color: #222222;
        margin: 0 5px 0 0;
        padding: 3px 4px;
    }
</style>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">    
<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
<link href="<?= WEBSITE ?>css/bootstrap-tokenfield.css" type="text/css" rel="stylesheet">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>


<aside class="middle-panel clearfix" style="padding-left:20%;">
    <!-- Latest Candidates -->
    <div class="latest-candidates" style="width:auto;">
        



        <b id="tab1" class="hiddenTarget"></b>
        <b id="tab2" class="hiddenTarget"></b>
        <b id="tab3" class="hiddenTarget"></b>
        <b id="tab4" class="hiddenTarget"></b>
        <b id="tab5" class="hiddenTarget"></b>
        <b id="tab6" class="hiddenTarget"></b>
        <div class="tabbedPages">
            <ul class="tabs">
                <li><a href="#tab1" class="default tab1 tabpages">Basic Search</a></li>
                <li><a href="#tab2" class="tab2 tabpages">Advance Search</a></li>
                <li><a href="#tab3" class="tab3 tabpages">Search by Job Role</a></li>
                <li><a href="#tab4" class="tab4 tabpages">Search by Category</a></li>
                <li><a href="#tab5" class="tab5 tabpages">Search by Agency</a></li>
                <li><a href="#tab6" class="tab6 tabpages">Search by Username</a></li>
            </ul>
            <div id="view1" class="tabcontent default">
                <form method="get" action="candidatesearch" name="form1">
                <input type="hidden" class="search-nav" value="candidate" name="search">
                    <table align="center"  width="100%" style=" border-collapse: separate; border-spacing: 4px;" >

                        <!---      Basic Search Start -->

                        <tr><td width="20%">Profile Posted By :</td><td> 
                                <input type="radio" name="postedby" value="" checked>Doesn`t Matter &nbsp
                                <input type="radio" name="postedby" value="Self">Self &nbsp
                                <input type="radio" name="postedby" value="agent">Agency &nbsp

                            </td></tr>
                       
								
						                        <tr><td width="20%">Job Position
                                :</td><td> 
                                <input type="text" class="form-control" id="skills-1" name="skills" value="">
								
								Please use comma for selecting Candidates for multiple Job position e.g.&nbsp;&nbsp;<img src="images/srex.png" style="border:0px;float:right;padding-top:5px;"></td></tr>
		
                        <tr><td width="20%">Gender :</td><td> 
                                <input type="radio" name="gender" value="" checked>Doesn`t Matter &nbsp
                                <input type="radio" name="gender" value="male">Male &nbsp
                                <input type="radio" name="gender" value="female">Female &nbsp</td></tr>
                        <tr><td width="20%">Nationality
                                :</td><td> 
                                <input type="text" class="form-control" id="nationality" name="nationality" value="" placeholder="" />    
                            </td></tr>
                        <tr><td width="20%">Candidate Current Location

                                :</td><td> 
                                <input type="text" class="form-control" id="location" name="location" value="" placeholder="" />    
                            </td></tr>
                        <tr><td width="20%">Job Type
                                :</td><td> 
                                <input type="text" class="form-control" id="jobtype" name="jobtype" value="" placeholder="" />    </td></tr>


                        <!-- Basic Search End -->

                        <tr><td style="height:50px;">&nbsp;</td><td><input type="submit" class="search-navsm" name="submit1" value="Search"></td></tr>
                    </table>
                </form>

            </div>
            <div id="view2" class="tabcontent">
                <form method="get" action="candidatesearch"  name="form2">
                <input type="hidden" class="search-nav" value="candidate" name="search">
                    <table align="center"  width="100%" style=" border-collapse: separate; border-spacing: 4px;">

                        <tr><td width="20%">Profile Posted By :</td><td> 
                                <input type="radio" name="postedby" value="" checked>Doesn`t Matter &nbsp
                                <input type="radio" name="postedby" value="Self">Self &nbsp
                                <input type="radio" name="postedby" value="agent">Agency &nbsp

                            </td></tr>
                        <tr><td width="20%">Job Position
                                :</td><td> 
                                <input type="text" class="form-control" id="skills-2" name="skills" value="">
								
								Please use comma for selecting Candidates for multiple Job position e.g.&nbsp;&nbsp;<img src="images/srex.png" style="border:0px;float:right;padding-top:5px;"></td></tr>
                        <tr><td width="20%">Gender :</td><td> 
                                <input type="radio" name="gender" value="" checked>Doesn`t Matter &nbsp
                                <input type="radio" name="gender" value="male">Male &nbsp
                                <input type="radio" name="gender" value="female">Female &nbsp</td></tr>
                        <tr><td width="20%">Nationality
                                :</td><td> 
                                <input type="text" class="form-control" id="nationality-2" name="nationality" value="" placeholder="" />    
                            </td></tr>
                        <tr><td width="20%">Candidate Current Location

                                :</td><td> 
                                <input type="text" class="form-control" id="location-2" name="location" value="" placeholder="" />    
                            </td></tr>
                        <tr><td width="20%">Job Type
                                :</td><td> 
                                <input type="text" class="form-control" id="job_roles-2" name="jobtype" value="" placeholder="" />    </td></tr>

                        <tr><td>Expected Salary:</td><td>

                                <input type="text" class="form-control" id="salary" name="salary" value="" placeholder="" />


                            </td></tr>


                        <tr><td>Experience :</td><td>
                                <input type="text" class="form-control" id="experience" name="experience" value="" placeholder="" />

                            </td></tr>
                        <tr><td>Religion :</td><td>
                                <input type="text" class="form-control" id="religion" name="religion" value="" placeholder="" />    

                            </td></tr>





<!--                        <tr><td>Age:</td><td><input type="text" value="" id="true" class="select margin-topZ" name="skills" autocomplete="off" class="as-input"></td></tr>-->
                        
            <!--            <tr><td>Can Speak:</td><td>

<select name="language" id="language" class="form-control" style="width:150px;">
                                       <option value="" label="Please Select">English</option>
								<?foreach($this->languages as $val){?>	   
									   
    <option value="<?=$val['language']?>" label="<?=$val['language']?>"><?=$val['language']?></option>
	<?}?>
    
</select>

</td></tr>-->
                        <tr><td>Maritial Status:</td><td>
                                <input type="text" class="form-control" id="maritalstatus" name="maritalstatus" value="" placeholder="" />
                            </td></tr>

                        <tr><td style="height:50px;">&nbsp;</td><td><input type="submit" class="search-navsm" name="submit2" value="Search"></td></tr>
                    </table>
                </form>

            </div>
            <div id="view3" class="tabcontent">
                <form method="get" action="candidatesearch"  name="form3">
                <input type="hidden" class="search-nav" value="candidate" name="search">
                    <table align="center"  width="100%" style=" border-collapse: separate; border-spacing: 4px;">

                        <tr><td width="20%">Job Role :</td><td>    

                                <input type="text" class="form-control" id="job_roles-3" name="job_roles" value="" placeholder="" />
                            </td></tr>

                        <tr><td style="height:50px;">&nbsp;</td><td><input type="submit" class="search-navsm" name="submit3" value="Search"></td></tr>


                    </table>
            </div>
            <div id="view4" class="tabcontent">
                <form method="get" action="candidatesearch"  name="form4">
                <input type="hidden" class="search-nav" value="candidate" name="search">
                    <table align="center"  width="100%" style=" border-collapse: separate; border-spacing: 4px;" >
                        <tr><td width="20%">Search by Category :</td><td>  
                                <select name="category" class="form-control" >
                                    <option value="">Select category</option>
<? foreach ($this->category as $category) { ?>
                                        <option value="<?= $category['category'] ?>"><?= $category['category'] ?></option>

<? } ?>

                                </select>

                            </td></tr>
                        <tr><td style="height:50px;">&nbsp;</td><td><input type="submit" class="search-navsm" name="submit4" value="Search"></td></tr>
                    </table>
                </form>
            </div>
            <div id="view5" class="tabcontent" class="search-jobsm clearfix">
                <form method="get" action="candidatesearch"  name="form5">
                <input type="hidden" class="search-nav" value="candidate" name="search">
                    <table align="center"  width="100%" >
                        <tr><td width="20%">Search by Agency :</td><td>
                                 <input type="text" class="form-control" id="agentname" name="agentname" value="" placeholder="" />
                              

                            </td></tr>
                        <tr><td style="height:50px;">&nbsp;</td><td><input type="submit" class="search-navsm" name="submit5" value="Search"></td></tr>
                </form>

                </table>
            </div>
            <div id="view6" class="tabcontent" >
                <form method="get" action="candidatesearch"  name="form6">
                <input type="hidden" class="search-nav" value="candidate" name="search">
                    <!-- Latest Candidates -->
                    <div class="latest-candidates">
                        <div class="search-main-box" style="width:600px">
                            <div class="search-jobsm clearfix" style="border:0px;">
                                <div class="jos-smlh" style="font-size:13px;width:150px;">Search By Username:</div> 
                                <input type="text" value="" name="username" class="select margin-topZ">

                                <input type="submit" class="search-navsm" style="margin-left:20px;height:25px;" name="submit6" value="Search">

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br class="clear">

    </div>
    <!-- Latest Candidates End -->

</aside>


<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="<?= WEBSITE ?>js/bootstrap-tokenfield.js" charset="UTF-8"></script>   
<script type="text/javascript" src="<?= WEBSITE ?>js/scrollspy.js" charset="UTF-8"></script>   
<script type="text/javascript" src="<?= WEBSITE ?>js/affix.js" charset="UTF-8"></script>   
<script type="text/javascript" src="<?= WEBSITE ?>js/docs.min.js" charset="UTF-8"></script>  
<script>
    $('#religion').tokenfield({
        autocomplete: {
            source: ['Hindu','Muslim','Christian','Sikh','Parsi','Jain','Buddhist','Jewish','No Religion'],
            delay: 100
        },
        showAutocompleteOnFocus: true,
        allowDuplicates: false
    });


    $('#salary').tokenfield({
        autocomplete: {
            source: ['0-500 AED','500-1000 AED','1000-1500 AED','1500-2000 AED','2000-2500 AED','2500-3000 AED','3000-3500 AED','3500-4000 AED','4000-4500 AED','5000-10000 AED','10000+ AED'],
            delay: 100
        },
        showAutocompleteOnFocus: true,
        allowDuplicates: false
    });



    $('#experience').tokenfield({
        autocomplete: {
            source: ['Fresher','0-1 year','1-2 year','2-3 year','3-5 year','5-10 year','10+ years'],
            delay: 100
        },
        showAutocompleteOnFocus: true,
        allowDuplicates: false
    });


    $('#maritalstatus').tokenfield({
        autocomplete: {
            source: ['Single','Married','Divorced','Widowed'],
            delay: 100
        },
        showAutocompleteOnFocus: true,
        allowDuplicates: false
    });


    $('#location').tokenfield({
        autocomplete: {
            source: ['Doesn`t Matter',<?= $strLocation ?>],
            delay: 100
        },
        showAutocompleteOnFocus: true,
        allowDuplicates: false
    }); 
    $('#location-2').tokenfield({
        autocomplete: {
            source: ['Doesn`t Matter',<?= $strLocation ?>],
            delay: 100
        },
        showAutocompleteOnFocus: true,
        allowDuplicates: false
    });

    $('#nationality').tokenfield({
        autocomplete: {
            source: ['Doesn`t Matter',<?= $strNationality ?>],
            delay: 100
        },
        showAutocompleteOnFocus: true,
        allowDuplicates: false
    });

    $('#nationality-2').tokenfield({
        autocomplete: {
            source: ['Doesn`t Matter',<?= $strLocation ?>],
            delay: 100
        },
        showAutocompleteOnFocus: true,
        allowDuplicates: false
    });
    
    $('#jobtype').tokenfield({
        autocomplete: {
            source: ['Doesn`t Matter','Full Time','Part Time','Live In','Contract'],
            delay: 100
        },
        showAutocompleteOnFocus: true,
        allowDuplicates: false
    });  

    $('#job_roles-2').tokenfield({
        autocomplete: {
            source: ['Doesn`t Matter','Full Time','Part Time','Live In','Contract'],
            delay: 100
        },
        showAutocompleteOnFocus: true,
        allowDuplicates: false
    });
    
    $('#job_roles-3').tokenfield({
        autocomplete: {
            source: ['Doesn`t Matter',<?= $strjobroles ?>],
            delay: 100
        },
        showAutocompleteOnFocus: true,
        allowDuplicates: false
    });
            
       $('#nationality').on('beforeCreateToken', function (e) {
        var token = e.token.value;
   
		
        if( token == 'Doesn`t Matter') {
            e.token.value = '';
            e.token.label = token;
            //$('#nationality-tokenfield').parent().find('[data-value!=""]').remove();
        }else{
            
            $('#nationality-tokenfield').parent().find('[data-value=""]').remove()
            
        }
    
    })
    
       $('#nationality-2').on('beforeCreateToken', function (e) {
        var token = e.token.value;
   

        if( token == 'Doesn`t Matter') {
            e.token.value = '';
            e.token.label = token;
           // $('#nationality-2-tokenfield').parent().find('[data-value!=""]').remove();
        }else{
            
            $('#nationality-2-tokenfield').parent().find('[data-value=""]').remove()
            
        }
    
    })
       $('#job_roles').on('beforeCreateToken', function (e) {
        var token = e.token.value;
   

        if( token == 'Doesn`t Matter') {
            e.token.value = '';
            e.token.label = token;
           // $('#job_roles-tokenfield').parent().find('[data-value!=""]').remove();
        }else{
            
            $('#job_roles-tokenfield').parent().find('[data-value=""]').remove()
            
        }
    
    })
       $('#job_roles-2').on('beforeCreateToken', function (e) {
        var token = e.token.value;
   

        if( token == 'Doesn`t Matter') {
            e.token.value = '';
            e.token.label = token;
            //$('#job_roles-2-tokenfield').parent().find('[data-value!=""]').remove();
        }else{
            
            $('#job_roles-2-tokenfield').parent().find('[data-value=""]').remove()
            
        }
    
    })
    
      $('#job_roles-3').on('beforeCreateToken', function (e) {
        var token = e.token.value;
   

        if( token == 'Doesn`t Matter') {
            e.token.value = '';
            e.token.label = token;
            //$('#job_roles-3-tokenfield').parent().find('[data-value!=""]').remove();
        }else{
            
            $('#job_roles-3-tokenfield').parent().find('[data-value=""]').remove()
            
        }
    
    })
    
       $('#location-2').on('beforeCreateToken', function (e) {
        var token = e.token.value;
   

        if( token == 'Doesn`t Matter') {
            e.token.value = '';
            e.token.label = token;
           // $('#location-2-tokenfield').parent().find('[data-value!=""]').remove();
        }else{
            
            $('#location-2-tokenfield').parent().find('[data-value=""]').remove()
            
        }
    
    })
       $('#location').on('beforeCreateToken', function (e) {
        var token = e.token.value;
   

        if( token == 'Doesn`t Matter') {
            e.token.value = '';
            e.token.label = token;
            //$('#location-tokenfield').parent().find('[data-value!=""]').remove();
        }else{
            
            $('#location-tokenfield').parent().find('[data-value=""]').remove()
            
        }
    
    })
    
</script>


<script>

    $(function() {

        var availableTags = [
<?= $strjobroles ?>
              ];
    

   $('#skills-1').tokenfield({
  autocomplete: {
    source: ['Doesn`t Matter',<?= $strjobroles ?>]
    
  }
  
});

    $('#skills-1').on('beforeCreateToken', function (e) {
        var token = e.token.value;
   

        if( token == 'Doesn`t Matter') {
       
            e.token.value = '';
            e.token.label = token;
        
        }else{
            
            $('#skills-1-tokenfield').parent().find('[data-value=""]').remove();
            
        }
    
    });


    
              $( "#skills" ).autocomplete({
                  source: availableTags
              });
    
              $( "#skills-2" ).autocomplete({
                  source: availableTags
              });
              
              
                  var availableTags = [
<?= $stragents ?>
              ];
    
              
              
              $( "#agentname" ).autocomplete({
                  source: availableTags
              });
              
              
    
          });

</script>

<style>

.ui-menu .ui-menu-item a {
font:normal 12px/30px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif;
}
</style>
