<?
$strjobroles = '';
$jobroles = $this->jobroles;
foreach ($jobroles as $l) {
    $strjobroles.="'" . addslashes($l['category']) . "',";
}
$strjobroles = trim($strjobroles, ',');



$locations = $this->locations;

$strLocation = '';
foreach ($locations as $l) {
    $strLocation.="'" . addslashes($l['nicename']) . "',";
}

$joblocations = $this->jobLocations;

$strJobLocation = '';
foreach ($joblocations as $l) {
    $strJobLocation.="'" . addslashes($l['city']) . "',";
}

$nationality = $this->nationality;

$strNationality = '';
foreach ($nationality as $l) {
    $strNationality.="'" . addslashes($l['nicename']) . "',";
}
$strNationality = trim($strNationality, ',');


$language = $this->language;



$strLanguage = '';
foreach ($language as $l) {

    $strLanguage.="'" . addslashes($l['language']) . "',";
}


$category = $this->category;

$strCategory = '';
foreach ($category as $l) {
    $strCategory.="'" . addslashes($l['category']) . "',";
}
$strCategory = trim($strCategory, ',');


?>


<style type="text/css">

    /* ================================================================ 
    This copyright notice must be untouched at all times.
    
    The original version of this stylesheet and the associated (x)html
    is available at http://www.cssplay.co.uk/menu/cssplay-tabbed-pages.html
    Copyright (coffee) Stu Nicholls. All rights reserved.
    This stylesheet and the associated (x)html may be modified in any 
    way to fit your requirements.
    =================================================================== */

    table {
        border-collapse: seprate;
        border-spacing: 3px;
        padding:1px;
		font:normal 12px/30px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif;

    }
    .hiddenTarget {display:none; position:fixed;}
    .tabbedPages {position:relative; margin:50px 0;}
    ul.tabs {padding:0; margin:0; list-style:none; float:left; position:relative; z-index:100;font-size:12px;}
    ul.tabs li {float:left; margin-right:2px;font-size:12px;}
    ul.tabs li a {display:block; font:normal 12px/30px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif; border:1px solid #aaa; border-radius:5px 5px 0 0; background:#87a93e; padding:0 20px; 

                  text-decoration:none; color:#fff;
                 background:url(../images/refine-searchbh.jpg) left top repeat-x;
    }

    .tabcontent {float:left; width:847px; padding:20px; border:1px solid #aaa; border-radius:0 5px 5px 5px; background:#fff; position:relative; z-index:10; 

                 display:none; clear:left; top:-1px;
                 box-shadow:0 15px 10px -15px rgba(0,0,0,0.4);
    }
    .tabcontent p {padding:0 0 5px 0; margin:0; font:normal 12px/20px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif; color:#333;}
    .tabcontent h4 {padding:0 0 10px 0; margin:0; font:bold 12px/25px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif; color:#000;}
    .tabcontent img {border:1px solid #444; display:block; float:left; margin:0 20px 0 0; box-shadow:0 15px 10px -15px rgba(0,0,0,0.4);}

    /* change the tab to selected style */
    ul.tabs li a.default,
    #tab1:target ~ .tabbedPages .tabs li a.default,
    #tab2:target ~ .tabbedPages .tabs li a.tab2,
    #tab3:target ~ .tabbedPages .tabs li a.tab3,
    #tab4:target ~ .tabbedPages .tabs li a.tab4,
    #tab5:target ~ .tabbedPages .tabs li a.tab5,
    #tab6:target ~ .tabbedPages .tabs li a.tab6 {background:#fff;background-color:#fff; border-bottom:1px solid #fff; color:#000;}

    /* show the tab content */
    div.default,
    #tab1:target ~ .tabbedPages div.default,
    #tab2:target ~ .tabbedPages div#view2,
    #tab3:target ~ .tabbedPages div#view3,
    #tab4:target ~ .tabbedPages div#view4,
    #tab5:target ~ .tabbedPages div#view5,
    #tab6:target ~ .tabbedPages div#view6 {display:block;}

    /* reset the unclicked tabs to default */
    #tab2:target ~ .tabbedPages .tabs li a.default,
    #tab3:target ~ .tabbedPages .tabs li a.default,
    #tab4:target ~ .tabbedPages .tabs li a.default,
    #tab5:target ~ .tabbedPages .tabs li a.default,
    #tab6:target ~ .tabbedPages .tabs li a.default {background:url(../images/refine-searchbh.jpg) left top repeat-x; border:1px solid #888; color:#fff;}

    /* hide the default tab when selecting other tabs*/
    #tab2:target ~ .tabbedPages div.default,
    #tab3:target ~ .tabbedPages div.default,
    #tab4:target ~ .tabbedPages div.default,
    #tab5:target ~ .tabbedPages div.default,
    #tab6:target ~ .tabbedPages div.default {display:none;}

    .clear {clear:left;}

    input, select {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #888888;
        border-radius: 7px 7px 7px 7px;
        color: #222222;
        margin: 0 5px 0 0;
        padding: 3px 4px;
    }
</style>



   <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">    
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
    <link href="<?=WEBSITE?>css/bootstrap-tokenfield.css" type="text/css" rel="stylesheet">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>


<aside class="middle-panel clearfix" style="padding-left:20%;">
    <!-- Latest Candidates -->
    <div class="latest-candidates" style="width:auto;">
        

        <b id="tab1" class="hiddenTarget"></b>
        <b id="tab2" class="hiddenTarget"></b>
        <b id="tab3" class="hiddenTarget"></b>
        <b id="tab4" class="hiddenTarget"></b>
        <b id="tab5" class="hiddenTarget"></b>
        <b id="tab6" class="hiddenTarget"></b>
        <div class="tabbedPages">
            <ul class="tabs">
                <li><a href="#tab1" class="default tab1 tabpages">Basic Search</a></li>
                <li><a href="#tab2" class="tab2 tabpages">Advance Search</a></li>
                <li><a href="#tab3" class="tab3 tabpages">Jobs by Role</a></li>
                <li><a href="#tab4" class="tab4 tabpages">Jobs by Category</a></li>
                <li><a href="#tab5" class="tab5 tabpages">Jobs by Company</a></li>
                <li><a href="#tab6" class="tab6 tabpages">Jobs by Location</a></li>
            </ul>
            <div id="view1" class="tabcontent default">
                <form method="get" action="jobsearchbypostdata" name="form1">
                    <table align="center"  width="100%" style=" border-collapse: separate; border-spacing: 4px;">

                        
                        <tr><td width="20%">Job Posted By :</td><td> 
                                <input type="radio" name="postedby" value="" checked>Doesn`t Matter &nbsp
                                <input type="radio" name="postedby" value="Self">Employer &nbsp
                                <input type="radio" name="postedby" value="agent">Agency &nbsp

                            </td></tr>
                        <tr><td width="20%" style="vertical-align:top;">Job Position
                                :</td><td> 
                                <input type="text" class="form-control" id="skills-1" name="skills" value="">
								
								Please use comma for multiple Job position e.g.&nbsp;&nbsp;<img src="images/srex.png" style="border:0px;float:right;padding-top:5px;"></td></tr>
		
                        
                            <tr><td width="20%">Jobs by Location :</td><td>
                               <input type="text" class="form-control" id="location-1" name="location" value="" placeholder="" />                            
                            </tr>
          
                            <tr><td width="20%">Job Type :</td><td>
                              <input type="text" class="form-control" id="job_type-1" name="jobtype" value="" placeholder="" />                            
                                

                            </td></tr>
                        
                        
                        <tr><td style="height:50px;">&nbsp;</td><td>
						<input type="submit" class="search-navsm" name="submit1" value="Search">
						
						</td></tr>
                    </table>
                </form>

            </div>
            <div id="view2" class="tabcontent">
                <form method="get" action="jobsearchbypostdata"  name="form2">
                    <table align="center"  width="100%" style=" border-collapse: separate; border-spacing: 4px;" >
                        
                                <tr><td width="20%">Job Posted By :</td><td> 
                                <input type="radio" name="postedby" value="" checked>Doesn`t Matter &nbsp
                                <input type="radio" name="postedby" value="Self">Employer &nbsp
                                <input type="radio" name="postedby" value="agent">Agency &nbsp

                            </td></tr>
                        <tr><td width="20%" style="vertical-align:top;">Job Position :</td><td> 
                                <input type="text" class="form-control" id="skills-2" name="skills" value="">
								Please use comma for multiple Job position e.g.&nbsp;&nbsp;<img src="images/srex.png" style="border:0px;float:right;padding-top:5px;"></td></tr>
		
                        
                          <tr><td width="20%" style="line-height:14px;">Preferred Candidate &nbsp;&nbsp;Gender :</td><td> 
                                <input type="radio" name="gender" value="" checked>Doesn`t Matter &nbsp
                                <input type="radio" name="gender" value="male">Male &nbsp
                                <input type="radio" name="gender" value="female">Female &nbsp</td></tr>
                          
                          <tr><td width="20%"  style="line-height:14px;">Preferred Candidate Nationality :</td><td> 
                                <input type="text" class="form-control" id="nationality" name="nationality" value="" placeholder="" />    
                            </td></tr>
          
                            <tr><td width="20%">Job Type :</td><td>
                               <input type="text" class="form-control" id="job_type-2" name="jobtype" value="" placeholder="" />                            
                                

                            </td></tr>   
                        

                        <tr><td>Salary :</td><td>
                                
                                <input type="text" class="form-control" id="salary-2" name="salary" value="" placeholder="" />
                                     
                            
                            </td></tr>
                        
                        <tr><td>Experience :</td><td>
                                        <input type="text" class="form-control" id="experience" name="experience" value="" placeholder="" />

                            </td></tr>
                                                                    
                        <tr><td  style="line-height:14px;">Preferred Candidate Can Speak :</td><td><input type="text" value="" id="language" class="select margin-topZ" name="language" autocomplete="off" class="as-input"></td></tr>
                         
                         <tr><td style="height:50px;">&nbsp;</td><td><input type="submit" class="search-navsm" name="submit2" value="Search"></td></tr>
                    </table>
                </form>

            </div>
            <div id="view3" class="tabcontent">
                <form method="get" action="jobsearchbypostdata"  name="form3">
                    <table align="center"  width="100%" style=" border-collapse: separate; border-spacing: 4px;">
                        <tr><td width="20%">Job Role :</td><td>    

                           <input type="text" class="form-control" id="job_roles" name="job_roles" value="" placeholder="" /> 
                            </td></tr>
                      
                        <tr><td style="height:50px;">&nbsp;</td><td><input type="submit" class="search-navsm" name="submit3" value="Search"></td></tr>


                    </table>
            </div>
            <div id="view4" class="tabcontent">
                <form method="get" action="jobsearchbypostdata"  name="form4">
                    <table align="center"  width="100%" style=" border-collapse: separate; border-spacing: 4px;">
                        <tr><td width="20%">Search by Category :</td><td>  
                                <select name="category" class="select margin-topZ">
                                    <option value="">Select category</option>
                                    <? foreach ($this->category as $category) { ?>
                                     <option value="<?=$category['category']?>"><?=$category['category']?></option>
                                      
                                    <? } ?>

                                </select>

                            </td></tr>
                       
                        <tr><td style="height:50px;">&nbsp;</td><td><input type="submit" class="search-navsm" name="submit4" value="Search"></td></tr>
                    </table>
                </form>
            </div>
            <div id="view5" class="tabcontent" class="search-jobsm clearfix">
                <form method="get" action="jobsearchbypostdata"  name="form5">
                    <table align="center"  width="100%" style=" border-collapse: separate; border-spacing: 4px;">
                        <tr><td width="20%">Jobs by Company :</td><td>
                 
                                <select name="employer_id" class="select margin-topZ"  >
                                    <option value="">Select Company</option>
                                    <? foreach ($this->company as $company) { ?>
									<?if($company['company_name']=='')continue;?>
                                         <option value="<?=$company['user_id']?>"><?=$company['company_name']?></option>
                                    <? } ?>

                                </select>

                            </td></tr>
                        
                        <tr><td style="height:50px;">&nbsp;</td><td><input type="submit" class="search-navsm" name="submit5" value="Search"></td></tr>

                </table>
                                    </form>

            </div>
            <div id="view6" class="tabcontent" >
                <form method="get" action="jobsearchbypostdata"  name="form6">
                          <table align="center"  width="100%" style=" border-collapse: separate; border-spacing: 4px;" >
                        <tr><td width="20%">Jobs by Location :</td><td>
                               <input type="text" class="form-control" id="location-2" name="location" value="" placeholder="" />                            
                                

                            </td></tr>
                        <tr><td style="height:50px;">&nbsp;</td><td><input type="submit" class="search-navsm" name="submit5" value="Search"></td></tr>

                </table>
                </form>
            </div>
        </div>
        <br class="clear">

    </div>
    <!-- Latest Candidates End -->

</aside>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="<?=WEBSITE?>js/bootstrap-tokenfield.js" charset="UTF-8"></script>   
    <script type="text/javascript" src="<?=WEBSITE?>js/scrollspy.js" charset="UTF-8"></script>   
    <script type="text/javascript" src="<?=WEBSITE?>js/affix.js" charset="UTF-8"></script>   
    <script type="text/javascript" src="<?=WEBSITE?>js/docs.min.js" charset="UTF-8"></script>  
<script>
    
    
        $('#skills-1').tokenfield({
  autocomplete: {
    source: ['Doesn`t Matter',<?= $strjobroles ?>]
    
  }
  
});

    $('#skills-1').on('beforeCreateToken', function (e) {
        var token = e.token.value;
   

        if( token == 'Doesn`t Matter') {
       
            e.token.value = '';
            e.token.label = token;
        
        }else{
            
            $('#skills-1-tokenfield').parent().find('[data-value=""]').remove();
            
        }
    
    });


    $('#nationality').tokenfield({
        autocomplete: {
            source: ['Doesn`t Matter',<?= $strNationality ?>],
            delay: 100
        },
        showAutocompleteOnFocus: true,
        allowDuplicates: false
    });

    $('#nationality').on('beforeCreateToken', function (e) {
        var token = e.token.value;
   

        if( token == 'Doesn`t Matter') {
       
            e.token.value = '';
            e.token.label = token;
        
        }else{
            
            $('#nationality-tokenfield').parent().find('[data-value=""]').remove();
            
        }
    
    });


    $('#skills-2').tokenfield({
  autocomplete: {
    source: ['Doesn`t Matter',<?= $strCategory ?>,<?= $strjobroles ?>],
    delay: 100
  },
  showAutocompleteOnFocus: true,
  allowDuplicates: false
});


    $('#skills-2').on('beforeCreateToken', function (e) {
        var token = e.token.value;
   

        if( token == 'Doesn`t Matter') {
       
            e.token.value = '';
            e.token.label = token;
        
        }else{
            
            $('#skills-2-tokenfield').parent().find('[data-value=""]').remove();
            
        }
    
    });






    $('#job_type-1').tokenfield({
  autocomplete: {
    source: ['Doesn`t Matter','Live In','Full Time','Part Time','Contract'],
    delay: 100
  },
  showAutocompleteOnFocus: true,
  allowDuplicates: false
});

    $('#job_type-1').on('beforeCreateToken', function (e) {
        var token = e.token.value;
   

        if( token == 'Doesn`t Matter') {
       
            e.token.value = '';
            e.token.label = token;
        
        }else{
            
            $('#job_type-1-tokenfield').parent().find('[data-value=""]').remove();
            
        }
    
    });


    $('#job_type-2').tokenfield({
  autocomplete: {
    source: ['Doesn`t Matter','Live In','Full Time','Part Time','Contract'],
    delay: 100
  },
  showAutocompleteOnFocus: true,
  allowDuplicates: false
});
         $('#job_type-2').on('beforeCreateToken', function (e) {
        var token = e.token.value;
   

        if( token == 'Doesn`t Matter') {
       
            e.token.value = '';
            e.token.label = token;
        
        }else{
            
            $('#job_type-2-tokenfield').parent().find('[data-value=""]').remove();
            
        }
    
    });
    
    
    
    $('#religion').tokenfield({
  autocomplete: {
    source: ['Doesn`t Matter','Hindu','Muslim','Christian','Sikh','Parsi','Jain','Buddhist','Jewish','No Religion'],
    delay: 100
  },
  showAutocompleteOnFocus: true,
  allowDuplicates: false
});

$('#job_roles').tokenfield({
        autocomplete: {
            source: ['Doesn`t Matter',<?= $strjobroles ?>],
            delay: 100
        },
        showAutocompleteOnFocus: true,
        allowDuplicates: false
    });  

    $('#religion').on('beforeCreateToken', function (e) {
        var token = e.token.value;
   

        if( token == 'Doesn`t Matter') {
       
            e.token.value = '';
            e.token.label = token;
        
        }else{
            
            $('#religion-tokenfield').parent().find('[data-value=""]').remove();
            
        }
    
    });


    $('#religion-2').tokenfield({
  autocomplete: {
    source: ['Hindu','Muslim','Christian','Sikh','Parsi','Jain','Buddhist','Jewish','No Religion'],
    delay: 100
  },
  showAutocompleteOnFocus: true,
  allowDuplicates: false
});

    $('#salary').tokenfield({
  autocomplete: {
    source: ['0-500 AED','500-1000 AED','1000-1500 AED','1500-2000 AED','2000-2500 AED','2500-3000 AED','3000-3500 AED','3500-4000 AED','4000-4500 AED','5000-10000 AED','10000+ AED'],
    delay: 100
  },
  showAutocompleteOnFocus: true,
  allowDuplicates: false
});

   $('#salary-2').tokenfield({
  autocomplete: {
    source: ['0-500 AED','500-1000 AED','1000-1500 AED','1500-2000 AED','2000-2500 AED','2500-3000 AED','3000-3500 AED','3500-4000 AED','4000-4500 AED','5000-10000 AED','10000+ AED'],
    delay: 100
  },
  showAutocompleteOnFocus: true,
  allowDuplicates: false
});


  $('#experience').tokenfield({
  autocomplete: {
    source: ['Doesn`t Matter','Fresher','0-1 year','1-2 year','2-3 year','3-5 year','5-10 year','10+ years'],
    delay: 100
  },
  showAutocompleteOnFocus: true,
  allowDuplicates: false
});

$('#location-1').tokenfield({
        autocomplete: {
            source: ['Doesn`t Matter',<?= $strJobLocation ?>],
            delay: 100
        },
        showAutocompleteOnFocus: true,
        allowDuplicates: false
    }); 
    
    
    $('#location-2').tokenfield({
        autocomplete: {
            source: ['Doesn`t Matter',<?= $strLocation ?>],
            delay: 100
        },
        showAutocompleteOnFocus: true,
        allowDuplicates: false
    }); 
    
    
    $('#language').tokenfield({
        autocomplete: {
            source: ['Doesn`t Matter',<?= $strLanguage ?>],
            delay: 100
        },
        showAutocompleteOnFocus: true,
        allowDuplicates: false
    }); 
    
    </script>
<style>

.ui-menu .ui-menu-item a {
font:normal 12px/30px "Helvetica Neue",Helvetica,Arial,sans-serif,arial, sans-serif;
}
</style>