<!-- <div class=" float:right">Total <?=count($this->searchData) ?> Results found</div> -->
      <div class="clear"></div>
      
      <?if(!empty($this->searchData)){?>
      <?php 
      foreach($this->searchData as $val){

      ?>
      
      <!-- 17-10-2013 -->
      <div class="candidate-display"> 
        <!-- Video -->
        <div class="candidate-display-video">
          <video width="100%" height="196" controls>
            <source src="boss.mp4" type="video/mp4">
            <source src="boss.ogg" type="video/ogg">
            Your browser does not support the video tag. </video>
        </div>
        <!-- Video End --> 
        <!-- profile -->
        <div class="display-personal-rowins">
          <div class="personal-rows">
            <div class="heading">Name :</div>
            <div class="detailsm"><?=  ucfirst($val['fname'])." ".ucfirst($val['lname'])?></div>
          </div>
          <div class="personal-rows">
            <div class="heading">Age/Height :</div>
            <div class="detailsm">    <?php
                            
                            $age = date('Y') - date('Y', strtotime($val['dob']));
                            ?>
                            
                            
                            <?=$age?> / <?= $val['height'] ?></div>
          </div>
          <div class="personal-rows">
            <div class="heading">Interested in :</div>
            <div class="detailsm">   <?php

$intrestedin = explode(",",$val['role_id']);

$valueArr = array();
$value = array();
foreach($intrestedin as $vals){
    
    $valueArr = explode("-",$vals);
    
    $value[] = $valueArr[0];
    
}

$intested = implode(", ",$value);




$location = explode(",",$val['current_location']);

$valueArr = array();
$value = array();
foreach($location as $vals){
    
    $valueArr = explode("-",$vals);
    
    $value[] = $valueArr[0];
    
}

$location = implode(", ",$value);



?>



   <?= $intested ?></div>
          </div>
          <div class="personal-rows">
            <div class="heading">Nationality :</div>
            <div class="detailsm"><?=$val['nationality']?></div>
          </div>
          <div class="personal-rows">
            <div class="heading">Religion :</div>
            <div class="detailsm"><?=$val['religion']?></div>
          </div>
          <div class="personal-rows">
            <div class="heading">Location :</div>
            <div class="detailsm"><?=$val['current_location']?></div>
          </div>
          <div class="personal-rows">
            <div class="heading">Can Speak :</div>
            <div class="detailsm"><?=str_replace(',',', ',trim($val['language'],","));?></div>
          </div>
          <div class="personal-rows">
            <div class="heading">Experience :</div>
            <div class="detailsm"><?=$val['experience']?> Years</div>
          </div>
        </div>
        <div class="clear"></div>
        <!-- profile End -->
        <div class="profile-posted">Profile Posted By: <span><?if($val['addedby']==0){?>Self<?}else{?>Agency<?}?></span></div>
        <div class="all-button">
        
        <!--
          <button class="cand-dis-button express-interrest">Express Interest</button>
          <button class="cand-dis-button">Shortlist</button>
          <button class="cand-dis-button">Details</button>
        -->  
          
          
          
          		<?if($this->loggedIn == 0){?>
	  					  <a href="login"><button class="cand-dis-button express-interrest" style="width:230px;">Please Login to Express Interest</button></a>
	  					 <?}else{?>
	  					 
	  					 
	  		  <?if(isset($this->arrInterested) && (!in_array($val['user_id'],$this->arrInterested))){?>
	  			 <?if(isset($this->arrShortlisted) && (!in_array($val['user_id'],$this->arrShortlisted))){?>
	  			 <a href="candidateshortlist?id=<?= $val['user_id'] ?>"><button class="cand-dis-button">Shortlist</button></a><?}?>
	  		  
	  		  <a href="candidateinterest?id=<?= $val['user_id'] ?>&return_url=<?=$this->pageurl?>"><button class="cand-dis-button express-interrest">Express Interest</button>
	  		  <?}else{?>
	  		  <strong>Contact: <?=$val['mobile'] ?></strong>
	  		  <?}}?>
	  					 
	  					 
	                      <a href="viewprofile?id=<?= $val['user_id'] ?>"><button class="cand-dis-button">Details</button></a>
	                      
	                      
	                      
                    
          
          
          
        </div>
      </div>
      
      <? } ?>
      <? }else {?>
      
        <div class="candidate-display"> 
            Sorry, No Results Found.
      </div>
      
      
      <? } ?>
        
      </div>
      
      
      
<script>


var string = '<div style="margin-top:20px" class=" float:right">Total '+<?=$this->searchDataCount ?>+' Results found</div>';
$('.past-ad').html(string);

</script>
