<aside class="middle-panel clearfix" style="padding-left:130px;">
        <!-- Latest Candidates -->
        <div class="latest-candidates">
            <h2>Search By Agents</h2>
            <div class="follow-us">Follow Us <a href="#" class="facebook"></a> <a href="#" class="facebook twitter"></a></div>
            <div class="clear"></div>
            <table class="video-section" style="padding-left:40px;">
                	<tr>			
			
								
								
					<?$i=1;
					foreach($this->agents as $c){?>
					<td style="width:300px;height:30px;padding-left:16px;padding-bottom:10px;color: #175eaf;text-align:left;background:url(../images/left_arrow.png) left 10px no-repeat">
                                            <a href="<?=WEBSITE?>candidatesearch?agentname=<?=$c['agency_name']?>"><?=$c['agency_name']?></a></td>			
					
					<?
					if($i%4==0)
						echo"</tr><tr>";
					$i++;}?>

				            </tr></table>
        </div>
        <!-- Latest Candidates End -->
      
    </aside>