<!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />-->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script>
    $(function() {
        $( "#tabs" ).tabs({
            beforeLoad: function( event, ui ) {
                ui.jqXHR.error(function() {
                    ui.panel.html(
                    "Couldn't load this tab. We'll try to fix this as soon as possible. " +
                        "If this wouldn't be a demo." );
                });
            }
        });
    });
</script>
<form id="basicsearchForm" method="post" >
    <!-- Latest Candidates -->
    <div class="latest-candidates">
        <h2>Candidate Search</h2>
        <!--        <div class="follow-us">Follow Us <a href="#" class="facebook"></a> <a href="#" class="facebook twitter"></a></div>-->
        <div class="clear"></div>
        <div class="condidate-form">
            <div class="form-row bd-none">
                
                <div class="form-inside-row"><?php echo $this->form->agency_name ?>&nbsp;&nbsp;<span id="fname_warning" style="color:red"></span> </div>


                <div id="tabs">
                    <ul>
                        <li><a href="fetchbasicsearch">Basic Search</a></li>
                        <li><a href="fetchadvancesearch">Advance Search</a></li>
                        <li><a href="fetchwhoisonline">Who is online</a></li>
                        <li><a href="fetchspecialcases">Special Cases</a></li>
                    </ul>
                    <div id="tabs-1">
                        <p>Error In Data</p>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>
<!-- Latest Candidates End -->

</form>



<script>

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
        return pattern.test(emailAddress);
    };

    $(document).ready(function(){
                
        $( "#employer_type" ).change(function() {
            if($( "#employer_type" ).val() == '1')    
                $("#secondRow").attr("style","display:''");
            else
                $("#secondRow").attr("style","display:none");
        });
 	
        $("#fname").validate({
            expression: "if (VAL) return true; else return false;",
            message: "Please enter the First name."
        });
	
        $("#username").validate({
            expression: "if (VAL.length > 5 && VAL) return true; else return false;",
            message: "Username should be atleast 5 characters."
        });
	
	
        $("#password").validate({
            expression: "if (VAL.length > 5 && VAL) return true; else return false;",
            message: "Please enter a valid Password"
        });
				
        $("#repassword").validate({
            expression: "if ((VAL == jQuery('#password').val()) && VAL) return true; else return false;",
            message: "Confirm password field doesn't match the password field"
        });
        
        
        $("#email").validate({
            expression: "if( VAL && isValidEmailAddress( VAL ) ) return true; else return false;",
            message: "Please enter a valid email address."
        });
        
        $("#country").validate({
            expression: "if (VAL != 0) return true; else return false;",
            message: "Please select the Country."
        });
        
        $("#mobile").validate({
            expression: "if (VAL) return true; else return false;",
            message: "Please enter the Mobile."
        });
        
        $("#employer_type").validate({
            expression: "if (VAL != 0) return true; else return false;",
            message: "Please select the Employer Type."
        });
      
        $("#company_name").validate({
            expression: " if(jQuery('#employer_type').val() == 1) {if (VAL) return true; else return false;}else{ return true;};",
            message: "Please enter the Company name."
        });
        
        $("#industry_type").validate({
            expression: " if(jQuery('#employer_type').val() == 1) {if (VAL) return true; else return false;}else{ return true;};",
            message: "Please select the Industry Type."
        });
        
                		
        jQuery("#terms").validate({
            expression: "if (isChecked(SelfID)) return true; else return false;",
            message: "Please accept terms to continue."
        });
	


    });	


</script>

<style>

    #signupForm label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
        color: red;
        font-style: italic;
    }

    .errors {
        margin-left: 11px;
        width: auto;
        color: red;
        font-style: italic;
        font-size: 11px;
        display: inline-block;
    }

</style>
