<style>
    body {
        font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
        color:#333;
    }
    ul.pagination {
        font-family: "Arial", "Helvetica", sans-serif;
        font-size: 13px;
        height: 100%;
        list-style-type: none;
        margin: 20px 0;
        padding: 0;
    }
    ul.pagination li.details {
        background-color: white;
        border-color: #C8D5E0;
        border-image: none;
        border-style: solid;
        border-width: 1px 1px 2px;
        color: #1E598E;
        font-weight: bold;
        padding: 8px 10px;
        text-decoration: none;
    }
    ul.pagination li.dot {
        padding: 3px 0;
    }
    ul.pagination li {
        float: left;
        list-style-type: none;
        margin: 0 3px 0 0;
    }
    ul.pagination li:first-child {
        margin-left: 0;
    }
    ul.pagination li a {
        color: black;
        display: block;
        padding: 7px 10px;
        text-decoration: none;
    }
    ul.pagination li a img {
        border: medium none;
    }
    ul.pagination li a.current {
        background-color: white;
        border-radius: 0 0 0 0;
        color: #333333;
    }
    ul.pagination li a.current:hover {
        background-color: white;
    }
    ul.pagination li a:hover {
        background-color: #C8D5E0;
    }
    ul.pagination li a {
        background-color: #F6F6F6;
        border-color: #C8D5E0;
        border-image: none;
        border-style: solid;
        border-width: 1px 1px 2px;
        color: #1E598E;
        display: block;
        font-weight: bold;
        padding: 8px 10px;
        text-decoration: none;
    }
    .article {
        border: 1px solid #EEEEEE;
        border-radius: 4px 4px 4px 4px;
        margin-bottom: 10px;
        max-width: 600px;
        padding: 5px;
        line-height:18px;
    }
    .title {
        font-weight:bold;
        margin-bottom:5px;
    }

</style>
<!-- Latest Job Post End --> 
<form method="get" action="candidatesearch">
    <!-- Latest Candidates -->
    <div class="latest-candidates">
            <div class="search-main-box" style="width:600px">
      <div class="search-jobsm clearfix">
       <div class="jos-smlh" style="font-size:13px;width:150px;">Search By Username:</div> 
        <input type="text" value="" name="username">
        
        <input type="submit" class="search-navsm" name="submit" value="Search">
            
      </div>
    </div>
    </div>
</form>
      
      
      <!-- 17-10-2013 End --> 
      
    </div>