	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'purchased')){?>
	
	<!-- Package details -->
    <div class="package-details"> 
    
	<div class="latest-candidates">
        <h2>Success</h2>        
        <div class="clear"></div>
		Thanks for purchasing. Your account has been updated.
      </div>
	  </div>
	
	<?}else{?>
	
	
	
	
	<!-- Package details -->
    <div class="package-details"> 
    
	<div class="latest-candidates">
    <h2 style="width:700px">Payment Methods</h2>

    <h3>Total Amount to be paid: <?=$this->price?> AED / <?=round(($this->price/3.67),2)?> USD</h3><br><br>
        
        <div class="clear"></div>
      </div>
      <!-- Feature -->
      <div class="feature-main" style="width:380px;border-right:3px solid grey;">
        <span class="all-point-head">Using Paypal (USD)<span>
        <div class="feature-inside">
<table align="center" width="100%">
<tr><td><img src="images/PayPallogo.png" > </td></tr>
<tr><td><br></td></tr>
<tr><td align="center">
	<form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
 <input type="hidden" name="cmd" value="_xclick">
 
 <input type="hidden" name="business" value="fastesthiring@gmail.com">
 
 <input type="hidden" name="item_name" value="Fastest Hiring Membership">
 <input type="hidden" name="item_number" value="1">
 <input type="hidden" name="amount" value="<?=round(($this->price/3.67),2)?>">
 <input type="hidden" name="no_shipping" value="0">
 <input type="hidden" name="no_note" value="1">
 <input type="hidden" name="currency_code" value="USD">
 <input type="hidden" name="lc" value="USD">
 
 <input type="hidden" name="notify_url" value="http://www.fastesthiring.com/myipn?package=<?=$this->package?>&price=<?=$this->price?>&jobs=<?=$this->job?>&bulksms=<?=$this->bulksms?>&featured=<?=$this->featured?>&candidateinterest=<?=$this->candidateinterest?>&candidateadd=<?=$this->candidateadd?>">
 
 <input type="hidden" name="return" value="http://www.fastesthiring.com/checkoutcomplete?package=<?=$this->package?>&price=<?=$this->price?>&jobs=<?=$this->job?>&bulksms=<?=$this->bulksms?>&featured=<?=$this->featured?>&candidateinterest=<?=$this->candidateinterest?>&featured_candidate=<?=$this->featured_candidate?>&candidateadd=<?=$this->candidateadd?>">
 <input type="hidden" name="cancel_return" value="http://www.fastesthiring.com/employerpackage">
 
 <input type="hidden" name="lc" value="US">
 
 
 <input type="hidden" name="bn" value="PP-BuyNowBF">
 <input type="image" src="https://www.paypal.com/en_AU/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
 <img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1">
</form>

</td></tr>
</table>
		
	
	
	
	

          <div class="clear"></div>
        </div>
        
      </div>
      <!-- Feature End --> 
      
      <!-- Quick Packages -->
      <div class="quick-packages">
        <span class="all-point-head">Using Bank Transfer<span>
           <div class="feature-inside">
                  <a href="packagebybankaccount?package=<?=$this->package?>&price=<?=$this->price?>&jobs=<?=$this->job?>&bulksms=<?=$this->bulksms?>&featured=<?=$this->featured?>&candidateinterest=<?=$this->candidateinterest?>&featured_candidate=<?=$this->featured_candidate?>&candidateadd=<?=$this->candidateadd?>"> <img src="images/BankTrasfer.png"></a>
          <div class="clear"></div>
        </div>
      <!-- Quick Packages End --> 
      <div class="clear"></div>
	  <div><a href="packagebybankaccount?package=<?=$this->package?>&price=<?=$this->price?>&jobs=<?=$this->job?>&bulksms=<?=$this->bulksms?>&featured=<?=$this->featured?>&candidateinterest=<?=$this->candidateinterest?>&featured_candidate=<?=$this->featured_candidate?>&candidateadd=<?=$this->candidateadd?>"><img src="https://www.paypal.com/en_AU/i/btn/btn_buynow_LG.gif" border="0" name="submit" style="margin-left: 200px;margin-top: 11px;" alt="PayPal - The safer, easier way to pay online."></a>
	  </div>
      
    </div>
    <!-- Package details End --> 
	
	
<?}?>