<style>

.note-bar{
	display:none;
	overflow: hidden;
	background: #64C568;
	height: 38px;
	border-bottom: 4px solid #fff;
}

.note-bar p {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	line-height: 36px;
	margin: 0 0 0 10px;
	padding: 0;
	text-shadow: none;
}

.close{
	margin: 8px 10px 0 0;
	float: right;
}

.open-button {
	padding-top: 7px;
	width: 30px;
	background: rgba(255, 88, 61, 0.4);
	border: 4px solid #fff;
	border-top: 0px;
	position: fixed;
	top: 0;
	right: 20px;
	display: none;	
}
</style>
<script>
		$(document).ready(function(){			 
	
			$(".note-bar").slideDown(300);	
			
			$("#showbar").click(function(){				
				$(".open-button").slideUp(300, function(){
					$(".note-bar").slideDown(300);
				});

				return false;
			});
		
			$("#hidebar").click(function(){
			
				$(".note-bar").slideUp(300, function(){
					$(".open-button").slideDown(300);
				});
			
				return false;
			});		
		});

	</script>
	
	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'error')){?>
	<!-- notification bar -->
	<div class="note-bar" style="background:red">
		<p>Sorry. Your current password is incorrect.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>

<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'success')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>Your password has been changed successfully.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}else{?>

<form id="employeeregistrationForm" method="post" >
    <!-- Latest Candidates -->
    <div class="latest-candidates">
        <h2>Change Password</h2>
        <!-- <div class="follow-us">Follow Us <a href="#" class="facebook"></a> <a href="#" class="facebook twitter"></a></div> -->
        <div class="clear"></div>
        <div class="condidate-form">
            <div class="form-row bd-none">

                <h1></h1>
			
			<div class="form-inside-row"><label>*Your Old Password:</label> <input type=password name="oldpassword" id="oldpassword"></div>
			<div class="form-inside-row"><label>*New Password:</label><input type=password name="newpassword" id="newpassword"></div>
			<div class="form-inside-row"><label>*Re-enter New Password:</label><input type=password name="renewpassword" id="renewpassword"></div>


            <div class="form-row bd-none">
                <div class="form-inside-row"><label>&nbsp;</label> 
                    <div class="submit-taexA">
                       
                        <button class="submit-nav" type="submit">Submit</button>
                    </div></div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- Latest Candidates End -->

</form>

<?}?>

<script>
   
 	
        $("#oldpassword").validate({
            expression: "if (VAL) return true; else return false;",
            message: "Please enter your current password."
        });
	
       $("#newpassword").validate({
            expression: "if (VAL) return true; else return false;",
            message: "Please enter the new password."
        });
	
		$("#renewpassword").validate({
            expression: "if (VAL) return true; else return false;",
            message: "Please re-enter the new password."
        });
	
		$("#renewpassword").validate({
            expression: "if (VAL == jQuery('#newpassword').val()) return true; else return false;",
            message: "Your password do not match."
        });


    		
</script>

<style>

    #signupForm label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
        color: red;
        font-style: italic;
    }

    .errors {
        margin-left: 11px;
        width: auto;
        color: red;
        font-style: italic;
        font-size: 11px;
        display: inline-block;
    }

</style>
