	

<form id="employeeregistrationForm" method="post" >
    <!-- Latest Candidates -->
    <div class="latest-candidates">
        <h2>Employer Registration</h2>
        
        <div class="clear"></div>
        <div class="condidate-form">
            <div class="form-row bd-none">

                <h1>Get Started With Fastest Hiring</h1>
               
                <div class="form-inside-row"><?php echo $this->form->fname ?>&nbsp;&nbsp;<span id="fname_warning" style="color:red"></span> </div>
                <div class="form-inside-row"><?php echo $this->form->lname ?></div>
                <div class="form-inside-row"> <?php echo $this->form->username ?></div>
                <div class="form-inside-row"><?php echo $this->form->password ?></div>
                <div class="form-inside-row"><?php echo $this->form->repassword ?></div>
                <div class="form-inside-row"><?php echo $this->form->email ?></div>
                  <div class="form-inside-row"><label>*Country:</label> 
		<div class="select-area">
		<?php echo $this->form->country ?>
		</div></div>

                <div class="form-inside-row"><label>*Mobile:</label> <div><input type=text id="mobilecode" name=mobile_code disabled style="width:30px;float:left"></div><div class="select-area" style="padding-left:10px;"><?php echo $this->form->mobile ?>
		<br><br><b>Please do not put 0 before the number.<br> Enter the number like - 501234567</b> </div></div>
                
                   <div class="form-inside-row"><?php echo $this->form->fax ?></div>
<div class="form-inside-row"><label>*Notification Method:</label> 
		<div class="select-area1">
		<input type=radio name=notification value="sms" checked>&nbsp;SMS&nbsp;&nbsp;&nbsp;&nbsp;
		<input type=radio name=notification value="email" >&nbsp;Email&nbsp;&nbsp;&nbsp;&nbsp;
		<input type=radio name=notification value="both" >&nbsp;Both
		</div></div>
                
                <div class="form-inside-row"><?php echo $this->form->employer_type ?></div>
                <div id="secondRow" style="display:none">


                    <div class="form-inside-row"><?php echo $this->form->company_name ?></div>
                    <div class="form-inside-row"><?php echo $this->form->industry_type ?></div>
                    <div class="form-inside-row"><?php echo $this->form->no_of_employee ?></div>
                    <div class="form-inside-row"><?php echo $this->form->url ?></div>
                    <div class="form-inside-row"><?php echo $this->form->company_profile ?>
					<table style="width:100%"><tr><td style="width:30%"><div id="charNum" align="right">3000</div></td><td align="left"> &nbsp;characters left.</td></tr></table>
					</div>
                    <div class="form-inside-row"><label>Phone:</label> <div><input type=text id="phonecode" name=phone_code disabled style="width:30px;float:left"></div><div class="select-area" style="padding-left:10px;"><?php echo $this->form->phone ?>
<br><br><br></div></div>
                 


                </div>

            </div>



            <div class="form-row bd-none">
                <div class="form-inside-row"><label>&nbsp;</label> 
                    <div class="submit-taexA">
                        <div class="offer-main" id="terms"><input type="checkbox" name="terms" id="terms" value="1">I have read and agree to Fastest Hiring's <a target=_new href="pagedetail?id=2">privacy statement</a> and <a target=_new href="pagedetail?id=3">terms of use</a></div>
                        <button class="submit-nav" type="submit">Submit</button>
                    </div></div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- Latest Candidates End -->

</form>



<script>
   function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
        return pattern.test(emailAddress);
    };


    $(document).ready(function(){
    $("#country-label").html("");
    $('textarea').attr('rows','8');
    $('textarea').attr('cols','40');
    
           $("#mobile-label").html("");
        $("#phone-label").html("");
    
        
        	$('#country').change(function(){
		var strVal = $('#country').val();
		
		var ArrStr = strVal.split("-");
		
		strVal = ArrStr[0];
		phonecode= ArrStr[1];
		
		$("#mobilecode").val(phonecode);
		$("#phonecode").val(phonecode);
			
		
	}		);
		
$("#username").on('blur',function(){

	if($('#username').val() !=''  && $('#username').val().length>5 && $('#username').val().length<=20){
		url = '<?=WEBSITE?>checkajaxregister?username='+$('#username').val();
	$("#username").after('<span id="usernameloading">&nbsp;&nbsp;Please wait...</span>');
    $.ajax({
        type: 'GET',
        url: url,
        cache: false,		
        success: function(data){
			$("#usernameloading").remove();
			$("#usernametick").remove();
            if(data==1)	{		
				$("#username").after('<span class="ValidationErrors"  id="usernameloading">Username "<b>'+$("#username").val()+'</b>" already exists.</span>');
				$("#username").val('');
				$("#username").addClass("ErrorField");
            }
			else
				$("#username").after('<span id="usernametick">&nbsp;&nbsp;<img src="images/tick.png" width=20 height=20></span>');
        }
    });	
	}
});	
function isValidEmailAddress(emailAddress) {
    var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
    return pattern.test(emailAddress);
};

$("#email").on('blur',function(){

	if($('#email').val() !='' && isValidEmailAddress($('#email').val())){
		url = '<?=WEBSITE?>checkajaxregister?email='+$('#email').val();
	$("#email").after('<span id="emailloading">&nbsp;&nbsp;Please wait...</span>');
    $.ajax({
        type: 'GET',
        url: url,
        cache: false,		
        success: function(data){
			$("#emailloading").remove();
			$("#emailtick").remove();
            if(data==1)	{		
				$("#email").after('<span class="ValidationErrors"  id="emailloading">Email "<b>'+$("#email").val()+'</b>" already exists.</span>');
				$("#email").val('');
				$("#email").addClass("ErrorField");
            }
			else
				$("#email").after('<span id="emailtick">&nbsp;&nbsp;<img src="images/tick.png" width=20 height=20></span>');
        }
    });	
	}
});	
	
	
$("#mobile").on('blur',function(){
if($('#mobile').val() !='' && $('#mobile').val().length>7){
	mobile = $("#mobilecode").val()+" - "+$("#mobile").val()
	url = '<?=WEBSITE?>checkajaxregister?mobile='+mobile;
	$("#mobile").after('<span id="mobileloading">&nbsp;&nbsp;Please wait...</span>');
    $.ajax({
        type: 'GET',
        url: url,
        cache: false,		
        success: function(data){
		$("#mobileloading").remove();
		$("#mobiletick").remove();
            if(data==1)	{		
				$("#mobile").after('<span class="ValidationErrors" id="mobileloading">Mobile "<b>'+mobile+'</b>" already exists.</span>');
				$("#mobile").val('');
				$("#mobile").addClass("ErrorField");
            }
			else
			$("#mobile").after('<span id="mobiletick">&nbsp;&nbsp;<img src="images/tick.png" width=20 height=20><span>');
        }
    });	
	}
});	

		
            $( "#employer_type" ).change(function() {
            if($( "#employer_type" ).val() == '1')    
                 $("#secondRow").attr("style","display:''");
             else
                 $("#secondRow").attr("style","display:none");
        });
 	
        $("#fname").validate({
            expression: "if (VAL) return true; else return false;",
            message: "Please enter the First name."
        });
	
        $("#username").validate({
            expression: "if (VAL.length > 5 && VAL.length < 21 && VAL) return true; else return false;",
            message: "Username should be atleast 6 characters and maximum 20 characters."
        });
	
	
        $("#password").validate({
            expression: "if (VAL.length > 5 && VAL) return true; else return false;",
            message: "Please enter a valid Password.(min 6 chars)"
        });
				
        $("#repassword").validate({
            expression: "if ((VAL == jQuery('#password').val()) && VAL) return true; else return false;",
            message: "Confirm password field doesn't match the password field"
        });
        
        
        $("#email").validate({
             expression: "if( VAL && isValidEmailAddress( VAL ) ) return true; else return false;",
            message: "Please enter a valid email address."
        });
        
        $("#country").validate({
            expression: "if (VAL != 0) return true; else return false;",
            message: "Please select the Country."
        });
        
       jQuery("#mobile").validate({
                    expression: "if (!isNaN(VAL) && VAL && VAL>10000000) return true; else return false;",
                    message: "Please enter correct mobile."
                });
        
        $("#employer_type").validate({
            expression: "if (VAL != 0) return true; else return false;",
            message: "Please select the Employer Type."
        });
        
        $("#company_name").validate({
                expression: " if(jQuery('#employer_type').val() == 1) {if (VAL) return true; else return false;}else{ return true;};",
            message: "Please enter the Company name."
        });
		
		$("#no_of_employee").validate({
                expression: " if(jQuery('#no_of_employee').val() != '') {if (!isNaN(VAL) && VAL) return true; else return false;}else{ return true;};",
            message: "Please enter a valid number."
        });
        
        $("#industry_type").validate({
            expression: " if(jQuery('#employer_type').val() == 1) {if (VAL != 0) return true; else return false;}else{ return true;};",
            message: "Please select the Industry Type."
        });
                		
        jQuery("#terms").validate({
            expression: "if (isChecked(SelfID)) return true; else return false;",
            message: "Please accept terms to continue."
        });
	


    });	
			
</script>

<style>

    #signupForm label.error {
        margin-left: 10px;
        width: auto;
        display: inline;
        color: red;
        font-style: italic;
    }

    .errors {
        margin-left: 11px;
        width: auto;
        color: red;
        font-style: italic;
        font-size: 11px;
        display: inline-block;
    }

</style>

<script>
$( "#company_profile" ).keyup(function() {
  countChar(this);
});

(function($) {
	$.fn.extend( {
		limiter: function(limit, elem) {
			$(this).on("keyup focus", function() {
				setCount(this, elem);
			});
			function setCount(src, elem) {
			
				var chars = src.value.length;
				if (chars > limit) {
					src.value = src.value.substr(0, limit);
					chars = limit;
				}
				elem.html( limit - chars );
			}
			setCount($(this)[0], elem);
		}
	});
})(jQuery);

$(document).ready( function() {
	var elem = $("#chars");
	$("#company_profile").limiter(3000, elem);
});
function countChar(val) {
        var len = val.value.length;
        if (len >= 3001) {
          val.value = val.value.substring(0, 3000);
        } else {
          $('#charNum').text(3000 - len);
        }
      };
	  
	  
	  
	  
	  </script>
