<style>

.note-bar{
	display:none;
	overflow: hidden;
	background: #64C568;
	height: 38px;
	border-bottom: 4px solid #fff;
}

.note-bar p {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	line-height: 36px;
	margin: 0 0 0 10px;
	padding: 0;
	text-shadow: none;
}

.close{
	margin: 8px 10px 0 0;
	float: right;
}

.open-button {
	padding-top: 7px;
	width: 30px;
	background: rgba(255, 88, 61, 0.4);
	border: 4px solid #fff;
	border-top: 0px;
	position: fixed;
	top: 0;
	right: 20px;
	display: none;	
}
</style>
<script>
		$(document).ready(function(){			 
	
			$(".note-bar").slideDown(300);	
			
			$("#showbar").click(function(){				
				$(".open-button").slideUp(300, function(){
					$(".note-bar").slideDown(300);
				});

				return false;
			});
		
			$("#hidebar").click(function(){
			
				$(".note-bar").slideUp(300, function(){
					$(".open-button").slideDown(300);
				});
			
				return false;
			});		
		});

	</script>
	
	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'shortlisted')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>Thanks. You have shortlisted a candidate.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>
	
	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'shortlistederr')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>Thanks. You have already shortlisted this candidate.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>

	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'apply')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>You have successfully expressed interest on this candidate.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>

	
	
	    <!-- Latest Job Post End --> 
    
    <!-- Latest Candidates -->
    <div class="latest-candidates">
	
	
<!--  Video End -->
<div id="recently_joined"><div class="mid_box">
    <div class="mid_box_header" style="width:631px;">
        <p><?=$this->title?> <span class="recently_joined_count"> </span></p>
                
                <a href="javascript:void(0);" rel="http://www.shaadi.com/my-shaadi/index/recently-joined?page=0&amp;pg_searchresults_id=F%3D52b27486038fa95fc68f97642024fc67" onclick="" class="prv"></a>
          <a href="javascript:void(0);" rel="http://www.shaadi.com/my-shaadi/index/recently-joined?page=2&amp;pg_searchresults_id=F%3D52b27486038fa95fc68f97642024fc67" onclick="return recentlyJoinedPagination(this)" class="nxt_active"></a>            </div>
    <div id="recently_joined_profiles" class="pos_rel">
        <div id="recently_joined_gray_layout" class="none">
            <div class="loader_overlay"></div>
            <div class="loader_img"></div>
        </div>
<!--      <h2>Candidate Registration</h2>-->
<!--      <div class="follow-us">Follow Us <a href="#" class="facebook"></a> <a href="#" class="facebook twitter"></a></div>-->
<br>
      <div class="clear"></div>
      
      <?if(!empty($this->interestedcandidates)){?>
      <?php 
      foreach($this->interestedcandidates as $val){

       if($val['featured_candidate'] ==1)
	$class="class='candidate-display greenbox'";
else
		$class="class='candidate-display'";
?>

            <!-- 17-10-2013 -->
            <div <?=$class?>> 
			<?if($val['featured_candidate'] ==1){?><div class="royal-crown"><img src="images/crown_roy.png"></div> <?}?>
        
                <!-- Video -->
                <div class="candidate-display-video">
                    <iframe width="100%" height="196px" src="//www.youtube.com/embed/<?=$val['video_url']?>?version=1&rel=0" frameborder="0" allowfullscreen></iframe>
                

				</div>
                <!-- Video End --> 
                <!-- profile -->
                <div class="display-personal-rowins">
                    <div class="personal-rows">
                        <div class="heading">Name :</div>
                        <div class="detailsm"><?= ucfirst($val['fname']) . " " . ucfirst($val['lname']) ?></div>
                    </div>
                    <div class="personal-rows">
                        <div class="heading">Age/Height :</div>
                        <div class="detailsm">
                        
                        
                             <?php
                            
                            $age = date('Y') - date('Y', strtotime($val['dob']));
                            ?>
                            
                            
                            <?=$age?> / <?= $val['height'] ?></div>
                    </div>
                    <div class="personal-rows">
                        <div class="heading">Interested in :</div>
                        <div class="detailsm">   <?php

$intrestedin = explode(",",$val['role_id']);

$valueArr = array();
$value = array();
foreach($intrestedin as $vals){
    
    $valueArr = explode("-",$vals);
    
    $value[] = $valueArr[0];
    
}

$intested = implode(", ",$value);




$location = explode(",",$val['current_location']);

$valueArr = array();
$value = array();
foreach($location as $vals){
    
    $valueArr = explode("-",$vals);
    
    $value[] = $valueArr[0];
    
}

$location = implode(", ",$value);



?>



   <?= $intested ?></div>
                    </div>
                    <div class="personal-rows">
                        <div class="heading">Job Type:</div>
                        <div class="detailsm"><? if($val['job_type'] == "Any"){ ?>Doesn't Matter<?}else{?><?=$val['job_type']?><?}?></div>
                    </div> <div class="personal-rows">
                        <div class="heading">Nationality :</div>
                        <div class="detailsm"><?= $val['nationality'] ?></div>
                    </div>
                    <div class="personal-rows">
                        <div class="heading">Religion :</div>
                        <div class="detailsm"><?= $val['religion'] ?></div>
                    </div>
                    <div class="personal-rows">
                        <div class="heading">Location :</div>
                        <div class="detailsm"><?= $location ?></div>
                    </div>
                    <div class="personal-rows">
                        <div class="heading">Can Speak :</div>
                        <div class="detailsm"><?=str_replace(',',', ',trim($val['language'],","));?></div>
                    </div>
                    <div class="personal-rows">
                        <div class="heading">Experience :</div>
                        <div class="detailsm"><?= $val['experience'] ?> Years</div>
                    </div>
                </div>
                <div class="clear"></div>
		  
          <div class="detailsm" style="width:100%; float:left;"><img src="images/mobile_icon.png" width="24" height="24" style="margin-bottom:-5px;">&nbsp;&nbsp;<?=$val['mobile']?$val['mobile']:$val['agencymobile']?> <img  style="margin-bottom:-5px;" src="images/icon_email.png" width="24" height="24">&nbsp;&nbsp;<?=$val['email']?$val['email']:$val['agencyemail']?></div>

                <!-- profile End -->
                <div class="profile-posted">Profile Posted By: <span><?if($val['addedby']==0){?>Self<?}else{?>Agency<?}?></span>

                </div>
                <div class="all-button">

                    <a href="viewprofile?id=<?= $val['user_id'] ?>"><button class="cand-dis-button">Details</button></a>
                </div>
            </div>

        <? } ?>
    <? } else { ?>

        <div class="candidate-display"> 
            Sorry, No Results Found.
        </div>      
      <? } ?>
        
      </div>
      
      
      
      <!-- 17-10-2013 End --> 
      
    </div>
 <style>
 .greenbox{
 	border: 1px solid #86B035;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWVmYTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #daefa7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #daefa7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #daefa7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #daefa7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #daefa7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #daefa7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#daefa7', GradientType=0 ); /* IE6-8 */
	
 
 }
 
 </style>



<style>



.mid_box .view_all {
background: url(/imgs/my-shaadi-new/right-gray-arrow.png) no-repeat 52px center;
padding: 0 18px 0 5px;
font: normal 12px/36px arial;
display: inline-block;
}

.profile_compact_view {
margin: 0 10px;
padding: 9px 0 16px 0;
border-bottom: 1px solid #f0f0f0;
overflow: hidden;
}

.user_info {
float: left;
width: 375px;
}


.profile_compact_view p {
margin: 2px 0;
width: 375px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
height: 15px;
font: normal 12px/15px arial;
}


</style>