<?$auth = Zend_Auth::getInstance();

?>


<style>.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#f2da9b; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


.note-bar{
	display:none;
	overflow: hidden;
	background: #64C568;
	height: 38px;
	border-bottom: 4px solid #fff;
}

.note-bar p {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	line-height: 36px;
	margin: 0 0 0 10px;
	padding: 0;
	text-shadow: none;
}

.close{
	margin: 8px 10px 0 0;
	float: right;
}

.open-button {
	padding-top: 7px;
	width: 30px;
	background: rgba(255, 88, 61, 0.4);
	border: 4px solid #fff;
	border-top: 0px;
	position: fixed;
	top: 0;
	right: 20px;
	display: none;	
}
</style>
<script>
		$(document).ready(function(){			 
	
			$(".note-bar").slideDown(300);	
			
			$("#showbar").click(function(){				
				$(".open-button").slideUp(300, function(){
					$(".note-bar").slideDown(300);
				});

				return false;
			});
		
			$("#hidebar").click(function(){
			
				$(".note-bar").slideUp(300, function(){
					$(".open-button").slideDown(300);
				});
			
				return false;
			});		
		});

	</script>
	
	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'shortlisted')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>Thanks. You have shortlisted a job.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>
	
	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'shortlistederr')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>Thanks. You have already shortlisted this job.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>

	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'apply')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>You have successfully applied for a job.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>
<div class="latest-candidates">
<div id="recently_joined"><div class="mid_box1">
    <div class="mid_box_header" style="width:880px;">
        <p>My Subscriptions <span class="recently_joined_count"> </span></p>
	</div></div></div><br><br>
	
	
<div class="CSSTableGenerator" style="width:900px;height:100%;">
<table class="flexme1">
            
                <tr>
                    <td width="100" id='col1'>Order ID</td>
					 <td width="100">Package Type</td>
                    <?if($auth->getIdentity()->usertype != 0){?>
					<td width="100">Job Posts</td>
                    <td width="100">Featured Jobs</td>
                    <td width="100">Bulk SMS</td>
					<td width="100">Express Interest</td>
					<?}?>
					<?if($auth->getIdentity()->usertype == 0){?>
						<td width="100">Featured Candidates</td>
					<?}?>
					<?if($auth->getIdentity()->usertype == 3){?>
						<td width="100">Add Candidates</td>
					<?}?>
					
					<td width="100">Price</td>
					
					
					<td width="100">Date Purchased</td>
                </tr>
                
				<?foreach($this->myorders as $val){?>
				<tr>
                    <td>FASTOID<?=$val['order_id']?></td>
					<td><?=$val['package_name']?></td>
                    <?if($auth->getIdentity()->usertype != 0){?>
					<td><?=$val['job_post']?></td>
                    <td><?=$val['feature_job']?$val['feature_job']:0?></td>
                    <td><?=$val['bulk_sms']?$val['bulk_sms']:0?></td>
                    <td><?=$val['express_int']?></td>
					<?}?>
					<?if($auth->getIdentity()->usertype == 0){?><td>
					<?switch($val['featured_candidate'])
					{
					case 1:$value = '1 month Featured';break;
					case 2:$value = '2 months Featured';break;
					case 99:$value = '1 month Premium';break;
					case 100:$value = '2 months Premium';break;
					default:$value='';
					}?>
					<?=$value?></td><?}?>
                    <?if($auth->getIdentity()->usertype == 3){?>
					<td><?=$val['add_candidates']?$val['add_candidates']:0?></td>
					<?}?>
                    <td><?=$val['total_price']?></td>
                    <td><?=$val['date_modified']?></td>
                    
                </tr>
				<?}?>
            </tbody>
        </table>

		
        </div>

    </div>








<style>

.mid_box .view_all {
background: url(/imgs/my-shaadi-new/right-gray-arrow.png) no-repeat 52px center;
padding: 0 18px 0 5px;
font: normal 12px/36px arial;
display: inline-block;
}

.profile_compact_view {
margin: 0 10px;
padding: 9px 0 16px 0;
border-bottom: 1px solid #f0f0f0;
overflow: hidden;
}

.user_info {
float: left;
width: 375px;
}


.profile_compact_view p {
margin: 2px 0;
width: 375px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
height: 15px;
font: normal 12px/15px arial;
}


</style>
