	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'purchased')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>Thanks for purchasing. Your account has been updated.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>
	
	<!-- Package details -->
    <div class="package-details"> <div class="latest-candidates">
    <h2 style="width:700px;">Fastest Hiring bank account information :</h2>
        <!-- Feature -->
		</div>
		 <div class="clear"></div>
      <div class="feature-main1">
        <h4>FALAK INFORMATION SERVICES</h4>
        <div class="feature-inside">
		<!--Company Name:FALAK INFORMATION SERVICES<br>-->
	Bank:Mashreq<br>
	Account Number: 019100039598<br>
	IBAN:AE640330000019100039598<BR>
	Dubai,UAE<BR>	
	<br>
			<i>You will gain access to the selected plan once money is transfered to our bank account. Thank you.</i>
          <div class="clear"></div>
		  <img src="/images/bank-logo.jpg" width=600px height=100px>
        </div>
        
      </div>
      <!-- Feature End --> 
      
      
    </div>
    <!-- Package details End --> 
	
	
