<style>

.note-bar{
	display:none;
	overflow: hidden;
	background: #64C568;
	height: 38px;
	border-bottom: 4px solid #fff;
}

.note-bar p {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	line-height: 36px;
	margin: 0 0 0 10px;
	padding: 0;
	text-shadow: none;
}

.close{
	margin: 8px 10px 0 0;
	float: right;
}

.open-button {
	padding-top: 7px;
	width: 30px;
	background: rgba(255, 88, 61, 0.4);
	border: 4px solid #fff;
	border-top: 0px;
	position: fixed;
	top: 0;
	right: 20px;
	display: none;	
}
</style>
<script>
		$(document).ready(function(){			 
	
			$(".note-bar").slideDown(300);	
			
			$("#showbar").click(function(){				
				$(".open-button").slideUp(300, function(){
					$(".note-bar").slideDown(300);
				});

				return false;
			});
		
			$("#hidebar").click(function(){
			
				$(".note-bar").slideUp(300, function(){
					$(".open-button").slideDown(300);
				});
			
				return false;
			});		
		});

	</script>
	
	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'success')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>An email has been sent to the mentioned email address.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>

	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'error')){?>
	<!-- notification bar -->
	<div class="note-bar" style="background:red">
		<p>The email address is either empty or not correct.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>



<form id="recommend" method="post" >
    <!-- Latest Candidates -->
    <div class="latest-candidates">
        <h2>Recommend to your friend :</h2>
      
        <div class="clear"></div>
        <div class="condidate-form">
            <div class="form-row bd-none">

                <h1>Get share with friends</h1>

		<table width="100%" align="center" cellpadding=2 cellspacing=2 style="border-spacing:5px;border-collapse:separate;">
<tr><td>Email Id</td><td><input type="text" name="email" value="" style="width:294px;"></td></tr>

<tr><td></td><td  ><input type="submit" name="send" value="Send"></td></tr>

</table>

			

             </div>

        </div>

   </div>
   
    <!-- Latest Candidates End -->

</form>



<script>
   function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
        return pattern.test(emailAddress);
    };

</script>
