<?
$auth = Zend_Auth::getInstance();

?><script type="text/javascript" src="<?= WEBSITE ?>js/jquery.poshytip.js"></script>
<link rel="stylesheet" href="<?= WEBSITE ?>css/tip-green/tip-green.css" type="text/css" />

<?if($this->jobpostbalance <=0 || $auth->getIdentity()->status != 1){?>

<div class="latest-candidates" id="latest-candidates" style="min-height:100%">
    <h2>Post a Job</h2>

    <div class="clear"></div>
	Sorry. You have either unverified mobile or insufficient balance for job posting. 
	
</div>

<?}else{?>
<!-- Latest Candidates -->
<div class="latest-candidates" id="latest-candidates" style="min-height:100%">
    <h2>Post a Job</h2>

    <div class="clear"></div>
    <!-- 16-10-2013 -->
    <div class="add-jobs">
        <form id="msform" method=post >
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">
                    <div class="arrow-box enter-box"><span><b>Enter</b> </span> <span><b>Job Details</b></span></div>
                    <div class="glob-content">Job Details</div>
                </li>
                <li><div class="arrow-box"><span><b>Choose</b>  </span> <span><b> What you want</b></span></div><div class="glob-content center-text">Desired Candidates</div></li>
                <li><div class="arrow-box sms-box"><span class="sms-inside"><b>We will   </span> <span>SMS them your message</b> </span></div><div class="glob-content">SMS</div></li>
            </ul>
            <!-- fieldsets -->
            <fieldset style="display: block;  opacity: 1; transform: scale(1); ">
                <h2 class="fs-title">Job Details</h2>
                <div class="field-main-box"> <div class="form-inside-row">
                        <label>Title:<span>*</span></label>
                        <div class="select-area">
                            <input type="text" style="text-transform: uppercase" size="65" maxlength="57" id="title" name="title" label="title" title="Enter your Title. Max characters - 65" >
                        </div>
                    </div>
                    <div class="form-inside-row">
                        <label>Select Job Category:<span>*</span></label>
                        <div class="select-area">
                            <select class="select margin-topZ" id="category_id" name="category_id" title="Please choose a job category" label="job category" >
                                <option value='' >Select Category</option>
                                <? foreach ($this->category as $c) { ?>
                                    <option value='<?= $c['category'] . "####" . $c['id'] ?>' ><?= $c['category'] ?></option>
                                <? } ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-inside-row">
                        <label>Select Job Position:<span>*</span></label>
                        <div class="select-area">

                            <dd id="sub_category_id-element">
                                <select class="select margin-topZ" id="sub_category_id" name="sub_category_id[]" label="job position" title="Please select job positions" multiple>

                                </select></dd>
                        </div>
                    </div>
                    <div class="form-inside-row">
                        <label>Job Type:<span>*</span></label>
                        <div class="select-area">
                            <select class="select margin-topZ" id="job_type" name="job_type"  label="Job Type" title="Live in : for Candidates who will stay in your home e.g. maid<br>Full Time : 8-10 Hours job <br>Part time : 1-4 hours Job<br>Contract : Like full time but for a small duration like a month.">
                                <option value="">Select Job Type</option>
                                <option value="Full Time">Full Time</option>
                                <option value="Part Time">Part Time</option>
                                <option value="Live In">Live In</option>
                                <option value="Contract">Contract</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-inside-row">
                        <label>Job Location:<span>*</span></label>
                        <div class="select-area">
                            <table width="322px">
                                <tbody>
                                    <tr>
                                        <td height="35px"><b>Country:</b></td>

                                    </tr>
                                    <tr>

                                        <td><select class="select margin-topZ" id="location_id" name="location_id[]"  label="Job Location" title="Job Location" multiple>

                                                <? foreach ($this->country as $c) { ?>
                                                    <option value='<?= $c['country'] ?>' ><?= $c['country'] ?></option>
                                                <? } ?>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td height="35px"><b>City:</b></td>

                                    </tr>
                                    <tr>

                                        <td><dd id="city-element">
                                    <select class="select margin-topZ" id="city" name="city[]"  label="City" title="City" multiple>
                                        <option value="">Select City</option>
                                    </select></td></dd>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-inside-row">
                        <label>Street/Area of Job:</label>
                        <div class="select-area">
                            <input type="text" size="35" id="street"  name="street"  label="Street" title="Street">
                        </div>
                    </div>
                    <div class="form-inside-row">
                        <label>Job Industry:</label>
                        <div class="select-area">
                            <select class="select margin-topZ" id="industry" name="industry"  label="Job Industry" title="Job Industry - Optional">
                                <option value="">Select Job Industry</option>
                                <? foreach ($this->industry as $c) { ?>
                                    <option value='<?= $c['industry_name'] ?>####<?= $c['id'] ?>' ><?= $c['industry_name'] ?></option>
                                <? } ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-inside-row">
                        <label>Salary:<span>*</span></label>
                        <div class="select-area">
                            <select class="select margin-topZ" id="salary" name="salary"  label="Salary" title="Salary">
                                <option label="Select Salary" value="">Select Salary</option>
                                <option label="0-500 AED" value="0-500 AED">0-500 AED</option>
                                <option label="500-1000 AED" value="500-1000 AED">500-1000 AED</option>
                                <option label="1000-1500 AED" value="1000-1500 AED">1000-1500 AED</option>
                                <option label="1500-2000 AED" value="1500-2000 AED">1500-2000 AED</option>
                                <option label="2000-2500 AED" value="2000-2500 AED">2000-2500 AED</option>
                                <option label="2500-3000 AED" value="2500-3000 AED">2500-3000 AED</option>
                                <option label="3000-3500 AED" value="3000-3500 AED">3000-3500 AED</option>
                                <option label="3500-4000 AED" value="3500-4000 AED">3500-4000 AED</option>
                                <option label="4000-5000 AED" value="4000-5000 AED">4000-5000 AED</option>
                                <option label="5000-10000 AED" value="5000-10000 AED">5000-10000 AED</option>
                                <option label="10000+ AED" value="10000+ AED">10000+ AED</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-inside-row">
                        <label>Benefits:</label>
                        <div class="select-area">
                            <input type="text" size="35" id="benefits"  name="benefits"  label="Benefits" title="e.g Visa+Accomodation+Flight">
                        </div>
                    </div>
                    <div class="form-inside-row">
                        <label>Job Description:<span>*</span></label>
                        <div class="sele1ct-area">
                            <textarea style="width:350px;height:80px" name="jd" id="jd"  label="Job Description" title="This Section should include Roles/Responsibilities of Job along with other important information you would like to share with the candidates"></textarea>
                        </div>
                    </div>
                    <div class="form-inside-row">
                        <label>Desired Candidate Profile:<span>*</span></label>
                        <div class="selec1t-area">
                            <textarea style="width:350px;height:80px" id="candidateprofile"  name="candidateprofile"  label="Candidate Profile Info" title="This Section should include experience and skills candidates should have as per your requirement"></textarea>
                        </div>
                    </div></div>
                <div class="clear"></div>
                <input name="next" class="next action-button" value="Next" type="button" >
            </fieldset>
            <fieldset style="left: 0%; opacity:0; transform: scale(1);">
                <h2 class="fs-title">Candidate Preference</h2>
                <div class="field-main-box"> 
                    <div class="form-inside-row"><label>Gender:<span></span></label> <div class="select-area">
                            <select class="select margin-topZ" id="gender" name="gender" label="gender" title="Select preferred gender." >

                                <option label="Any" value="Any" selected>Doesn`t Matter</option>
                                <option label="Male" value="Male">Male</option>
                                <option label="Female" value="Female">Female</option>

                            </select>


                        </div></div>
                    <div class="form-inside-row"><label>Age:<span></span></label> <div class="select-area">

                            <span class="from-to">From</span> <select class="select margin-topZ" style="width:100px;" id="fromage" name="fromage">
                                <option label="Any" value="Any" selected>Doesn`t Matter</option>
                                <? for ($i = 18; $i < 80; $i++) { ?>
                                    <option value="<?= $i ?>"><?= $i ?></option>
                                <? } ?>
                            </select>
                            <span class="from-to">To</span> 
                            <select class="select margin-topZ" style="width:100px;" id="toage" name="toage">
                                <option label="Any" value="Any" selected>Doesn`t Matter</option>
                                <? for ($i = 18; $i < 80; $i++) { ?>
                                    <option value="<?= $i ?>"><?= $i ?></option>
                                <? } ?>
                            </select> 



                        </div></div>
                    <div class="form-inside-row"><label>Religion:<span></span></label> <div class="select-area">

                            <select class="select margin-topZ" id="religion" name="religion[]" label="religion" title="Select the candidate's religion." multiple>
                                <option label="Any" value="Any" selected>Doesn`t Matter</option>
                                <option label="Hindu" value="Hindu">Hindu</option>
                                <option label="Muslim" value="Muslim">Muslim</option>
                                <option label="Christian" value="Christian">Christian</option>
                                <option label="Sikh" value="Sikh">Sikh</option>
                                <option label="Parsi" value="Parsi">Parsi</option>
                                <option label="Jain" value="Jain">Jain</option>
                                <option label="Buddhist" value="Buddhist">Buddhist</option>
                                <option label="Jewish" value="Jewish">Jewish</option>
                                <option label="No Religion" value="No Religion">No Religion</option>
                            </select>

                        </div></div>
                    <div class="form-inside-row"><label>Nationality:<span></span></label> <div class="select-area">

                            <select class="select margin-topZ" id="nationality" name="nationality[]"  label="nationality" title="Please choose nationality" multiple>
                                <option label="Any" value="Any" selected>Doesn`t Matter</option>
                                <? foreach ($this->nationality as $n) { ?>
                                    <option value='<?= $n['nicename'] ?>' ><?= $n['nicename'] ?></option>
                                <? } ?>
                            </select>
                        </div></div>
                    <div class="form-inside-row"><label>Candidate Current Location:<span></span></label> <div class="select-area">

                            <select class="select margin-topZ" id="present_location" name="present_location[]"  label="present location" title="Please choose present locations" multiple>
                                <option label="Any" value="Any" selected>Doesn`t Matter</option>
                                <? foreach ($this->location as $n) { ?>
                                    <option value='<?= $n['nicename'] ?>' ><?= $n['nicename'] ?></option>
                                <? } ?>
                            </select>

                        </div></div>
                    <div class="form-inside-row"><label>Can Speak:<span></span></label> <div class="select-area">

                            <select class="select margin-topZ" id="language" name="language[]"  label="language" title="Please choose language" multiple>
                                <option label="Any" value="Any" selected>Doesn`t Matter</option>
                                <? foreach ($this->languages as $n) { ?>
                                    <option value='<?= $n['language'] ?>' ><?= $n['language'] ?></option>
                                <? } ?>
                            </select>
                        </div></div>
                    <div class="form-inside-row"><label>Years of Experience:<span></span></label> <div class="select-area">
                            <select name="experience[]" id="experience" title="Please select experience required." label="experience" multiple>
                                <option label="Any" value="Any" selected>Doesn`t Matter</option>
                                <option value="Fresher" label="Fresher">Fresher</option>
                                <option value="0-1" label="0-1 year">0-1 year</option>
                                <option value="1-2" label="1-2 year">1-2 year</option>
                                <option value="2-3" label="2-3 year">2-3 year</option>
                                <option value="3-5" label="3-5 year">3-5 year</option>
                                <option value="5-10" label="5-10 year">5-10 year</option>
                                <option value="10+" label="10+ years">10+ years</option>
                            </select>
                        </div></div>
                    <div class="form-inside-row"><label>Candidate Profiles Posted By:<span></span></label> <div class="select-area">
                            <select name="postedby" id="postedby" title="Candidates Profile can be posted by Agencies. If you do not want Agencies to contact you please choose Self." label="posted by">
                                <option label="Any" value="Any" selected>Doesn`t Matter</option>
                                <option value="Self" label="Self">Self</option>
                                <option value="agent" label="Agency">Agency</option>

                            </select>
                        </div></div>


                </div>
                <div class="clear"></div>
                <input name="previous" class="previous action-button" value="Previous" type="button">
                <input name="next" class="next action-button" value="Next" type="button">
            </fieldset>
            <fieldset style="display: none; left: 50%; opacity: 0;">
                <h2 class="fs-title">Message/SMS to Candidates</h2>
                <div class="field-main-box"> 
                    <div class="form-inside-row"><label><span></span>Your Message to candidates:</label> <div class="select-area1">
                            <font color=red size=2><b>Do not forget to mention your contact details (Mobile/Email) that needs to be shared with the candidates in below message box.</b></font>
							<textarea style="width:350px;height:150px;color:lightgrey;" name="message" id="message" title="Enter your message and mention your contact details(Mobile and Email) to be shared with candidates." label="message/sms message" style="color:#363636"  >Looking for Manicurists for a beauty salon on Jumeirah, Dubai. Salary given based on experience. Accommodation and transport provided. Asian or South East Asian preferred. Call 050-XXXXXXX or email CV to: abc@abc.com</textarea>
                            <table style="margin-left:164px;"><tr><td><div id="charNum" align="right">275</div></td><td align="left"> &nbsp;characters left.</td></tr></table>
                        </div></div>
		
						
						
                    <div class="form-inside-row"><label><span></span>Total SMS notifications :</label> <div class="select-area1">
                            <input type=text  name="smsnumber" style="width:50px;" id="smsnumber" title="Get Instant Job response, choose Total Number of Candidates to be informed  via SMS about this Job Post" value="<?=$auth->getIdentity()->bulk_sms?>"> 
                            

                        </div></div>
				<div style="padding-left: 155px;padding-top: 7px;"><b>(example : 50 )</b>	</div>
<!--				<div style="padding-left: 164px;padding-top: 7px;">Please note that if the number of candidates matching your requirement are less than the number specified only number of SMS sent will be deducted from your account and rest will be reflected back after job is activated .</div>-->
                  <?if($auth->getIdentity()->featured_job >0 ){?>
				  <div class="form-inside-row"><label><span></span>Featured :</label> <div class="select-area1" style="width:4%;float:left">
                            <input type=checkbox  name="is_featured" id="is_featured" value="1" > 

                        </div></div>
				<?}?>
                </div>
                <div class="clear"></div>
                <input name="previous" class="previous action-button" value="Previous" type="button">
                <input name="submit" class="submit action-button" style="width:116px;" value="Preview" type="submit" id="submitfrm">
				<span id="processing" style="display:none;">Processing... Please wait.</span>
            </fieldset>
        </form>
        <div class="clear"></div>
    </div>
    <!-- 16-10-2013 End -->

</div>
<!-- Latest Candidates End --> 
<?}?>

<script>



    $(document).ready(function(){

			

 
 
        $('#category_id').change(function(){
            var str = '';
            $('#category_id > :selected').each(function() {
                str += ($(this).val())+',';   // using text() here, because the 
            });   
				
				
				
            var postdata = {
                'cats' : str
            };
            url = '<?= WEBSITE ?>getsubcatsselect';
            $.ajax({
                type: 'GET',
                url: url,
                cache: false,
                data: postdata,
                success: function(data){
                    //$("#role_id").html(data);
                    $("#sub_category_id-element").html(data);
            
                }
            });
        });
	
        $("#sub_category_id").multiSelect();
        $("#location_id").multiSelect();
        $("#nationality").multiSelect();
        $('#location_id').change(function(){
            var str = '';
            $('#location_id > :selected').each(function() {
                str += "'"+($(this).val())+"',";   // using text() here, because the 
			
		
				
            });   
			
				
            var postdata = {
                'cats' : str
            };
            url = '<?= WEBSITE ?>getcityselect';
            $.ajax({
                type: 'GET',
                url: url,
                cache: false,
                data: postdata,
                success: function(data){
                    $("#city-element").html(data);
            
                }
            });
        });
	
        $("#city").multiSelect();
        $("#present_location").multiSelect();
        $("#language").multiSelect();
        $("#religion").multiSelect();
       
        
        
        var cnt =0;
		$('#religion').change(function(){
		var str = '';
		var iden =0;
		
		$('#religion > :selected').each(function() {
	          
	            if($(this).val() == 'Any'){
					
						if(cnt > 1)
							iden=2;
							else
							iden=1;
					
					 }
				
					//str += "'"+($(this).val())+"',";   // using text() here, because the 	
					cnt = cnt+1;
	        });
	
		if(iden == 1 && cnt>1)
			{
					$('#religion > :selected').each(function() {
	                             
	                                
					if($(this).val() == 'Any'){
						$('#religion').multiSelect('deselect', [$(this).val()]);}					
				});		
			}
		if(iden == 2)
			{
					$('#religion > :selected').each(function() {
	                                    
	                           
					if($(this).val() != 'Any'){
						$('#religion').multiSelect('deselect', [$(this).val()]);}					
				});		
				cnt=0;
			}
			
			str="";
			$('#religion > :selected').each(function() {
	           
					str += "'"+($(this).val())+"',";   // using text() here, because the 	
				
	        });
	    });	
        
        
      
      
      	var cnt =0;
      	$('#nationality').change(function(){
      	var str = '';
      	var iden =0;
      	
      	$('#nationality > :selected').each(function() {
                
                  if($(this).val() == 'Any'){
      				
      					if(cnt > 1)
      						iden=2;
      						else
      						iden=1;
      				
      				 }
      			
      				//str += "'"+($(this).val())+"',";   // using text() here, because the 	
      				cnt = cnt+1;
              });
      
      	if(iden == 1 && cnt>1)
      		{
      				$('#nationality > :selected').each(function() {
                                   
                                      
      				if($(this).val() == 'Any'){
      					$('#nationality').multiSelect('deselect', [$(this).val()]);}					
      			});		
      		}
      	if(iden == 2)
      		{
      				$('#nationality > :selected').each(function() {
                                          
                                 
      				if($(this).val() != 'Any'){
      					$('#nationality').multiSelect('deselect', [$(this).val()]);}					
      			});		
      			cnt=0;
      		}
      		
      		str="";
      		$('#nationality > :selected').each(function() {
                 
      				str += "'"+($(this).val())+"',";   // using text() here, because the 	
      			
              });
      	    });	
              
      
      
      
      	var cnt =0;
      	$('#present_location').change(function(){
      	var str = '';
      	var iden =0;
      	
      	$('#present_location > :selected').each(function() {
                
                  if($(this).val() == 'Any'){
      				
      					if(cnt > 1)
      						iden=2;
      						else
      						iden=1;
      				
      				 }
      			
      				//str += "'"+($(this).val())+"',";   // using text() here, because the 	
      				cnt = cnt+1;
              });
      
      	if(iden == 1 && cnt>1)
      		{
      				$('#present_location > :selected').each(function() {
                                   
                                      
      				if($(this).val() == 'Any'){
      					$('#present_location').multiSelect('deselect', [$(this).val()]);}					
      			});		
      		}
      	if(iden == 2)
      		{
      				$('#present_location > :selected').each(function() {
                                          
                                 
      				if($(this).val() != 'Any'){
      					$('#present_location').multiSelect('deselect', [$(this).val()]);}					
      			});		
      			cnt=0;
      		}
      		
      		str="";
      		$('#present_location > :selected').each(function() {
                 
      				str += "'"+($(this).val())+"',";   // using text() here, because the 	
      			
              });
      	    });	
              
      
      
      
      
      	var cnt =0;
      	$('#language').change(function(){
      	var str = '';
      	var iden =0;
      	
      	$('#language > :selected').each(function() {
                
                  if($(this).val() == 'Any'){
      				
      					if(cnt > 1)
      						iden=2;
      						else
      						iden=1;
      				
      				 }
      			
      				//str += "'"+($(this).val())+"',";   // using text() here, because the 	
      				cnt = cnt+1;
              });
      
      	if(iden == 1 && cnt>1)
      		{
      				$('#language > :selected').each(function() {
                                   
                                      
      				if($(this).val() == 'Any'){
      					$('#language').multiSelect('deselect', [$(this).val()]);}					
      			});		
      		}
      	if(iden == 2)
      		{
      				$('#language > :selected').each(function() {
                                          
                                 
      				if($(this).val() != 'Any'){
      					$('#language').multiSelect('deselect', [$(this).val()]);}					
      			});		
      			cnt=0;
      		}
      		
      		str="";
      		$('#language > :selected').each(function() {
                 
      				str += "'"+($(this).val())+"',";   // using text() here, because the 	
      			
              });
	    });	
        
        
        $("#experience").multiSelect();
        
        
                
       	var cnt =0;
       	$('#experience').change(function(){
       	var str = '';
       	var iden =0;
       	
       	$('#experience > :selected').each(function() {
                 
                   if($(this).val() == 'Any'){
       				
       					if(cnt > 1)
       						iden=2;
       						else
       						iden=1;
       				
       				 }
       			
       				//str += "'"+($(this).val())+"',";   // using text() here, because the 	
       				cnt = cnt+1;
               });
       
       	if(iden == 1 && cnt>1)
       		{
       				$('#experience > :selected').each(function() {
                                    
                                       
       				if($(this).val() == 'Any'){
       					$('#experience').multiSelect('deselect', [$(this).val()]);}					
       			});		
       		}
       	if(iden == 2)
       		{
       				$('#experience > :selected').each(function() {
                                           
                                  
       				if($(this).val() != 'Any'){
       					$('#experience').multiSelect('deselect', [$(this).val()]);}					
       			});		
       			cnt=0;
       		}
       		
       		str="";
       		$('#experience > :selected').each(function() {
                  
       				str += "'"+($(this).val())+"',";   // using text() here, because the 	
       			
               });
	    });	
	
    });	
	
</script>
<style>
    .err
    {
        border-color:red;
    }
</style>
<script>//jQuery time
    var current_fs, next_fs, previous_fs; 
    var left, opacity, scale; 
    var animating; 
 
    $("#title").blur(validateNow);
    //$("#message").blur(validateNow);
    $("#category_id").blur(validateNow);
    //$("#sub_category_id").blur(validateNow);
    $("#job_type").blur(validateNow);
    //$("#location_id").blur(validateNow);
    //$("#city").blur(validateNow);
    $("#salary").blur(validateNow);
    $("#jd").blur(validateNow);
    $("#candidateprofile").blur(validateNow);
    
    
       $('#message').focus(function() {
                $(this).attr('style',"width:350px;height:150px;color:black;");
				var msgg = $('#message').val();
				
				if(msgg == "Looking for Manicurists for a beauty salon on Jumeirah, Dubai. Salary given based on experience. Accommodation and transport provided. Asian or South East Asian preferred. Call 050-XXXXXXX or email CV to: abc@abc.com"){
					$('#message').val('');
				}
				});
    

	

	$('#smsnumber').blur(function(){
			var numsms = $('#smsnumber').val();
			if(isNaN(numsms) || numsms > <?=$auth->getIdentity()->bulk_sms ?>)
				{
					$('#smsnumber').val(<?=$auth->getIdentity()->bulk_sms ?>);
					    outputErrorMessage($("#smsnumber"), 
						'<span class="ValidationErrors">You have insufficient balance. You can send max <?=$auth->getIdentity()->bulk_sms?> SMS.</span>');
				}
				else
				{
					$("#smsnumber").next().remove();
				}
    });
	
	
    $('input').poshytip({
        className: 'tip-green',
        showOn: 'focus',
        alignTo: 'target',
        alignX: 'right',
        alignY: 'center',
        offsetX: 5,
        showTimeout: 100
    });
    $('select').poshytip({
        className: 'tip-green',
        showOn: 'focus',
        alignTo: 'target',
        alignX: 'right',
        alignY: 'center',
        offsetX: 5,
        showTimeout: 100
    });
    $('textarea').poshytip({
        className: 'tip-green',
        showOn: 'focus',
        alignTo: 'target',
        alignX: 'right',
        alignY: 'center',
        offsetX: 5,
        showTimeout: 100
    });
    function validateNow(){
        // Add a change listener to yourNumberTextField
        if ($.trim($(this).val()) == '') {
            outputErrorMessage($(this), 
            '<span class="ValidationErrors">Please enter '+$(this).attr('label')+'.</span>');
        }
        else {
                    
            $(this).next().remove();
        }       
    }
    function validateSelect()
    {
        var strV='';
        $('#sub_category_id > :selected').each(function() {
            strV += ($(this).val())+',';   // using text() here, because the 
        });  
		
        if (strV == '') {
            outputErrorMessageSelect($(this), 
            '<span class="ValidationErrors">Please enter '+$(this).attr('label')+'.</span>');
        }
        else {
                    
            $(this).prev().remove();
        }       
		
    }		
 
 
    function outputErrorMessage($inputField, errorMessage) {
        // If there is a previous message
        if (!$inputField.next().length == 0) {
            // Remove the previous message
            $inputField.next().remove();
        } // end if
     
        // Show the error message
        $inputField.after(errorMessage);
        // 'Highlight' the field
        $inputField.addClass('errorField');
        //$inputField.focus();
    } // end function outputErrorMessage($inputField, errorMessage)
    
    function outputErrorMessageSelect($inputField, errorMessage) {
        // If there is a previous message
        if (!$inputField.prev().length == 0) {
            // Remove the previous message
            $inputField.prev().remove();
        } // end if
     
        // Show the error message
        $inputField.before(errorMessage);
        // 'Highlight' the field
        $inputField.addClass('errorField');
        //  $inputField.focus();
    } 	
    $(".next").click(function(){

				
        var st=0;
        // Add a change listener to yourNumberTextField
        if ($.trim($("#title").val()) == '') {
            outputErrorMessage($("#title"), 
            '<span class="ValidationErrors">Please enter the Title.</span>');
            st =1;
        }
        else
            $("#title").next().remove();
        
        
                

        if ($.trim($("#category_id").val()) == '') {
            outputErrorMessage($("#category_id"), 
            '<span class="ValidationErrors">Please choose a job category.</span>');
            st =1;
        }
        else
            $("#category_id").next().remove();
             
        if ($.trim($("#job_type").val()) == '') {
            outputErrorMessage($("#job_type"), 
            '<span class="ValidationErrors">Please choose a job type.</span>');
            st =1;
        }
        else
            $("#job_type").next().remove();
        
                
        if ($.trim($("#location_id").val()) == '') {
            outputErrorMessage($("#ms-location_id"), 
            '<span class="ValidationErrors">Please choose a job location.</span>');
            st =1;
        }
        else
            $("#ms-location_id").next(".ValidationErrors").remove();
            
            
        if ($.trim($("#city").val()) == '') {
	     outputErrorMessage($("#ms-city"), 
	     '<span class="ValidationErrors">Please choose a city.</span>');
	     st =1;
	}
	 else
            $("#ms-city").next(".ValidationErrors").remove();
				  
                                  
         if ($.trim($("#sub_category_id").val()) == '') {
            outputErrorMessage($("#sub_category_id-element"), 
            '<span class="ValidationErrors">Please choose a job position.</span>');
            st =1;
        }
        else
            $("#sub_category_id-element").next(".ValidationErrors").remove();
              
                
        if ($.trim($("#salary").val()) == '') {
            outputErrorMessage($("#salary"), 
            '<span class="ValidationErrors">Please select salary range.</span>');
            st =1;
        }
        else
            $("#salary").next().remove();
                
        if ($.trim($("#jd").val()) == '') {
            outputErrorMessage($("#jd"), 
            '<span class="ValidationErrors">Please enter the job description.</span>');
            st =1;
        }
        else
            $("#jd").next().remove();
                

        if ($.trim($("#candidateprofile").val()) == '') {
            outputErrorMessage($("#candidateprofile"), 
            '<span class="ValidationErrors">Please enter candidate profile info..</span>');
            st =1;
        }
        else
            $("#candidateprofile").next().remove();
        

        if ($.trim($("#fromage").val()) > $.trim($("#toage").val())) {
            outputErrorMessage($("#toage"), 
            '<span class="ValidationErrors">From date should be lesser than To date..</span>');
            st =1;
        }
     
	 
		
	 
                

        if(st == 1)
            return false;
	
        if(animating) return false;
        animating = true;
	
        current_fs = $(this).parent();
        next_fs = $(this).parent().next();
	
        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
	
        //show the next fieldset
        next_fs.show(); 
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50)+"%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({'transform': 'scale('+scale+')'});
                next_fs.css({'left': left, 'opacity': opacity});
            }, 
            duration: 1200, 
            complete: function(){
                current_fs.hide();
                animating = false;
            }, 
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
        $('body').scrollTop(0);
    });

    $(".previous").click(function(){
        if(animating) return false;
        animating = true;
	
        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();
	
        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
	
        //show the previous fieldset
        previous_fs.show(); 
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1-now) * 50)+"%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({'left': left});
                previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
            }, 
            duration: 1200, 
            complete: function(){
                current_fs.hide();
                animating = false;
            }, 
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
        $('body').scrollTop(0);
    });

    $(".submit").click(function(){
        if ($.trim($("#message").val()) == '' || $.trim($("#message").val())=='Looking for Manicurists for a beauty salon on Jumeirah, Dubai. Salary given based on experience. Accommodation and transport provided. Asian or South East Asian preferred. Call 050-XXXXXXX or email CV to: abc@abc.com') {
            outputErrorMessage($("#message"), 
            '<span class="ValidationErrors">Please type the message.</span>');
            st =1;
            return false;
        }
        else
            $("#message").next().remove();
			
			
        return true;
    })

	$("form").submit(function () {
            $("input[type=submit]", this).hide();
    $("#processing").show();
})

    (function($) {
        $.fn.extend( {
            limiter: function(limit, elem) {
                $(this).on("keyup focus", function() {
                    setCount(this, elem);
                });
                function setCount(src, elem) {
			
                    var chars = src.value.length;
                    if (chars > limit) {
                        src.value = src.value.substr(0, limit);
                        chars = limit;
                    }
                    elem.html( limit - chars );
                }
                setCount($(this)[0], elem);
            }
        });
    })(jQuery);
</script>

<script>
    $(document).ready( function() {
$( "#message" ).keyup(function() {
  countChar(this);
});

	var elem = $("#chars");
        $("#message").limiter(275, elem);
    });
    function countChar(val) {
        var len = val.value.length;
        if (len >= 276) {
            val.value = val.value.substring(0, 275);
        } else {
            $('#charNum').text(275 - len);
        }
    };
	  
</script>

<!-- 16-10-2013 End -->

