	
	
<form id="signupForm" method="post" >
<!-- Latest Candidates -->
<div class="latest-candidates">
<h2>Candidate Registration</h2>

<div class="clear"></div>
<div class="condidate-form">
<div class="form-row">

<h1>Get Started With FastestHiring</h1>

<div class="form-inside-row"><?php echo $this->form->fname ?>&nbsp;&nbsp;<span id="fname_warning" style="color:red"></span> </div>
<div class="form-inside-row"><?php echo $this->form->lname ?></div>
<div class="form-inside-row"> <?php echo $this->form->username ?></div>
<div class="form-inside-row"><?php echo $this->form->password ?></div>
<div class="form-inside-row"><?php echo $this->form->repassword ?></div>
<div class="form-inside-row"><?php echo $this->form->email ?></div>
<div class="clear"></div>
</div>
<div class="form-row">
<h1>Personal Details </h1>

<div class="form-inside-row"><?php echo $this->form->date_of_birth ?>

</div>
<div class="form-inside-row"><?php echo $this->form->height ?></div>



<div class="form-inside-row">
<dt id="height-label"><label for="height" class="required">*Weight:</label></dt>
<dd id="weight-element">
<select name="weight" id="weight" style="width:150px;">
    <option value="" label="Please Select Weight">Please Select Weight</option>
	<?for($i=40;$i<=120;$i++){?>
    <option value="<?=$i?>" label="<?=$i?> Kg."><?=$i?> Kg.</option>
	<?}?>
    
</select></dd>
</div>
<div class="form-inside-row"><?php echo $this->form->gender ?></div>

<div class="form-inside-row"><label>*Passport Nationality:</label> 
<div class="select-area">
<?php echo $this->form->country_id ?>
<p>Please tell us your nationality as mentioned on your passport</p>
</div></div>

<div class="form-inside-row"><?php echo $this->form->religion ?></div>
<div class="form-inside-row"><?php echo $this->form->maritalstatus ?></div>

<div class="form-inside-row"><label>*Current location:</label> 
<div class="select-area">
<?php echo $this->form->location_id ?>
</div></div>


<div class="form-inside-row"><label>*Mobile:</label> <div><input type=text id="mobilecode" name=mobile_code disabled style="width:30px;float:left"></div><div class="select-area" style="padding-left:10px;"><?php echo $this->form->mobile ?>
<br><br><b>Please do not put 0 before the number.<br> Enter the number like - 501234567</b> </div></div>


<div class="form-inside-row"><label>Phone:</label> <div><input type=text id="phonecode" name=phone_code disabled style="width:30px;float:left"></div><div class="select-area" style="padding-left:10px;"><?php echo $this->form->phone ?>
<br><br><br></div></div>



<div class="form-inside-row"><label>*Can Speak:</label> <div class="select-area"><p>(You can select max 5 languages)</p><?php echo $this->form->language ?></div></div>


<div class="clear"></div>
</div>

<div class="form-row">
<h1>Job Category and Status  </h1>
<div class="form-inside-row"><label>*Select Job Category:</label> <div class="select-area"><?php echo $this->form->category_id ?></div></div>
<div class="form-inside-row"><label>*Select Job Functional Role:</label> <div class="select-area"><p>(You can select max 7 roles)</p><?php echo $this->form->sub_category_id ?></div></div>
<div class="form-inside-row"><label>Work Location Preference:</label> <div class="select-area"><?php echo $this->form->preference ?></div></div>
<div class="form-inside-row"><label>Work City Preference:</label> <div class="select-area"><?php echo $this->form->city ?></div></div>


<div class="form-inside-row" id="visaid"><?php echo $this->form->visa ?></div>
<div class="form-inside-row" id="datepickerid"><?php echo $this->form->datepicker ?></div>
<div class="form-inside-row"><?php echo $this->form->notice ?></div>

<div class="form-inside-row"><?php echo $this->form->salary ?></div>
<div class="form-inside-row"><?php echo $this->form->offpreference ?></div>


<div class="clear"></div>
</div>

<div class="form-row">
<h1>Professional Details  </h1>
<div class="form-inside-row"><label>*Basic Education</label> 
<div class="select-area"><?php echo $this->form->education_id ?></div></div>

<div class="form-inside-row"><label>Key skills:</label> <div class="select-area"><?php echo $this->form->keyarea ?>
<p>Please use comma to separate skills.</p>
</div></div>
<div class="form-inside-row"><?php echo $this->form->experience ?>
</div>
<div class="form-inside-row"><?php echo $this->form->jobtype ?>
</div>
<div class="clear"></div>
</div>


<div class="form-row">
<h1>About me & my work experience  </h1>

<div class="form-inside-row">
	<?php echo $this->form->abtyou ?>
	<table ><tr><td><div id="charNum" align="right">3000</div></td><td align="left"> &nbsp;characters left.</td></tr></table>
</div>
<div class="clear"></div>
</div>
<div class="form-row">
<h1>Email & SMS Subscription  </h1>
<div class="form-inside-row"><label>&nbsp;</label> 
<div class="select-area email-bold">Emails/SMS you would like to receive</div></div>
<div class="form-inside-row"><label>&nbsp;</label> 
<div class="gender"><input type="checkbox" name="" value=""> Fastest Hiring products &amp; newsletters 
<div class="clear"></div>
<div class="offer-main"><input type="checkbox" name="" value=""> 	Offers &amp; Promotions from leading companies</div></div></div>
<div class="clear"></div>
</div>
<div class="form-row bd-none">
<div class="form-inside-row"><label>&nbsp;</label> 
<div class="submit-taexA">
<div class="offer-main" id="terms"><input type="checkbox" name="terms" id="terms" value="1"> 	I have read and agree to FastestHiring's <a target=_new href="pagedetail?id=2">privacy statement</a> and <a target=_new href="pagedetail?id=3">terms of use</a></div>
<button class="submit-nav" type="submit">Submit</button>
</div></div>

<div class="clear"></div>
</div>
</div>
</div>
<!-- Latest Candidates End -->

</form>



<script>


$(document).ready(function(){
$("#mobile-label").html("");
$("#phone-label").html("");
$("#location_id-label").html("");
$("#education_id-label").html("");
$("#country_id-label").html("");
$("#keyarea-label").html("");



 $("#gender-male").attr("checked","checked");
	var postdata = {
        'cats' : "'All'"
    };
	url = '<?=WEBSITE?>getcity';
    $.ajax({
        type: 'GET',
        url: url,
        cache: false,
        data: postdata,
        success: function(data){
            $("#city-element").html(data);
            
        }
    });

	$("#keyarea").autoSuggest("<?=WEBSITE?>getskills",{selectedItemProp: "name", searchObjProps: "name",startText:"Please select skills.",emptyText:""});	
 
 
 
 $('#language').multiSelect();
 $("#category_id").multiSelect();
 $("#sub_category_id").multiSelect();
 $("#preference").multiSelect();
 $("#city").multiSelect();
  
 $("#visaid" ).hide();
$("#datepickerid" ).hide();
 $( "#datepicker" ).datepicker();
 
 $('#weight').css('width','100px');
	
	$('#location_id').change(function(){
	var strVal = $('#location_id').val();
	
	var ArrStr = strVal.split("-");
	
	strVal = ArrStr[0];
	phonecode= ArrStr[1];
	
	$("#mobilecode").val(phonecode);
	$("#phonecode").val(phonecode);
	if(strVal == 'United Arab Emirates' || strVal == 'Oman' || strVal == 'Qatar' || strVal == 'Bahrain' || strVal == 'Kuwait' || strVal == 'Saudi Arabia' )	
	{
		$( "#visaid" ).show();
		$( "#datepickerid" ).show();
		$("#visa").validate({
                    expression: "if (VAL !='') return true; else return false;",
                    message: "Please select visa id."
                });
		$("#datepicker").validate({
                    expression: "if (VAL !='') return true; else return false;",
                    message: "Please select visa expiry date."
                });
				
				
		$("#datepicker").val('12/31/2014');
				
						
	}
	else
	{
		$( "#visaid" ).hide();
		$( "#datepickerid" ).hide();
		
	}
	
	
	}		);
	
	
	
	$('#language').change(function(){
	var stri = 0;
	$('#language > :selected').each(function() {
            stri = stri +1;
        		if(stri == 6)
				{	$('#language').focus();
			//	$('#language').attr('disabled','disabled');
			//	$('#language').multiSelect();
				$('#language-label').html('<font color=red>You can choose only 5 languages.</font>');
				 $('#language').multiSelect('deselect', [$(this).val()]);
				}
				else
				{
				$('#language-label').html('&nbsp;');
				}
		
		});
		
		if(stri > 0)
				$('#language-element .ValidationErrors').html('&nbsp;');
		else		
					$('#language-element .ValidationErrors').html('Please select any language.');
		});
	
	
	$('#sub_category_id').change(function(){
	
	var stri = 0;
	$('#sub_category_id > :selected').each(function() {
            stri = stri +1;
 
			if(stri == 8)
				{	$('#sub_category_id').focus();
			//	$('#language').attr('disabled','disabled');
			//	$('#language').multiSelect();
				$('#sub_category_id-label').html('<font color=red>You can choose only 7 Roles.</font>');
				 $('#sub_category_id').multiSelect('deselect', [$(this).val()]);
				}
				else
				{
				$('#sub_category_id-label').html('&nbsp;');
				}
		
		});
		});
		
		
	
	
	var cnt =0;
	$('#preference').change(function(){
	var str = '';
	var iden =0;
	
	$('#preference > :selected').each(function() {
            if($(this).val() == 'All'){
				
					if(cnt > 1)
						iden=2;
						else
						iden=1;
				
				 }
			
				//str += "'"+($(this).val())+"',";   // using text() here, because the 	
				cnt = cnt+1;
        });

	if(iden == 1 && cnt>1)
		{
				$('#preference > :selected').each(function() {
				if($(this).val() == 'All'){
					$('#preference').multiSelect('deselect', [$(this).val()]);}					
			});		
		}
	if(iden == 2)
		{
				$('#preference > :selected').each(function() {
				if($(this).val() != 'All'){
					$('#preference').multiSelect('deselect', [$(this).val()]);}					
			});		
			cnt=0;
		}
		
		str="";
		$('#preference > :selected').each(function() {
           
				str += "'"+($(this).val())+"',";   // using text() here, because the 	
			
        });
				
				
				//$("#preference option[value='All']").attr("selected","selected");
				
	var postdata = {
        'cats' : str
    };
	url = '<?=WEBSITE?>getcity';
    $.ajax({
        type: 'GET',
        url: url,
        cache: false,
        data: postdata,
        success: function(data){
            $("#city-element").html(data);
            
        }
    });
	});
	


	$('#category_id').change(function(){
	var str = '';
	$('#category_id > :selected').each(function() {
            str += ($(this).val())+',';   // using text() here, because the 
        });   
				
				
	
	if(str == '')
				$('#category_id-element .ValidationErrors').html('Please choose a category.');
		else		
					$('#category_id-element .ValidationErrors').html('&nbsp;');
		
	

		
	var postdata = {
        'cats' : str
    };
	url = '<?=WEBSITE?>getsubcats';
    $.ajax({
        type: 'GET',
        url: url,
        cache: false,
		data: postdata,
        success: function(data){
            $("#sub_category_id-element").html(data);
            
        }
    });
	
	
	});
	
	
$("#username").on('blur',function(){

	if($('#username').val() !=''  && $('#username').val().length>5 && $('#username').val().length<=20){
		url = '<?=WEBSITE?>checkajaxregister?username='+$('#username').val();
	$("#username").after('<span id="usernameloading">&nbsp;&nbsp;Please wait...</span>');
    $.ajax({
        type: 'GET',
        url: url,
        cache: false,		
        success: function(data){
			$("#usernameloading").remove();
			$("#usernametick").remove();
            if(data==1)	{		
				$("#username").after('<span class="ValidationErrors"  id="usernameloading">Username "<b>'+$("#username").val()+'</b>" already exists.</span>');
				$("#username").val('');
				$("#username").addClass("ErrorField");
            }
			else
				$("#username").after('<span id="usernametick">&nbsp;&nbsp;<img src="images/tick.png" width=20 height=20></span>');
        }
    });	
	}
});	
	
$("#mobile").on('blur',function(){
if($('#mobile').val() !='' && $('#mobile').val().length>7){
	mobile = $("#mobilecode").val()+" - "+$("#mobile").val()
	url = '<?=WEBSITE?>checkajaxregister?mobile='+mobile;
	$("#mobile").after('<span id="mobileloading">&nbsp;&nbsp;Please wait...</span>');
    $.ajax({
        type: 'GET',
        url: url,
        cache: false,		
        success: function(data){
		$("#mobileloading").remove();
		$("#mobiletick").remove();
            if(data==1)	{		
				$("#mobile").after('<span class="ValidationErrors" id="mobileloading">Mobile "<b>'+mobile+'</b>" already exists.</span>');
				$("#mobile").val('');
				$("#mobile").addClass("ErrorField");
            }
			else
			$("#mobile").after('<span id="mobiletick">&nbsp;&nbsp;<img src="images/tick.png" width=20 height=20><span>');
        }
    });	
	}
});	

//$('#signupForm').ketchup();
$("#fname").validate({
                    expression: "if (VAL) return true; else return false;",
                    message: "Please enter the First name."
                });
	
	$("#username").validate({
                    expression: "if (VAL.length > 5 && VAL.length < 21 && VAL) return true; else return false;",
                    message: "Username should be atleast 6 characters and maximum 20 characters."
                });
	
	
	$("#password").validate({
                    expression: "if (VAL.length > 5 && VAL) return true; else return false;",
                    message: "Please enter a valid Password.(min 6 chars)"
                });
				
    $("#repassword").validate({
                    expression: "if ((VAL == jQuery('#password').val()) && VAL) return true; else return false;",
                    message: "Confirm password field doesn't match the password field"
                });

	$("#date_of_birth-day").validate({
                    expression: "if (VAL > 0) return true; else return false;",
                    message: "Please select Birth Date"
                });
	
	$("#date_of_birth-month").validate({
                    expression: "if (VAL > 0) return true; else return false;",
                    message: "Please select Birth Month"
                });
				
	$("#date_of_birth-year").validate({
                    expression: "if (VAL > 0) return true; else return false;",
                    message: "Please select Birth year"
                });
	jQuery("#height").validate({
                    expression: "if (VAL !='') return true; else return false;",
                    message: "Please select height."
                });
				
	
				
				
				jQuery("#weight").validate({
                    expression: "if (VAL > 0) return true; else return false;",
                    message: "Please select weight."
                });
				
				
				jQuery("#category_id").validate({
                    expression: "if (VAL) return true; else return false;",
                    message: "Please select job category."
                });
				
				jQuery("#jobtype").validate({
                    expression: "if (VAL) return true; else return false;",
                    message: "Please select job type."
                });
				
				jQuery("#sub_category_id").validate({
                    expression: "if (VAL) return true; else return false;",
                    message: "Please select job functional role."
                });
				
				
					jQuery("#country_id").validate({
                    expression: "if (VAL !=0) return true; else return false;",
                    message: "Please select nationality."
                });
				jQuery("#religion").validate({
                    expression: "if (VAL !='') return true; else return false;",
                    message: "Please select religion."
                });
				jQuery("#salary").validate({
                    expression: "if (VAL !='') return true; else return false;",
                    message: "Please select salary."
                });
				jQuery("#experience").validate({
                    expression: "if (VAL !='') return true; else return false;",
                    message: "Please select experience."
                });
				jQuery("#abtyou").validate({
                    expression: "if (VAL !='') return true; else return false;",
                    message: "Please enter about you and your experience."
                });
				jQuery("#abtyou").validate({
                    expression: "if (VAL.length > 45) return true; else return false;",
                    message: "You need to enter at least 45 characters about you."
                });
				
				jQuery("#maritalstatus").validate({
                    expression: "if (VAL !='') return true; else return false;",
                    message: "Please select marital status."
                });
				jQuery("#location_id").validate({
                    expression: "if (VAL !=0) return true; else return false;",
                    message: "Please select current location."
                });
				jQuery("#mobile").validate({
                    expression: "if (!isNaN(VAL) && VAL && VAL>100000) return true; else return false;",
                    message: "Please enter correct mobile."
                });
				jQuery("#language").validate({
                    expression: "if (VAL) return true; else return false;",
                    message: "Please select language."
                });
				jQuery("#education_id").validate({
					
                    expression: "if (VAL != 0) return true; else return false;",
                    message: "Please select education."
                });
					
			jQuery("#terms").validate({
					
                    expression: "if (isChecked(SelfID)) return true; else return false;",
                    message: "Please accept terms to continue."
                });
	

		
	

 	});	
			
</script>


<script>
$( "#abtyou" ).keyup(function() {
  countChar(this);
});

(function($) {
	$.fn.extend( {
		limiter: function(limit, elem) {
			$(this).on("keyup focus", function() {
				setCount(this, elem);
			});
			function setCount(src, elem) {
			
				var chars = src.value.length;
				if (chars > limit) {
					src.value = src.value.substr(0, limit);
					chars = limit;
				}
				elem.html( limit - chars );
			}
			setCount($(this)[0], elem);
		}
	});
})(jQuery);

$(document).ready( function() {
	var elem = $("#chars");
	$("#abtyou").limiter(3000, elem);
});
function countChar(val) {
        var len = val.value.length;
        if (len >= 3001) {
          val.value = val.value.substring(0, 3000);
        } else {
          $('#charNum').text(3000 - len);
        }
      };
	  
	  </script>

<!-- 16-10-2013 End -->



<style>

#signupForm label.error {
margin-left: 10px;
width: auto;
display: inline;
color: red;
font-style: italic;
}

.errors {
margin-left: 11px;
width: auto;
color: red;
font-style: italic;
font-size: 11px;
display: inline-block;
}

</style>
