<?if($this->st == 'updated'){?>
<script>
setTimeout(function() {
  window.location.href = "/myprofile";
}, 6000);
</script>
<style>

.note-bar{
	display:none;
	overflow: hidden;
	background: #64C568;
	height: 38px;
	border-bottom: 4px solid #fff;
}

.note-bar p {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	line-height: 36px;
	margin: 0 0 0 10px;
	padding: 0;
	text-shadow: none;
}

.close{
	margin: 8px 10px 0 0;
	float: right;
}

.open-button {
	padding-top: 7px;
	width: 30px;
	background: rgba(255, 88, 61, 0.4);
	border: 4px solid #fff;
	border-top: 0px;
	position: fixed;
	top: 0;
	right: 20px;
	display: none;	
}
</style>
<script>
		$(document).ready(function(){			 
	
			$(".note-bar").slideDown(300);	
			
			$("#showbar").click(function(){				
				$(".open-button").slideUp(300, function(){
					$(".note-bar").slideDown(300);
				});

				return false;
			});
		
			$("#hidebar").click(function(){
			
				$(".note-bar").slideUp(300, function(){
					$(".open-button").slideDown(300);
				});
			
				return false;
			});		
		});

	</script>
	
	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'updated')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>Thanks, your profile has been updated successfully; you will be automatically redirected to your profile in 5 seconds.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>

<?}?>

<form id="signupForm" method="post" >
<!-- Latest Candidates -->
<div class="latest-candidates">
<h2>Edit Profile</h2>

<div class="clear"></div>
<div class="condidate-form">
<div class="form-row">

<h1>Get Started With FastestHiring</h1>

<div class="form-inside-row"><?php echo $this->form->fname ?>&nbsp;&nbsp;<span id="fname_warning" style="color:red"></span> </div>
<div class="form-inside-row"><?php echo $this->form->lname ?></div>

<div class="form-inside-row"><?php echo $this->form->email ?></div>
<div class="clear"></div>
</div>
<div class="form-row">
<h1>Personal Details </h1>

<div class="form-inside-row"><?php echo $this->form->height ?></div>




<div class="form-inside-row">
<dt id="height-label"><label for="height" class="required">*Weight:</label></dt>
<dd id="weight-element">
<select name="weight" id="weight" style="width:150px;">
    <option value="" label="Please Select Weight">Please Select Weight</option>
	<?for($i=40;$i<=120;$i++){?>
    <option value="<?=$i?>" <?if($this->weight==$i){?>selected<?}?> label="<?=$i?> Kg."><?=$i?> Kg.</option>
	<?}?>
    
</select></dd>
</div>

<div class="form-inside-row"><?php echo $this->form->gender ?></div>

<div class="form-inside-row"><label>*Passport Nationality:</label> 
<div class="select-area">
<?php echo $this->form->country_id ?>
<p>Please tell us your nationality as mentioned on your passport</p>
</div></div>

<div class="form-inside-row"><?php echo $this->form->religion ?></div>
<div class="form-inside-row"><?php echo $this->form->maritalstatus ?></div>

<div class="form-inside-row"><label>*Current location:</label> 
<div class="select-area">
<?php echo $this->form->location_id ?>
</div></div>

<div class="form-inside-row"><label>*Mobile:</label> <div><input type=text id="mobilecode" name=mobile_code value="<?=$this->code?>" disabled style="width:30px;float:left"></div><div class="select-area" style="padding-left:10px;"><?php echo $this->form->mobile ?>
<br><br><br></div></div>


<div class="form-inside-row"><label>Phone:</label> <div><input type=text id="phonecode" name=phone_code disabled style="width:30px;float:left"></div><div class="select-area" style="padding-left:10px;"><?php echo $this->form->phone ?>
<br><br><br></div></div>


<div class="form-inside-row"><label>*Can Speak:</label> <div class="select-area"><p>(You can select max 5 languages)</p><?php echo $this->form->language ?></div></div>
<div class="clear"></div>
</div>

<div class="form-row">
<h1>Job Category and Status  </h1>
<div class="form-inside-row"><label>*Select Job Category:</label> <div class="select-area"><?php echo $this->form->category_id ?></div></div>
<div class="form-inside-row"><label>*Select Job Functional Role:</label> <div class="select-area"><?php echo $this->form->sub_category_id ?></div></div>

<div class="form-inside-row"><label>Work Location Preference:</label> <div class="select-area"><?php echo $this->form->preference ?></div></div>
<div class="form-inside-row"><label>Work City Preference:</label> <div class="select-area"><?php echo $this->form->city ?></div></div>


<div class="form-inside-row" id="visaid"><?php echo $this->form->visa ?></div>
<div class="form-inside-row" id="datepickerid"><?php echo $this->form->datepicker ?></div>
<div class="form-inside-row"><?php echo $this->form->notice ?></div>

<div class="form-inside-row"><?php echo $this->form->salary ?></div>
<div class="form-inside-row"><?php echo $this->form->offpreference ?></div>


<div class="clear"></div>
</div>

<div class="form-row">
<h1>Professional Details  </h1>
<div class="form-inside-row"><label>*Basic Education</label> 
<div class="select-area"><?php echo $this->form->education_id ?></div></div>

<div class="form-inside-row"><label>Key skills:</label> <div class="select-area"><?php echo $this->form->keyarea ?>
<p>Please use comma to separate skills.</p>
</div></div>
<div class="form-inside-row"><?php echo $this->form->experience ?>
</div>
<div class="form-inside-row"><?php echo $this->form->jobtype ?>
</div>
<div class="form-inside-row"><?php echo $this->form->abtyou ?>
</div>
<div class="clear"></div>
</div>
<div class="form-row">
<h1>Email & SMS Subscription  </h1>
<div class="form-inside-row"><label>&nbsp;</label> 
<div class="select-area email-bold">Emails/SMS you would like to receive</div></div>
<div class="form-inside-row"><label>&nbsp;</label> 
<div class="gender"><input type="checkbox" name="newsletter" value="1" <?if($this->newsletter == 1){?>checked<?}?>> Fastest Hiring products &amp; newsletters 
<div class="clear"></div>
<div class="offer-main"><input type="checkbox" name="offers" value="1" <?if($this->offers == 1){?>checked<?}?>> 	Offers &amp; Promotions from leading companies</div></div></div>
<div class="clear"></div>
</div>
<div class="form-row bd-none">
<div class="form-inside-row"><label>&nbsp;</label> 
<div class="submit-taexA">

<button class="submit-nav" type="submit">Update</button>
</div></div>

<div class="clear"></div>
</div>
</div>
</div>
<!-- Latest Candidates End -->
</form>

<?$language = $this->language;
$lan = explode(',',$language);
$strLan='';
foreach($lan as $l)
{
	$strLan.="'".$l."',";
}
$strLan = trim($strLan,',');


$job = $this->job_category;
$j = explode(',',$job);
$strCat='';
foreach($j as $jc)
{
	
	$strCat.="'".$jc."',";
}
$strCat = trim($strCat,',');


$job = $this->job_sub_category;
$j = explode(',',$job);
$strSubCat='';
foreach($j as $jc)
{
	$strSubCat.="'".$jc."',";
}
$strSubCat = trim($strSubCat,',');

$pref = $this->pref;
$p = explode(',',$pref);
$strPref='';
foreach($p as $pp)
{
	
	$strPref.="'".$pp."',";
}
$strPref = trim($strPref,',');




$citypref = $this->citypref;
$cp = explode(',',$citypref);
$strCP='';
foreach($cp as $c)
{
	
	$strCP.="'".$c."',";
}
$strCP = trim($strCP,',');


$keyskills = trim($this->keyarea,',');

//$ks = explode(',',$keyskills);
//$strks='';

//foreach($ks as $cks)
//{
	
	//$strks.='<li class="as-selection-item" id="as-selection-97"><a class="as-close">×</a>'.$cks.'</li>';
//}
//$strks = trim($strks,',');



?>


<script>


$(document).ready(function(){
$("#mobile-label").remove();
$("#phone-label").remove();
 
 $("#date_of_birth-day").val("<?=$this->dob[2]?>");
 $("#date_of_birth-month").val("<?=$this->dob[1]?>");
 $("#date_of_birth-year").val("<?=$this->dob[0]?>");
 
 $("#phone").val("<?=$this->phone?>");
 
 $("#preference").multiSelect();
 $('#preference').multiSelect('select',[<?=$strPref;?>]);

  var str = '';
	$('#preference > :selected').each(function() {
            str += "'"+($(this).val())+"',";   // using text() here, because the 
        });   
			
 
 
	var postdata = {
        'cats' : str,
		'selc' : "<?=$strCP;?>"
    };
	url = '<?=WEBSITE?>getcity';
    $.ajax({
        type: 'GET',
        url: url,
        cache: false,
        data: postdata,
        success: function(data){
            $("#city-element").html(data);
            
        }
    });

	$("#keyarea").autoSuggest("<?=WEBSITE?>getskills",{preFill: "<?=$keyskills;?>", startText:"Please select skills.",emptyText:""});	
<?if($keyskills!='' && $keyskills!='NULL'){?> 
 //$("#keyarea-element ul").prepend('<?=$strks;?>');
 //$("#keyarea").preFill('<?=$keyskills;?>');
 
 <?}?>
 
 
 $('#language').multiSelect();
 $('#language').multiSelect('select',[<?=$strLan;?>]);
 

 
 
  $('#language').change(function(){
	var stri = 0;
	$('#language > :selected').each(function() {
            stri = stri +1;
        		if(stri == 6)
				{	$('#language').focus();
			//	$('#language').attr('disabled','disabled');
			//	$('#language').multiSelect();
				$('#language-label').html('<font color=red>You can choose only 5 languages.</font>');
				 $('#language').multiSelect('deselect', [$(this).val()]);
				}
				else
				{
				$('#language-label').html('&nbsp;');
				}
		
		});});
	
 
 
 $("#category_id").multiSelect();
 $('#category_id').multiSelect('select',[<?=$strCat;?>]);
 
 
 var str = '';
	$('#category_id > :selected').each(function() {
            str += ($(this).val())+',';   // using text() here, because the 
        });   
				
				
				
	var postdata = {
        'cats' : str,
		'selc' : "<?=$strSubCat;?>"
		
    };
	url = '<?=WEBSITE?>getsubcats';
    $.ajax({
        type: 'GET',
        url: url,
        cache: false,
		data: postdata,
        success: function(data){
            $("#sub_category_id-element").html(data);
            
        }
    });
 
$("#location_id option[value='<?=trim($this->location_id)?>']").attr("selected","selected");
 $("#sub_category_id").multiSelect();
 //$("#sub_category_id").multiSelect('select',[<?=$strSubCat;?>]);
 
 $("#city").multiSelect();
 //$('#city').multiSelect('select',[<?=$strCP;?>]); 
 
 var strVal = $('#location_id').val();
 var ArrStr = strVal.split("-");
	
 strVal = ArrStr[0];
 phonecode= ArrStr[1];
 
	$("#mobilecode").val(phonecode);
	$("#phonecode").val(phonecode);
	if(phonecode == '971' || phonecode == '968' || phonecode == '974' || phonecode == '973' || phonecode == '965' || phonecode == '966' )	
	{
	$("#visaid" ).show();
	$("#datepickerid").show();
	}
	else{	
	$("#visaid" ).hide();
	$("#datepickerid").hide();
	}
 
 $("#datepicker").datepicker(); 
 $('#weight').css('width','100px');
	


	$('#location_id').change(function(){
	var strVal = $('#location_id').val();
	
	var ArrStr = strVal.split("-");
	
	strVal = ArrStr[0];
	phonecode= ArrStr[1];
	
	
	$("#mobilecode").val(phonecode);
	$("#phonecode").val(phonecode);
	if(phonecode == '971' || phonecode == '968' || phonecode == '974' || phonecode == '973' || phonecode == '965' || phonecode == '966' )	
	{
		$( "#visaid" ).show();
		$( "#datepickerid" ).show();
			$("#visa").validate({
                    expression: "if (VAL !='') return true; else return false;",
                    message: "Please select visa id."
                });
		$("#datepicker").validate({
                    expression: "if (VAL !='') return true; else return false;",
                    message: "Please select visa expiry date."
                });
	  
	}
	else
	{
		$( "#visaid" ).hide();
		$( "#datepickerid" ).hide();
		
	}
	
	
	}		);
	
	
	
	$('#preference').change(function(){
	var str = '';
	$('#preference > :selected').each(function() {
            str += "'"+($(this).val())+"',";   // using text() here, because the 
			
		
				
        });   
				
				
				//$("#preference option[value='All']").attr("selected","selected");
				
	var postdata = {
        'cats' : str
    };
	url = '<?=WEBSITE?>getcity';
    $.ajax({
        type: 'GET',
        url: url,
        cache: false,
        data: postdata,
        success: function(data){
            $("#city-element").html(data);
            
        }
    });
	});
	


	$('#category_id').change(function(){
	var str = '';
	$('#category_id > :selected').each(function() {
            str += ($(this).val())+',';   // using text() here, because the 
        });   
				
				
				
	var postdata = {
        'cats' : str
    };
	url = '<?=WEBSITE?>getsubcats';
    $.ajax({
        type: 'GET',
        url: url,
        cache: false,
		data: postdata,
        success: function(data){
            $("#sub_category_id-element").html(data);
            
        }
    });
	});
	
var values="English,Hindi";
var arr = [];
i=0;
$.each(values.split(","), function(i,e){
    	arr[i] = e;
		i=i+1;
});


	
$("#fname").validate({
                    expression: "if (VAL) return true; else return false;",
                    message: "Please enter the First name."
                });
	

	jQuery("#height").validate({
                    expression: "if (VAL !='') return true; else return false;",
                    message: "Please select height."
                });
				
	
				
				
				jQuery("#weight").validate({
                    expression: "if (VAL > 0) return true; else return false;",
                    message: "Please select weight."
                });
				
				
				jQuery("#category_id").validate({
                    expression: "if (VAL) return true; else return false;",
                    message: "Please select job category."
                });
				
			
				
				
					jQuery("#country_id").validate({
                    expression: "if (VAL !=0) return true; else return false;",
                    message: "Please select nationality."
                });
				jQuery("#religion").validate({
                    expression: "if (VAL !='') return true; else return false;",
                    message: "Please select religion."
                });
				jQuery("#maritalstatus").validate({
                    expression: "if (VAL !='') return true; else return false;",
                    message: "Please select marital status."
                });
				jQuery("#location_id").validate({
                    expression: "if (VAL !=0) return true; else return false;",
                    message: "Please select current location."
                });
				jQuery("#mobile").validate({
                    expression: "if (VAL) return true; else return false;",
                    message: "Please select mobile."
                });
				jQuery("#language").validate({
                    expression: "if (VAL) return true; else return false;",
                    message: "Please select language."
                });
				jQuery("#education_id").validate({
					
                    expression: "if (VAL) return true; else return false;",
                    message: "Please select education."
                });
					jQuery("#terms").validate({
					
                    expression: "if (isChecked(SelfID)) return true; else return false;",
                    message: "Please accept terms to continue."
                });
				jQuery("#jobtype").validate({
                    expression: "if (VAL) return true; else return false;",
                    message: "Please select job type."
                });
				jQuery("#abtyou").validate({
                    expression: "if (VAL !='') return true; else return false;",
                    message: "Please enter about you and your experience."
                });
				jQuery("#abtyou").validate({
                    expression: "if (VAL.length > 45) return true; else return false;",
                    message: "You need to enter at least 45 characters about you."
                });
	
	
$("#mobile").on('blur',function(){
if($('#mobile').val() !=''){
	mobile = $("#mobilecode").val()+" - "+$("#mobile").val()
	url = '<?=WEBSITE?>checkajaxregister?mobile='+mobile;
	$("#mobile").after('<span id="mobileloading">&nbsp;&nbsp;Please wait...</span>');
    $.ajax({
        type: 'GET',
        url: url,
        cache: false,		
        success: function(data){
		$("#mobileloading").remove();
		$("#mobiletick").remove();
            if(data==1)	{		
				$("#mobile").after('<span class="ValidationErrors" id="mobileloading">Mobile "<b>'+mobile+'</b>" already exists.</span>');
				$("#mobile").val('');
				$("#mobile").addClass("ErrorField");
            }
			else
			$("#mobile").after('<span id="mobiletick">&nbsp;&nbsp;<img src="images/tick.png" width=20 height=20><span>');
        }
    });	
	}
});	



	 	});	
			
</script>

<style>

#signupForm label.error {
margin-left: 10px;
width: auto;
display: inline;
color: red;
font-style: italic;
}

.errors {
margin-left: 11px;
width: auto;
color: red;
font-style: italic;
font-size: 11px;
display: inline-block;
}

</style>
