
<select name="city[]" id="city" multiple="multiple" class="select margin-topZ">
    <?
	
	
	foreach($this->subcats as $v){?>
	
	<option value="<?=$v['city']?>" label="<?=$v['city']?>"><?=$v['city']?></option>
	
	<?}?>
  
</select>

<script>
    $("#city").multiSelect();
    $("#city").multiSelect('select',[<?=$this->citySelc?>]);

</script>