
<select name="city[]" id="city" multiple="multiple" class="select margin-topZ">
    <?
	if($this->subcats ==0){?>
		<option value="All" label="<?=$v['city']?>" >All</option>
	<?}
	else{
	foreach($this->subcats as $v){?>
	
	<option value="<?=$v['city']?>" label="<?=$v['city']?>"><?=$v['city']?></option>
	
	<?}}?>
  
</select>

<script>$("#city").multiSelect();
 <?	if($this->subcats ==0){?>
$("#city").multiSelect('select','All');
<?}else{?>
$("#city").multiSelect('select',[<?=$this->citySelc?>]);
<?}?>
</script>