<?if(count($this->photos) ==0){?>
<br><br><center>Sorry. No Image available. Please upload first.</center>
<?}else{?>

<form method="post" action="<?=WEBSITE?>getmyimages">
<div id="target" style=" height: 330px;">
<?
$i=1;

foreach($this->photos as $val){?>

<div style="float:left;padding:10px;"><img src="<?=WEBSITE?>uploads/<?=$val['photo']?>" width=100 height=100><br><center><input checked type=radio name=pp value="<?=$val['photo']?>">&nbsp;&nbsp;profile image</center></div>

<?
if($i++ % 4 ==0)
	echo "<br>";
}?>

</div>
<br>
<center><input type=submit value="Save" style="width:60px;height:30px;"></center>
</form>
<?}?>