
<select name="sub_category_id[]" id="sub_category_id" multiple="multiple" class="select margin-topZ">
    <?
	
	
	foreach($this->subcats as $v){?>
	<?if($this->st == 'job'){?>
	<option value="<?=$v['category'];?>" label="<?=$v['category']?>" ><?=$v['category']?></option>
	<?}else{?>
	<option value="<?=$v['category'];?>-<?=$v['id']?>" label="<?=$v['category']?>" ><?=$v['category']?></option>
	<?}?>
	<?}?>
  
</select>

<script>
$("#sub_category_id").multiSelect();
<?if(isset($this->catSelc) && $this->catSelc!='' ){?>
$('#sub_category_id').multiSelect('select',[<?=$this->catSelc?>]);
<?}?>
$('#sub_category_id').change(function(){

	var stri = 0;
	$('#sub_category_id > :selected').each(function() {
            stri = stri +1;
        
			if(stri == 8)
				{	$('#sub_category_id').focus();
			//	$('#language').attr('disabled','disabled');
			//	$('#language').multiSelect();
				 $('#sub_category_id-label').html('<font color=red>You can choose only 7 Roles.</font>');
				 $('#sub_category_id').multiSelect('deselect', [$(this).val()]);
				return false;}
				else
				{
				$('#sub_category_id-label').html('&nbsp;');
				}
		
		});
});

</script>