

<select name="sub_category_id[]" id="sub_category_id" multiple="multiple" class="select margin-topZ">
    <?
	
	
	foreach($this->subcats as $v){?>
	
	<option value="<?=$v['category'];?>-<?=$v['id']?>" label="<?=$v['category']?>" ><?=$v['category']?></option>
	
	<?}?>
  
</select>

<script>
$("#sub_category_id").multiSelect();
$('#sub_category_id').multiSelect('select',[<?=$this->catSelc?>]);

</script>