<style>

#signupForm label.error {
margin-left: 10px;
width: auto;
display: inline;
color: red;
font-style: italic;
}

</style>
<!-- the middle contents -->
	<div class="contents">
		<section id="post">
			<div class="container">
				<div class="row">
					<div class="col col-lg-3">
						<h3 class="sub-heading"><span class="yellowish">$99</span> for 30 days</h3>
						<p><strong>How it works</strong></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at augue metus, at aliquam leo. Nam ac justo nisl. Ut non orci odio. Praesent lobortis blandit lacus et consectetur. Etiam ac sagittis tortor. Vestibulum vestibulum sem nec purus congue cursus. Sed bibendum lectus id tellus egestas sit amet interdum leo fringilla. Fusce dictum neque ut massa facilisis nec mattis erat blandit. In vel vestibulum massa.</p>

					
					</div>
					<div class="col col-lg-5">
						<h3 class="sub-heading"><span class="yellowish">Featured Jobs</span></h3>
						<p><strong>ABCD</strong></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Praesent lobortis blandit lacus et consectetur. Etiam ac sagittis tortor. Vestibulum vestibulum sem nec purus congue cursus. Sed bibendum lectus id tellus egestas sit amet interdum leo fringilla. Fusce dictum neque ut massa facilisis nec mattis erat blandit. In vel vestibulum massa.</p>

					<p><strong>ABCD</strong></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Vestibulum vestibulum sem nec purus congue cursus. Sed bibendum lectus id tellus egestas sit amet interdum leo fringilla. Fusce dictum neque ut massa facilisis nec mattis erat blandit. In vel vestibulum massa.</p>

					</div>
					<div class="col col-lg-4">
						<h3 class="sub-heading">Login</h3>
						<div class="content-inner-detail">
					<form>
					  <fieldset>
					    
					    <label>Username</label>
					    <input type="text"  style="width:300px">
					    <br>
					    <label>Password</label>
					    <input type="password"  style="width:300px">
					    <div class="checkbox">
					      <label>
					        <input type="checkbox"> Subscribe to our newsletter
					      </label>
					    </div>
						<button type="submit" class="btn btn-default">Sign In</button>
					    
					  </fieldset>
					</form>
				</div>
					</div>
				</div>
			</div>
		</section>
	</div><!-- /.contents -->
	
  