<script type="text/javascript" src="js/cycle-plugin.js"></script>
<script>
$(document).ready(function() {
    $(".all-countries").click(function(){
		$(".counties").slideToggle();
	});
    $("#phone-M").click(function(){
		$(".phone-box").slideToggle();
	});	
	 $("#textA").click(function(){
		$("textarea").slideToggle();
	});
	
	$('#fade').cycle();	
});


</script>
<? $auth = Zend_Auth::getInstance();
            ?>

				<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'purchased')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>Thanks for purchasing. Your account has been updated.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>

<?if($_REQUEST['id']==1){?>	
	
	
		  <!-- Package details -->
    <div class="package-details" style="padding-top:0px;">
	 <div class="mid_box_header" style="width:880px;">
        <p>Membership <span class="recently_joined_count"> </span></p>
	</div>
	

<a href="employerregistration"><img src="images/eoffer.png"></a>
<br><br>
      <!-- Post -->
      <div class="packages-box">
        <div class="packages-box-row">
          <div class="packages-box-cell features pack-head">Features</div>
            <div class="packages-box-cell quick-post pack-head">Free</div>
		  <div class="packages-box-cell quick-post pack-head">Quick Post</div>
		  
          <div class="packages-box-cell quick-interest pack-head">Quick Interest</div>
          <div class="packages-box-cell custom pack-head">Custom</div>
        </div>
        <div class="packages-box-row">
          <div class="packages-box-cell features-detail">Price</div>
		   <div class="packages-box-cell  quick-post-detail l-green"><span class="cube-img  aed-300">FREE <br>
            </span></div>
          <div class="packages-box-cell  quick-post-detail l-green"><span class="cube-img  aed-300">AED <br>
            300</span></div>
          <div class="packages-box-cell  quick-interest-detail l-green"><span class="cube-img  aed-200">AED<br>
            200</span></div>
          <div class="packages-box-cell custom-detail l-green"><span class="cube-img total-cube aed-total">Total<br>
		  <span id=newtotal style="background:none">0</span></span></div>
        </div>
        <div class="packages-box-row">
          <div class="packages-box-cell features-detail l-gray">No. Of Job Posts*</div>
          <div class="packages-box-cell  quick-post-detail l-green1 nor-center-text">Unlimited</div>
		  <div class="packages-box-cell  quick-post-detail l-green1 nor-center-text">Unlimited</div>
          <div class="packages-box-cell  quick-interest-detail nor-center-text l-green2"><img src="images/job-close.png"></div>
          <div class="packages-box-cell custom-detail l-blue quick-post-checkbox">
    		
				<select class="select margin-topZ" id="jobpost" onchange="populatejobpost();">
			<option value="0">Select</option> 
			<option value="50">1</option> 
		<option value="100">2</option> 
		<option value="200">5</option> 
		<option value="350">10</option> 
	</select>
	
          </div>
        </div>
       
        <div class="packages-box-row">
          <div class="packages-box-cell features-detail">Bulk SMS</div>
          <div class="packages-box-cell  quick-post-detail l-green nor-center-text">50 Per Week</div>
		  <div class="packages-box-cell  quick-post-detail l-green nor-center-text">100</div>
          <div class="packages-box-cell  quick-interest-detail nor-center-text l-green"><img src="images/job-close.png"></div>
          <div class="packages-box-cell custom-detail l-green quick-post-checkbox">
          <select class="select margin-topZ" id="bulksms" onchange="bulksms();">
	<option value="0">Select</option> 
		<option value="100">100</option> 
		<option value="150">200</option> 
		<option value="300">500</option> 
		<option value="600">1000</option> 
		</select>
          </div>
        </div>
        <div class="packages-box-row">
          <div class="packages-box-cell features-detail l-gray">Express Interest to candidates and get contact details</div>
          <div class="packages-box-cell  quick-post-detail nor-center-text l-green1">15</div>
		  <div class="packages-box-cell  quick-post-detail nor-center-text l-green1">50</div>
          <div class="packages-box-cell  quick-interest-detail nor-center-text l-green2">100</div>
          <div class="packages-box-cell custom-detail l-blue quick-post-checkbox">
<select class="select margin-topZ" id="candidateinterest" onchange="candidateinterest();">
	<option value="0">Select</option> 
		<option value="100">10</option> 
		<option value="200">20</option> 
		<option value="400">50</option> 
		<option value="750">100</option> 
	</select>          </div>
        </div>
        <div class="packages-box-row">
          <div class="packages-box-cell features-detail l-gray">Feature Job</div>
          <div class="packages-box-cell  quick-interest-detail nor-center-text l-green"><img src="images/job-close.png"></div>
		  <div class="packages-box-cell  quick-post-detail l-green nor-center-text">1</div>
          <div class="packages-box-cell  quick-interest-detail nor-center-text l-green"><img src="images/job-close.png"></div>
          <div class="packages-box-cell custom-detail l-green quick-post-checkbox">
            <select class="select margin-topZ" id="featured" onchange="featured();">
	<option value="0">Select</option> 
	<option value="30">1</option> 
		<option value="50">2</option> 
		<option value="100">5</option> 
		<option value="200">10</option> 
	
	</select>
          </div>
        </div>
        
        <div class="validity">* validity of job post is 15 days</div>
      </div>
      <!-- Post End  --> 
      <!-- Why Us -->
      <div class="why-us-big">
        <div id="fade" class="big-sld">
          <div class="looping"><span>Express Interest</span> <img src="images/express-bigimg.jpg" >
            <p>Express Interest in candidate profile, an instant SMS notification will be send the candidate to contact you</p>
          </div>
          <div class="looping"><span>Bulk SMS</span> <img src="images/bulk-smsbig.jpg" >
            <p>Post a Job and We will Notify Candidates who meet your requirement by sending SMS to them</p>
          </div>
          <div class="looping"><span>Feature Job</span> <img src="images/job-searchbig.jpg" >
            <p>Priority / Increase Visibility in Search result</p>
          </div>
          <div class="looping"><span>Video</span> <img src="images/video-big.jpg" >
            <p>Video Interview of Candidates from around the world.</p>
          </div>
        </div>
      </div>
      <!-- Why Us End -->
      <div class="clear"></div>
      <br>
      <br>
      <br>
      <br>
      <table width="100%" border="0" class="job-post" cellspacing="0" cellpadding="0">
        <tr>
         
          <td width="12%" class="thead">Feature Job</td>
          <td width="8%" class="thead">Price (AED)</td>
          <td width="10%" class="thead">Bulk SMS</td>
          <td width="8%" class="thead">Price (AED)</td>
          <td width="10%" class="thead">Express Interest</td>
          <td width="7%" class="thead">Price (AED)</td>
        </tr>
        <tr>
          <td class="trow">1</td>
          <td class="trow">30</td>
          <td class="trow">100</td>
          <td class="trow">100</td>
          <td class="trow">10</td>
          <td class="trow">100</td>
        </tr>
        <tr>
          <td class="trow1">2</td>
          <td class="trow1">50</td>
          <td class="trow1">200</td>
          <td class="trow1">150</td>
          <td class="trow1">20</td>
          <td class="trow1">200</td>
        </tr>
		
        <tr>
          <td class="trow">5</td>
          <td class="trow">100</td>
          <td class="trow">500</td>
          <td class="trow">300</td>
          <td class="trow">50</td>
          <td class="trow">400</td>
        </tr>
        
		
		<tr>
          <td class="trow1">10</td>
          <td class="trow1">200</td>
          <td class="trow1">1000</td>
          <td class="trow1">600</td>
          <td class="trow1">100</td>
          <td class="trow1">750</td>
         
        </tr>
		
      </table>
      <div class="clear"></div>
    </div>
    <!-- Package details End --> 
  
	

	
	
	
	
	
	
	
	
	
	
	<span style="display:none">
	
	
	
	
	<!-- Package details -->
    <div class="package-details"> 
    <h3>Packages</h3>
      <!-- Feature -->
      <div class="feature-main">
        <h3>Features</h3>
        <div class="feature-inside"><img src="images/sms_img.png" >
          <p><span>Bulk SMS:</span> Post a Job and We will Notify Candidates who meet your requirements by sending  SMS to them</p>
          <div class="clear"></div>
        </div>
        <div class="feature-inside"><img src="images/express_ins.jpg" >
          <p><span>Express Interest:</span> Express Interest in candidate profile, an instant SMS notification will be send the candidate to contact you</p>
          <div class="clear"></div>
        </div>
        <div class="feature-inside"><img src="images/job_img.jpg" >
          <p><span>Video:</span> Video Interview of Candidates from around the world.</p>
          <div class="clear"></div>
        </div>
        <div class="feature-inside"><img src="images/video_img.jpg" >
          <p><span>Feature Job:</span> Priority / Increase Visibility in Search result</p>
          <div class="clear"></div>
        </div>
      </div>
      <!-- Feature End --> 
      
      <!-- Quick Packages -->
      <div class="quick-packages">
        <h3>Quick Packages</h3>
        <ul>
          <h4>Quick Post</h4>
          <li>Post  a  Job for 2 weeks</li>
          <li>100 BULKSMS</li>
          <li>20 Candidates Access (Express Interest and Get their contact details)</li>
          <p>AED 300</p>
          <a href="buypackageoptions?package=quickpost&price=300"><button type="button" class="buy-now">Buy Now</button></a>
          <div class="clear"></div>
        </ul>
        <ul>
          <h4> Quick Interest</h4>
          <li>20 Candidates Access (Express  
            Interest and Get their contact details </li>
          <p>AED 200</p>
          <a href="buypackageoptions?package=quickinterest&price=200"><button type="button" class="buy-now">Buy Now</button></a>
          <div class="clear"></div>
        </ul>
      </div>
      <!-- Quick Packages End --> 
      <div class="clear"></div>
      <!-- Feature -->
      <div class="feature-main price-list">
        <h3>Price List</h3>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="thead">Jobs Post</td>
    <td class="thead">Price (AED)</td>
    <td class="thead-green">Feature Job</td>
    <td class="thead-green">Price (AED)</td>
    <td class="thead-gray">Bulk SMS</td>
    <td class="thead-gray">Price (AED)</td>
  </tr>
  <tr>
    <td class="trow">1</td>
    <td class="trow">50</td>
    <td class="trow-green">1</td>
    <td class="trow-green">30</td>
    <td class="trow-gray">100</td>
    <td class="trow-gray">100</td>
  </tr>
  <tr>
    <td class="trow1">2</td>
    <td class="trow1">100</td>
    <td class="trow1-green">2</td>
    <td class="trow1-green">50</td>
    <td class="trow1-gray">200</td>
    <td class="trow1-gray">150</td>
  </tr>
  <tr>
    <td class="trow">5</td>
    <td class="trow">200</td>
    <td class="trow-green">5</td>
    <td class="trow-green">100</td>
    <td class="trow-gray">500</td>
    <td class="trow-gray">300</td>
  </tr>
  <tr>
    <td class="trow1">10</td>
    <td class="trow1">350</td>
    <td class="trow1-green">10</td>
    <td class="trow1-green">200</td>
    <td class="trow1-gray">1000</td>
    <td class="trow1-gray">600</td>
  </tr>
</table>
   
      </div>
      <!-- Feature End -->
     
        <!-- Make Your Own Package -->
      <div class="quick-packages make-yr-wonpck">
        <h3>Make Your Own Package</h3>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="56%" class="thead">Features</td>
    <td width="22%" align="center" class="thead-segreen">Quantity</td>
    <td width="22%" align="center" class="thead-gray">Price (AED)</td>
  </tr>
  <script>
  
  function populatejobpost()
  {
	var jobpostval = $('#jobpost').val();
	$("#jobpost_total").html(jobpostval);
	var sum = parseInt($("#jobpost_total").html()) + parseInt($("#featured_total").html())+ parseInt($("#bulksms_total").html())+ parseInt($("#candidateinterest_total").html());
	$("#total").html(sum);$("#newtotal").html(sum);
	
  }
  
  function featured()
  {
  var jobpostval = $('#featured').val();
	$("#featured_total").html(jobpostval);  
  var sum = parseInt($("#jobpost_total").html()) + parseInt($("#featured_total").html())+ parseInt($("#bulksms_total").html())+ parseInt($("#candidateinterest_total").html()) ;
	$("#total").html(sum);$("#newtotal").html(sum);
  }
  
  function candidateinterest()
  {
  var jobpostval = $('#candidateinterest').val();
	$("#candidateinterest_total").html(jobpostval);  
  var sum = parseInt($("#jobpost_total").html()) + parseInt($("#featured_total").html())+ parseInt($("#bulksms_total").html())+ parseInt($("#candidateinterest_total").html())  ;
	$("#total").html(sum);$("#newtotal").html(sum);
	}
	
	
  
  function bulksms()
  {
  var jobpostval = $('#bulksms').val();
	$("#bulksms_total").html(jobpostval);  
  var sum = parseInt($("#jobpost_total").html()) + parseInt($("#featured_total").html())+ parseInt($("#bulksms_total").html())+ parseInt($("#candidateinterest_total").html())  ;
	$("#total").html(sum);$("#newtotal").html(sum);
	}
  
   function onpageload()
  {
	$('#bulksms').val('0');
	//$('#candidateadd').val('0');
	$('#candidateinterest').val('0');
	$('#featured').val('0');
	$('#jobpost').val('0');
	
	
  }
  onpageload();
  
  function buynow()
  {
	var jobpostval = $('#jobpost').val();
	
	if($("#total").html() == 0){
		alert("Please choose any option to continue.");return false;}
	
	var str='price='+$("#total").html()+"&";
	if(jobpostval == '50')
		str += "jobs=1&";
	else if(jobpostval == '100')
		str += "jobs=2&";
	else if(jobpostval == '200')
		str += "jobs=5&";
	else if(jobpostval == '350')
		str += "jobs=10&";

	var jobpostval = $('#bulksms').val();
	
	
	if(jobpostval == '100')
		str += "bulksms=100&";
	else if(jobpostval == '150')
		str += "bulksms=200&";
	else if(jobpostval == '300')
		str += "bulksms=500&";
	else if(jobpostval == '600')
		str += "bulksms=1000&";	
  
  var jobpostval = $('#featured').val();
	
	
	if(jobpostval == '30')
		str += "featured=1&";
	else if(jobpostval == '50')
		str += "featured=2&";
	else if(jobpostval == '100')
		str += "featured=5&";
	else if(jobpostval == '200')
		str += "featured=10&";	
  
  
  var jobpostval = $('#candidateinterest').val();
	
	
	if(jobpostval == '100')
		str += "candidateinterest=10&";
	else if(jobpostval == '200')
		str += "candidateinterest=20&";
	else if(jobpostval == '400')
		str += "candidateinterest=50&";
	else if(jobpostval == '750')
		str += "candidateinterest=100&";	
  
  
	window.location.href='buypackageoptions?package=custom&'+str;
  
  }
  </script>
  <tr>
    <td>Job Post</td>
    <td>
	<select class="select margin-topZ" id="jobpost" onchange="populatejobpost();">
			<option value="">Select</option> 
			<option value="50">1</option> 
		<option value="100">2</option> 
		<option value="200">5</option> 
		<option value="350">10</option> 
	</select></td>
    <td class="trow-gray" id="jobpost_total">0</td>
  </tr>
  <tr>
    <td>Feature Jobs</td>
    <td><select class="select margin-topZ" id="featured" onchange="featured();">
	<option value="">Select</option> 
	<option value="30">1</option> 
		<option value="50">2</option> 
		<option value="100">5</option> 
		<option value="200">10</option> 
	
	</select></td>
    <td class="trow1-gray" id="featured_total">0</td>
  </tr>
  <tr>
    <td>Bulk SMS</td>
    <td><select class="select margin-topZ" id="bulksms" onchange="bulksms();">
	<option value="">Select</option> 
		<option value="100">100</option> 
		<option value="150">200</option> 
		<option value="300">500</option> 
		<option value="600">1000</option> 
		</select></td>
    <td class="trow-gray" id="bulksms_total">0</td>
  </tr>
  <tr>
    <td>Candidate express Interest/Contact details</td>
    <td><select class="select margin-topZ" id="candidateinterest" onchange="candidateinterest();">
	<option value="">Select</option> 
		<option value="100">10</option> 
		<option value="200">20</option> 
		<option value="400">50</option> 
		<option value="750">100</option> 
	</select></td>
    <td class="trow1-gray" id="candidateinterest_total">0</td>
  </tr>
  
  
</table>

        <table width="186" border="0" cellspacing="0" cellpadding="0" class="total-price">
  <tr>
    <td width="67">Total</td>
    <td width="67" id="total">0</td>
  </tr>
</table>
<div class="clear"></div>
<button type="button" class="buy-now buy-total" onclick="buynow();">Buy Now</button>

      </div>
      <!-- Make Your Own Package End --> 
      
      
      
      
      
      
    </div>
    <!-- Package details End --> 
	</span>

<?}?>


<?if($_REQUEST['id']==2){?>	
	
	  <!-- Package details -->
    <div class="package-details" style="padding-top:0px;">
	 <div class="mid_box_header" style="width:880px;">
        <p>Membership <span class="recently_joined_count"> </span></p>
	</div>
	<a href="agencyregistration"><img src="images/aoffer.png"></a>
<br><br>
      <!-- Post -->
      <div class="packages-box">
        <div class="packages-box-row">
          <div class="packages-box-cell features pack-head">Features</div>
          <div class="packages-box-cell quick-post pack-head">Quick Post</div>
          <div class="packages-box-cell quick-interest pack-head">Quick Interest</div>
          <div class="packages-box-cell custom pack-head">Custom</div>
        </div>
        <div class="packages-box-row">
          <div class="packages-box-cell features-detail">Price</div>
          <div class="packages-box-cell  quick-post-detail l-green"><span class="cube-img  aed-300">AED <br>
            300</span></div>
          <div class="packages-box-cell  quick-interest-detail l-green"><span class="cube-img  aed-200">AED<br>
            200</span></div>
          <div class="packages-box-cell custom-detail l-green"><span class="cube-img total-cube aed-total">Total<br>
		  <span id=newtotal style="background:none">0</span></span></div>
        </div>
        <div class="packages-box-row">
          <div class="packages-box-cell features-detail l-gray">No. Of Job Posts*</div>
          <div class="packages-box-cell  quick-post-detail l-green1 nor-center-text">1</div>
          <div class="packages-box-cell  quick-interest-detail nor-center-text l-green2"><img src="images/job-close.png"></div>
          <div class="packages-box-cell custom-detail l-blue quick-post-checkbox">
    		
				<select class="select margin-topZ" id="jobpost" onchange="populatejobpost();">
			<option value="0">Select</option> 
			<option value="50">1</option> 
		<option value="100">2</option> 
		<option value="200">5</option> 
		<option value="350">10</option> 
	</select>
	
          </div>
        </div>
        <div class="packages-box-row">
          <div class="packages-box-cell features-detail">Add candidates</div>
          <div class="packages-box-cell  quick-post-detail nor-center-text l-green">5</div>
          <div class="packages-box-cell  quick-interest-detail nor-center-text l-green">5</div>
          <div class="packages-box-cell custom-detail l-green quick-post-checkbox">
           <select class="select margin-topZ" id="candidateadd" onchange="candidateadd();">
	<option value="0">Select</option> 
		<option value="100">10</option> 
		<option value="200">20</option> 
		<option value="400">50</option> 
		<option value="750">100</option> 
	</select>
          </div>
        </div>
        <div class="packages-box-row">
          <div class="packages-box-cell features-detail l-gray">Bulk SMS</div>
          <div class="packages-box-cell  quick-post-detail l-green1 nor-center-text">50</div>
          <div class="packages-box-cell  quick-interest-detail nor-center-text l-green2"><img src="images/job-close.png"></div>
          <div class="packages-box-cell custom-detail l-blue quick-post-checkbox">
          <select class="select margin-topZ" id="bulksms" onchange="bulksms();">
	<option value="0">Select</option> 
		<option value="100">100</option> 
		<option value="150">200</option> 
		<option value="300">500</option> 
		<option value="600">1000</option> 
		</select>
          </div>
        </div>
        <div class="packages-box-row">
          <div class="packages-box-cell features-detail">Express Interest to candidates and get contact details</div>
          <div class="packages-box-cell  quick-post-detail nor-center-text l-green">25</div>
          <div class="packages-box-cell  quick-interest-detail nor-center-text l-green">20</div>
          <div class="packages-box-cell custom-detail l-green quick-post-checkbox">
<select class="select margin-topZ" id="candidateinterest" onchange="candidateinterest();">
	<option value="0">Select</option> 
		<option value="100">10</option> 
		<option value="200">20</option> 
		<option value="400">50</option> 
		<option value="750">100</option> 
	</select>          </div>
        </div>
        <div class="packages-box-row">
          <div class="packages-box-cell features-detail l-gray">Feature Job</div>
          <div class="packages-box-cell  quick-post-detail l-green1 nor-center-text">1</div>
          <div class="packages-box-cell  quick-interest-detail nor-center-text l-green2"><img src="images/job-close.png"></div>
          <div class="packages-box-cell custom-detail l-blue quick-post-checkbox">
            <select class="select margin-topZ" id="featured" onchange="featured();">
	<option value="0">Select</option> 
	<option value="30">1</option> 
		<option value="50">2</option> 
		<option value="100">5</option> 
		<option value="200">10</option> 
	
	</select>
          </div>
        </div>
        <div class="validity">* validity of job post is 15 days</div>
      </div>
      <!-- Post End  --> 
      <!-- Why Us -->
      <div class="why-us-big">
        <div id="fade" class="big-sld">
          <div class="looping"><span>Express Interest</span> <img src="images/express-bigimg.jpg" >
            <p>Express Interest in candidate profile, an instant SMS notification will be send the candidate to contact you</p>
          </div>
          <div class="looping"><span>Bulk SMS</span> <img src="images/bulk-smsbig.jpg" >
            <p>Post a Job and We will Notify Candidates who meet your requirement by sending SMS to them</p>
          </div>
          <div class="looping"><span>Feature Job</span> <img src="images/job-searchbig.jpg" >
            <p>Priority / Increase Visibility in Search result</p>
          </div>
          <div class="looping"><span>Video</span> <img src="images/video-big.jpg" >
            <p>Video Interview of Candidates from around the world.</p>
          </div>
        </div>
      </div>
      <!-- Why Us End -->
      <div class="clear"></div>
      <br>
      <br>
      <br>
      <br>
      <table width="100%" border="0" class="job-post" cellspacing="0" cellpadding="0">
        <tr>
          <td width="11%" class="thead">Jobs Post</td>
          <td width="8%" class="thead">Price (AED)</td>
          <td width="12%" class="thead">Feature Job</td>
          <td width="8%" class="thead">Price (AED)</td>
          <td width="10%" class="thead">Bulk SMS</td>
          <td width="8%" class="thead">Price (AED)</td>
          <td width="10%" class="thead">Express Interest</td>
          <td width="7%" class="thead">Price (AED)</td>
          <td width="11%" class="thead">No of Candidates</td>
          <td width="7%" class="thead">Price (AED)</td>
        </tr>
        <tr>
          <td class="trow">1</td>
          <td class="trow">50</td>
          <td class="trow">1</td>
          <td class="trow">30</td>
          <td class="trow">100</td>
          <td class="trow">100</td>
          <td class="trow">10</td>
          <td class="trow">100</td>
          <td class="trow">10</td>
          <td class="trow">100</td>
        </tr>
        <tr>
          <td class="trow1">2</td>
          <td class="trow1">100</td>
          <td class="trow1">2</td>
          <td class="trow1">50</td>
          <td class="trow1">200</td>
          <td class="trow1">150</td>
          <td class="trow1">20</td>
          <td class="trow1">200</td>
          <td class="trow1">20</td>
          <td class="trow1">200</td>
        </tr>
		
        <tr>
          <td class="trow">5</td>
          <td class="trow">200</td>
          <td class="trow">5</td>
          <td class="trow">100</td>
          <td class="trow">500</td>
          <td class="trow">300</td>
          <td class="trow">50</td>
          <td class="trow">400</td>
          <td class="trow">50</td>
          <td class="trow">400</td>
        </tr>
        
		
		<tr>
          <td class="trow1">10</td>
          <td class="trow1">350</td>
          <td class="trow1">10</td>
          <td class="trow1">200</td>
          <td class="trow1">1000</td>
          <td class="trow1">600</td>
          <td class="trow1">100</td>
          <td class="trow1">750</td>
          <td class="trow1">100</td>
          <td class="trow1">750</td>
        </tr>
		
      </table>
      <div class="clear"></div>
    </div>
    <!-- Package details End --> 
  
	
	
	
	
	
	
	
	
	
	<span style="display:none">
	<!-- Package details -->
    <div class="package-details"> 
    <h3>Packages</h3>
      <!-- Feature -->
      <div class="feature-main">
        <h3>Features</h3>
        <div class="feature-inside"><img src="images/sms_img.png" >
          <p><span>Bulk SMS:</span> Post a Job and We will Notify Candidates who meet your requirements by sending  SMS to them</p>
          <div class="clear"></div>
        </div>
        <div class="feature-inside"><img src="images/express_ins.jpg" >
          <p><span>Express Interest:</span> Express Interest in candidate profile, an instant SMS notification will be send the candidate to contact you</p>
          <div class="clear"></div>
        </div>
        <div class="feature-inside"><img src="images/job_img.jpg" >
          <p><span>Video:</span> Video Interview of Candidates from around the world.</p>
          <div class="clear"></div>
        </div>
        <div class="feature-inside"><img src="images/video_img.jpg" >
          <p><span>Feature Job:</span> Priority / Increase Visibility in Search result</p>
          <div class="clear"></div>
        </div>
      </div>
      <!-- Feature End --> 
      
      <!-- Quick Packages -->
      <div class="quick-packages">
        <h3>Quick Packages</h3>
        <ul>
          <h4>Quick Post</h4>
          <li>Post  a  Job for 2 weeks</li>
          <li>100 BULKSMS</li>
          <li>20 Candidates Access (Express Interest and Get their contact details)</li>
          <p>AED 300</p>
          <a href="buypackageoptions?package=quickpost&price=300"><button type="button" class="buy-now">Buy Now</button></a>
          <div class="clear"></div>
        </ul>
        <ul>
          <h4> Quick Interest</h4>
          <li>20 Candidates Access (Express  
            Interest and Get their contact details </li>
          <p>AED 200</p>
          <a href="buypackageoptions?package=quickinterest&price=200"><button type="button" class="buy-now">Buy Now</button></a>
          <div class="clear"></div>
        </ul>
      </div>
      <!-- Quick Packages End --> 
      <div class="clear"></div>
      <!-- Feature -->
      <div class="feature-main price-list">
        <h3>Price List</h3>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="thead">Jobs Post</td>
    <td class="thead">Price (AED)</td>
    <td class="thead-green">Feature Job</td>
    <td class="thead-green">Price (AED)</td>
    <td class="thead-gray">Bulk SMS</td>
    <td class="thead-gray">Price (AED)</td>
  </tr>
  <tr>
    <td class="trow">1</td>
    <td class="trow">50</td>
    <td class="trow-green">1</td>
    <td class="trow-green">30</td>
    <td class="trow-gray">100</td>
    <td class="trow-gray">100</td>
  </tr>
  <tr>
    <td class="trow1">2</td>
    <td class="trow1">100</td>
    <td class="trow1-green">2</td>
    <td class="trow1-green">50</td>
    <td class="trow1-gray">200</td>
    <td class="trow1-gray">150</td>
  </tr>
  <tr>
    <td class="trow">5</td>
    <td class="trow">200</td>
    <td class="trow-green">5</td>
    <td class="trow-green">100</td>
    <td class="trow-gray">500</td>
    <td class="trow-gray">300</td>
  </tr>
  <tr>
    <td class="trow1">10</td>
    <td class="trow1">350</td>
    <td class="trow1-green">10</td>
    <td class="trow1-green">200</td>
    <td class="trow1-gray">1000</td>
    <td class="trow1-gray">600</td>
  </tr>
</table>
   
      </div>
      <!-- Feature End -->
     
        <!-- Make Your Own Package -->
      <div class="quick-packages make-yr-wonpck">
        <h3>Make Your Own Package</h3>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="56%" class="thead">Features</td>
    <td width="22%" align="center" class="thead-segreen">Quantity</td>
    <td width="22%" align="center" class="thead-gray">Price (AED)</td>
  </tr>
  <script>
  
  function populatejobpost()
  {
	var jobpostval = $('#jobpost').val();
	$("#jobpost_total").html(jobpostval);
	var sum = parseInt($("#jobpost_total").html()) + parseInt($("#featured_total").html())+ parseInt($("#bulksms_total").html())+ parseInt($("#candidateinterest_total").html()) + parseInt($("#candidateadd_total").html()) ;
	$("#total").html(sum);$("#newtotal").html(sum);
	
  }
  
  function featured()
  {
  var jobpostval = $('#featured').val();
	$("#featured_total").html(jobpostval);  
  var sum = parseInt($("#jobpost_total").html()) + parseInt($("#featured_total").html())+ parseInt($("#bulksms_total").html())+ parseInt($("#candidateinterest_total").html()) + parseInt($("#candidateadd_total").html()) ;
	$("#total").html(sum);$("#newtotal").html(sum);
  }
  
  function candidateinterest()
  {
  var jobpostval = $('#candidateinterest').val();
	$("#candidateinterest_total").html(jobpostval);  
  var sum = parseInt($("#jobpost_total").html()) + parseInt($("#featured_total").html())+ parseInt($("#bulksms_total").html())+ parseInt($("#candidateinterest_total").html()) + parseInt($("#candidateadd_total").html()) ;
	$("#total").html(sum);$("#newtotal").html(sum);
	}
	
	 function candidateadd()
  {
  var jobpostval = $('#candidateadd').val();
	$("#candidateadd_total").html(jobpostval);  
  var sum = parseInt($("#jobpost_total").html()) + parseInt($("#featured_total").html())+ parseInt($("#bulksms_total").html())+ parseInt($("#candidateinterest_total").html())+ parseInt($("#candidateadd_total").html()) ;
	$("#total").html(sum);$("#newtotal").html(sum);
	}
  
  function bulksms()
  {
  var jobpostval = $('#bulksms').val();
	$("#bulksms_total").html(jobpostval);  
  var sum = parseInt($("#jobpost_total").html()) + parseInt($("#featured_total").html())+ parseInt($("#bulksms_total").html())+ parseInt($("#candidateinterest_total").html()) + parseInt($("#candidateadd_total").html()) ;
	$("#total").html(sum);$("#newtotal").html(sum);
	}
  
  function onpageload()
  {
	$('#bulksms').val('0');
	$('#candidateadd').val('0');
	$('#candidateinterest').val('0');
	$('#featured').val('0');
	$('#jobpost').val('0');
	
	
  }
  onpageload();
  function buynow()
  {
	var jobpostval = $('#jobpost').val();
	
	if($("#total").html() == 0){
		alert("Please choose any option to continue.");return false;}
	
	var str='price='+$("#total").html()+"&";
	if(jobpostval == '50')
		str += "jobs=1&";
	else if(jobpostval == '100')
		str += "jobs=2&";
	else if(jobpostval == '200')
		str += "jobs=5&";
	else if(jobpostval == '350')
		str += "jobs=10&";

	var jobpostval = $('#bulksms').val();
	
	
	if(jobpostval == '100')
		str += "bulksms=100&";
	else if(jobpostval == '150')
		str += "bulksms=200&";
	else if(jobpostval == '300')
		str += "bulksms=500&";
	else if(jobpostval == '600')
		str += "bulksms=1000&";	
  
  var jobpostval = $('#featured').val();
	
	
	if(jobpostval == '30')
		str += "featured=1&";
	else if(jobpostval == '50')
		str += "featured=2&";
	else if(jobpostval == '100')
		str += "featured=5&";
	else if(jobpostval == '200')
		str += "featured=10&";	
  
  
  var jobpostval = $('#candidateinterest').val();
	
	
	if(jobpostval == '100')
		str += "candidateinterest=10&";
	else if(jobpostval == '200')
		str += "candidateinterest=20&";
	else if(jobpostval == '400')
		str += "candidateinterest=50&";
	else if(jobpostval == '750')
		str += "candidateinterest=100&";	
  
  var jobpostval = $('#candidateadd').val();
	
	
	if(jobpostval == '100')
		str += "candidateadd=10&";
	else if(jobpostval == '200')
		str += "candidateadd=20&";
	else if(jobpostval == '400')
		str += "candidateadd=50&";
	else if(jobpostval == '750')
		str += "candidateadd=100&";	
  
	
	window.location.href='buypackageoptions?package=custom&'+str;
  
  }
  </script>
  <tr>
    <td>Job Post</td>
    <td>
	<select class="select margin-topZ" id="jobpost" onchange="populatejobpost();">
			<option value="">Select</option> 
			<option value="50">1</option> 
		<option value="100">2</option> 
		<option value="200">5</option> 
		<option value="350">10</option> 
	</select></td>
    <td class="trow-gray" id="jobpost_total">0</td>
  </tr>
  <tr>
    <td>Feature Jobs</td>
    <td><select class="select margin-topZ" id="featured" onchange="featured();">
	<option value="">Select</option> 
	<option value="30">1</option> 
		<option value="50">2</option> 
		<option value="100">5</option> 
		<option value="200">10</option> 
	
	</select></td>
    <td class="trow1-gray" id="featured_total">0</td>
  </tr>
  <tr>
    <td>Bulk SMS</td>
    <td><select class="select margin-topZ" id="bulksms" onchange="bulksms();">
	<option value="">Select</option> 
		<option value="100">100</option> 
		<option value="150">200</option> 
		<option value="300">500</option> 
		<option value="600">1000</option> 
		</select></td>
    <td class="trow-gray" id="bulksms_total">0</td>
  </tr>
  <tr>
    <td>Candidate express Interest/Contact details</td>
    <td><select class="select margin-topZ" id="candidateinterest" onchange="candidateinterest();">
	<option value="">Select</option> 
		<option value="100">10</option> 
		<option value="200">20</option> 
		<option value="400">50</option> 
		<option value="750">100</option> 
	</select></td>
    <td class="trow1-gray" id="candidateinterest_total">0</td>
  </tr>
  
   <tr>
    <td>Add Candidate</td>
    <td><select class="select margin-topZ" id="candidateadd" onchange="candidateadd();">
	<option value="">Select</option> 
		<option value="100">10</option> 
		<option value="200">20</option> 
		<option value="400">50</option> 
		<option value="750">100</option> 
	</select></td>
    <td class="trow1-gray" id="candidateadd_total">0</td>
  </tr>
  
</table>

        <table width="186" border="0" cellspacing="0" cellpadding="0" class="total-price">
  <tr>
    <td width="67">Total</td>
    <td width="67" id="total">0</td>
  </tr>
</table>
<div class="clear"></div>
<button type="button" class="buy-now buy-total" onclick="buynow();">Buy Now</button>

      </div>
      <!-- Make Your Own Package End --> 
      
      
      
      
      
      
    </div>
    <!-- Package details End --> 
	
</span>
<?}?>



<?if($_REQUEST['id']==3){?>	







	  <!-- Package details -->
    <div class="package-details" style="padding-top:0px;">
       <div class="mid_box_header" style="width:880px;">
        <p>Membership <span class="recently_joined_count"> </span></p>
	</div>
	<br><br>
      <!-- Post -->
      <div class="packages-box">
        <div class="packages-box-row">
          <div class="packages-box-cell features pack-head">Features</div>
          <div class="packages-box-cell quick-post pack-head">Featured</div>
          <div class="packages-box-cell quick-interest pack-head">Featured Saving</div>
          <div class="packages-box-cell quick-post pack-head">Featured Special</div>
          <div class="packages-box-cell quick-interest pack-head">Featured Special Pro</div>
		  
        </div>
        <div class="packages-box-row">
          <div class="packages-box-cell features-detail">Price</div>
          <div class="packages-box-cell  quick-post-detail l-green"><span class="cube-img  aed-300">AED <br>
            200</span></div>
          <div class="packages-box-cell  quick-interest-detail l-green"><span class="cube-img  aed-200">AED<br>
            350</span></div>
          <div class="packages-box-cell  quick-post-detail l-green"><span class="cube-img  aed-300">AED <br>
            400</span></div>
          <div class="packages-box-cell  quick-interest-detail l-green"><span class="cube-img  aed-200">AED<br>
            500</span></div>
          
        </div>
        <div class="packages-box-row">
          <div class="packages-box-cell features-detail l-gray">Featured Profile For</div>
          <div class="packages-box-cell  quick-post-detail l-green nor-center-text  l-green">1 month</div>
          <div class="packages-box-cell  quick-interest-detail nor-center-text l-green">2 months</div>
          <div class="packages-box-cell  quick-post-detail l-green nor-center-text  l-green">1 month</div>
          <div class="packages-box-cell  quick-interest-detail nor-center-text l-green">2 months</div>
         
        </div>
        <div class="packages-box-row">
          <div class="packages-box-cell features-detail">Internet/Social media advertisements of your video profile</div>
          <div class="packages-box-cell  quick-post-detail l-green1 nor-center-text"><img src="images/job-close.png"></div>
          <div class="packages-box-cell  quick-interest-detail nor-center-text l-green2"><img src="images/job-close.png"></div>
          <div class="packages-box-cell  quick-post-detail l-green1 nor-center-text">Yes</div>
          <div class="packages-box-cell  quick-interest-detail nor-center-text l-green2">Yes</div>
          
      
        </div>
        
      </div>
      <!-- Post End  --> 
      <!-- Why Us -->
      <div class="why-us-big">
        <div id="fade" class="big-sld">
          <div class="looping"><span>Express Interest</span> <img src="images/express-bigimg.jpg" >
            <p>Express Interest in candidate profile, an instant SMS notification will be send the candidate to contact you</p>
          </div>
          <div class="looping"><span>Bulk SMS</span> <img src="images/bulk-smsbig.jpg" >
            <p>Post a Job and We will Notify Candidates who meet your requirement by sending SMS to them</p>
          </div>
          <div class="looping"><span>Feature Job</span> <img src="images/job-searchbig.jpg" >
            <p>Priority / Increase Visibility in Search result</p>
          </div>
          <div class="looping"><span>Video</span> <img src="images/video-big.jpg" >
            <p>Video Interview of Candidates from around the world.</p>
          </div>
        </div>
      </div>
      <!-- Why Us End -->
     
    </div>
    <!-- Package details End --> 
  
	
	
	




<span style="display:none">



<!-- Package details -->
    <div class="package-details"> 
    <h3>Packages</h3>
      <!-- Feature -->
      <div class="feature-main" style="width:444px;">
        <h3>Featured Membership</h3>
        <div class="feature-inside">
          <p><span>Featured Candidate:</span> Your listings will be listed as Featured on search results.</p>
          <div class="clear"></div>
        </div>
        
      <div class="quick-packages">
        
        <ul>
          <h4>1 Month Subscription</h4>
          <li>Featured profile for one month</li>
          <p>AED 200</p>
          <a href="buypackageoptions?package=quickfeatured&price=200"><button type="button" class="buy-now">Buy Now</button></a>
          <div class="clear"></div>
        </ul>
        <ul>
          <h4>2 Months Subscription</h4>
          <li>Featured profile for two months</li>
          <p>AED 350</p>
          <a href="buypackageoptions?package=featuredsaving&price=350"><button type="button" class="buy-now">Buy Now</button></a>
          <div class="clear"></div>
        </ul>
      </div>
      <!-- Quick Packages End --> 
     
	 </div>
      <!-- Feature End --> 
      
      <!-- Feature -->
      <div class="feature-main" style="width:444px;padding-left:10px;">
        <h3>Premium Membership</h3>
        <div class="feature-inside">
          <p><span>Benefits:</span> Your listings will be featured on various pages and we will publish your details on local newspapers once in a month.</p>
          <div class="clear"></div>
        </div>
        
      <div class="quick-packages">
        
        <ul>
          <h4>1 Month Subscription</h4>
          <li>Featured profile for one month + Newspaper Ad</li>
          <p>AED 400</p>
          <a href="buypackageoptions?package=quickcandidatepremium&price=200"><button type="button" class="buy-now">Buy Now</button></a>
          <div class="clear"></div>
        </ul>
        <ul>
          <h4>3 Months Subscription</h4>
          <li>Featured profile for two month + Newspaper Ads</li>
          <p>AED 500</p>
          <a href="buypackageoptions?package=candidatepremiumsaving&price=350"><button type="button" class="buy-now">Buy Now</button></a>
          <div class="clear"></div>
        </ul>
      </div>
      <!-- Quick Packages End --> 
     
	 </div>
      <!-- Feature End --> 
      
      
      
      
      
    </div>
    <!-- Package details End --> 
	
</span>










<?}?>










	
	<style>

.note-bar{
	display:none;
	overflow: hidden;
	background: #64C568;
	height: 38px;
	border-bottom: 4px solid #fff;
}

.note-bar p {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	line-height: 36px;
	margin: 0 0 0 10px;
	padding: 0;
	text-shadow: none;
}

.close{
	margin: 8px 10px 0 0;
	float: right;
}

.open-button {
	padding-top: 7px;
	width: 30px;
	background: rgba(255, 88, 61, 0.4);
	border: 4px solid #fff;
	border-top: 0px;
	position: fixed;
	top: 0;
	right: 20px;
	display: none;	
}
</style>
<script>
		$(document).ready(function(){			 
	
			$(".note-bar").slideDown(300);	
			
			$("#showbar").click(function(){				
				$(".open-button").slideUp(300, function(){
					$(".note-bar").slideDown(300);
				});

				return false;
			});
		
			$("#hidebar").click(function(){
			
				$(".note-bar").slideUp(300, function(){
					$(".open-button").slideDown(300);
				});
			
				return false;
			});		
		});

	</script>

























