	<link rel="stylesheet" type="text/css" href="css/jquery.popeye.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/jquery.popeye.style.css" media="screen" />
    
    <script type="text/javascript" src="js/jquery.popeye-2.1.js"></script>
	
 		
<style>

.note-bar{
	display:none;
	overflow: hidden;
	background: #64C568;
	height: 38px;
	border-bottom: 4px solid #fff;
}

.note-bar p {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	line-height: 36px;
	margin: 0 0 0 10px;
	padding: 0;
	text-shadow: none;
}

.close{
	margin: 8px 10px 0 0;
	float: right;
}

.open-button {
	padding-top: 7px;
	width: 30px;
	background: rgba(255, 88, 61, 0.4);
	border: 4px solid #fff;
	border-top: 0px;
	position: fixed;
	top: 0;
	right: 20px;
	display: none;	
}
</style>
<script>
		$(document).ready(function(){			 
	
			$(".note-bar").slideDown(300);	
			
			$("#showbar").click(function(){				
				$(".open-button").slideUp(300, function(){
					$(".note-bar").slideDown(300);
				});

				return false;
			});
		
			$("#hidebar").click(function(){
			
				$(".note-bar").slideUp(300, function(){
					$(".open-button").slideDown(300);
				});
			
				return false;
			});		
		});

	</script>
	
	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'videorequest')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>Thanks. Your request for video interview has been received. You will be contacted shortly.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>
	
<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'deactivated')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>Your account has been deactivated. You will be able to login but your profile will not be searchable.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>
	
	<div class="latest-candidates">

<!-- Condidates Details -->
<div class="condidate-details">
<!--  Video -->
<div >
<?if(IS_NULL($this->me['video_url'])){?>
<div style="padding-top: 89px;padding-left: 80px;padding-bottom: 80px;background-image:url('images/playerbg.jpg');height:95px;background-repeat:no-repeat;"><a href="/myprofile?sendvideorequest=send"><button class="teacher-button teacher-detail" style="width:250px;height:50px">Request For Video Interview</button></a></div>
<?}else if($this->me['video_url'] == 1){?>
<div style="padding-top: 89px;padding-left: 80px;padding-bottom: 80px;background-image:url('images/playerbg.jpg');height:95px;background-repeat:no-repeat;"><button class="teacher-button teacher-detail" style="width:250px;height:50px;">Your request for video interview is under processing.</button></div>
<?}else{?>
<iframe width="504" height="315" src="//www.youtube.com/embed/<?=$this->me['video_url']?>?version=3&loop=1&playlist=<?=$this->me['video_url']?>" frameborder="0" allowfullscreen></iframe>
<?}?>
</div>
<div class="clear"></div>
<!--  Video End -->
<!-- Content -->
<div class="condidate-Dmain">
<!-- Upload Photo -->
<?if(count($this->me['images']) > 0){?>
<div class="ppy" id="ppy2">
            <ul class="ppy-imglist">
		<?foreach($this->me['images'] as $img){?>
			<li>
                    <a href="thumb.php?src=<?=WEBSITE?>uploads/<?=$img['photo']?>&h=500&w=500">
                        <img src="thumb.php?src=<?=WEBSITE?>uploads/<?=$img['photo']?>&h=200&w=200" alt="Click on the image to close popup" />
                    </a>
                  
                </li>
				<?}?>
</ul>
 <div class="ppy-outer">
                <div class="ppy-stage">
                    <div class="ppy-counter">
                        <strong class="ppy-current"></strong> / <strong class="ppy-total"></strong> 
                    </div>
                </div>
                <div class="ppy-nav">
                    <div class="nav-wrap">
                        <a class="ppy-next" title="Next image">Next image</a>
                        <a class="ppy-prev" title="Previous image">Previous image</a>
                    </div>
				</div>
				<div class="ppy-caption">
                    <span class="ppy-text"></span>
                </div>
			<center><small><b>Try clicking on the image for larger/smaller view</b></small></center>	
            </div>
			
        </div>
		

<?}else{?>
<a href="uploadphoto"><label class="fileContainer">
<input type="hidden">
</label></a>
<?}?>
<?
    list($y,$m,$d) = explode('-', $this->me['dob']);
    
    if (($m = (date('m') - $m)) < 0) {
        $y++;
    } elseif ($m == 0 && date('d') - $d < 0) {
        $y++;
    }
    
    $age =  date('Y') - $y;
    
?>
<!-- Upload Photo End -->
<!-- personal details -->
<div class="personal-details-main" style="width:68%">
<div class="personal-rowins">
<div class="personal-row"><div class="heading">Age/Height :</div> <div class="detailsm"><?=$age?> / <? echo $this->me['height']?></div></div>
<div class="personal-row"><div class="heading">Marital Status :</div> <div class="detailsm"><? echo $this->me['marital_status']?></div></div>
<div class="personal-row"><div class="heading">Posted By :</div> <div class="detailsm">Self</div></div>
</div>
<div class="personal-rowins second-rowD">
<div class="personal-row"><div class="heading">Religion :</div> <div class="detailsm"><? echo $this->me['religion']?></div></div>
<div class="personal-row"><div class="heading">Current Location :</div> <div class="detailsm"><? echo $this->me['current_location']?></div></div>
<div class="personal-row"><div class="heading">Nationality:</div> <div class="detailsm"><? echo $this->me['nationality']?></div></div>
</div>
<div class="clear"></div>
<!-- Manage profile -->
<div class="manage-profile">
<h3>Manage your profile</h3>
<div class="clear"></div>
<br><br>
<ul class="manage-list">
<li><a href="/editcandidate">Edit Profile</a></li>



</ul>

<ul class="manage-list">
<li><a href="/uploadphoto">My Photos</a></li>


</ul>
<ul class="manage-list">
<li><a href="/myprofile?sendvideorequest=deactivate" onclick="return confirm('Are you sure to deactivate your account?');">Deactivate My Account</a></li>



</ul>

</div>
<!-- Manage profile End -->
<a href="/viewprofile?id=<? echo $this->me['user_id']?>" class="profilesview">Preview your profile</a>
</div>
<div class="clear"></div>
<!-- personal details End  -->
<!-- Tab -->
<div id="horizontalTab" style="display: block; width: 80%; margin: 0px;">
<ul class="resp-tabs-list">
<li class="resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab">About Myself</li>
<!--<li class="resp-tab-item" aria-controls="tab_item-1" role="tab">Matched Jobs</li>-->
</ul>
<div class="resp-tabs-container">
<h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>About Myself</h2><div class="resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
<div class="all-point-head">About me and my work experience</div>
<a href="/editcandidate" class="edit">Edit</a>
<div class="clear"></div>
<div class="profile-content">
<?=$this->me['aboutme'];?></div>
<div class="clear"></div>
<div class="all-point-head">Basics &amp; Lifestyle</div>
<a href="/editcandidate" class="edit">Edit</a>
<div class="clear"></div>
<div class="profile-content basics-profile">
<div class="personal-rowins">
<div class="personal-row"><div class="heading">Name :</div> <div class="detailsm"><?=$this->me['fname']." ".$this->me['lname']?></div></div>
<div class="personal-row"><div class="heading">Date of Birth :</div> <div class="detailsm"><?=$this->me['dob'];?></div></div>
<div class="personal-row"><div class="heading">Height :</div> <div class="detailsm"><?=$this->me['height'];?></div></div>
<div class="personal-row"><div class="heading">Weight :</div> <div class="detailsm"><?=$this->me['weight'];?></div></div>

<div class="personal-row"><div class="heading">Mobile :</div> <div class="detailsm"><?=$this->me['mobile'];?></div></div>
<div class="personal-row"><div class="heading">Phone :</div> <div class="detailsm"><?=$this->me['phone'];?></div></div>
<div class="personal-row"><div class="heading">Expected Salary :</div> <div class="detailsm"><?=$this->me['expected_salary'];?></div></div>
<?
$str='';
foreach(explode(',',$this->me['pref']) as $v){
	$v=explode('-',$v);
$str .= $v[0].',';
}
?>
<div class="personal-row"><div class="heading">Preferred Country :</div> <div class="detailsm"><?=trim($str,",");?></div></div>
<?
$str='';
foreach(explode(',',$this->me['citypref']) as $v){
	$v=explode('-',$v);
$str .= $v[0].',';
}
?>
<div class="personal-row"><div class="heading">Preferred City :</div> <div class="detailsm"><?=trim($str,",");?></div></div>


</div>
<div class="personal-rowins second-rowD">
<div class="personal-row"><div class="heading">Gender :</div> <div class="detailsm"><?=$this->me['gender'];?></div></div>
<div class="personal-row"><div class="heading">Basic Education :</div> <div class="detailsm"><?=$this->me['basic_education'];?></div></div>
<div class="personal-row"><div class="heading">Key Skills :</div> <div class="detailsm"><?=str_replace(',',', ',trim($this->me['key_skills'],","));?></div></div>
<div class="personal-row"><div class="heading">Availability :</div> <div class="detailsm"><?=$this->me['notice'];?></div></div>
<div class="personal-row"><div class="heading">Experience :</div> <div class="detailsm"><?=$this->me['experience'];?> years</div></div>
<div class="personal-row"><div class="heading">Can Speak :</div> <div class="detailsm"><?=str_replace(',',', ',$this->me['language']);?></div></div>

<?
$str='';
foreach(explode(',',$this->me['job_category']) as $v){
	$v=explode('-',$v);
$str .= $v[0].',';
}
?>
<div class="personal-row"><div class="heading">Job Category :</div> <div class="detailsm"><?=str_replace(',',', ',trim($str,","));?></div></div>
<?
$str='';
foreach(explode(',',$this->me['role_id']) as $v){
	$v=explode('-',$v);
$str .= $v[0].',';
}
?>
<div class="personal-row"><div class="heading">Job Sub Category :</div> <div class="detailsm"><?=str_replace(',',', ',trim($str,","));?></div></div>
</div>
</div>
</div>
<h2 class="resp-accordion" role="tab" aria-controls="tab_item-1"><span class="resp-arrow"></span>Matched Jobs</h2><div class="resp-tab-content" aria-labelledby="tab_item-1">
<p>This tab will have matching jobs.</p>
</div>
</div>
</div>
<!-- Tab -->














<div class="clear"></div>
</div>
<!-- Content End -->






</div>
<!-- Condidates Details End  -->
</div>




<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);

                $name.text($tab.text());

                $info.show();
            }
        });

        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
	
	
	
	
</script>
<script type="text/javascript">
    <!--//<![CDATA[
    
    $(document).ready(function () {

        var options2 = {
            caption: false,
            navigation: 'permanent',
            direction:  'left'
        }
    
        $('#ppy2').popeye(options2);

    });
    
    //]]>-->
</script>
<style>


</style>