<div class="pad_t_17 grey">
<h2>Membership Plans</h2><br>
	<div class="premium_membership">
		<div class="green font-16">Benefits of a premium membership :</div><br>
			<ul class="arrow">
				<li>View verified contact details</li>
				<li class="mar_l_10">Special offers from Partners</li>
			</ul><br clear="all">
			<ul class="arrow">
				<li>Write Direct Messages to members</li>
				<li class="mar_l_10">Discounts on Shaadi events</li>
			</ul><br clear="all">
			<ul class="arrow">
				<li>Initiate Chat on Shaadi IM</li>
				<li class="mar_l_10">Quick Response Services</li>
			</ul><br clear="all">

	</div><br>

	<div class="rborder convenientp font-16 white">6 Convenient Premium Packages to Choose From!</div>

	<div class="mainborder">

		<table cellspacing="0" cellpadding="0" border="0" width="530">
			<tbody><tr>
				<td width="178" align="center" class="font-16 graybg rightborder" valign="top"><b>3 months</b></td>
				<td width="176" align="center" class="font-16 graybg rightborder" valign="top"><b>6 months</b></td>
				<td height="33" width="176" valign="top" align="center" class="font-16 graybg"><b>12 months</b></td>
		</tr>
		<tr>
				<td valign="top" class="font-12 rightborder contentpadding">

                   <span class="green tcenter block font-14">Gold </span>

					<div class="font-11 bottomborder">
                - Connect directly with Matches<br>- View detailed Profile information<br>                   </div>
				</td>
				<td valign="top" class="font-12 rightborder contentpadding">
					 <span class="green tcenter block font-14">Diamond </span>
					<div class="font-11 bottomborder">
- Connect directly with Matches<br>- View detailed Profile information<br>                    </div>
				</td>
				<td valign="top" class="font-12 contentpadding">
					<span class="green tcenter block font-14">Platinum </span>
					<div class="font-11 bottomborder">
                        - Connect directly with Matches<br>- View detailed Profile information<br>                    </div>
		</td>
	</tr>
			<tr>
				<td valign="top" class="font-12 rightborder" style="padding-top:33px">
                    <span class="green tcenter block font-14">Gold <img src="http://www.imgshaadi.com/community/payment/plus-icon.gif" width="13" height="14" alt="Plus" title="Plus"> </span>
					<div class="font-11 contentpadding">
                        - Connect directly with Matches<br>- View detailed Profile information<br>- Be featured under Spotlight<br>- Standout with Bold Listing <br>                   </div>
				</td>
				<td valign="top" class="font-12 rightborder topseller">
                    <span class="green tcenter block font-14">Diamond <img src="http://www.imgshaadi.com/community/payment/plus-icon.gif" width="13" height="14" alt="Plus" title="Plus"> </span>
					<div class="font-11 contentpadding">
                        - Connect directly with Matches<br>- View detailed Profile information<br>- Be featured under Spotlight<br>- Standout with Bold Listing <br>                    </div>
				</td>
				<td valign="top" class="font-12 bestvalue">
                    <span class="green tcenter block font-14">Platinum <img src="http://www.imgshaadi.com/community/payment/plus-icon.gif" width="13" height="14" alt="Plus" title="Plus"> </span>
					<div class="font-11 contentpadding">
                        - Connect directly with Matches<br>- View detailed Profile information<br>- Be featured under Spotlight<br>- Standout with Bold Listing <br>                    </div>
		</td>
	</tr>
	</tbody></table>

	</div>
	<div class="tcenter"><div style="padding:10px 0px"><a href="javascript: opencompareplan()" class="blue">Compare plans in detail</a>  <a href="javascript: openwindow()"><img src="http://www.imgshaadi.com/community/introduction/blue-arrow-new.gif" alt="" title="" border="0"></a></div>
	<a href="/payment"><img src="http://www.imgshaadi.com/community/introduction/upgrade-now-payment.gif" width="132" height="38" alt="Upgrade Now" title="Upgrade Now" border="0"></a><br><br></div>

		<!-- NEXT LINK ST -->
		<div id="back" style="background: #fff url('http://www.imgshaadi.com/community/introduction/bottom-band.gif') repeat-y right;padding-right:"><a href="/introduction/index/match-guarantee/type/payment"><b>Next</b> - Match Guarantee <img src="http://www.imgshaadi.com/community/introduction/arrow-blue-1.gif" align="absmiddle" border="0"></a></div>

		<div class="border_t_1">&nbsp;</div>


	<!-- NEXT LINK EN -->	</div>