<style>

.note-bar{
	display:none;
	overflow: hidden;
	background: #64C568;
	height: 38px;
	border-bottom: 4px solid #fff;
}

.note-bar p {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	line-height: 36px;
	margin: 0 0 0 10px;
	padding: 0;
	text-shadow: none;
}

.close{
	margin: 8px 10px 0 0;
	float: right;
}

.open-button {
	padding-top: 7px;
	width: 30px;
	background: rgba(255, 88, 61, 0.4);
	border: 4px solid #fff;
	border-top: 0px;
	position: fixed;
	top: 0;
	right: 20px;
	display: none;	
}
</style>
<script>
		$(document).ready(function(){			 
	
			$(".note-bar").slideDown(300);	
			
			$("#showbar").click(function(){				
				$(".open-button").slideUp(300, function(){
					$(".note-bar").slideDown(300);
				});

				return false;
			});
		
			$("#hidebar").click(function(){
			
				$(".note-bar").slideUp(300, function(){
					$(".open-button").slideDown(300);
				});
			
				return false;
			});		
		});

	</script>
	
	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'shortlisted')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>Thanks. You have shortlisted a job.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>
	
	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'shortlistederr')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>Thanks. You have already shortlisted this job.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>

	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'deleted')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>You have successfully deteled the job(s).</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>
	
	<?if(isset($_REQUEST['st']) && ($_REQUEST['st'] == 'applied')){?>
	<!-- notification bar -->
	<div class="note-bar">
		<p>You have successfully applied for a job.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>
<div class="latest-candidates">



<!--  Video End -->
<div id="recently_joined"><div class="mid_box">
    <div class="mid_box_header" style="width:631px;">
        <p><?=$this->title?> <span class="recently_joined_count"> </span></p>
                
                <a href="javascript:void(0);" rel="http://www.shaadi.com/my-shaadi/index/recently-joined?page=0&amp;pg_searchresults_id=F%3D52b27486038fa95fc68f97642024fc67" onclick="" class="prv"></a>
          <a href="javascript:void(0);" rel="http://www.shaadi.com/my-shaadi/index/recently-joined?page=2&amp;pg_searchresults_id=F%3D52b27486038fa95fc68f97642024fc67" onclick="return recentlyJoinedPagination(this)" class="nxt_active"></a>           
		  </div>
		  
		  
		  <?if(isset($this->getpage) && count($this->fjobs)){?>
		  
		  <div id="unified_header" style="padding:8px 5px 3px 4px">
            <div id="unified_toolbar" class="fl">
				                <form method="post" action="profile">
											<input type=hidden name=page value="<?=$this->getpage?>">
                                            <input type="checkbox" id="selectall">
                    
					<!-- MULTIPLE ACTION BUTTONS START -->

											<input type=submit value=Delete class="teacher-button teacher-detail">		
                                                                                
					<!-- MULTIPLE ACTION BUTTONS START -->

                
            </div>

		<?}?>

            <div class="clear"></div>
        </div>
		
		
		
		
    <div id="recently_joined_profiles" class="pos_rel">
        <div id="recently_joined_gray_layout" class="none">
            <div class="loader_overlay"></div>
            <div class="loader_img"></div>
        </div>
        
	<?php 
	
	
      foreach($this->fjobs as $val){
          
        

      ?>
     <div class="candidate-display search-box-sm">
      <div class="royal-crown"><img src="images/crown_roy.png"></div> 
        <div class="teacher-requird">
         <?if(isset($this->getpage)){?>
		 <input type="checkbox" name="check_all[]" class="check_all" value="<?=$val['job_id']?>" style="float:left;">
		 <?}?>
		 <a href="#" style="width:300px;"><?=$val['title']?></a>
        <!-- profile -->
        <div class="teacher-rowins">        
          <div class="personal-rows">
            <div class="heading heading2">Salary :</div>
            <div class="detailsm"><?=$val['salary']?></div>
          </div>
          <div class="personal-rows">
            <div class="heading heading2">Job Type :</div>
            <div class="detailsm"><?=$val['job_type']?></div>
          </div>
          <div class="personal-rows">
            <div class="heading heading2">Location :</div>
            <div class="detailsm"><?=$val['job_location_city']?>, <?=$val['job_location_country']?></div>
          </div>
          <div class="personal-rows">
            <div class="heading heading2">Posted By :</div>
            <div class="detailsm"><?=$val['posted_by']?></div>
          </div>         
        </div>
        <!-- profile End -->
        <div class="sms-message"><span>SMS/Message:</span>  <?=$val['message']?></div>
        </div>
        
        <div class="sms-main-box">
        <div class="phone-sms"><img src="images/phone.png">    SMS: <strong><?=$val['sms_invitations']?></strong></div>
        <div class="verticle-button">
           <a href="<?=WEBSITE?>jobdetail?id=<?=$val['id']?>"><input type=button value="Details"  class="teacher-button"></a>
         
		  <?if(isset($this->arrApplied) && (!in_array($val['id'],$this->arrApplied))){?>
			 <?if(isset($this->arrShortlisted) && (!in_array($val['id'],$this->arrShortlisted))){?>
			 <a href="<?=WEBSITE?>jobshortlist?jobid=<?=$val['id']?>"><input type=button value="Shortlist" class="teacher-button"></a><?}?>
		  
		  <a href="<?=WEBSITE?>jobapply?jobid=<?=$val['id']?>"><input type=button value="Apply" class="teacher-button teacher-detail"></a>
		  <?}else{?>
		  <button class="teacher-button teacher-detail" style="cursor:not-allowed">Already Applied</button>
		  <?}?>
		  
        </div>        
        </div>

        
        
        <div class="clear"></div>
        
      </div>
      
      <? } ?>  
	  
		</form>
        </div>




<SCRIPT language="javascript">
$(function () {
    $("#selectall").click(function () {
        $(".check_all").prop('checked', $(this).prop('checked'));
    });
});
</SCRIPT>



<style>

 .mid_box {

box-shadow: 0 5px 3px -2px #e7e7e7;
-moz-box-shadow: 0 5px 3px -2px #e7e7e7;
-webkit-box-shadow: 0 5px 3px -2px #e7e7e7;
-ms-box-shadow: 0 5px 3px -2px #e7e7e7;
width:600px;
}

.mid_box_header {
height: 36px;
background: #f0f0f0;
padding: 0 12px;
font: bold 16px/36px arial;
color: #666;
position: relative;
}

.mid_box .view_all {
background: url(/imgs/my-shaadi-new/right-gray-arrow.png) no-repeat 52px center;
padding: 0 18px 0 5px;
font: normal 12px/36px arial;
display: inline-block;
}

.profile_compact_view {
margin: 0 10px;
padding: 9px 0 16px 0;
border-bottom: 1px solid #f0f0f0;
overflow: hidden;
}

.user_info {
float: left;
width: 375px;
}


.profile_compact_view p {
margin: 2px 0;
width: 375px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
height: 15px;
font: normal 12px/15px arial;
}


</style>