





<!-- Latest Candidates -->
<div class="latest-candidates">
<h2>Signup Success</h2>

<div class="clear"></div>
<div class="condidate-form">
<div class="form-row">

<?if($this->ustatus == 0){?>
Thank you for registering with us.To make you profile searchable please verify your Mobile now and request a video interview. You can request the same after login.
<br><br>
<form method="post">
	<div class="form-inside-row"><label>*Verification Code:</label> <div class="select-area"><input type=text name=code></div></div>
	<button class="submit-nav" type="submit">Submit</button>
</form>
<?}
else
if($this->ustatus == 2){?>
Thank you for registering with us. To make you profile active please verify your Mobile.
<br><br>
<form method="post">
	<div class="form-inside-row"><label>*Verification Code:</label> <div class="select-area"><input type=text name=code></div></div>
	<button class="submit-nav" type="submit">Verify Now</button>
	<a href="<?=WEBSITE?>login"><button type="button">Verify Later<span></span></button></a>
</form>
<?}

else
if($this->ustatus == 1){?>

Congratulations! Your account has been verified.
<?}else{?>
Sorry!!! You entered a wrong verification code. 
<?}?>

<div class="clear"></div>
</div>
</div>
</div>
<!-- Latest Candidates End -->




















