





<!-- Latest Candidates -->
<div class="latest-candidates">
<h2>Signup Success</h2>

<div class="clear"></div>
<div class="condidate-form">
<div class="form-row">

<?if($this->ustatus == 0){?>
Congratulations your profile has been created successfully. To make you profile searchable please verify your Mobile now. 
<br><br>Please do not forget to add your photos. <br>
Your request for video profile is under processing, we will contact you shortly. <br>
If you have a video profile on YouTube kindly email us your YouTube link at support@fastesthiring.com
<br><br>
<form method="post">
	<div class="form-inside-row"><label>*Verification Code:</label> <div class="select-area"><input type=text name=code></div></div>
	<button class="submit-nav" type="submit">Verify Now</button>
	<a href="<?=WEBSITE?>login"><button class="submit-nav" type="button">Verify Later<span></span></button></a>
</form>
<?}
else
if($this->ustatus == 2 || $this->ustatus == 3){?>
Thank you for registering with us. To Activate you profile please verify your Mobile now.
<br><br>
<form method="post">
	<div class="form-inside-row"><label>*Verification Code:</label> <div class="select-area"><input type=text name=code></div></div>
	<button class="submit-nav" type="submit">Verify Now</button>
	<a href="<?=WEBSITE?>login"><button  style="width:112px;height:26px;" class="submit-nav" type="button">Verify Later1<span></span></button></a>
</form>
<?}

else
if($this->ustatus == 1){?>

Congratulations! Your account has been verified. <a href="/login">Click here to login</a>.
<?}else{?>
Sorry!!! You entered a wrong verification code. 
<?}?>

<div class="clear"></div>
</div>
</div>
</div>
<!-- Latest Candidates End -->




















