<style>

#signupForm label.error {
margin-left: 10px;
width: auto;
display: inline;
color: red;
font-style: italic;
}

.errors {
margin-left: 16px;
width: auto;
color: red;
font-style: italic;
}

</style>
<!-- the middle contents -->
	<div class="contents">
		<section id="post">
			<div class="container">
				<div class="row">
					<div class="col col-lg-3">
						<h3 class="sub-heading"><span class="yellowish">$99</span> for 30 days</h3>
						<p><strong>How it works</strong></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at augue metus, at aliquam leo. Nam ac justo nisl. Ut non orci odio. Praesent lobortis blandit lacus et consectetur. Etiam ac sagittis tortor. Vestibulum vestibulum sem nec purus congue cursus. Sed bibendum lectus id tellus egestas sit amet interdum leo fringilla. Fusce dictum neque ut massa facilisis nec mattis erat blandit. In vel vestibulum massa.</p>

						<p><strong>Benefits</strong></p>
						<ol>
							<li>Consectetur adipiscing elit.</li>
							<li>Consectetur elit.</li>
							<li>Consectetur adipiscing.</li>
							<li>Consectetur adipiscing elit.</li>
							<li>Adipiscing elit.</li>
							<li>Consectetur adipiscing elit.</li>
						</ol>
					</div>
					<div class="col col-lg-9">
						<h3 class="sub-heading">Signup</h3>
						<div class="content-inner-detail">
							<form id="signupForm" method="post" >
							  	<fieldset>
							  		<h4>User Account Information</h4>
							  		<hr>
							  		<div class="row">
							  			<div class="col col-lg-6">
									    	<?php echo $this->form->username ?>
									    	<small class="help-block">Enter username here.</small>
								    	</div>
								    	<div class="col col-lg-6">
									    	
									    	<?php echo $this->form->email ?>
									    	<small class="help-block">Enter Email here.</small>
								    	</div>
							    	</div>
							    	<div class="row">
							  			<div class="col col-lg-6">
									    	<?php echo $this->form->password ?>
									    	<small class="help-block">Type your password here.</small>
								    	</div>
								    	
										<div class="col col-lg-6">
									    	<?php echo $this->form->repassword ?>
									    	<small class="help-block">Repeat the password here.</small>
								    	</div>
								    	
										
							    	</div>
							    	<br>
								    <h4>Company Details</h4>
								    <hr>
									<div class="row">
							  			<div class="col col-lg-6">
									    	<?php echo $this->form->company ?>
									    	<small class="help-block">Enter your company name.</small>
								    	</div>
								    	<div class="col col-lg-6">
									    	<?php echo $this->form->ctype ?>
											<small class="help-block">Select your company type.</small>
								    	</div>
							    	</div>
							    	<div class="row">
							  			<div class="col col-lg-6">
									    	<?php echo $this->form->cprofile ?>
											<small class="help-block">Enter your company profile info.</small>
								    	</div>
								    	<div class="col col-lg-6">
									    	<?php echo $this->form->url ?>
											<small class="help-block">Enter Website URL here.</small>
								    	</div>
							    	</div>
									<br>
							    	<h4>Contact Details</h4>
							    	<hr>
									<div class="row">
							  			<div class="col col-lg-6">
									    	<?php echo $this->form->fname ?>
									    	<small class="help-block">Enter your first name here.</small>
								    	</div>
								    	<div class="col col-lg-6">
									    	<?php echo $this->form->lname ?>
									    	<small class="help-block">Enter your last name here.</small>
								    	</div>
							    	</div>
									<div class="row">
							  			<div class="col col-lg-6">
									    	<?php echo $this->form->country ?>											
									    	<small class="help-block">Select your country here.</small>
								    	</div>
								    	<div class="col col-lg-6">
									    	<?php echo $this->form->city ?>
									    	<small class="help-block">Select your city here.</small>
								    	</div>
								    	
							    	</div>
							    	<div class="row">
							  			<div class="col col-lg-6">
									    	<?php echo $this->form->address ?>
									    	<small class="help-block">Enter address here.</small>
								    	</div>
								    	<div class="col col-lg-6">
									    	<?php echo $this->form->contact ?>
									    	<small class="help-block">Enter contact number here.</small>
								    	</div>
							    	</div>
									<div class="row">
							  			<div class="col col-lg-6">
									    	<?php echo $this->form->mobile ?>
									    	<small class="help-block">Enter mobile number here.</small>
								    	</div>
								    	<div class="col col-lg-6">
									    	<?php echo $this->form->fax ?>
									    	<small class="help-block">Enter fax number here.</small>
								    	</div>
							    	</div>
									
							    	
							    
							    	<br>
							    	<button type="submit" class="btn btn-default">Register</button>
							  	</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div><!-- /.contents -->
	
  <script>
	
	$().ready(function() {
	
	
	// validate signup form on keyup and submit
	$("#signupForm").validate({
		rules: {
			fname: "required",
			lname: "required",
			country: "required",
			city: "required",
			address: "required",
			contact: "required",
			mobile: "required",
			fax: "required",
			username: {
				required: true,
				minlength: 2
			},
			password: {
				required: true,
				minlength: 5
			},
			repassword: {
				required: true,
				minlength: 5,
				equalTo: "#password"
			},
			email: {
				required: true,
				email: true
			},
			company: {
				required: true,
				minlength: 5
			},
			cprofile: {
				required: true,
				minlength: 5
			},
			url: {
				required: true,
				minlength: 5
			},
			
			agree: "required"
		},
		messages: {
			firstname: "Please enter your firstname",
			lastname: "Please enter your lastname",
			username: {
				required: "Please enter a username",
				minlength: "Your username must consist of at least 2 characters"
			},
			password: {
				required: "Please provide a password",
				minlength: "Your password must be at least 5 characters long"
			},
			confirm_password: {
				required: "Please provide a password",
				minlength: "Your password must be at least 5 characters long",
				equalTo: "Please enter the same password as above"
			},
			email: "Please enter a valid email address",
			agree: "Please accept our policy"
		}
	});

});
</script>