<link href="<?= WEBSITE ?>css/fileUploader.css" rel="stylesheet" type="text/css" />

<script src="<?= WEBSITE ?>js/jquery.fileUploader.js" type="text/javascript"></script>


<?php
$auth = Zend_Auth::getInstance();
	
if ($auth->hasIdentity() && ($auth->getIdentity()->usertype == 3 || $auth->getIdentity()->usertype == 2)) {
	$limit=1;
    $photos = 'Logo';
} else {
    $limit=4;
	$photos = 'Photos';
}
?>


<!-- Latest Candidates -->
<div class="latest-candidates">
  
<?if(count($this->photos)< $limit){?>
  <h2>Upload <?= $photos ?></h2>
    
    <div class="clear"></div>
    <div class="condidate-form" style="font: 12px/32px arial;">
        <div class="form-row">

            <h1>Click on "Select Files" - </h1>



            <form action="/uploadphoto" method="post" enctype="multipart/form-data">
                <input type="file"  style="font: 12px/32px arial;" name="userfile" class="fileUpload" multiple>

<br>
Format: jpg|jpeg|gif|png 
Maximum size of 1 file:</b> 2MB 
Max Photos: <?=$limit?>


                <script type="text/javascript">
                    jQuery(function($){
                        $('.fileUpload').fileUploader({
                            autoUpload: true,
							limit:<?=$limit?>,
                            allowedExtension: 'jpg|jpeg|gif|png',
                            beforeUpload: function(e) {
 
                            }
                        });
                    });
                </script>


        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>


    <!-- Latest Candidates End -->
</form>
<?if($auth->getIdentity()->usertype == 3 || $auth->getIdentity()->usertype == 2){?>
<small>Only one logo is allowed for a company. If you want to change the existing logo Kindly delete the existing logo first. </small><br><br> 
<?}}?>


<h2>My <?= $photos ?> </h2>

<?if(count($this->photos)>= $limit){?>
<?if($auth->getIdentity()->usertype == 3 || $auth->getIdentity()->usertype == 2){?>
<small>Only one logo is allowed for a company. If you want to change the existing logo Kindly delete the existing logo first. </small><br><br> 
<?}?>
<?}?>

<div class="condidate-form">

    <div  id="myphotos">



        <? foreach ($this->photos as $v) { ?>

            <div style="float:left;padding:10px;"><img src="<?= WEBSITE ?>uploads/<?= $v['photo'] ?>" width=100 height=100><br><center><a onclick="return confirm('Are you sure to delete this file?');" href="<?= WEBSITE ?>deletephoto?name=<?= $v['photo'] ?>">Delete</a></center></div>
        <? } ?>

    </div>
    <div class="clear"></div>
</div>
<div class="form-row bd-none">
    </form>
    <div class="clear"></div>
</div>
</div>
</div>
<!-- Latest Candidates End -->













