<form method="post" action="<?=WEBSITE?>verifymobile">
<div id="verifymobile" style=" height: 250px;width:300px;"><br><br>
<center>My Mobile Number <br><br>
<b><?=$this->mobile?></b>
</center>
<br><br>
<?if($this->q == 1)
{?>
<center>Enter Verification Code <br><br>

<input type=text name=vcode value="">
</center><?}?>
<br><br><input type=hidden name=mobile value="<?=$this->mobile?>">
<center><input type=submit value="Verify Now" style="width:100px;height:30px;"></center>
</div></form>