<?if($this->emailverification == 'sent'){?>
<form id="signupForm" method="post" >
<!-- Latest Candidates -->
<div class="latest-candidates">
<h2>Email Verification</h2>

<div class="clear"></div>
<div class="condidate-form">
<div class="form-row">
Your Email Verification code has been sent to your email address. Please verify by clicking on the given link on your message.
</div></div>
<?}elseif($this->emailverification == 'wrong'){?>
<form id="signupForm" method="post" >
<!-- Latest Candidates -->
<div class="latest-candidates">
<h2>Wrong Email Verification</h2>

<div class="clear"></div>
<div class="condidate-form">
<div class="form-row">
Sorry. Your Email has not been verified as the link does not seem to be correct. 
</div></div>
<?}elseif($this->emailverification == 'completed'){?>
<form id="signupForm" method="post" >
<!-- Latest Candidates -->
<div class="latest-candidates">
<h2>Email Verification Completed</h2>

<div class="clear"></div>
<div class="condidate-form">
<div class="form-row">
Your Email has been verified now.
</div></div>

<?}else{?>

<form method="post" action="<?=WEBSITE?>verifyemail"><br><br><br><br>
<div id="verifyemail" style=" height: 100px;">
<center>My Email Address - <br>
<?=$this->email?></center>
<input type=hidden name=email value="<?=$this->email?>">

</div>

<center><input type=submit value="Verify Email Address" style="width:150px;height:30px;"></center>
</form>
<?}?>