<?$auth = Zend_Auth::getInstance();?>
	<link rel="stylesheet" type="text/css" href="css/jquery.popeye.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/jquery.popeye.style.css" media="screen" />
    
    <script type="text/javascript" src="js/jquery.popeye-2.1.js"></script>
	<div class="latest-candidates">

<!-- Condidates Details -->
<div class="condidate-details">
<!--  Video -->
<table><tr><td>
<div>
                    <iframe width="450" height="280" src="//www.youtube.com/embed/<?=$this->me['video_url']?>?version=1&rel=0" frameborder="0" allowfullscreen></iframe>
                
</div></td>

<td>
<div style="width:350px;margin-left:50px;">
                    <div class="member_information_block">
                        <table class="profiletable">
                            <tbody><tr>
                                <td class="member_column">
                                    Current Location:
                                </td>
                                <td class="member_information">
                                    <span id="MainContent_txtLocation"><? echo $this->me['current_location']?></span>
                                </td>
                            </tr>
                        </tbody></table>
                    </div>
                    
                    
                    <div class="member_information_block">
                     <table class="profiletable">
                            <tbody><tr>
                                <td class="member_column">
                                   Visa Type:
                                </td>
                                <td class="member_information">
                                <span id="MainContent_txtNationality"><? echo $this->me['visa_type']?></span>
                                   
                                </td>
                            </tr>
                        </tbody></table>
                        </div>
                               <div class="member_information_block">
                        <table class="profiletable">
                            <tbody><tr>
                                <td class="member_column">
                                    Visa Expiry:
                                </td>
                                <td class="member_information">
                                    <span id="MainContent_txtReligion"><? echo $this->me['visa_date_expiry']?></span>
                                </td>
                            </tr>
                        </tbody></table>
                    </div>

                    <div class="member_information_block">
                        <table class="profiletable">
                            <tbody><tr>
                                <td class="member_column">
                                    Expected Salary:
                                </td>
                                <td class="member_information">

                                    <span id="MainContent_txtSalary"><? echo $this->me['expected_salary']?></span>
                                </td>
                            </tr>
                        </tbody></table>
                    </div>

                    <div class="member_information_block">
                        <table class="profiletable">
                            <tbody><tr>
                                <td class="member_column">
                                   Nationality:
                                </td>
                                <td class="member_information">
                                    <span id="MainContent_lblVisaStatus"><? echo $this->me['nationality']?></span>
                                </td>
                            </tr>
                        </tbody></table>
                    </div>

                    <div class="member_information_block">
                        <table class="profiletable">
                            <tbody><tr>
                                <td class="member_column">
                                   Religion:
                                </td>
                                <td class="member_information">
                                    <span id="MainContent_lblVisaExpiryDate"><? echo $this->me['religion']?></span>
                                </td>
                            </tr>
                        </tbody></table>
                    </div>
                    
                    <div class="member_information_block">
                       <table class="profiletable">
                            <tbody><tr>
                                <td class="member_column">
                                    Job Type:
                                </td>
                                <td class="member_information">
                                    <span id="MainContent_txtAvailableDate"><? echo $this->me['job_type']?></span>
                                </td>
                            </tr>
                        </tbody></table>
                    </div>
					
                  <?
$strRole='';
foreach(explode(',',$this->me['role_id']) as $v){
	$v=explode('-',$v);
$strRole .= $v[0].',';
}
?>
  <div class="member_information_block">
                       <table class="profiletable">
                            <tbody><tr>
                                <td class="member_column">
                                    Interested to work as:
                                </td>
                                <td class="member_information">
                                    <span id="MainContent_txtMarital"><? echo trim($strRole,',')?></span>
                                </td>
                            </tr>
                        </tbody></table>
                    </div>
                    <div class="member_information_block">
                      <table class="profiletable">
                            <tbody><tr>
                                <td class="member_column">
                                    Total Experience:
                                </td>
                                <td class="member_information">
                                    <span id="MainContent_txtNoKids"><? echo $this->me['experience']?></span>
                                </td>
                            </tr>
                        </tbody></table>
                    </div>
                    <div class="member_information_block">
                        <table class="profiletable">
                            <tbody><tr>
                                <td class="member_column">
                                    Posted By:
                                </td>
                                <td class="member_information">
                                    <span id="MainContent_txtWorkWithKids">Self</span>
                                </td>
                            </tr>
                        </tbody></table>
                    </div>
					<a href="<?=$this->referrer?>"><button class="add-shortlist butt-width" type="button"> << Back</button></a>
					<?if($this->userType!=0){?>

					 <?if(isset($this->arrInterested) && (!in_array($this->me['user_id'],$this->arrInterested))){?>
			 <?if(isset($this->arrShortlisted) && (!in_array($this->me['user_id'],$this->arrShortlisted))){?>
			 <a href="<?=WEBSITE?>candidateshortlist?id=<? echo $this->me['user_id']?>"><button style="width:" class="cand-dis-button">Shortlist</button></a>		  <?}?>
		  
		  <a href="<?=WEBSITE?>candidateinterest?id=<? echo $this->me['user_id']?>"><button class="cand-dis-button express-interrest">Express Interest</button></a>
		  <?}else{?>
		  
		  <?}}?>
					
					
					
					
					
                    
</td>
</tr></table>


<?


    list($y,$m,$d) = explode('-', $this->me['dob']);
    
    if (($m = (date('m') - $m)) < 0) {
        $y++;
    } elseif ($m == 0 && date('d') - $d < 0) {
        $y++;
    }
    
    $age =  date('Y') - $y;
    



?>


<div class="clear"></div>
<!--  Video End -->
<!-- Content -->
<div class="condidate-Dmain">
<!-- personal details -->
<div class="personal-details-main" style="width:100%">
<div class="personal-rowins">

<!-- Upload Photo -->
<?if(count($this->me['images']) > 0){?>
<div class="ppy" id="ppy2">
            <ul class="ppy-imglist">
		<?foreach($this->me['images'] as $img){?>
			<li>
                    <a href="thumb.php?src=<?=WEBSITE?>uploads/<?=$img['photo']?>&h=500&w=500">
                        <img src="thumb.php?src=<?=WEBSITE?>uploads/<?=$img['photo']?>&h=200&w=200" alt="Click on the image to close popup" />
                    </a>
                  
                </li>
				<?}?>
</ul>
 <div class="ppy-outer">
                <div class="ppy-stage">
                    <div class="ppy-counter">
                        <strong class="ppy-current"></strong> / <strong class="ppy-total"></strong> 
                    </div>
                </div>
                <div class="ppy-nav">
                    <div class="nav-wrap">
                        <a class="ppy-next" title="Next image">Next image</a>
                        <a class="ppy-prev" title="Previous image">Previous image</a>
                    </div>
				</div>
				<div class="ppy-caption">
                    <span class="ppy-text"></span>
                </div>
			<center><small><b>Try clicking on the image for larger/smaller view</b></small></center>	
            </div>
			
        </div>
		

<?}else{?>
<?if($auth->hasIdentity() && $auth->getIdentity()->usertype==0){?>
<label class="fileContainer">
<input type="file">
</label>
<?}else{?>
<img src="images/img.jpg" width=120 height=120px>
<?}?>
<?}?>
<!-- Upload Photo End -->





</div>
<div class="personal-rowins second-rowD">
<div class="personal-row"><div class="heading">Day Off Preference :</div> <div class="detailsm"><? echo $this->me['dayoffpref']?></div></div>
<div class="personal-row"><div class="heading">Can Speak:</div> <div class="detailsm"><? echo str_replace(',',', ',trim($this->me['language'],','))?></div></div>
<div class="personal-row"><div class="heading">Work Location Preference:</div> <div class="detailsm"><? echo str_replace(',',', ',trim($this->me['citypref'],','))?></div></div>
<div class="personal-row"><div class="heading">Age:</div> <div class="detailsm"><?=$age?></div></div>
<div class="personal-row"><div class="heading">Date of Birth :</div> <div class="detailsm"><? echo $this->me['dob']?></div></div>
<div class="personal-row"><div class="heading">Height/Weight :</div> <div class="detailsm"><?=$this->me['height']?>/<?=$this->me['weight']?>  kg</div></div>
<div class="personal-row"><div class="heading">Availability :</div> <div class="detailsm"><? echo $this->me['notice']?></div></div>
<div class="personal-row"><div class="heading">Marital Status :</div> <div class="detailsm"><? echo $this->me['marital_status']?></div></div>
</div>
<div class="clear"></div>
<!-- Manage profile -->
</div>
<div class="clear"></div>
<!-- personal details End  -->
<!-- Tab -->
<div id="horizontalTab" style="display: block; width: 80%; margin: 0px;">

<div class="resp-tabs-container">
<h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>About Myself</h2><div class="resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
<div class="all-point-head">About me and my work experience<br><br></div>

<div class="clear"></div>
<div class="profile-content">
<?=$this->me['aboutme'];?></div>
<div class="clear"></div>
<div class="all-point-head">Education &amp; Career<br><br></div>

<div class="clear"></div>
<div class="profile-content basics-profile">
<div class="personal-rowins">
<div class="personal-row"><div class="heading">Basic Education :</div> <div class="detailsm"><?=$this->me['basic_education']?></div></div>
<div class="personal-row"><div class="heading">Key Skills :</div> <div class="detailsm"><?=trim($this->me['key_skills'],',');?></div></div>


</div>
    <?
$str='';
foreach(explode(',',$this->me['job_category']) as $v){
	$v=explode('-',$v);
$str .= $v[0].',';
}
?>
<div class="personal-rowins second-rowD">
<div class="personal-row"><div class="heading">Job Category :</div> <div class="detailsm"><?=str_replace(',',', ',trim($str,','));?></div></div>
<div class="personal-row"><div class="heading">Interested to work as :</div> <div class="detailsm"><?=str_replace(',',', ',trim($strRole,','));?></div></div>
</div>
</div>
</div>
<h2 class="resp-accordion" role="tab" aria-controls="tab_item-1"><span class="resp-arrow"></span>Matched Jobs</h2><div class="resp-tab-content" aria-labelledby="tab_item-1">
<p>This tab will have matching jobs.</p>
</div>
</div>
</div>
<!-- Tab -->














<div class="clear"></div>
</div>
<!-- Content End -->






</div>
<!-- Condidates Details End  -->
</div>




<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);

                $name.text($tab.text());

                $info.show();
            }
        });

        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
</script>
<style>

.member_information_block {
border-bottom: 1px solid #E6E6E6;
display: block;
padding: 4px 0;
width: 100%;
}


.member_information {
color: #333;
font-size: 12px;
font: normal 12px/15px arial;
}



.member_column {
font-size: 10px;
width: 150px;
Color: #666;
font-weight: bold;
font: normal 12px/15px arial;
}

</style>
<script type="text/javascript">
    <!--//<![CDATA[
    
    $(document).ready(function () {

        var options2 = {
            caption: false,
            navigation: 'permanent',
            direction:  'left'
        }
    
        $('#ppy2').popeye(options2);
		$('.ppy-placeholder').css('float','left');
    });
    
    //]]>-->
</script>