

<nav class="clearfix">
<ul>
<li class="home-navli"><a  style="text-decoration:none"  href="index.php" class="home-nav"><img src="images/home.png"></a></li>
<li><a  style="text-decoration:none"  href="#" class="normal-nav">My Home</a>
<ul>
<li><a  style="text-decoration:none"  href="/myjobs">Dashboard</a></li>
<li><a  style="text-decoration:none"  href="/editagency">Edit Profile</a></li>
<li><a  style="text-decoration:none"  href="/changepassword">Change Password</a></li>
<li><a  style="text-decoration:none"  href="/uploadphoto">Add Agency Logo</a></li>
<li><a  style="text-decoration:none"  href="/myorders">My Subscriptions</a></li>

</ul>
</li>
<li><a  style="text-decoration:none"  href="#" class="normal-nav">Candidate Search</a>
<ul>
<li ><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchcandidates">Basic Search</a></li>
<li ><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchcandidates#tab2">Advance Search</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchcandidates#tab3">Search by Job Role</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchcandidates#tab4">Search by Job Category</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchcandidates#tab5">Search by Agents</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchcandidates#tab6">Search by Username</a></li>
</ul>
</li>
<li><a  style="text-decoration:none"  href="#" class="normal-nav">Job Search</a>
<ul>
<!--<li style="float:left;"><a  style="text-decoration:none"  href="<?=WEBSITE?>jobsearch">Basic Search</a></li>-->
<li style="float:left;"><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs">Basic Search</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs#tab2">Advance Search</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs#tab6">Search By Location</a></li>
<!--<li><a  style="text-decoration:none"  href="<?=WEBSITE?>jobsearchbyid">Search By Job Id</a></li>-->
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs#tab3">Search By Job Role</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs#tab4">Search By Job Category</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs#tab5">Jobs by Company</a></li>

</ul>
</li>


<li><a  style="text-decoration:none"  href="#" class="normal-nav">Candidate Manager</a>
<ul style="width:240px;">
<li><a  style="text-decoration:none"  href="/employerprofile?page=shortlisted">Shortlisted</a></li>
<li><a  style="text-decoration:none"  href="/employerprofile?page=expressed">Interest Expressed</a></li>
<li><a  style="text-decoration:none"  href="/addcandidatebyagency">Add Candidate</a></li>
<li><a  style="text-decoration:none"  href="/viewcandidatesaddedbyagency">Manage Candidates & Responses</a></li>
</ul>
</li>
<li>
<a  style="text-decoration:none"  href="#" class="normal-nav">Job Manager</a>
<ul>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>profile?page=shortlisted">Shortlisted</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>profile?page=applied">Applied</a></li>
<li><a  style="text-decoration:none"  href="/addjob">Post a Job</a></li>
<li><a  style="text-decoration:none"  href="/myjobs">Live Jobs & Responses</a></li>
<li><a  style="text-decoration:none"  href="/myjobs?job_st=unapproved">Unapproved Jobs</a></li>
<li><a  style="text-decoration:none"  href="/myjobs?job_st=expired">Expired Jobs</a></li>
<li><a  style="text-decoration:none"  href="/agencynotifications">Notifications</a></li>
</ul>
</li>

<li><a  style="text-decoration:none"  href="/employerpackage" class="normal-nav">Membership</a></li>
<li><a  style="text-decoration:none"  href="/pagedetail?id=10" class="normal-nav">FAQ</a></li>

<li><a  style="text-decoration:none"  href="<?=WEBSITE?>logout" class="normal-nav">Logout</a></li>
</ul>
</nav>