

<nav class="clearfix">
<ul>
<li class="home-navli"><a  style="text-decoration:none"  href="index.php" class="home-nav"><img src="images/home.png"></a></li>

<li><a  style="text-decoration:none"  href="#" class="normal-nav">My Home</a>
<ul>
<li><a  style="text-decoration:none"  href="/profile">Dashboard</a></li>
<li><a  style="text-decoration:none"  href="/myprofile">My Profile</a></li>
<li><a  style="text-decoration:none"  href="/changepassword">Change Password</a></li>
<li><a  style="text-decoration:none"  href="/uploadphoto">Add Photos</a></li>
<li><a  style="text-decoration:none"  href="/myorders">My Subscriptions</a></li>

</ul>
</li>
<li><a  style="text-decoration:none"  href="#" class="normal-nav">Job Search</a>
<ul>
<!--<li style="float:left;"><a  style="text-decoration:none"  href="<?=WEBSITE?>jobsearch">Basic Search</a></li>-->
<li style="float:left;"><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs">Basic Search</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs#tab2">Advance Search</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs#tab6">Search By Location</a></li>
<!--<li><a  style="text-decoration:none"  href="<?=WEBSITE?>jobsearchbyid">Search By Job Id</a></li>-->
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs#tab3">Search By Job Role</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs#tab4">Search By Job Category</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs#tab5">Jobs by Company</a></li>

</ul>
</li>

<li><a  style="text-decoration:none"  href="#" class="normal-nav">Job Application</a>
<ul>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>profile?page=shortlisted">Shortlisted</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>profile?page=applied">Applied</a></li>
</ul>
</li>

<li class="member-login"><a  style="text-decoration:none"  href="/employerpackage">Membership</a></li>
<li><a  style="text-decoration:none"  href="#" class="normal-nav">FAQ</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>logout" class="normal-nav">Logout</a></li>
</ul>
</nav>