<footer>
<div class="footer-wrap">
<ul class="footer-nav">
<h1>Information:&nbsp;</h1>
<li><a href="contact">Contact Us</a></li>
<li><a href="contact#tab2">Report Abuse</a></li>
<li><a href="contact#tab3">Feedback</a></li>
<li><a href="contact#tab4" class="bd-none">Advertise with us</a></li>
<li><a href="pagedetail?id=1" class="pd-none">About Us</a></li>
<li><a href="pagedetail?id=2">Privacy Policy</a></li>
<li><a href="pagedetail?id=3">Terms &amp; Conditions</a></li>
</ul>

</div>
<div class="copyright">Copyright © FastestHiring.com 2013. Maintained by GrailTest Technologies. All rights reserved.</div>
</footer>

<script type='text/javascript'>(function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://www.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: '7500cb5f-0185-4012-8bc0-16c3b4b20140', f: true }); done = true; } }; })();</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48892606-1', 'fastesthiring.com');
  ga('send', 'pageview');

</script>

