

<header class="clearfix">
<!-- Branding -->
<a href="index.php" class="branding" style="padding-top1:20px;"><img src="images/logo.png"></a>
<!-- Branding End -->
<!-- Mobile Verified -->
 
<div class="mobile-verified" style="margin-top1:97px;">
<table>
<tr><td style="vertical-align:top;">100% Mobile Verified Profiles!</td><td><img style="margin-top:-16px;" src="images/offer.png"></td></tr></table>
</div>

<!-- Mobile Verified End -->
<!-- 24x7 countries -->
<div class="help-all-Countries" style="margin-right: 100px;width:385px;">
<div style="float:left">
<?if($banners == "yes")
foreach($_SESSION['banners'] as $v){
?>


<?
if($v['position'] == 'Top'){
?>


<a href="<?=$v['link']?>" target=_new><img src="<?= WEBSITE ?>thumb.php?src=<?= WEBSITE ?>/manager/upload_images/banner/<?=$v['image']?>&h=60&w=300"></a>
<?}}?>
</div>
<div class="help-24x1">



</div>
<div class="all-countries">

</div>

<div class="clear"></div>

<div class="social-ico" style="float:right;width:410px;padding-top:74px;padding-left:0px;margin-top: -24px;">


<!--<a href="#" class="live-help"><img src="images/skype.png"></a>-->


<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=121010511434850";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--<a href="#" class="live-help"><img src="images/skype.png"></a>-->

<div style="float:left;padding-right: 19px;padding-top: 12px;">

<script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
<div id="SkypeButton_Call_fastesthiring_1" style="float: left;margin-top:-8px;">
  <script type="text/javascript">
    Skype.ui({
      "name": "call",
      "element": "SkypeButton_Call_fastesthiring_1",
      "participants": ["live:fastesthiring"],
      "imageSize": 20
    });
  </script>
</div>
<table><tr><td><img src="images/phone_icon.png" width=24 height=24>
971-44487668<br>
<img src="images/mobile_icon.png"  width=24 height=24>
971-529464293 
</td></tr></table>
</div>
<!--<div class="fb-like" style="float: left;padding-top: 20px;padding-right: 10px;" data-href="https://www.facebook.com/pages/Fastesthiringcom/171189053090363" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>-->

<!--<a target="_blank" href="https://www.facebook.com/pages/Fastesthiringcom/171189053090363" class="live-help"><img src="images/facebook.png"></a>
<a target="_blank" href="http://twitter.com/fastesthiring" class="live-help"><img src="images/twitter.png"></a>
<a target="_blank" href="https://plus.google.com/105162865652992460087/posts" class="live-help"><img src="images/googleplus.jpg"></a>-->




</div>
</div>
<!-- 24x7 countries End -->
</header>








