

<nav class="clearfix">
<ul>
<li class="home-navli"><a  style="text-decoration:none"  href="index.php" class="home-nav"><img src="images/home.png"></a></li>
<li class="member-login"><a  style="text-decoration:none"  href="<?=WEBSITE?>login">Member Login</a></li>
<li><a  style="text-decoration:none"  href="/pagedetail?id=1" class="normal-nav">About Us</a></li>
<li><a style="text-decoration:none"    href="#" class="normal-nav">Search Candidates</a>
<ul>
<li ><a style="text-decoration:none"  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchcandidates">Basic Search</a></li>
<li ><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchcandidates#tab2">Advance Search</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchcandidates#tab3">Search by Job Role</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchcandidates#tab4">Search by Job Category</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchcandidates#tab5">Search by Agents</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchcandidates#tab6">Search by Username</a></li>
</ul>
</li>
<li><a  style="text-decoration:none"  href="#" class="normal-nav">Search Jobs</a>
<ul>
<!--<li style="float:left;"><a  style="text-decoration:none"  href="<?=WEBSITE?>jobsearch">Basic Search</a></li>-->
<li style="float:left;"><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs">Basic Search</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs#tab2">Advance Search</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs#tab6">Search By Location</a></li>
<!--<li><a  style="text-decoration:none"  href="<?=WEBSITE?>jobsearchbyid">Search By Job Id</a></li>-->
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs#tab3">Search By Job Role</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs#tab4">Search By Job Category</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>advancesearchjobs#tab5">Jobs by Company</a></li>
</ul>
</li>
<li><a  style="text-decoration:none"  href="#" class="normal-nav">Candidate</a>
<ul>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>login">Login</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>candidateregistration">Register With Us</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>membership?id=3">Membership</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>pagedetail?id=3">FAQ</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>pagedetail?id=3">Terms & Condition</a></li>

</ul>
</li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>employerregistration" class="normal-nav">Employer/Sponser</a>
<ul>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>login">Login</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>employerregistration">Register With Us</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>membership?id=1">Membership</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>pagedetail?id=4">FAQ</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>pagedetail?id=3">Terms & Condition</a></li>

</ul></li>

<li><a  style="text-decoration:none"  href="#" class="normal-nav">Agency</a>
<ul>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>login">Login</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>agencyregistration">Register With Us</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>membership?id=2">Membership</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>pagedetail?id=10">FAQ</a></li>
<li><a  style="text-decoration:none"  href="<?=WEBSITE?>pagedetail?id=3">Terms & Condition</a></li>
</ul></li>
</ul>
</nav>
