 <!-- Latest Job Post -->
        <div class="latest-job-post">
            <h1>Latest Job Post</h1>
            <?foreach($this->jobs as $jobs){?>
			
			<?if($jobs['is_featured'] == 1){?>
			<div class="latest-job-box">
			<div class="royal-crown"><img src="images/crown_roy.png"></div>
			<?}else{?>
			<div class="latest-job-box boxorg">
			<?}?>
			
        <h2><?=$jobs['category_name']?></h2>                
                <div class="rowes"><span>Industry:</span> <?=$jobs['industry_name']?></div>
                <div class="rowes"><span>Experience:</span> <?=$jobs['experience']?></div>
				<div class="rowes"><span>Posted By:</span> <?=$jobs['posted_by']?></div>
                <div class="rowes"><span>Published:</span> <?=$jobs['posted_date']?></div>
                
				<button class="add-shortlist butt-width" type="button">Shortlist</button>
<a href="<?=WEBSITE?>jobdetail?id=<?=$jobs['id']?>"><button type="button" class="more-details butt-width">Details</button></a>
<button type="button" class="apply-nav butt-width org-mar">Apply</button>
                
        <!-- profile End -->
        
        </div>
        
        
        
        
        
	  
	  
	  
	  
			<?}?>
			
           
        </div>
        <!-- Latest Job Post End -->
