<? $auth = Zend_Auth::getInstance();
        
            
			?><div class="latest-job-post">



<div id="profile_info_widget" class="profile_info" style="display:block;width:100%;">
        
		<div id="profile_info_widget" class="profile_info" style="display:block;width:100%;">
        
		<div id="manage_photo" class="manage_photo">
			<span class="thumbnail"> <a  class='ajax' href="<?=WEBSITE?>getmyimages">
				<?if($auth->getIdentity()->profile_image != ''){?>
<img src="<?=WEBSITE?>thumb.php?src=<?=WEBSITE?>/uploads/<?=$auth->getIdentity()->profile_image?>&h=60&w=60">
			<?}else{?>
				<img src="images/logohere.jpg" width="60" height="60" oncontextmenu="return false;" ondragstart="return false;" ondragenter="return false;" ondragover="return false;" ondrop="return false;" onmousedown="return false;">
			<?}?>
		
			
			
			</a></span>
			<div class="manage_links_wrap"><a href="/uploadphoto" class="light_blue">Add Company Logo</a><br>
			
			     
                        <a href="/editemployer" class="light_blue">Edit Profile</a>
			
			
			
				</div>
				<br class="clear">
				<p class="last_login">Last login: <?=$this->lastLogin?></p>
		</div>        </div> </div>
		
		


		
		
		<div class="inbox_widget">
	    <ul>
        
		

		<li class="default"><span class="ms_ln_heading">My Profile</span></li>
		<li class="inner_list">
		
            <div class="inner_folders">
			<?if($_SESSION['Zend_Auth']['storage']->verified == 1){?>
			  
					<a href="#"><span class="num" style="padding-top:5px;"><img src='images/tick.png' width=20 height=20 ></span>                <span>Verified Mobile</span>
			</a>
			<?}else{?>
			
			<?if($this->verification == 1){?>	
			<a  class='ajax' href="<?=WEBSITE?>verifymobile?verify=1">
			<script>
				$(".ajax").colorbox({width:'450px', height:'350px',open:'true',href:'verifymobile?verify=1'});
			</script>
			<?}else{?>
			<a  class='ajax' href="<?=WEBSITE?>verifymobile">
			<?}?>
                 <span class=" num"></span>                <span>Verify Mobile</span>
                            </a>
            <?}?>
            
        <a href="/changepassword">
                <span class="span_bold num"></span>                <span>Change Password</span>
            </a>  

			<a href="/employernotifications">
                <span class="span_bold num"></span>                <span>Notifications</span>
            </a>  
 		<?if($_SESSION['Zend_Auth']['storage']->email_verified == 1){?>
		
		<a href="#"><span class="num" style="padding-top:5px;"><img src='images/tick.png' width=20 height=20 ></span>                <span>Verified Email</span>
		<?}else{?>
			<a href="/verifyemail" class='ajax'>
                <span class="span_bold num"></span>                <span>Verify Email</span>
            </a>  
		
		
		<?}?>
		
 <a href="/uploadphoto">
                <span class="span_bold num"></span>                <span>Company Logo</span>
            </a>  
 <a href="/recommend">
                <span class="span_bold num"></span>                <span>Recommend us to your friend</span>
            </a>  			
            </div>
		</li>

		
		
		<li><span class="ms_ln_heading">Quick Links</span></li>
		<li class="inner_list">
            <div class="inner_folders">
             <a href="<?=WEBSITE?>addjob">
                 <span class=" num"></span>                <span><b>Post a Job</b></span>
                            </a>
             <a href="<?=WEBSITE?>employerpackage">
                 <span class=" num"></span>                <span><b>Premium membership</b></span>
                            </a>
   <a href="<?=WEBSITE?>myorders">
                 <span class=" num"></span>                <span><b>My Subscriptions</b></span>
                            </a>
                   <a href="/myjobs">
                <span class="span_bold num"><?//=$this->myjobs?></span>                <span>Live Jobs/Responses</span>
            </a>
			
			 <a href="/myjobs?job_st=unapproved">
                <span class="span_bold num"><?//=$this->myjobs?></span>                <span>&nbsp;&nbsp; -- Unapproved Jobs</span>
            </a>
			
			 <a href="/myjobs?job_st=expired">
                <span class="span_bold num"><?//=$this->myjobs?></span>                <span>&nbsp;&nbsp; -- Expired Jobs</span>
            </a>
			
			<a href="/employerprofile?page=shortlisted">
                <span class="span_bold num"><?=$this->shortlistcount?></span>                <span>Shortlisted Candidates</span>
            </a>
            <a href="/employerprofile?page=expressed" >
                <span class="span_bold num"><?=$this->expressinterest?></span>                <span style="font-size:11px;">Candidates I Expressed Interest</span>
            </a>
                
               
            </div>
		</li>
	
	
	<li><span class="ms_ln_heading">My Remaining Credits</span></li>
		<li class="inner_list">
            <div class="inner_folders">
             <a href="/employerpackage">
                 <span class=" num"></span>                <span>Job Post (<?=$auth->getIdentity()->job_post;?>)</span>
                            </a>
            <a href="/employerpackage">
                <span class="span_bold num"><?//=$this->myjobs?></span>                <span>Bulk SMS (<?=$auth->getIdentity()->bulk_sms;?>)</span>
            </a>
			<a href="/employerpackage">
                <span class="span_bold num"><?//=$this->shortlistcount?></span>                <span>Featured Jobs (<?=$auth->getIdentity()->featured_job;?>)</span>
            </a>
            <a href="/employerpackage">
                <span class="span_bold num"><?//=$this->expressinterest?></span>                <span>Express Interest (<?=$auth->getIdentity()->express_interest;?>)</span>
            </a>
               
            </div>
		</li>
		
		
	    </ul>
	</div>
	
	
	
	
	
	
	<?if($this->page == 'addjob' || $this->page == 'editjob'){?>
	
 <!-- Latest Job Post -->
       <div class="latest-job-post">
            <h1>Latest Job Post</h1>
            <?$i=0;foreach($this->jobs as $jobs){?>
			<?if($i++ >=4){continue;}?>
			<?if($jobs['is_featured'] == 1){?>
			<div class="latest-job-box">
			<div class="royal-crown"><img src="images/crown_roy.png"></div>
			<?}else{?>
			<div class="latest-job-box boxorg">
			<?}?>
			
        <h2><?=$jobs['category_name']?></h2>                
                <div class="rowes"><?=substr($jobs['title'],0,27)?>...</div>
                <div class="rowes"><span>Location:</span> <?=str_replace(',',', ',trim($jobs['job_location_city'],","));?></div>
				<div class="rowes"><span>Job Type:</span> <?=$jobs['job_type']?></div>
                <div class="rowes"><span>Published:</span> <?$strArr = explode(" ",$jobs['posted_date']); echo $strArr[0];?></div>
                
 <?
		 if($this->usertype == 0)
		 if(isset($this->arrApplied) && (!in_array($jobs['id'],$this->arrApplied))){?>
			 <?if(isset($this->arrShortlisted) && (!in_array($jobs['id'],$this->arrShortlisted))){?>
			 <a href="<?=WEBSITE?>jobshortlist?jobid=<?=$jobs['id']?>"><button class="add-shortlist butt-width" type="button">Shortlist</button></a><?}?>
		  
		  <a href="<?=WEBSITE?>jobapply?jobid=<?=$jobs['id']?>"><button type="button" class="apply-nav butt-width org-mar">Apply</button></a>
		  <?}else{?>
		  &nbsp;
		  <?}?>
		  
		  
<a href="<?=WEBSITE?>jobdetail?id=<?=$jobs['id']?>"><button type="button" class="more-details butt-width">Details</button></a>

                
        <!-- profile End -->
        
        </div>
        
        
        
        
        
	  
	  
	  
	  
			<?}?>
			
           
        </div>
        <!-- Latest Job Post End -->

 <?}?></div>






<script>




$(document).ready(function(){
$(".ajax").colorbox({width:'450px', height:'350px'});

});

</script>






<style>
.inbox_widget {
width: 100%;
margin: 0 0 15px 0;
border: 1px solid #eae9d0;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background: #f9f8e5;
}

.inbox_widget ul li {
background: #e1dfb4;
color: #666;
font: bold 14px/32px arial;
}

.inbox_widget .ms_ln_heading {
padding: 0 0 0 16px;
}

.inbox_widget .act_full_text {
font: normal 12px arial;
color: #666;
padding: 0 0 0 2px;
}

.inbox_widget .act_full_percentage {
font: normal 12px arial;
color: #666;
}
.inbox_widget ul li.inner_list {
width: 100%;
}

.inner_folders {
background: #eae9d0;
font: normal 12px arial;
color: #333;
}


.inner_folders a {
background: #f9f8e5;
width: 202px;
border-top: 1px solid #eae9d0;
height: 39px;
line-height: 39px;
padding: 0 0 0 16px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
position: relative;
cursor: pointer;
display: block;
text-decoration: none;
}


.inner_folders a span.num {
font: bold 14px arial;
width: 28px;
color: #ccc;
text-align: center;
display: inline-block;
}

.inner_folders a span {
color: #333;
text-align: left;
display: inline-block;
}






#manage_photo {
padding: 14px 0 0 0;
width: 222px;
float: left;
height: 98px;
}

.thumbnail {
margin: 0 10px 0 14px;
}

 .manage_links_wrap {
width: 115px;
float: left;
padding: 4px 0 0 0;
}

.last_login {
margin: 8px 0 0 14px;
font-style: italic;
}

.thumbnail {
background: #fff;
float: left;
padding: 3px;
width: 60px;
height: 60px;
margin: 0 14px;
position: relative;
border: 1px solid #ddd;
box-shadow: 0 1px 1px 0 rgba(119,119,119,0.3);
-moz-box-shadow: 0 1px 1px 0 rgba(119,119,119,0.3);
-webkit-box-shadow: 0 1px 1px 0 rgba(119,119,119,0.3);
-ms-box-shadow: 0 1px 1px 0 rgba(119,119,119,0.3);
}

.profile_info {
margin: 0 0 15px 0;
border: 1px solid #e7e7e7!important;
width: 234px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background: #fff;
background: linear-gradient(to bottom,#fff 0,#ededed 100%);
background: -moz-linear-gradient(top,#fff 0,#ededed 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ededed));
background: -webkit-linear-gradient(top,#fff 0,#ededed 100%);
background: -o-linear-gradient(top,#fff 0,#ededed 100%);
background: -ms-linear-gradient(top,#fff 0,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ededed',GradientType=0);
overflow: hidden;
}
.link_blue, .light_blue, .blue, .smallbluelink, .gray_1 {
color: #0067AC;
font-size:12px;
}
.link_blue:hover, .light_blue:hover, .blue:hover, .smallbluelink:hover, .gray_1:hover {
color: #0067AC;
font-size:12px;
text-decoration:underline;
}
</style>