 <!-- Latest Job Post -->
        <div class="latest-job-post">
            <h1>Latest Job Post</h1>
            <?foreach($this->jobs as $jobs){?>
			
			<?if($jobs['is_featured'] == 1){?>
			<div class="latest-job-box">
			<div class="royal-crown"><img src="images/crown_roy.png"></div>
			<?}else{?>
			<div class="latest-job-box boxorg">
			<?}?>
			
        <h2><?=$jobs['category_name']?></h2>                
                <div class="rowes"><?=substr($jobs['title'],0,27)?>...</div>
                <div class="rowes"><span>Location:</span> <?=str_replace(',',', ',trim($jobs['job_location_city'],","));?></div>
				<div class="rowes"><span>Job Type:</span> <?=$jobs['job_type']?></div>
                <div class="rowes"><span>Published:</span> <?$strArr = explode(" ",$jobs['posted_date']); echo $strArr[0];?></div>
                
 <?
		 if($this->usertype == 0)
		 if(isset($this->arrApplied) && (!in_array($jobs['id'],$this->arrApplied))){?>
			 <?if(isset($this->arrShortlisted) && (!in_array($jobs['id'],$this->arrShortlisted))){?>
			 <a href="<?=WEBSITE?>jobshortlist?jobid=<?=$jobs['id']?>"><button class="add-shortlist butt-width" type="button">Shortlist</button></a><?}?>
		  
		  <a href="<?=WEBSITE?>jobapply?jobid=<?=$jobs['id']?>"><button type="button" class="apply-nav butt-width org-mar">Apply</button></a>
		  <?}else{?>
		  &nbsp;
		  <?}?>
		  
		  
<a href="<?=WEBSITE?>jobdetail?id=<?=$jobs['id']?>"><button type="button" class="more-details butt-width">Details</button></a>

                
        <!-- profile End -->
        
        </div>
        
        
        
        
        
	  
	  
	  
	  
			<?}?>
			
           	<center style="padding-top:62px;"><a class="candlink" href="/jobsearch" style="font-size:16px;font-weight: bold;color: #e67408;"> &#62;&nbsp; Click for More Jobs</a></center>
        </div>
        <!-- Latest Job Post End -->