<?$auth = Zend_Auth::getInstance();?>
<div class="latest-job-post">
<div id="profile_info_widget" class="profile_info" style="display:block;width:100%;">
        
		<div id="profile_info_widget" class="profile_info" style="display:block;width:100%;">
        
		<div id="manage_photo" class="manage_photo">
			<span class="thumbnail"> <a  class='ajax' href="<?=WEBSITE?>getmyimages">
			<?if($auth->getIdentity()->profile_image != ''){?>
<img src="<?=WEBSITE?>thumb.php?src=<?=WEBSITE?>/uploads/<?=$auth->getIdentity()->profile_image?>&h=60&w=60">
			<?}else{?>
			<img src="http://www.imgshaadi.com/imgs/my-shaadi/ver2/60-add-ph-male-v2.gif" width="60" height="60" oncontextmenu="return false;" ondragstart="return false;" ondragenter="return false;" ondragover="return false;" ondrop="return false;" onmousedown="return false;">
			<?}?>
			</a></span>
			<div class="manage_links_wrap"><a href="/uploadphoto" class="light_blue">Add Photos</a><br>
			
			 <?php if ($this->userType == 2) {
			                            $action = "editagency";
			                        } else {
			                            $action = "editcandidate";
			                        } ?>
                        <a href="<?= $action ?>" class="light_blue">Edit Profile</a><br>
            
<a href="<?=WEBSITE?>uploadcv"  class="light_blue">
                 Upload CV
                            </a>
			
			
			<br>
			
			
				</div>
				<br class="clear">
				<p class="last_login">Last login: <?=$this->lastLogin?></p>
		</div>        </div> </div>
		
		
		
		
		<div class="inbox_widget">
	    <ul>
        
		<li class="default"><span class="ms_ln_heading">Inbox</span></li>
		<li class="inner_list">
            <div class="inner_folders">
            
            <a href="/interests">
                <span class="span_bold num"><?=$this->notificationCount?></span>                <span>Interests</span>
            </a>
            </div>
		</li>

		<li><span class="ms_ln_heading">Profile</span></li>
		<li class="inner_list">
		    <div class="inner_folders">
               <a href="/myprofile">
                    <span class=" num"></span>                    <span>My Profile</span>
                </a>
            
<a href="<?=WEBSITE?>uploadcv">
                 <span class=" num"></span>                <span><b>Upload CV</b></span>
                            </a>

							<a href="/changepassword">
                <span class="span_bold num"></span>                <span>Change Password</span>
            </a>  

        		<?if($_SESSION['Zend_Auth']['storage']->verified == 1){?>
			  <a href="#">
				<span class="num" style="padding-top:5px;"><img src='images/tick.png' width=20 height=20 ></span>                <span>Verified Mobile</span>
			</a>
			<?}else{?>
			
			<?if($this->verification == 1){?>	
			<a  class='ajax' href="<?=WEBSITE?>verifymobile?verify=1">
			<script>
				$(".ajax").colorbox({width:'450px', height:'350px',open:'true',href:'verifymobile?verify=1'});
			</script>
			
			<?}else{?>
			<a  class='ajax' href="<?=WEBSITE?>verifymobile">
			<?}?>
                 <span class=" num"></span>                <span><b>Verify Mobile</b></span>
                            </a>
            <?}?>
<a href="<?=WEBSITE?>employerpackage">
                 <span class=" num"></span>                <span><b>Memberships</b></span>
                            </a>                
<a href="<?=WEBSITE?>myorders">
                 <span class=" num"></span>                <span><b>My Subscriptions</b></span>
                            </a>
          			
           
            
            
            
            







            
		    </div>
		</li>
		
		<li><span class="ms_ln_heading">Job Application</span></li>
		<li class="inner_list">
		    <div class="inner_folders">
                <a href="profile?page=applied">
                    <span class=" num"><?=$this->appliedCount?></span>                    <span>Applied</span>
                                    </a>
                <a href="profile?page=shortlisted">
                    <span class=" num"><?=$this->shortlistedCount?></span>                    <span>Shortlisted</span>
                                    </a>
		    </div>
		</li>

	
	    </ul>
	</div>
	
	
	
	
	
	
		
		
		</div>
		
		
		
		
		
		






<script>




$(document).ready(function(){
$(".ajax").colorbox({width:'450px', height:'350px'});

});

</script>






<style>
.inbox_widget {
width: 100%;
margin: 0 0 15px 0;
border: 1px solid #eae9d0;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background: #f9f8e5;
}

.inbox_widget ul li {
background: #e1dfb4;
color: #666;
font: bold 14px/32px arial;
}

.inbox_widget .ms_ln_heading {
padding: 0 0 0 16px;
}

.inbox_widget .act_full_text {
font: normal 12px arial;
color: #666;
padding: 0 0 0 2px;
}

.inbox_widget .act_full_percentage {
font: normal 12px arial;
color: #666;
}
.inbox_widget ul li.inner_list {
width: 100%;
}

.inner_folders {
background: #eae9d0;
font: normal 12px arial;
color: #333;
}


.inner_folders a {
background: #f9f8e5;
width: 202px;
border-top: 1px solid #eae9d0;
height: 39px;
line-height: 39px;
padding: 0 0 0 16px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
position: relative;
cursor: pointer;
display: block;
text-decoration: none;
}


.inner_folders a span.num {
font: bold 14px arial;
width: 28px;
color: #ccc;
text-align: center;
display: inline-block;
}

.inner_folders a span {
color: #333;
text-align: left;
display: inline-block;
}






#manage_photo {
padding: 14px 0 0 0;
width: 222px;
float: left;
height: 98px;
}

.thumbnail {
margin: 0 10px 0 14px;
}

 .manage_links_wrap {
width: 115px;
float: left;
padding: 4px 0 0 0;
}

.last_login {
margin: 8px 0 0 14px;
font-style: italic;
}

.thumbnail {
background: #fff;
float: left;
padding: 3px;
width: 60px;
height: 60px;
margin: 0 14px;
position: relative;
border: 1px solid #ddd;
box-shadow: 0 1px 1px 0 rgba(119,119,119,0.3);
-moz-box-shadow: 0 1px 1px 0 rgba(119,119,119,0.3);
-webkit-box-shadow: 0 1px 1px 0 rgba(119,119,119,0.3);
-ms-box-shadow: 0 1px 1px 0 rgba(119,119,119,0.3);
}

.profile_info {
margin: 0 0 15px 0;
border: 1px solid #e7e7e7!important;
width: 234px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background: #fff;
background: linear-gradient(to bottom,#fff 0,#ededed 100%);
background: -moz-linear-gradient(top,#fff 0,#ededed 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ededed));
background: -webkit-linear-gradient(top,#fff 0,#ededed 100%);
background: -o-linear-gradient(top,#fff 0,#ededed 100%);
background: -ms-linear-gradient(top,#fff 0,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ededed',GradientType=0);
overflow: hidden;
}
.link_blue, .light_blue, .blue, .smallbluelink, .gray_1 {
color: #0067AC;
font-size:12px;
}
.link_blue:hover, .light_blue:hover, .blue:hover, .smallbluelink:hover, .gray_1:hover {
color: #0067AC;
font-size:12px;
text-decoration:underline;
}
</style>