<div class="latest-job-post">
<div id="profile_info_widget" class="profile_info" style="display:block">
        
		<div id="profile_info_widget" class="profile_info" style="display:block">
        
		<div id="manage_photo" class="manage_photo">
			
			<div class="manage_links_wrap"><a href="/my-shaadi/photo/advance" class="light_blue">Search Box Space</a><br><a href="/my-shaadi/personal-profile" class="light_blue">To-do</a>
				</div>
				<br class="clear">
			
		</div>        </div> </div>
		
		




<style>

#manage_photo {
padding: 14px 0 0 0;
width: 222px;
float: left;
height: 98px;
}

.thumbnail {
margin: 0 10px 0 14px;
}

 .manage_links_wrap {
width: 115px;
float: left;
padding: 4px 0 0 0;
}

.last_login {
margin: 8px 0 0 14px;
font-style: italic;
}

.thumbnail {
background: #fff;
float: left;
padding: 3px;
width: 60px;
height: 60px;
margin: 0 14px;
position: relative;
border: 1px solid #ddd;
box-shadow: 0 1px 1px 0 rgba(119,119,119,0.3);
-moz-box-shadow: 0 1px 1px 0 rgba(119,119,119,0.3);
-webkit-box-shadow: 0 1px 1px 0 rgba(119,119,119,0.3);
-ms-box-shadow: 0 1px 1px 0 rgba(119,119,119,0.3);
}

.profile_info {
margin: 0 0 15px 0;
border: 1px solid #e7e7e7!important;
width: 218px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background: #fff;
background: linear-gradient(to bottom,#fff 0,#ededed 100%);
background: -moz-linear-gradient(top,#fff 0,#ededed 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ededed));
background: -webkit-linear-gradient(top,#fff 0,#ededed 100%);
background: -o-linear-gradient(top,#fff 0,#ededed 100%);
background: -ms-linear-gradient(top,#fff 0,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ededed',GradientType=0);
overflow: hidden;
}
.link_blue, .light_blue, .blue, .smallbluelink, .gray_1 {
color: #0067AC;
font-size:10px;
}
</style>