<div class="quick-links">
<?if($this->page!="viewprofile"){?><!-- Quick Links to Candidates -->

<h2>Quick Links to Candidates</h2>
<ul class="clearfix">
<?foreach($this->category as $c){?>
					<li><a href="<?=WEBSITE?>candidatesearch?category=<?=$c['category']?>&search=now"><?=$c['category']?></a></li>
			   <?}?></ul>


<!-- Quick Links to Candidates -->
<?}?>


<?

foreach($_SESSION['banners'] as $v){

if($v['position'] == 'Right'){
?>


<center><a href="<?=$v['link']?>" target=_new><img src="<?= WEBSITE ?>thumb.php?src=<?= WEBSITE ?>/manager/upload_images/banner/<?=$v['image']?>&h=300&w=200"></a><br><br></center>
<?}}?>

</div>