
<!-- Search -->
<form action="searchcandidatebyoveallsearch" name="headersearch" method="get">

<div class="search-wrap">
  <div class="search-main"> 
   <!-- Search Box -->
    <div class="search-main-box">
      <div class="search-jobsm clearfix">
       <div class="jos-smlh">Search</div> 
        <input type="text" name="searchdata" value="<? if(isset($this->postData['skills']) && $this->postData['skills'] != "Type Skills, Designation"){ echo $this->postData['skills'];}elseif(isset($this->postData['searchdata'])){  echo $this->postData['searchdata'];}?>" />
        <div class="radio-search"><input type="radio" name="search" value="job" <? if(!empty($this->postData) && ( isset($this->postData['search']) && $this->postData['search'] == 'job') ) {?> checked <? } ?> />  Job</div>
        <div class="radio-search"><input type="radio" name="search" value="candidate" <? if(!empty($this->postData) && (isset($this->postData['search']) && $this->postData['search'] != 'job') ) {?> checked <? } ?> />  Candidate</div>         
        
        <input type="submit" value="Search" name="submit" class="search-navsm">
            
      </div>
    </div>
	<div class="past-ad inside-postbox">
	
	<div class=" float:right" style="margin-top:20px">Total <?=$this->searchDataCount ?> Results found</div>
	</div>
    <!-- Search Box End -->
    <!-- <div class="past-ad inside-postbox">
      <button type="button">Post a Job Ad </button>
      <button type="button">Post Your Profile <span>Free</span></button>
    </div> -->
  </div>
  <div class="clear"></div>
</div>
    </form>

<!-- Search End --> 