<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>FastestHiring</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
<script src="js/jquery.min.js"></script>
<script src="js/jquery.colorbox.js"></script>
<link href="css/layout.css" rel="stylesheet" type="text/css">
<link href="css/mediastyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/html5.js"></script>
<script>
$(document).ready(function() {
    $(".all-countries").click(function(){
		$(".counties").slideToggle();
	});
    $("#phone-M").click(function(){
		$(".phone-box").slideToggle();
	});	
	 $("#textA").click(function(){
		$("textarea").slideToggle();
	});
});
</script>
<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
</head>

<body>
<header class="clearfix">
<!-- Branding -->
<a href="index.html" class="branding"><img src="images/logo.png"></a>
<!-- Branding End -->
<!-- Mobile Verified -->
<div class="mobile-verified">100% Mobile Verified Profiles!</div>
<!-- Mobile Verified End -->
<!-- 24x7 countries -->
<div class="help-all-Countries">
<div class="help-24x"><span>24x7 HELP:</span> INDIA 0-814-499-8877</div>
<div class="all-countries">All Countries</div>
<ul class="counties">
<li><a href="#">India</a></li>
<li><a href="#">America</a></li>
<li><a href="#">Australia</a></li>
<li><a href="#">Canada</a></li>
</ul>
<div class="clear"></div>
<a href="#" class="live-help"><img src="images/skype.png"></a>
<a href="#" class="live-help liv-rtpad"><img src="images/live_help.png"></a>
</div>
<!-- 24x7 countries End -->
</header>
<!-- Navigation -->
<nav class="clearfix">
<ul>
<li class="member-login"><a href="#">Member Login</a></li>
<li><a href="#" class="normal-nav">About Us</a></li>
<li><a href="#" class="normal-nav">Browse Candidates</a>
<ul>
<li><a href="#">Lorem Ipsum</a></li>
<li><a href="#">Lorem Ipsum</a></li>
<li><a href="#">Lorem Ipsum</a></li>
<li><a href="#">Lorem Ipsum</a></li>
</ul>
</li>
<li><a href="#" class="normal-nav">Browse Jobs</a>
<ul>
<li><a href="#">Lorem Ipsum</a></li>
<li><a href="#">Lorem Ipsum</a></li>
<li><a href="#">Lorem Ipsum</a></li>
<li><a href="#">Lorem Ipsum</a></li>
</ul>
</li>
<li><a href="#" class="normal-nav">Candidate</a></li>
<li><a href="#" class="normal-nav">Employer/Sponser</a></li>
<li><a href="#" class="normal-nav">Agency</a></li>
</ul>
</nav>
<!-- Navigation End -->
<!-- Search -->
<div class="search-wrap">
<div class="search-main">
<!-- Why Us -->
<div class="why-us">
<h1>Why Us?</h1>
<ul>
<li>Video interview of candidates</li>
<li>instant SMS sent to candidates when you express interest in them.</li>
<li>Instant SMS to all candidate as per your requirement in job ad.</li>
<li>All About  to get your candidate in an  hour</li>
</ul>
</div>
<!-- Why Us End -->
<!-- Search Box -->
<div class="search-main-box">
<div class="search-job clearfix">
<div class="search-head">Search <span>Candidates</span></div>
<div class="skill">Skills <input type="text" name="Name" value="Type Skills, Designation"onfocus="(this.value == 'Type Skills, Designation') && (this.value = '')" onblur="(this.value == '') && (this.value = 'Type Skills, Designation')" /></div>
<div class="candidate-location">Candidate Location <select class="select"><option selected>Location</option> <option>none</option></select></div>
<div class="exp">Exp. <select class="select"><option selected>Exp.</option> <option>none</option></select></div>
<div class="catagory">Category <select class="select"><option selected>Category</option> <option>none</option></select></div>
<button type="button" class="search-nav">Search</button>
</div>

<div class="search-job clearfix search-job-mrtop">
<div class="search-head">Search <span>Job</span></div>
<div class="skill">Skills<input type="text" name="Name" value="Type Skills, Designation"onfocus="(this.value == 'Type Skills, Designation') && (this.value = '')" onblur="(this.value == '') && (this.value = 'Type Skills, Designation')" /></div>
<div class="job-location">Job Location <input type="text" name="Name" value="Type City name"onfocus="(this.value == 'Type City name') && (this.value = '')" onblur="(this.value == '') && (this.value = 'Type City name')" /></div>
<div class="catagory">Category <select class="select"><option selected>Category</option> <option>none</option></select></div>
<button type="button" class="search-nav">Search</button>
</div>
</div>
<!-- Search Box End -->
<div class="past-ad">
<button type="button">Post a Job Ad </button>
<button type="button">Post Your Profile <span>Free</span></button>
</div>
</div>
</div>
<!-- Search End -->

<!-- Middle Panel -->
<div class="clear"></div>
<section>
<aside class="middle-panel clearfix">
<!-- Latest Job Post -->
<div class="latest-job-post">
<div class="my-hiring">
<h1>My Hiring</h1>
<ul>
<li><a href="#">Verify Mobile</a></li>
<li><a href="#">Verify email</a></li>
<li><a href="#">My Photos</a></li>
<li><a href="#">Request an Interview</a></li>
<li><a href="#">Recommend a Friend</a></li>
<div class="clear"></div>
</ul>
</div>
<div class="my-hiring quick-linkin">
<h1>Quick Links</h1>
<ul>
<li><a href="#">Shortlisted Jobs</a></li>
<li><a href="#">Matched Jobs</a></li>
<li><a href="#">Jobs Applied</a></li>
<li><a href="#">Membership</a></li>
<li><a href="#">Upgrade /Premiums/featured</a></li>
<div class="clear"></div>
</ul>
</div>
</div>
<!-- Latest Job Post End -->
<!-- Latest Candidates -->
<div class="latest-candidates">
<h2>Candidate Details</h2>
<div class="follow-us">Follow Us <a href="#" class="facebook"></a> <a href="#" class="facebook twitter"></a></div>
<div class="clear"></div>
<!-- Condidates Details -->
<div class="condidate-details">
<!--  Video -->
<div class="condidate-video">
<video width="100%" height="320" controls>
<source src="boss.mp4" type="video/mp4">
<source src="boss.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>
</div>
<div class="clear"></div>
<!--  Video End -->
<!-- Content -->
<div class="condidate-Dmain">
<!-- Upload Photo -->
<label class="fileContainer">
<input type="file"/>
</label>
<!-- Upload Photo End -->
<!-- personal details -->
<div class="personal-details-main">
<div class="personal-rowins">
<div class="personal-row"><div class="heading">Age/Height :</div> <div class="detailsm">33 / 5’6”</div></div>
<div class="personal-row"><div class="heading">Marital Status :</div> <div class="detailsm">Naver Marrieda</div></div>
<div class="personal-row"><div class="heading">Posted By :</div> <div class="detailsm">Self</div></div>
</div>
<div class="personal-rowins second-rowD">
<div class="personal-row"><div class="heading">Religion / Community :</div> <div class="detailsm">Hindu, Khitri</div></div>
<div class="personal-row"><div class="heading">Location :</div> <div class="detailsm">Delhi</div></div>
<div class="personal-row"><div class="heading">Mother Tongue :</div> <div class="detailsm">Hindi</div></div>
</div>
<div class="clear"></div>
<!-- Manage profile -->
<div class="manage-profile">
<h2>Manage your profile</h2>
<div class="clear"></div>
<ul class="manage-list">
<li><a href="#">Edit Personal Profile</a></li>
<li><a href="#">Edit Personal Profile</a></li>
<li><a href="#">Edit Personal Profile</a></li>
</ul>
<ul class="manage-list">
<li><a href="#">Edit Personal Profile</a></li>
<li><a href="#">Edit Personal Profile</a></li>
<li><a href="#">Edit Personal Profile</a></li>
</ul>
<ul class="manage-list">
<li><a href="#">Edit Personal Profile</a></li>
<li><a href="#">Edit Personal Profile</a></li>
<li><a href="#">Edit Personal Profile</a></li>
</ul>
</div>
<!-- Manage profile End -->
<a href="#" class="profilesview">Priview your profile</a>
</div>
<div class="clear"></div>
<!-- personal details End  -->
<!-- Tab -->
<div id="horizontalTab">
<ul class="resp-tabs-list">
<li>About Myself</li>
<li>Partner Preference</li>
</ul>
<div class="resp-tabs-container">
<div>
<div class="all-point-head">consectetur, adipiscing, eliconse, consectetur, adipiscing, eliconse ect.</div>
<a href="#" class="edit">Edit</a>
<div class="clear"></div>
<div class="profile-content">
Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here.<br>
<br>
Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.<br>
Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.<br>
<br>
Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.
</div>
<div class="clear"></div>
<div class="all-point-head">Basics & Lifestyle</div>
<a href="#" class="edit">Edit</a>
<div class="clear"></div>
<div class="profile-content basics-profile">
<div class="personal-rowins">
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">33 / 5’6”</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Naver Marrieda</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Self</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">33 / 5’6”</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Naver Marrieda</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Self</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">33 / 5’6”</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Naver Marrieda</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Self</div></div>
</div>
<div class="personal-rowins second-rowD">
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Hindu, Khitri</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Delhi</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Hindi</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">33 / 5’6”</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Naver Marrieda</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Self</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">33 / 5’6”</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Naver Marrieda</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Self</div></div>
</div>
</div>
</div>
<div>
<div class="all-point-head">Second, adipiscing, eliconse ect.</div>
<a href="#" class="edit">Edit</a>
<div class="clear"></div>
<div class="profile-content">
Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here. Some dunny text comes here.<br>
<br>
Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.<br>
Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.Some dunny text comes here.</div>
<div class="clear"></div>
<div class="all-point-head">Basics & Lifestyle</div>
<a href="#" class="edit">Edit</a>
<div class="clear"></div>
<div class="profile-content basics-profile">
<div class="personal-rowins">
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">33 / 5’6”</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Naver Marrieda</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Self</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">33 / 5’6”</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Naver Marrieda</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Self</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">33 / 5’6”</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Naver Marrieda</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Self</div></div>
</div>
<div class="personal-rowins second-rowD">
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Hindu, Khitri</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Delhi</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Hindi</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">33 / 5’6”</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Naver Marrieda</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Self</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">33 / 5’6”</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Naver Marrieda</div></div>
<div class="personal-row"><div class="heading">Dummy :</div> <div class="detailsm">Self</div></div>
</div>
</div>
</div>
</div>
</div>
<!-- Tab -->














<div class="clear"></div>
</div>
<!-- Content End -->






</div>
<!-- Condidates Details End  -->
</div>
<!-- Latest Candidates End -->
<!-- Quick Links to Candidates -->
<div class="quick-links">
<h2>Quick Links to Candidates</h2>
<ul class="clearfix">
<li><a href="#">Domestic Help</a></li>
<li><a href="#">Beauty/Health/Fitness</a></li>
<li><a href="#">Catering/Hotel/Restaurant</a></li>
<li><a href="#">Driver/Delivery Boy</a></li>
<li><a href="#">Education</a></li>
<li><a href="#">Customer Care/call centre</a></li>
<li><a href="#">Domestic Help</a></li>
<li><a href="#">Beauty/Health/Fitness</a></li>
<li><a href="#">Catering/Hotel/Restaurant</a></li>
<li><a href="#">Driver/Delivery Boy</a></li>
<li><a href="#">Education</a></li>
<li><a href="#">Customer Care/call centre</a></li>
<li><a href="#">Domestic Help</a></li>
<li><a href="#">Beauty/Health/Fitness</a></li>
<li><a href="#">Catering/Hotel/Restaurant</a></li>
<li><a href="#">Driver/Delivery Boy</a></li>
<li><a href="#">Education</a></li>
<li><a href="#">Customer Care/call centre</a></li>
</ul>
<img src="images/add.jpg" >
</div>
<!-- Quick Links to Candidates -->
</aside>
</section>
<!-- Middle Panel End -->
<!-- Footer -->
<footer>
<div class="footer-wrap">
<ul class="footer-nav">
<h1>Reach Out:</h1>
<li><a href="#" class="pd-none">24 x 7 Live Help</a></li>
<li><a href="#">Contact Us</a></li>
<li><a href="#">Report Abuse</a></li>
<li><a href="#">Feedback</a></li>
<li><a href="#" class="bd-none">Advertise with us</a></li>
</ul>

<ul class="footer-nav information">
<h1>Information:</h1>
<li><a href="#" class="pd-none">About Us</a></li>
<li><a href="#">Awards</a></li>
<li><a href="#">Milestones</a></li>
<li><a href="#">Record Marriages</a></li>
<li><a href="#">Safety Tips</a></li>
<li><a href="#">Careers</a></li>
<li><a href="#">Media Room</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">Affiliates</a></li>
<li><a href="#" class="bd-none">Safety Tips</a></li>
</ul>
</div>
<div class="copyright">Copyright © 2013. All rights reserved.</div>
</footer>
<!-- Footer End -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true,   // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#tabInfo');
                var $name = $('span', $info);

                $name.text($tab.text());

                $info.show();
            }
        });

        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
</script>
</body>
</html>
