<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Job Portal</title>

  <!-- styles 
  <link href="<?=WEBSITE?>css/bootstrap.css" rel="stylesheet" />
  <link href="<?=WEBSITE?>css/custom.css" rel="stylesheet" />-->
  <link href="css/layout.css" rel="stylesheet" type="text/css">
  <!--<link href="css/mediastyle.css" rel="stylesheet" type="text/css">-->


  <script type="text/javascript" src="<?=WEBSITE?>js/jquery.js"></script>
  <script type="text/javascript" src="<?=WEBSITE?>js/bootstrap.min.js"></script>
  <script type="text/javascript" src="<?=WEBSITE?>js/html5shiv.js"></script>
  <script type="text/javascript" src="<?=WEBSITE?>js/html5.js"></script>
  <script type="text/javascript" src="<?=WEBSITE?>js/jquery.validate.js"></script>
  
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script type="text/javascript" src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="#" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="#" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="#" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="#" />
  <link rel="apple-touch-icon-precomposed" href="#" />
<script>
$(document).ready(function() {
    $(".all-countries").click(function(){
		$(".counties").slideToggle();
	});
    $("#phone-M").click(function(){
		$(".phone-box").slideToggle();
	});	
	 $("#textA").click(function(){
		$("textarea").slideToggle();
	});
});
</script>
</head>

<body>

	<?php include "includes/header.phtml"; ?>
	<?
	
	$loggedIn = 0;
	$auth = Zend_Auth::getInstance();
	if($auth->hasIdentity()) 
		{
			$loggedIn = 1;
			if($auth->getIdentity()->usertype ==0)
			{?>
				<?php include "includes/candidate_nav.phtml"; ?>
			<?}
			else
			if($auth->getIdentity()->usertype ==2)
			{?>
				<?php include "includes/employer_nav.phtml"; ?>
			<?}
			else
			if($auth->getIdentity()->usertype ==3)
			{?>
				<?php include "includes/agency_nav.phtml"; ?>
			<?}
			
			}else{?>
				<?php include "includes/header_nav.phtml"; ?>
			<?}
			
	?>

	<?php echo $this->layout()->content; ?>
	

	


	<?php include "includes/footer.phtml"; ?>
	
  <!-- Javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

</body>
</html>