<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Job Portal</title>

  <!-- styles 
  <link href="<?=WEBSITE?>css/bootstrap.css" rel="stylesheet" />
  <link href="<?=WEBSITE?>css/custom.css" rel="stylesheet" />-->
  <link href="css/layout.css" rel="stylesheet" type="text/css">
  <!--<link href="css/mediastyle.css" rel="stylesheet" type="text/css">-->
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css">
  <link href="css/jquery.validate.css" rel="stylesheet" type="text/css">
  
  
  


  <script type="text/javascript" src="<?=WEBSITE?>js/jquery.js"></script>
  <script type="text/javascript"  src="js/jquery.colorbox.js"></script>
  <script type="text/javascript" src="<?=WEBSITE?>js/bootstrap.min.js"></script>
  <script type="text/javascript" src="<?=WEBSITE?>js/html5shiv.js"></script>
  <script type="text/javascript" src="<?=WEBSITE?>js/html5.js"></script>
  <script type="text/javascript" src="<?=WEBSITE?>js/jquery.validate.js"></script>
  
  <script type="text/javascript" src="<?=WEBSITE?>js/jquery.validation.functions.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
   <link href="css/multi-select.css" media="screen" rel="stylesheet" type="text/css">
   <link href="css/chosen.css" media="screen" rel="stylesheet" type="text/css">
   <link href="css/fv.css" media="screen" rel="stylesheet" type="text/css">
   <link href="css/colorbox.css" media="screen" rel="stylesheet" type="text/css">
   

   <link href="css/autoSuggest.css" media="screen" rel="stylesheet" type="text/css">
   <script src="<?=WEBSITE?>js/jquery.multi-select.js" type="text/javascript"></script>
    
 <script src="<?=WEBSITE?>js/chosen.jquery.min.js" type="text/javascript"></script>    
 <script src="<?=WEBSITE?>js/chosen.proto.min.js" type="text/javascript"></script>

<script src="<?=WEBSITE?>js/jquery.autoSuggest.js" type="text/javascript"></script>    
<script src="<?=WEBSITE?>js/easyResponsiveTabs.js" type="text/javascript"></script>    


  
  
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script type="text/javascript" src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="#" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="#" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="#" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="#" />
  <link rel="apple-touch-icon-precomposed" href="#" />
<script>
$(document).ready(function() {
    $(".all-countries").click(function(){
		$(".counties").slideToggle();
	});
    $("#phone-M").click(function(){
		$(".phone-box").slideToggle();
	});	
	 $("#textA").click(function(){
		$("textarea").slideToggle();
	});
});
</script>


 		
<style>

.note-bar{
	display:none;
	overflow: hidden;
	background: #64C568;
	height: 38px;
	border-bottom: 4px solid #fff;
}

.note-bar p {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	line-height: 36px;
	margin: 0 0 0 10px;
	padding: 0;
	text-shadow: none;
}

.close{
	margin: 8px 10px 0 0;
	float: right;
}

.open-button {
	padding-top: 7px;
	width: 30px;
	background: rgba(255, 88, 61, 0.4);
	border: 4px solid #fff;
	border-top: 0px;
	position: fixed;
	top: 0;
	right: 20px;
	display: none;	
}
</style>
<script>
		$(document).ready(function(){			 
	
			$(".note-bar").slideDown(300);	
			
			$("#showbar").click(function(){				
				$(".open-button").slideUp(300, function(){
					$(".note-bar").slideDown(300);
				});

				return false;
			});
		
			$("#hidebar").click(function(){
			
				$(".note-bar").slideUp(300, function(){
					$(".open-button").slideDown(300);
				});
			
				return false;
			});		
		});

	</script>
	
</head>

<body>

	<?php include "includes/header.phtml"; ?>
	
	
	
	
	<?
	$left = "left.phtml";
	$loggedIn = 0;
	$auth = Zend_Auth::getInstance();
	if($auth->hasIdentity()) 
		{
		
		$loggedIn = 1;
		if($auth->getIdentity()->usertype ==0)
			{
			$left = "left_candidate.phtml";
			?>
				<?php include "includes/candidate_nav.phtml"; ?>
			<?}
			
			else
			if($auth->getIdentity()->usertype ==1)
			{
			$left = "left_candidate.phtml";
			?>
				<?php include "includes/candidate_nav.phtml"; ?>
			<?}
			
			else			
			if($auth->getIdentity()->usertype ==2)
			{
			$left = "left_employer.phtml";
			?>
				<?php include "includes/employer_nav.phtml"; ?>
			<?}
			else			
			if($auth->getIdentity()->usertype ==3)
			{
			$left = "left_agency.phtml";
			?>
				<?php include "includes/agency_nav.phtml"; ?>
			<?}
			}
			else{
			$left = "left.phtml";
			?>
				<?php include "includes/header_nav.phtml"; ?>
			<?}
			
			
	?>
	<section>
	<aside class="middle-panel clearfix">
	<?if(isset($this->userDetails['usertype']) && $this->userDetails['usertype']==0 && ($this->userDetails['verified'] == 0)){?>
	<!-- notification bar -->
	<div class="note-bar" style="background:red;">
		<p>Please verify your mobile to make your profile searchable.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>
	
	<?if(isset($this->userDetails['usertype']) && $this->userDetails['usertype']==0 && $this->userDetails['video_url'] == ''){?>
	<!-- notification bar -->
	<div class="note-bar" style="background:red;">
		<p>Please request for a video interview to make your profile searchable.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>
	

	<?if($auth->getIdentity()->usertype==2 && $auth->getIdentity()->status == 0){?>
	<!-- notification bar -->
	<div class="note-bar" style="background:red;">
		<p>Please verify your mobile to Express Interest on candidates or Post a Job.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>

<?if($auth->getIdentity()->usertype==3 && $auth->getIdentity()->status == 0){?>
	<!-- notification bar -->
	<div class="note-bar" style="background:red;">
		<p>Please verify your mobile to express interest on candidates/post a job/Add your candidates.</p>
		<a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
		</a>
	</div>
	<?}?>

	<?php include "includes/".$left; ?>
	<?php echo $this->layout()->content; ?>
	
	<?if($loggedIn && $auth->getIdentity()->usertype ==0){?>
		<?if($this->page=="profile"){?>		
		<?php }// include "includes/right_candidate.phtml"; }?>
	<?}else
	
	if($loggedIn && ($auth->getIdentity()->usertype ==2 || $auth->getIdentity()->usertype ==3)){?>
		
	<?}else{?>
	<?php include "includes/right.phtml"; ?>
<?}?>

</aside>
</section>

	


	<?php include "includes/footer.phtml"; ?>
	
  <!-- Javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

</body>
</html>