<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Job Portal</title>

  <!-- styles 
  <link href="<?=WEBSITE?>css/bootstrap.css" rel="stylesheet" />
  <link href="<?=WEBSITE?>css/custom.css" rel="stylesheet" />-->
  <link href="css/layout.css" rel="stylesheet" type="text/css">
  <!--<link href="css/mediastyle.css" rel="stylesheet" type="text/css">-->
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css">
  <link href="css/jquery.validate.css" rel="stylesheet" type="text/css">
  
  
  



  <script type="text/javascript" src="<?=WEBSITE?>js/jquery.js"></script>
  <script type="text/javascript"  src="js/jquery.colorbox.js"></script>
  <script type="text/javascript" src="<?=WEBSITE?>js/bootstrap.min.js"></script>
  <script type="text/javascript" src="<?=WEBSITE?>js/html5shiv.js"></script>
  <script type="text/javascript" src="<?=WEBSITE?>js/html5.js"></script>
  <script type="text/javascript" src="<?=WEBSITE?>js/jquery.validate.js"></script>
  
  <script type="text/javascript" src="<?=WEBSITE?>js/jquery.validation.functions.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
   <link href="css/multi-select.css" media="screen" rel="stylesheet" type="text/css">
   <link href="css/chosen.css" media="screen" rel="stylesheet" type="text/css">
   <link href="css/fv.css" media="screen" rel="stylesheet" type="text/css">
   <link href="css/colorbox.css" media="screen" rel="stylesheet" type="text/css">
   

   <link href="css/autoSuggest.css" media="screen" rel="stylesheet" type="text/css">
   <script src="<?=WEBSITE?>js/jquery.multi-select.js" type="text/javascript"></script>
    
 <script src="<?=WEBSITE?>js/chosen.jquery.min.js" type="text/javascript"></script>    
 <script src="<?=WEBSITE?>js/chosen.proto.min.js" type="text/javascript"></script>

<script src="<?=WEBSITE?>js/jquery.autoSuggest.js" type="text/javascript"></script>    
<script src="<?=WEBSITE?>js/easyResponsiveTabs.js" type="text/javascript"></script>    


  
  
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script type="text/javascript" src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="#" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="#" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="#" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="#" />
  <link rel="apple-touch-icon-precomposed" href="#" />
<script>
$(document).ready(function() {
    $(".all-countries").click(function(){
		$(".counties").slideToggle();
	});
    $("#phone-M").click(function(){
		$(".phone-box").slideToggle();
	});	
	 $("#textA").click(function(){
		$("textarea").slideToggle();
	});
});
</script>
</head>

<body>

	<?php include "includes/header.phtml"; ?>
	<?
	$loggedIn = 0;
	$auth = Zend_Auth::getInstance();
	if($auth->hasIdentity()) 
		{  
            
          
		$loggedIn = 1;
		if($auth->getIdentity()->usertype ==0)
			{ 
			$left = "left_candidate.phtml";
			?>
				<?php include "includes/candidate_nav.phtml"; ?>
			<?}
			
			else if($auth->getIdentity()->usertype ==2)
			{
			 
			?>
				<?php include "includes/employer_nav.phtml"; ?>
                              <?}
			else			
			if($auth->getIdentity()->usertype ==3)
			{
			$left = "left_agency.phtml";
			?>
				<?php include "includes/agency_nav.phtml"; ?>
    
			<?}
			}
			else{
			$left = "left.phtml";
			?>
				<?php include "includes/header_nav.phtml"; ?>
			<?}
	?>
	<section>
	<aside class="middle-panel clearfix">
	
	<?php echo $this->layout()->content; ?>
	
	<?if($loggedIn && $auth->getIdentity()->usertype ==0){?>
		<?if($this->page=="profile"){?>		
		<?php include "includes/right_candidate.phtml"; }?>
	<?}else{?>
	<?php include "includes/right.phtml"; ?>
<?}?>

</aside>
</section>

	


	<?php include "includes/footer.phtml"; ?>
	
  <!-- Javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

</body>
</html>