<div class="latest-candidates">
<h2>Login</h2>

<div class="clear"></div>
<div class="condidate-form">
<div class="form-row">
<form id="signupForm" method="post" >
<h1>&nbsp;</h1>

<div class="form-inside-row"><?php echo $this->form->username ?>&nbsp;&nbsp;<span id="fname_warning" style="color:red"></span> </div>
<div class="form-inside-row"><?php echo $this->form->password ?></div>
<div class="clear"></div>
<button class="submit-nav" type="submit" style="margin-top:0px;margin-left:174px;">Login</button><br><br>
<span style="margin-top:20px;margin-left:174px;"><a href="forgot">Forgot your password</a></span>
</div></div>
</form>
<div class="clear"></div>
</div>
</div>
</div>
<!-- Latest Candidates End -->

<script>
$("#username").css("width","200px");
$("#password").css("width","200px");

</script>

 <script type="text/javascript">
            /* <![CDATA[ */
            jQuery(function(){
                jQuery("#username").validate({
                    expression: "if (VAL) return true; else return false;",
                    message: "Please enter username"
                });
                jQuery("#password").validate({
                    expression: "if (VAL) return true; else return false;",
                    message: "Please enter password"
                });
               
            });
            /* ]]> */
        </script>
		
		
<style>

#signupForm label.error {
margin-left: 10px;
width: auto;
display: inline;
color: red;
font-style: italic;
}

.errors {
margin-left: 11px;
width: auto;
color: red;
font-style: italic;
font-size: 11px;
display: inline-block;
}

</style>