  	
<script type="text/javascript" src="http://kaltura.sine-mania.com/p/100/sp/10000/embedIframeJs/uiconf_id/6709464/partner_id/100"></script>
<object id="kaltura_player_1389283574" 
name="kaltura_player_1389283574" type="application/x-shockwave-flash" allowFullScreen="true" allowNetworking="all" allowScriptAccess="always" 
height="330" width="400" bgcolor="#000000"  rel="media:video" resource="http://kaltura.sine-mania.com/index.php/kwidget/cache_st/1389283574/wid/_100/uiconf_id/6709464/entry_id/0_eekksyyk" data="http://kaltura.sine-mania.com/index.php/kwidget/cache_st/1389283574/wid/_100/uiconf_id/6709464/entry_id/0_eekksyyk"><param name="allowFullScreen" value="true" /><param name="allowNetworking" value="all" /><param name="allowScriptAccess" value="always" /><param name="bgcolor" value="#000000" /><param name="flashVars" value="&{FLAVOR}" /><param name="movie" value="http://kaltura.sine-mania.com/index.php/kwidget/cache_st/1389283574/wid/_100/uiconf_id/6709464/entry_id/0_eekksyyk" /><a href="http://corp.kaltura.com">video platform</a> <a href="http://corp.kaltura.com/video_platform/video_management">video management</a> <a href="http://corp.kaltura.com/solutions/video_solution">video solutions</a> <a href="http://corp.kaltura.com/video_platform/video_publishing">video player</a> <a rel="media:thumbnail" href="http://kaltura.sine-mania.com/p/100/sp/10000/thumbnail/entry_id/0_eekksyyk/width/120/height/90/bgcolor/000000/type/2"></a> <span property="dc:description" content=""></span><span property="media:title" content="Demigods Test video"></span> <span property="media:width" content="400"></span><span property="media:height" content="330"></span> <span property="media:type" content="application/x-shockwave-flash"></span> </object>




