body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#c2e0ea;
}

.white14{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFFFFF;
text-decoration:none}

.white14 a{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFFFFF;
text-decoration:none}

.white14 a:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFFFFF;
text-decoration:none}
.olive14{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#00CA00;
text-decoration:none}

.olive14 a{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#00CA00;
text-decoration:none}
.row:hover{background-color: #EFEEFD} 


.olive14 a:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#00CA00;
text-decoration:underline}
.bootemgray{
border-bottom:1px solid #e1e1e1;
}
.gray18{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#6f5555;
text-decoration:none}
.gray13{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#6f5555;
text-decoration:none}

#key1{
position:absolute;
 z-index:100px;
  top:470px;
}

#key1 li
{
 display:block;
 background-color:#16538A;
 color:#FFFFFF;
 float:left;
 margin:2px;
 padding:1px;
}

#key2{
position:absolute;
 z-index:100px;
  top:350px;
}

#key2 li
{
 display:block;
 background-color:#16538A;
 color:#FFFFFF;
 float:left;
 margin:2px;
 padding:1px;
}

.key22{



}

.key22 li
{
 display:block;
 background-color:#16538A;
 color:#FFFFFF;
 float:left;
 margin:2px;
 padding:1px;
}
.borderblue{
border:2px solid #7DBED4}

.top12{
padding-top:12px;}


.top15{
padding-top:15px;}

.top19{
padding-top:19px;}

.top9{
padding-top:9px;}

.top3{
padding-top:3px;}

.top20{
padding-top:20px;}


.bordergreen{
border:1px solid #ACBE94;
background-color:#DAE7C9}

.borderbox{
border:1px solid #B8BBCA}

.green16{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#028100;
font-weight:bold;
text-decoration:none}

.left10{
padding-left:5px;}

.blue16{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#0094C4;
text-decoration:none}

.green23{
font-family:Arial, Helvetica, sans-serif;
font-size:23px;
color:#2C5C32;
text-decoration:none}

.greenlight14{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#60B769;
text-decoration:none}

.greenlight16{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#13A100;
font-weight:bold;
text-decoration:none}
.button{
	font:11px arial;
	background:#fff;
	border:1px solid #000;
}
.white11{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color: #FFFFFF}

.black12{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#4B4B4B}
.black11{
font-family:Arial, Helvetica, sans-serif;
font-size:9px;
color:#4B4B4B}

.white15{
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#E5E4E4}

a.white15{
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#E5E4E4}

a.white15:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#E5E4E4;
text-decoration:underline;
}
a.white15:active{
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#E5E4E4}



.black16{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#4B4B4B}

.top9{
padding-top:9px;}

.top15{
padding-top:15px;}

.top3{
padding-top:3px;}

.top5{
padding-top:5px;}
.top21{
padding-top:21px;}

.border_top{
border-top:2px solid #e1e1e1;}
.border_top2{
border-top:2px dashed #7f7f7f;}

.border_left{
border-left:1px solid #e1e1e1;}

.border{
border:2px dashed #7f7f7f;}

.border_blue{
border:1px dashed #00516E;}

.footer_bg{
background-image:url(../images/footer_bg.jpg);
background-repeat:repeat-x}

.box_bg{
background-image:url(../images/box_bg.jpg);
background-repeat:repeat-x;
border:1px solid #B7BBCA;
width:126px;
height:20px;
padding-top:5px}

.green16{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
color:#008000}

.green16 a{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
color:#008000;
text-decoration:none;

}

.green16 a:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
color:#008000;
text-decoration:none;

}

.blue16{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#00516E}
a.blue16:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#00516E;
text-decoration:underline}
a.blue16:active{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#00516E}

.green23{
font-family:Arial, Helvetica, sans-serif;
font-size:23px;
color:#2B5E31}

.green14{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#5FB769}


.blue16{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#0095C0}

.bluedark16{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#08708E}

.black13{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#555555}
a.black13:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#555555;
text-decoration:underline}
a.black13:active{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#555555}

.blue13{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#0095C6}
a.blue13:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#0095C6;

text-decoration:underline}
a.blue13:active{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#0095C6}

.brown16{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#FCE9C0}

.white13{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#FFFFFF}

.white13 a{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color: #FFFFFF;
text-decoration:none}

.white13 a:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color: #FFFFFF;
text-decoration:none}

.blue21{
font-family:Arial, Helvetica, sans-serif;
font-size:21px;
color:#008DC7;}

.blue21 a{
font-family:Arial, Helvetica, sans-serif;
font-size:21px;
color:#008DC7;
text-decoration:underline}

.blue21 a:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:21px;
color:#008DC7;
text-decoration:none}

.dark21{
font-family:Arial, Helvetica, sans-serif;
font-size:21px;
color:#08708E;
text-decoration:none}

.black14{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#212121;
text-decoration:none}

.blue14{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#008DC7;
text-decoration:none;}

.blue14 a{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#008DC7;
text-decoration:underline}

.blue14 a:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#008DC7;
text-decoration:underline}
.underline{
text-decoration:underline}
.padtop{ padding-top:10px;}

.warning{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color: #FF0000;
text-decoration:none}
.msg{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#DEFFDD;
text-decoration:none}
.boldtxt{
font-size:14px;
font-weight:bold;

}
.oddRow {
background-color:#D5F2FD;
}
.evenRow {
	background-color:#EFEFEF;
}

a{
color:#0095C0;
font-size:14px;
text-decoration:none;
}
a:hover{
color:#0095C0;
font-size:14px;
}

.pad5{
padding:5px;}

.bluline16{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#7FCBE3;
text-decoration:none;
font-weight:bold;
}

.box{
border:1px solid #000000;
padding:3px;
background-color:#ffffff}

a.box{
border:1px solid #000000;
padding:3px;
background-color:#ffffff}

a.box:hover{
border:1px solid #000000;
padding:3px;
background-color:#ffffff}

.white21{
font-family:Arial, Helvetica, sans-serif;
font-size:21px;
color: #FFFFFF;
text-decoration:none}

.white21 a{
font-family:Arial, Helvetica, sans-serif;
font-size:21px;
color: #FFFFFF;
text-decoration:none}

.white21 a:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:21px;
color: #FFFFFF;
text-decoration:none}


.red12{font-family:Arial, Helvetica, sans-serif;
color:#CC0000;
font-size:12px;
text-decoration:none;
}

.blue14bld{font-family:Arial, Helvetica, sans-serif;
		color:#4C9AC3;
	font-size:18px;
	text-decoration:none;
	font-weight:bold;
	}
	
.blue14bld a{font-family:Arial, Helvetica, sans-serif;
		color:#4C9AC3;
	font-size:18px;
	text-decoration:none;
	font-weight:bold;
	}

.blue14bld a:hover{font-family:Arial, Helvetica, sans-serif;
		color:#4C9AC3;
	font-size:18px;
	text-decoration:none;
	font-weight:bold;
	}
	
.red12{font-family:Arial, Helvetica, sans-serif;
color:#CC0000;
font-size:12px;
text-decoration:none;
}	

 a.red12{font-family:Arial, Helvetica, sans-serif;
color:#CC0000;
font-size:12px;
text-decoration:none;
}	

a.red12:hover{font-family:Arial, Helvetica, sans-serif;
color:#CC0000;
font-size:12px;
text-decoration:none;
}	
.blue15{font-family:Arial, Helvetica, sans-serif;
color:#CC0000;
font-size:15px;
text-decoration:none;
}	

 a.blue15{font-family:Arial, Helvetica, sans-serif;
color:#4C9AC3;
font-size:15px;
text-decoration:none;
}	
a.blue15:hover{font-family:Arial, Helvetica, sans-serif;
color:#4C9AC3;
font-size:15px;
text-decoration:none;
}	

.pink16{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color: #4C9AC3;
text-decoration:none}

.blue15_bold{

vertical-align:middle;
font-family:Arial, Helvetica, sans-serif;
color:#4C9AC3;
font-size:15px;
font-weight:bold;
text-decoration:none;

}
a.blue15_bold{


font-family:Arial, Helvetica, sans-serif;
color:#4C9AC3;
font-size:15px;
font-weight:bold;
vertical-align:middle;
text-decoration:none;

}
.blue15_bold:hover{

vertical-align:middle;
font-family:Arial, Helvetica, sans-serif;
color:#4C9AC3;
font-size:15px;
font-weight:bold;
text-decoration:none;
}

.pink16 a{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color: #FFB3FF;
text-decoration:none}

.pink16 a:hover{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color: #FFB3FF;
text-decoration:none}

.genral16{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color: #fce9c0;
text-decoration:none}

.seller16{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color: #baf9fd;
text-decoration:none}