<style>
#content {
margin-top: 10px;
line-height: 16px;
width:655px;
float:left;
}

.note-row {
border-bottom: 1px solid #e5e5e5;
margin: 8px 8px 6px;
clear: both;
padding-bottom: 5px;
height: 100%;
}

.feed_info {
padding-top: 5px;
float: left;
}

.feed_txtBig {
float: left;
line-height: 16px;
}
.feeds {
border: 1px solid #e7e5e8;
float: left;
margin-right: 5px;
padding: 1px;
}
.timestamp {
color: #acacac;
font-size: 11px;
margin-right: 2px;
}
.fr {
float: right;
}

</style>
<div class="latest-candidates">
<div id="recently_joined"><div class="mid_box">
    <div class="mid_box_header" style="width:631px;">
        <p><?=$this->title?> <span class="recently_joined_count"> </span></p>
                
                <a href="javascript:void(0);" rel="http://www.shaadi.com/my-shaadi/index/recently-joined?page=0&amp;pg_searchresults_id=F%3D52b27486038fa95fc68f97642024fc67" onclick="" class="prv"></a>
          <a href="javascript:void(0);" rel="http://www.shaadi.com/my-shaadi/index/recently-joined?page=2&amp;pg_searchresults_id=F%3D52b27486038fa95fc68f97642024fc67" onclick="return recentlyJoinedPagination(this)" class="nxt_active"></a>           
		  </div>
    <div id="recently_joined_profiles" class="pos_rel">
        <div id="recently_joined_gray_layout" class="none">
            <div class="loader_overlay"></div>
            <div class="loader_img"></div>
        </div>

		
<div id="content">

        <?
		if(count($this->notifications) > 0){
		foreach($this->notifications as $v){?>
		<div style="" class="note-row">
            <span> <a href="">
			
			</a> </span>
            <div class="feed_info">
             <div class="feed_txtBig" style="font-size:11px;">
               
				 <?$candemail=$v['email']?$v['email']:'N/A';?>
				 Candidate: <?=$v['fname']." ".$v['lname'].", Mobile:".$v['mobile']." Email:".$candemail."  has expressed interest in Job Id ".$v['job_id']."<b>(".$v['title'].")</b>. Fastest Hiring.";?>
				 
				 
             </div>
            </div>
            <div class="fr" style="padding-top:5px"><span class="timestamp"><?=$v['applied_date']?></span></div>
            <div class="clear"></div>
        </div>
        
		<?}}else{?>
			<div>No notification found.</div>
		<?}?>
		

</div>
</div>
</div>

<style>

 

.mid_box .view_all {
background: url(/imgs/my-shaadi-new/right-gray-arrow.png) no-repeat 52px center;
padding: 0 18px 0 5px;
font: normal 12px/36px arial;
display: inline-block;
}

.profile_compact_view {
margin: 0 10px;
padding: 9px 0 16px 0;
border-bottom: 1px solid #f0f0f0;
overflow: hidden;
}

.user_info {
float: left;
width: 375px;
}


.profile_compact_view p {
margin: 2px 0;
width: 375px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
height: 15px;
font: normal 12px/15px arial;
}


</style>