<style>
.oddRow {
background-color: #F6F6F6;
padding:10px;

}

.evenRow {
background-color: #FFFFFF;
padding:10px;

}

.txt {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #606060;
}
</style>

  <form method="post" action="<?=WEBSITE?>getmyjobs">
  <input type="hidden" name="cid" value="<?=$this->cid?>">
 <table bgcolor=#4096AF width=100% style="height:40px;color:white;">
	<tr>
		<td style="padding:10px;">
			<strong>Select Suitable Jobs For This Candidate</strong>
		</td></tr></table>
  
<div  style="width:100%;border:0px solid red;height: 340px;  overflow: auto;"">
<table width=100%>
<?
$i=1;

foreach($this->myjobs as $val){?>
<tr>
<td  <?if($i %2 ==0){?> class="evenRow" <?}else{?> class="oddRow"<?}?>  >
	<input type=checkbox name="chk[]" value="<?=$val['id']?>"  >&nbsp;&nbsp;<?=$val['title']?></td></tr>
<?
$i++;
}?></table></div>

<center><input type=submit value="Shortlist" class="cand-dis-button" ><input type=submit value="Express Interest" class="cand-dis-button express-interrest"></center>

</form>