<style>
.oddRow {
background-color: #F6F6F6;
padding:10px;

}

.evenRow {
background-color: #FFFFFF;
padding:10px;

}

.txt {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #606060;
}
</style>
<script type="text/javascript">
function Validate(){
   if(!validateForm()){
       alert("It seems no candidate is selected.");
       return false;
   }
return true
}
function validateForm()
{
  if( $('.abc:checked').length)
	return true;
	else
    return false;
}
</script>
  <form method="post" name=frm action="<?=WEBSITE?>getmycandidates" onsubmit="return Validate()" >
  <input type="hidden" name="jid" value="<?=$this->job_id?>">
 <table bgcolor=#4096AF width=100% style="height:40px;color:white;">
	<tr>
		<td style="padding:10px;">
			<strong>Select Candidate(s)</strong>
		</td></tr></table>
  <br>
<div  style="width:100%;border:0px solid red;height: 340px;  overflow: auto;"">
<table width=100%>
<tr><?
$i=1;

foreach($this->mycandidates as $val){?>

<td>
	<?if($val['photo'] == '' || $val['photo'] == 'NULL'){?>
	<img src="images/img.jpg" width="120" height="120px">
	<?}else{?>
	<img src="<?=WEBSITE?>uploads/<?=$val['photo']?>" width=120 height=120><?}?><br>
	
	<?if(!in_array($val['id'],$this->candidateArr)){?>
	<?if($val['status']==1){?>
	<input type=checkbox class=abc name="chk[]" value="<?=$val['id']?>"  >
	<?}?>
	
	<?}?>
	&nbsp;&nbsp;<?=$val['fname']." ".$val['lname']?></td>
<td>	
	
<?if($i%3==0)
	echo "</tr><tr>";
$i++;
}?></tr></table></div>

<center>
<?if($this->act == 'shortlist'){?>
<input type=submit value="Shortlist" class="cand-dis-button" name=submit >
<?}else{?>
<input type=submit name=submit value="Express Interest" class="cand-dis-button express-interrest"></center>
<?}?>
</form>


