<style>

    .note-bar{
        display:none;
        overflow: hidden;
        background: #64C568;
        height: 38px;
        border-bottom: 4px solid #fff;
    }

    .note-bar p {
        color: #FFFFFF;
        float: left;
        font-size: 12px;
        line-height: 36px;
        margin: 0 0 0 10px;
        padding: 0;
        text-shadow: none;
    }

    .close{
        margin: 8px 10px 0 0;
        float: right;
    }

    .open-button {
        padding-top: 7px;
        width: 30px;
        background: rgba(255, 88, 61, 0.4);
        border: 4px solid #fff;
        border-top: 0px;
        position: fixed;
        top: 0;
        right: 20px;
        display: none;	
    }
</style>
<script>
    $(document).ready(function(){			 
	
        $(".note-bar").slideDown(300);	
			
        $("#showbar").click(function(){				
            $(".open-button").slideUp(300, function(){
                $(".note-bar").slideDown(300);
            });

            return false;
        });
		
        $("#hidebar").click(function(){
			
            $(".note-bar").slideUp(300, function(){
                $(".open-button").slideDown(300);
            });
			
            return false;
        });		
    });

</script>


<? if (isset($_REQUEST['st']) && ($_REQUEST['st'] == 'change')) { ?>
    <!-- notification bar -->
    <div class="note-bar">
        <p>Candidate status has been changed successfully.</p>
        <a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
        </a>
    </div>
<? } ?>

<? if (isset($_REQUEST['st']) && ($_REQUEST['st'] == 'error')) { ?>
    <!-- notification bar -->
    <div class="note-bar" style="background:red">
        <p>Sorry, Candidate first time activation is done by Admin after uploading video profile.</p>
        <a href="#" id="hidebar" class="close">
            <img src="images/icon-close.png">
        </a>
    </div>
<? } ?>



<style>
    body {
        font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
        color:#333;
    }
    ul.pagination {
        font-family: "Arial", "Helvetica", sans-serif;
        font-size: 13px;
        height: 100%;
        list-style-type: none;
        margin: 20px 0;
        padding: 0;
    }
    ul.pagination li.details {
        background-color: white;
        border-color: #C8D5E0;
        border-image: none;
        border-style: solid;
        border-width: 1px 1px 2px;
        color: #1E598E;
        font-weight: bold;
        padding: 8px 10px;
        text-decoration: none;
    }
    ul.pagination li.dot {
        padding: 3px 0;
    }
    ul.pagination li {
        float: left;
        list-style-type: none;
        margin: 0 3px 0 0;
    }
    ul.pagination li:first-child {
        margin-left: 0;
    }
    ul.pagination li a {
        color: black;
        display: block;
        padding: 7px 10px;
        text-decoration: none;
    }
    ul.pagination li a img {
        border: medium none;
    }
    ul.pagination li a.current {
        background-color: white;
        border-radius: 0 0 0 0;
        color: #333333;
    }
    ul.pagination li a.current:hover {
        background-color: white;
    }
    ul.pagination li a:hover {
        background-color: #C8D5E0;
    }
    ul.pagination li a {
        background-color: #F6F6F6;
        border-color: #C8D5E0;
        border-image: none;
        border-style: solid;
        border-width: 1px 1px 2px;
        color: #1E598E;
        display: block;
        font-weight: bold;
        padding: 8px 10px;
        text-decoration: none;
    }
    .article {
        border: 1px solid #EEEEEE;
        border-radius: 4px 4px 4px 4px;
        margin-bottom: 10px;
        max-width: 600px;
        padding: 5px;
        line-height:18px;
    }
    .title {
        font-weight:bold;
        margin-bottom:5px;
    }

</style>

<div class="latest-candidates">
    <!--      <h2>Candidate Registration</h2>-->
    <!--      <div class="follow-us">Follow Us <a href="#" class="facebook"></a> <a href="#" class="facebook twitter"></a></div>-->

    <div class="clear"></div>

    <? if (!empty($this->addedcandidates)) { ?>
        <?php
        foreach ($this->addedcandidates as $val) {
            ?>

         <!-- 17-10-2013 -->
            <div class="candidate-display"> 
                <!-- Video -->
                <div class="candidate-display-video">
                    <iframe width="100%" height="196px" src="//www.youtube.com/embed/<?=$val['video_url']?>?version=1&rel=0" frameborder="0" allowfullscreen></iframe>
                

				</div>
                <!-- Video End --> 
                <!-- profile -->
                <div class="display-personal-rowins">
                    <div class="personal-rows">
                        <div class="heading">Name :</div>
                        <div class="detailsm"><?= ucfirst($val['fname']) . " " . ucfirst($val['lname']) ?></div>
                    </div>
                    <div class="personal-rows">
                        <div class="heading">Age/Height :</div>
                        <div class="detailsm">
                        
                        
                             <?php
                            
                            $age = date('Y') - date('Y', strtotime($val['dob']));
                            ?>
                            
                            
                            <?=$age?> / <?= $val['height'] ?></div>
                    </div>
                    <div class="personal-rows">
                        <div class="heading">Interested in :</div>
                        <div class="detailsm">   <?php

$intrestedin = explode(",",$val['role_id']);

$valueArr = array();
$value = array();
foreach($intrestedin as $vals){
    
    $valueArr = explode("-",$vals);
    
    $value[] = $valueArr[0];
    
}

$intested = implode(", ",$value);




$location = explode(",",$val['current_location']);

$valueArr = array();
$value = array();
foreach($location as $vals){
    
    $valueArr = explode("-",$vals);
    
    $value[] = $valueArr[0];
    
}

$location = implode(", ",$value);



?>



   <?= $intested ?></div>
                    </div>
                    <div class="personal-rows">
                        <div class="heading">Job Type :</div>
                        <div class="detailsm"><?= $val['job_type'] ?></div>
                    </div>
					<div class="personal-rows">
                        <div class="heading">Nationality :</div>
                        <div class="detailsm"><?= $val['nationality'] ?></div>
                    </div>
                    <div class="personal-rows">
                        <div class="heading">Religion :</div>
                        <div class="detailsm"><?= $val['religion'] ?></div>
                    </div>
                    <div class="personal-rows">
                        <div class="heading">Location :</div>
                        <div class="detailsm"><?= $location ?></div>
                    </div>
                    <div class="personal-rows">
                        <div class="heading">Can Speak :</div>
                        <div class="detailsm"><?=str_replace(',',', ',trim($val['language'],","));?></div>
                    </div>
                    <div class="personal-rows">
                        <div class="heading">Experience :</div>
                        <div class="detailsm"><?= $val['experience'] ?> Years</div>
                    </div>
                </div>
                <div class="clear"></div>
                <!-- profile End -->
                <div class="profile-posted">Profile Posted By: <span><?if($val['addedby']==0){?>Self<?}else{?>Agency<?}?></span>

                </div>
               <div class="all-button" style="width:600px;">

                    <a href="viewprofile?id=<?= $val['user_id'] ?>"><button class="cand-dis-button">Details</button></a>
                    <a href="editcandiateaddedbyagency?uid=<?= $val['user_id'] ?>"><button class="cand-dis-button">Edit Candidate</button></a>
					<?if($val['status'] == 1){?>
					<a href="candidatestatus?candidate_id=<?= $val['user_id'] ?>&st=0"><button class="cand-dis-button">Deactivate</button></a>
					<?}else{?>
					<a href="candidatestatus?candidate_id=<?= $val['user_id'] ?>&st=1"><button class="cand-dis-button">Activate</button></a>
					<?}?>
						<a  class='ajax' href="<?=WEBSITE?>getinterestedemployers?candidate_id=<?= $val['user_id'] ?>"><button style="width:150px" class="cand-dis-button">Interested Employers</button></a>
					
                </div>
            </div>

        <? } ?>
    <? } else { ?>

        <div class="candidate-display"> 
            Sorry, No Results Found.
        </div>      
      <? } ?>
        

      
      
      <!-- 17-10-2013 End --> 
      
<?php
echo $this->pagination($this->limit,$this->page,'viewcandidatesaddedbyagency?page=',$this->addedcandidatestotalCount);	//call function to show pagination
?> 
            
</div>      </div>
      
<script>




$(document).ready(function(){
$(".ajax").colorbox({width:'650px', height:'450px'});

});

</script>